<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title><%= title %></title>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/javascripts/bootstrap-3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/javascripts/font-awesome-4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/javascripts/ionicons-2.0.1/css/ionicons.min.css">
        <link rel="stylesheet" href="/javascripts/DataTables/datatables.min.css">
        <link rel="stylesheet" href="/stylesheets/teacher.css">
        <link rel="stylesheet" href="/stylesheets/dashboard_teacher.css">
        <link rel="stylesheet" href="/stylesheets/logon.css">
        <link rel="stylesheet" href="/javascripts/highcharts/highcharts.css">
        <link rel="stylesheet" href="/stylesheets/box.css">
        <link rel="stylesheet" href="/stylesheets/activity_teacher.css">
    </head>
    <body>
        <%- cooc_header %>
        <div class="wrapper" ng-app="myApp">
            <% include teacher_left_panel %>
            <div class="main">
                <div class="col-md-12">
                    <h2><%=activity.activity_name%></h2><br />
                    <h4>指派群組:
                        <div class="btn-group" role="group" aria-label="...">
                            <a href="/dashboard/teacher/wat/activity/<%=activity.activity_id%>" type="button" class="btn btn-default <%=(!target_group)?'active':''%>">全部</a>
                            <%
                                for(var group_index=0;group_index<assign_groups.length;group_index++){
                                    var assign_group = assign_groups[group_index];
                            %>
                            <a href="/dashboard/teacher/wat/activity/<%=activity.activity_id%>/group/<%=assign_group.id%>" type="button" class="btn btn-default <%=(target_group && target_group==assign_group.id)?'active':''%>"><%=assign_group['name']%></a>
                            <%
                                }
                            %>
                        </div>
                    </h4><br />
                    <section id="teaTabs">
                        <div class="tabsMenu">
                            <li>
                                <a href="#firstTab" class="teaTabsMenu active">活動概況</a>
                                <a href="#secondTab" class="teaTabsMenu">學生學習狀況</a>         
                            </li>
                        </div>
                        <p style="clear:left"></p>
                        <div><br />
                            <div id="firstTab" class="tabContent col-md-12">
                                <div class="row">
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="info-box">
                                            <span class="info-box-icon bg-aqua"><i class="ion ion-ios-people-outline"></i></span>
                                            <div class="info-box-content">
                                                <span class="info-box-text">參與人數</span>
                                                <span class="info-box-number"><%=student_progress.length%></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="info-box">
                                            <span class="info-box-icon bg-aqua"><i class="ion ion-ios-people-outline"></i></span>
                                            <div class="info-box-content">
                                                <span class="info-box-text">完成人數</span>
                                                <%
                                                    var completion_counts = 0;
                                                    for(var stu_index=0;stu_index<student_progress.length;stu_index++){
                                                        var sp = student_progress[stu_index];
                                                        if(sp.completion_rate>=100){
                                                            completion_counts++;
                                                        }
                                                    }
                                                %>
                                                <span class="info-box-number"><%=completion_counts%></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="info-box">
                                            <span class="info-box-icon bg-aqua"><i class="ion ion-university"></i></span>
                                            <div class="info-box-content">
                                                <span class="info-box-text">完成率</span>
                                                <%
                                                    var completion_rate = 0;
                                                    if(student_progress.length!=0 && completion_counts!=0){
                                                        completion_rate = Math.round(completion_counts/student_progress.length*100);
                                                    }
                                                %>
                                                <span class="info-box-number"><%=completion_rate%>%</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="info-box">
                                            <span class="info-box-icon bg-aqua"><i class="ion ion-clock"></i></span>
                                            <div class="info-box-content">
                                                <span class="info-box-text">平均花費時間</span>
                                                <span class="info-box-number" id="avg_activity_time_spent">00:00:00</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="status-box">
                                            <div class="status-box-header">
                                                <h3>學生總體表現</h3>
                                            </div>
                                            <div class="status-box-body">
                                                <div id="chart" class="c3">
                                                </div>                    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="status-box">
                                            <div class="status-box-header">
                                                <h3>英雄榜</h3>
                                            </div>
                                            <div class="status-box-body">
                                                <div class="table-responsive">
                                                    <table class="table table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th>大名</th>
                                                                <th>完成度</th>
                                                                <th>花費時間</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                        <%
                                                            for(var stu_index=0;stu_index<student_progress.length;stu_index++){
                                                                var sp = student_progress[stu_index];
                                                        %>
                                                            <tr>
                                                                <td><%=sp.user_name%></td>
                                                                <td><%=sp.completion_rate%>%</td>
                                                                <td><%=sp.time_spent_format%></td>
                                                            </tr>
                                                        <%
                                                            }
                                                        %>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- #firstTab -->
                            <div id="secondTab" class="tabContent col-md-12">
                                <div class="row">
                                    <table id="student_table" class="table"></table>
                                </div>
                            </div><!-- #secondTab -->
                        </div>
                    </section>
                </div>
            </div>
        </div>
        
        <%- cooc_footer %>
        <!-- 酷課雲 Header 角色 -->
        <div class="roleInfo" style="display:none;">
            <a id="logonBlock" href="javascript:void(0)">
              <img id="logonpic" src="<%=user.photoUrl%>"/>
              <img id="logonBack" src="/images/logon_back.png">
            </a>
            <div id="logonName"><%=user.name%></div>
            <div id="logonRole"><%=user.role_name%></div>
            <ul class="navigation">
              <li>
                <ul style="display:none">
                  <li><a href="http://sso.tp.edu.tw/accountservice/" target="_blank">個人資訊</a></li>
                  <li class="logout"><a href="/users/logout">登出</a></li>
                </ul>
              </li>
            </ul>
        </div>

        <script src="/javascripts/jquery-3.2.1.min.js"></script>
        <script src="/javascripts/bootstrap-3.3.7/js/bootstrap.min.js"></script>
        <script src="/javascripts/DataTables/datatables.min.js"></script>
        <script src="/javascripts/moment.js"></script>
        <script src="/javascripts/highcharts/highcharts.js"></script>
        <script src="/javascripts/angular.min.js"></script>
        <script>
            var app = angular.module('myApp', []);
            var student_progress = <%-JSON.stringify(student_progress)%>;
            $(document).ready(function(){
                $('#sidebar-awt').addClass('active');
                var materials = <%-JSON.stringify(pure_materials)%>;
                var material_learn = <%-JSON.stringify(materials)%>;
                renderStudentTable(materials, material_learn);

                //酷課雲 header 處理
				$('.rolemenu').html($('.roleInfo').html());
				$("#logonBlock").on("click", function () {
					if ($("ul.navigation li > ul").is(":visible")) {
						$("ul.navigation li > ul").css("display", "none");
					}
					else {
						$("ul.navigation li > ul").css("display", "block");
					}
                });
                
                //分頁
				$('.tabContent').hide();
				$('.tabContent:first').show();
				$('.teaTabsMenu:first').addClass('active');
				$('.teaTabsMenu').click(function () {
					$('.teaTabsMenu').removeClass('active');
					$(this).addClass('active');
					var currentTab = $(this).attr('href');
					$('.tabContent').hide();
					$(currentTab).show();
					return false;
                });
                
                correlation();
                //renderStatements($('#wat_timeline'), '8DF2428339FA41A14866');

            });
            function renderStatements($ele, appKey) {
			    $.ajax({
					url: 'http://lad.cooc.tp.edu.tw/taipei/WEBAPI/adaptive/list?actor_uid=<%=user.userId%>&user_id=' + appKey,
					type: 'GET'
				}).done(function (stats) {
					if (stats.length != 0) {
						for (var s = 0; s < stats.length; s++) {
							var stat = stats[s];
							$ele.append('<tr>' + '<td>' + stat.actor.name + '</td><td><b>' + stat.verb.display["zh-TW"] + '</b></td><td>' + stat.object.definition.name["zh-TW"] + '</td><td>' + moment(stat.timestamp).format("YYYY-MM-DD HH:mm:ss") + '</td>' + '</tr>');
						}
					}
					else {
						$ele.append('<li class="stat"><p>目前沒有紀錄</p></li>');
					}
				});
			}
            function build_tool_tip(label, x, y) {
                return label + " on " + moment(x).format("MMM DD, YYYY") + "<br><div class='tooltip_value'>" + y + "</div>";
            }
            function showTooltip(x, y, contents) {
				$('<div id="tooltip">' + contents + '</div>').css({
						position: 'absolute'
						, display: 'none'
						, top: y + 5
						, left: x + 15
						, border: '1px solid #333'
						, padding: '4px'
						, color: '#fff'
						, 'border-radius': '3px'
						, 'background-color': '#333'
						, opacity: 0.80
				}).appendTo("body").fadeIn(200);
            }
            function renderStudentTable(materials, material_learn){
                var aoColumnArray = [{ bSortable: true, title:'姓名', className: 'dt-center' }];
                for(var i=0;i<materials.length;i++){
                    var material = materials[i];
                    aoColumnArray.push({
                        bSortable: false,
                        title: material.name,
                        className: 'dt-center',
                        createdCell: function(td, cellData, rowData, row, col){
                            $(td).html('');
                            if(cellData.is_learn){
                                $(td).html(cellData.time_spent);
                                if(cellData.completion_rate==100){
                                    $(td).css('background-color', '#91f691'); 
                                }else{
                                    $(td).css('background-color', '#ffa500');
                                }
                            }else{
                                $(td).html('');
                            }
                        }
                    });
                }
                var userArray = student_progress;
                var userDataArr = [];
                for(var u=0;u<userArray.length;u++){
                    var user = userArray[u];
                    var userData = [user.user_name];
                    for(var m=0;m<material_learn.length;m++){
                        var mlds = material_learn[m].student;
                        var is_learn = false;
                        for(var l=0;l<mlds.length;l++){
                            var mlds_user = mlds[l];
                            if(mlds_user.user_cooc_id==user.user_cooc_id){
                                is_learn = true;
                                var user_completion_rate = (mlds_user.completion_rate>=100)?100:mlds_user.completion_rate;
                                userData.push({
                                    is_learn: true,
                                    completion_rate:user_completion_rate,
                                    time_spent: mlds_user.time_spent
                                });
                                //userData.push((mlds_user.completion_rate>=100)?100:mlds_user.completion_rate);
                                break;
                            }
                        }
                        if(!is_learn){
                            userData.push({
                                is_learn: false,
                                completion_rate: null
                            });
                        }
                    }
                    userDataArr.push(userData);
                }
                var studentTable = $("#student_table").DataTable({
                    language:{
                        url:'/locales/<%=t('lang-code')%>/activityProgressTable.json'
                    },
					data: userDataArr,
					columns: aoColumnArray,
    			    paging:false,
    			    searching:false,
    			    bScrollCollapse: true,
                    autoWidth:true,
                    info:false
    		    });
            }
            function correlation(){
                var corData = [];
                for(var stu_index=0;stu_index<student_progress.length;stu_index++){
                    var sp = student_progress[stu_index];
                    corData.push({
                        name:sp.user_name,
                        x:sp.completion_rate,
                        y:(sp.time_spent)?sp.time_spent:0
                    });
                }
                new Highcharts.chart({
                    chart: {
                        type: 'scatter',
                        renderTo: 'chart'
                    },
                    title: {
                        text: ''
                    },
                    xAxis: {
                        title: {
                            text: '完成度'
                        }
                    },
                    yAxis: {
                        title: {
                            text: '平均花費時間'
                        }
                    },
                    credits :{
                        enabled: false
                    },
                    legend :{
                        enabled: false
                    },
                    tooltip: {
                        formatter: function(){
                            return this.point.name+'<br />完成度:'+this.point.x+'%<br />平均花費時間:'+moment.utc(this.point.y*1000).format('HH:mm:ss');
                        }
                    },
                    series:[
                        {
                            data:corData
                        }
                    ]
                });
            }
        </script>
    </body>
</html>