<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title><%= title %></title>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/javascripts/bootstrap-3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/javascripts/font-awesome-4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/javascripts/DataTables/datatables.min.css">
        <link rel="stylesheet" href="/stylesheets/teacher.css">
        <link rel="stylesheet" href="/stylesheets/dashboard_teacher.css">
        <link rel="stylesheet" href="/stylesheets/logon.css">
        <link rel="stylesheet" href="/stylesheets/box.css">
        <link rel="stylesheet" href="/javascripts/OrgChart/jquery.orgchart.css">
        <link rel="stylesheet" href="/stylesheets/teacher_edit_adaptive.css">
        <link rel="stylesheet" href="/stylesheets/sankey.css">
        <style>
        table#student_material_progress_table {
            border: 1px solid #cbcaca;
            border-collapse: none;
        }
        table#student_material_progress_table thead th,
        table#student_material_progress_table tbody td {
            border: 1px solid #ddd;
            text-align: center;
            width: 50px !important;
            white-space: nowrap;
            overflow: hidden;
        }
        table#student_material_progress_table thead th {
            text-overflow: ellipsis;
        }
        #student_material_progress_table thead tr th {
            vertical-align: middle;
        }
        </style>
    </head>
    <body>
        <%- cooc_header %>
        <div class="wrapper" ng-app="myApp">
            <% include teacher_left_panel %>
            <div class="main">
                <div class="row content">
                    <div class="col-md-12">
                        <h2><%=activity.activity_name%></h2><br />
                        <h4>指派群組:
                        <div class="btn-group" role="group" aria-label="...">
                            <a href="/dashboard/teacher/wat/adaptive_activity/<%=activity.activity_id%>" type="button" class="btn btn-default <%=(!target_group)?'active':''%>">全部</a>
                            <%
                                for(var group_index=0;group_index<assign_groups.length;group_index++){
                                    var assign_group = assign_groups[group_index];
                            %>
                            <a href="/dashboard/teacher/wat/adaptive_activity/<%=activity.activity_id%>/group/<%=assign_group.id%>" type="button" class="btn btn-default <%=(target_group && target_group==assign_group.id)?'active':''%>"><%=assign_group['name']%></a>
                            <%
                                }
                            %>
                        </div>
                        </h4><br />
                        <section id="teaTabs">
                            <div class="tabsMenu">
                                <li>
                                    <a href="#firstTab" class="teaTabsMenu active">活動概況</a>
                                    <a href="#secondTab" class="teaTabsMenu">學生學習狀況</a>         
                                </li>
                            </div>
                            <p style="clear:left"></p>
                            <div><br />
                                <div id="firstTab" class="tabContent col-md-12">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="status-box">
                                                <div class="status-box-header">
                                                    <h3>學生總體表現</h3>
                                                </div>
                                                <div class="status-box-body">
                                                    <h4>參與人數:<%=student_progress.length%></h4>
                                                    <div id="chart-container"></div>               
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="status-box">
                                                <div class="status-box-header">
                                                    <h3>英雄榜</h3>
                                                </div>
                                                <div class="status-box-body">
                                                    <table class="table table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th>姓名</th>
                                                                <th>目前進度</th>
                                                                <th>進入時間</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <%
                                                            for(var i=0;i<student_progress.length;i++){
                                                                var sp = student_progress[i];
                                                                var user_cooc_id = sp.user_cooc_id;
                                                                var user_progress = '';
                                                                var user_enter_date = '';
                                                                for(var j=0;j<node_student_status.length;j++){
                                                                    var nss = node_student_status[j];
                                                                    if(user_cooc_id==nss.user_cooc_id){
                                                                        user_progress = nss.node_name;
                                                                        user_enter_date = nss.enter_date_format;
                                                                        break;
                                                                    }
                                                                }
                                                            %>
                                                            <tr>
                                                                <td><%=sp.user_name%></td>
                                                                <td><%=user_progress%></td>
                                                                <td><%=user_enter_date%></td>
                                                            </tr>
                                                            <%
                                                            }
                                                            %>
                                                        </tbody>
                                                    </table>          
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- #firstTab -->
                                <div id="secondTab" class="tabContent col-md-12">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div id="chart"></div>
                                        </div>
                                    </div>
                                </div><!-- #secondTab -->
                            </div>
                        </section>                                                
                    </div>
                </div>
            </div><!-- .main -->
        </div><!-- .wrapper -->
        <%- cooc_footer %>
        <!-- 酷課雲 Header 角色 -->
        <div class="roleInfo" style="display:none;">
            <a id="logonBlock" href="javascript:void(0)">
              <img id="logonpic" src="<%=user.photoUrl%>"/>
              <img id="logonBack" src="/images/logon_back.png">
            </a>
            <div id="logonName"><%=user.name%></div>
            <div id="logonRole"><%=user.role_name%></div>
            <ul class="navigation">
              <li>
                <ul style="display:none">
                  <li><a href="http://sso.tp.edu.tw/accountservice/" target="_blank">個人資訊</a></li>
                  <li class="logout"><a href="/users/logout">登出</a></li>
                </ul>
              </li>
            </ul>
        </div>
        <!-- 學生 Modal -->
        <div id="studentModal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">學生</h4>
                    </div>
                    <div class="modal-body">
                        <div id="student-list">

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- 學生教材進度 Modal -->
        <div id="studentMaterialProgressModal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">學生</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>姓名</th>
                                    <th>花費時間</th>
                                    <th>完成度</th>
                                </tr>
                            </thead>
                            <tbody id="student-progress-table">
                                
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- 學生活動進度 Modal -->
        <div id="studentActivityProgressModal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">學生</h4>
                    </div>
                    <div class="modal-body">
                        <table id="student_material_progress_table" class="table"></table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
                    </div>
                </div>
            </div>
        </div>

        <script src="/javascripts/jquery-3.2.1.min.js"></script>
        <script src="/javascripts/bootstrap-3.3.7/js/bootstrap.min.js"></script>
        <script src="/javascripts/DataTables/datatables.min.js"></script>
        <script src="/javascripts/OrgChart/jquery.orgchart.js"></script>
        <script src="/javascripts/d3.v2.min.js"></script>
        <script src="/javascripts/sankey.js"></script>
        <script src="/javascripts/angular.min.js"></script>
        <script>

            var app = angular.module('myApp', []);
            var node_student_counts = <%- JSON.stringify(node_student_counts)%>;
            var node_student_path = JSON.parse('<%-JSON.stringify(node_student_path)%>');
            var student_progress = <%- JSON.stringify(student_progress)%>;

            var margin = {top: 1, right: 1, bottom: 6, left: 1},
            width = 960 - margin.left - margin.right,
            height = 500 - margin.top - margin.bottom;
        
            var formatNumber = d3.format(",.0f"),
                format = function(d) { return formatNumber(d) + " 位學生"; },
                color = d3.scale.category20();
        
            var svg = d3.select("#chart").append("svg")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom)
                .append("g")
                .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
        
            var sankey = d3.sankey()
                .nodeWidth(15)
                .nodePadding(10)
                .size([width, height]);
        
            var path = sankey.link();
            
            sankey.nodes(node_student_path.nodes)
                .links(node_student_path.links)
                .layout(32);
        
            var link = svg.append("g").selectAll(".link")
                .data(node_student_path.links)
                .enter().append("path")
                .attr("class", "link")
                .attr("d", path)
                .style("stroke-width", function(d) { return Math.max(1, d.dy); })
                .sort(function(a, b) { return b.dy - a.dy; });
        
            link.append("title")
                .text(function(d) { return d.source.name + " → " + d.target.name + "\n" + format(d.value); });
        
            var node = svg.append("g").selectAll(".node")
                .data(node_student_path.nodes)
                .enter().append("g")
                .attr("class", "node")
                .attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; })
                .on("click", function(d){
                    var targetStudents = d.targetLinks[0]['students'];
                    $('#student-list').empty();
                    for(var s=0;s<targetStudents.length;s++){
                        var student = targetStudents[s];
                        $('#student-list').append('<span class="label label-default student">'+student.user_name+'</span>');
                    }
                    $('#studentModal').modal('show');
                });
                /*
                .call(
                    d3.behavior.drag()
                    .origin(
                        function(d) { return d; }
                    )
                    .on("dragstart", 
                        function() { this.parentNode.appendChild(this); }
                    )
                    .on("drag", dragmove)
                );
                */
        
            node.append("rect")
                .attr("height", function(d) { return d.dy; })
                .attr("width", sankey.nodeWidth())
                .style("fill", function(d) { return d.color = color(d.name.replace(/ .*/, "")); })
                .style("stroke", function(d) { return d3.rgb(d.color).darker(2); })
                .append("title")
                .text(function(d) { return d.name + "\n" + format(d.value); });
        
            node.append("text")
                .attr("x", -6)
                .attr("y", function(d) { return d.dy / 2; })
                .attr("dy", ".35em")
                .attr("text-anchor", "end")
                .attr("transform", null)
                .text(function(d) { 
                    if(d.sourceLinks.length!=0 | d.targetLinks.length!=0){
                        return d.name + "\n(" + format(d.value)+")"; 
                    }else{
                        return '';
                    }
                })
                .filter(function(d) { return d.x < width / 2; })
                .attr("x", 6 + sankey.nodeWidth())
                .attr("text-anchor", "start");
                
            function clickEvent(d){
                alert('hello');
            }
            function dragmove(d) {
                d3.select(this).attr("transform", "translate(" + d.x + "," + (d.y = Math.max(0, Math.min(height - d.dy, d3.event.y))) + ")");
                sankey.relayout();
                link.attr("d", path);
            }

            $(document).ready(function(){
                $('#sidebar-awt').addClass('active');
                //分頁
				$('.tabContent').hide();
				$('.tabContent:first').show();
				$('.teaTabsMenu:first').addClass('active');
				$('.teaTabsMenu').click(function () {
					$('.teaTabsMenu').removeClass('active');
					$(this).addClass('active');
					var currentTab = $(this).attr('href');
					$('.tabContent').hide();
					$(currentTab).show();
					return false;
                });
                //酷課雲 header 處理
				$('.rolemenu').html($('.roleInfo').html());
				$("#logonBlock").on("click", function () {
					if ($("ul.navigation li > ul").is(":visible")) {
						$("ul.navigation li > ul").css("display", "none");
					}
					else {
						$("ul.navigation li > ul").css("display", "block");
					}
                });

                $('#studentMaterialProgressModal').on('show.bs.modal', function (event) {
                    var button = $(event.relatedTarget);
                    var id = button.attr('data-id');
                    var content_category = button.attr('data-category');
                    var content_id = button.attr('data-contentid');
                    var content_type = button.attr('data-type');
                    $('#student-progress-table').empty();
                    $.ajax({
                        url: '/api/dashboard/awt/adaptive/material/progress',
                        type: 'POST',
                        data: 'activity_id=<%=activity.activity_id%>&material_uuid='+id+'&material_id='+content_id+'&group_id=<%=target_group%>'
                    }).done(function (result) {
                        if(result.success){
                            var student_progress = result.data;
                            for(var r=0;r<student_progress.length;r++){
                                var student_result = student_progress[r];
                                if(student_result.completion_rate){
                                    $('#student-progress-table').append('<tr><td>'+student_result.name+'</td><td>'+student_result.time_spent+'</td><td>'+(student_result.completion_rate+'%')+'</td></tr>');
                                }                                    
                            }
                        }
                    });
                });

                $('#studentActivityProgressModal').on('show.bs.modal', function (event) {
                    var button = $(event.relatedTarget);
                    var id = button.attr('data-id');
                    var content_category = button.attr('data-category');
                    var content_id = button.attr('data-contentid');
                    var content_type = button.attr('data-type');
                    $.ajax({
                        url: '/api/dashboard/awt/adaptive/activity/progress',
                        type: 'POST',
                        data: 'activity_id=<%=activity.activity_id%>&material_uuid='+id+'&content_id='+content_id+'&group_id=<%=target_group%>'
                    }).done(function (result) {
                        renderStudentTable(result.data.materials, result.data.material_learn);
                    });
                });

                var adaptiveHierarchy = <%- activity.activity_hierarchy %>;
                var nodeTemplate = function(data) {
                    var node_id = data.id;
                    var node_category = data.content_category;
                    var node_content_id = data.content_id;
                    var node_progress_counts = 0;
                    for(var n=0;n<node_student_counts.length;n++){
                        if(node_id==node_student_counts[n].node_id){
                            node_progress_counts = node_student_counts[n].node_counts;
                            break;
                        }
                    }
                    if(node_progress_counts!=0){
                        if(node_category=='material'){
                            return `
                            <div class="title">
                                <div class="add-func btn-group-vertical" role="group" aria-label="...">
                                    <h4><i class="${data.content_icon}" aria-hidden="true"></i> ${data.content_name}</h4>
                                </div>
                            </div>
                            <div class="content">
                                <div class="input-group nodeContent" data-id="${data.content_id}" data-name="${data.content_name}" data-type="${data.content_type}">
                                <i class="fa fa-user-circle-o" aria-hidden="true"></i>&nbsp;<a href="#" data-id="${data.id}" data-contentid="${data.content_id}" data-category="${data.content_category}" data-type="${data.content_type}" data-toggle="modal" data-target="#studentMaterialProgressModal" class="node_progress_counts">${node_progress_counts}</a>
                            </div>
                            `;
                        }else{
                            return `
                            <div class="title">
                                <div class="add-func btn-group-vertical" role="group" aria-label="...">
                                    <h4><i class="${data.content_icon}" aria-hidden="true"></i> ${data.content_name}</h4>
                                </div>
                            </div>
                            <div class="content">
                                <div class="input-group nodeContent" data-id="${data.content_id}" data-name="${data.content_name}" data-type="${data.content_type}">
                                <i class="fa fa-user-circle-o" aria-hidden="true"></i>&nbsp;<a href="#" data-id="${data.id}" data-contentid="${data.content_id}" data-category="${data.content_category}" data-type="${data.content_type}" data-toggle="modal" data-target="#studentActivityProgressModal" class="node_progress_counts">${node_progress_counts}</a>
                            </div>
                            `;
                        }
                    }else{
                        return `
                        <div class="title">
                        <div class="add-func btn-group-vertical" role="group" aria-label="...">
                            <h4><i class="${data.content_icon}" aria-hidden="true"></i> ${data.content_name}</h4>
                        </div>
                        </div>
                        <div class="content">
                        <div class="input-group nodeContent" data-category="${data.content_category}" data-id="${data.content_id}" data-name="${data.content_name}" data-type="${data.content_type}">
                            <i class="fa fa-user-circle-o" aria-hidden="true"></i>&nbsp;<span class="node_progress_counts">${node_progress_counts}</span>
                        </div>
                        `;
                    }
                };
                var oc = $('#chart-container').orgchart({
                    'data' : adaptiveHierarchy,
                    'nodeID': 'id',
                    'nodeTitle':'title',
                    'toggleSiblingsResp': false,
                    'parentNodeSymbol': '',
                    'nodeTemplate': nodeTemplate
                });
            });
            function renderStudentTable(materials, material_learn){
                var aoColumnArray = [{ bSortable: true, title:'姓名', className: 'dt-center' }];
                for(var i=0;i<materials.length;i++){
                    var material = materials[i];
                    aoColumnArray.push({
                        bSortable: false,
                        title: material.name,
                        className: 'dt-center',
                        createdCell: function(td, cellData, rowData, row, col){
                            $(td).html('');
                            if(cellData.is_learn){
                                $(td).html(cellData.time_spent);
                                if(cellData.completion_rate==100){
                                    $(td).css('background-color', '#91f691'); 
                                }else{
                                    $(td).css('background-color', '#ffa500');
                                }
                            }else{
                                $(td).html('');
                            }
                        }
                    });
                }
                var userArray = student_progress;
                var userDataArr = [];
                for(var u=0;u<userArray.length;u++){
                    var user = userArray[u];
                    var userData = [user.user_name];
                    for(var m=0;m<material_learn.length;m++){
                        var mlds = material_learn[m].student;
                        var is_learn = false;
                        for(var l=0;l<mlds.length;l++){
                            var mlds_user = mlds[l];
                            if(mlds_user.user_cooc_id==user.user_cooc_id){
                                is_learn = true;
                                var user_completion_rate = (mlds_user.completion_rate>=100)?100:mlds_user.completion_rate;
                                userData.push({
                                    is_learn: true,
                                    completion_rate:user_completion_rate,
                                    time_spent: mlds_user.time_spent
                                });
                                break;
                            }
                        }
                        if(!is_learn){
                            userData.push({
                                is_learn: false,
                                completion_rate: null
                            });
                        }
                    }
                    userDataArr.push(userData);
                }
                if ( $.fn.dataTable.isDataTable( '#student_material_progress_table' ) ) {
                    $('#student_material_progress_table').DataTable().destroy();
                }
                var studentTable = $("#student_material_progress_table").DataTable({
					data: userDataArr,
					columns: aoColumnArray,
    			    paging:false,
    			    searching:false,
    			    bScrollCollapse: true,
                    autoWidth:true,
                    info:false
    		    });
            }
        </script>
    </body>
</html>