<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>
		<%= title %>
	</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
	<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/javascripts/bootstrap-3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="/javascripts/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/stylesheets/intern/dashboard_student.css">
	<link rel="stylesheet" href="/stylesheets/logon.css"> </head>

<body>
	<%- cooc_header %>
		<div class="wrapper" ng-app="myApp">
			<div class="sidebar" ng-class="boolie ? 'closed' : ''">
				<div class="sidebarToggle" ng-click="boolie = !boolie"> <i class="fa fa-ellipsis-v sidebar-toggleHam menuIcon" aria-hidden="true" ng-class="boolie ? 'rotate' : ''"></i> <span class="sidebar-toggleText">Minimize menu</span> </div>
				<nav role="navigation" class="sidebarNav">
					<ul>
						<li class="sidebar-navItem">
							<a href="/dashboard/student/records"> <i class="menuIcon fa fa-bar-chart"></i> <span>資料檢閱庫</span> </a>
						</li>
						<li class="sidebar-navItem">
							<a href="/dashboard/student/wat"> <i class="menuIcon fa fa-shopping-cart"></i> <span>學習層次儀表板</span> </a>
						</li>
						<li class="sidebar-navItem">
							<a href="/dashboard/student/assessment"> <i class="menuIcon fa fa-pencil-square-o"></i> <span>測驗分析</span> </a>
						</li>
						<li class="sidebar-navItem">
							<a href="/dashboard/student/recommendation"> <i class="menuIcon fa fa-question-circle"></i> <span>智慧內容推薦</span> </a>
						</li>
						<li class="sidebar-navItem">
							<a href="/dashboard/student/college"> <i class="menuIcon fa fa-graduation-cap" aria-hidden="true"></i> <span>大學科系探索</span> </a>
						</li>
					</ul>
				</nav>
				<footer class="sidebar-footer">
					<a href="/student/activity?p=1"> <i class="sidebar-toggleArrow sidebar-menuIcon fa fa-arrow-left" ng-class="boolie ? 'rotate' : ''"></i> <span class="sidebar-footerText">前往編輯工具</span> </a>
				</footer>
			</div>
			<div class="main">
				<div class="col-md-12">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate rerum dolor sunt tenetur, fuga quia unde, eligendi cupiditate possimus eaque praesentium mollitia aliquid quo soluta distinctio nesciunt beatae, atque. Vero vel hic, eveniet porro minima sapiente? Molestias quas necessitatibus temporibus ratione quam iure magnam repellendus tenetur sint veniam. Eius minus consequuntur consectetur exercitationem ipsam expedita qui molestiae, numquam ullam accusantium temporibus dolore sequi eos incidunt necessitatibus ab sapiente nulla blanditiis et perferendis, excepturi commodi culpa! Voluptate velit cumque quisquam quam beatae fugit vitae labore voluptatibus, quod, rem, dicta illo? Atque iusto, dignissimos odio architecto earum dolorem eveniet nemo molestias. Quibusdam!</div>
			</div>
		</div>
		<%- cooc_footer %>
			<!-- 酷課雲 Header 角色 -->
			<div class="roleInfo" style="display:none;"> <a id="logonBlock" href="javascript:void(0)">
        <img id="logonpic" src="<%=user.photoUrl%>"/>
        <img id="logonBack" src="/images/logon_back.png">
      </a>
				<div id="logonName">
					<%=user.name%>
				</div>
				<div id="logonRole">
					<%=user.role_name%>
				</div>
				<ul class="navigation">
					<li>
						<ul style="display:none">
							<li><a href="http://sso.tp.edu.tw/accountservice/" target="_blank">個人資訊</a></li>
							<li class="logout"><a href="/users/logout">登出</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<script src="/javascripts/jquery-3.2.1.min.js"></script>
			<script src="/javascripts/bootstrap-3.3.7/js/bootstrap.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
			<script>
				var app = angular.module('myApp', []);
				$(document).ready(function () {
					//酷課雲 header 處理
					$('.rolemenu').html($('.roleInfo').html());
					$("#logonBlock").on("click", function () {
						if ($("ul.navigation li > ul").is(":visible")) {
							$("ul.navigation li > ul").css("display", "none");
						}
						else {
							$("ul.navigation li > ul").css("display", "block");
						}
					});
				});
			</script>
</body>

</html>