<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/javascripts/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/javascripts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/student.css">
    <link rel="stylesheet" href="/stylesheets/dashboard_teacher.css">
    <link rel="stylesheet" href="/stylesheets/logon.css">
    <link rel="stylesheet" href="/stylesheets/box.css">
    <link rel="stylesheet" href="/javascripts/select2/select2.min.css">
    <link rel="stylesheet" href="/javascripts/highcharts/highcharts.css">
  </head>
  <body>

    <%- cooc_header %>

    <div class="wrapper" ng-app="myApp">
      <% include teacher_left_panel %>
      <div class="main">
        <div class="col-md-12">
            <section id="stuTabs">
                <div class="tabsMenu">
                    <li>
                        <a href="#" class="stuTabsMenu active">群體學習行為分析</a>         
                    </li>
                </div>
                <p style="clear:left"></p><br />
                <div class="row">
                  <div class="col-md-12">
                    <div class="status-box">
                      <div class="status-box-header with-border">
                        <h4 class="box-title">不同學習行為歷程分群</h4> 
                      </div>
                      <div class="box-body">
                        <div id="behaviorSearchArea">
                            <div class="row" style="padding:15px;">
                                <div class="col-md-2">
                                  <div class="form-group">
                                    <label>授權學校</label>
                                    <select id="behaviorSchoolSelect" class="form-control schoolSelect" data-category="behavior">
                                    <%
                                      var schoolList = group['results']['getUserInfo'];
                                      if(schoolList.length!=0){
                                        for(var i=0;i<schoolList.length;i++){
                                          var school = schoolList[i];
                                          if(i==0){
                                    %>
                                            <option value="<%=school['$']['schoolCode']%>" selected><%=school['$']['schoolName']%></option>
                                    <%
                                          }else{
                                    %>
                                            <option value="<%=school['$']['schoolCode']%>"><%=school['$']['schoolName']%></option>
                                    <%      
                                          }
                                        }
                                      }else{
                                    %>
                                        <option value="-1">查無學校</option>
                                    <%
                                      }
                                    %>
                                    </select>
                                  </div>
                                </div>
                                <div class="col-md-2">
                                  <div class="form-group">
                                    <label>學年學期</label>
                                    <select id="behaviorTermSelect" class="form-control termSelect" data-category="behavior">
                                    <%
                                      var termList = group['results']['getSemesterInfo'];
                                      if(termList.length!=0){
                                        for(var i=0;i<termList.length;i++){
                                          var term = termList[i];
                                          if(i==0){
                                    %>
                                          <option value="<%=term['$']['termId']%>" selected><%=term['$']['schoolYear']%><%=term['$']['termName']%></option>
                                    <%
                                          }else{
                                    %>
                                          <option value="<%=term['$']['termId']%>"><%=term['$']['schoolYear']%><%=term['$']['termName']%></option>
                                    <%      
                                          }
                                        }
                                      }else{
                                    %>
                                        <option value="-1">查無學期</option>
                                    <%
                                      }
                                    %>
                                    </select>
                                  </div>
                                </div>
                                <div class="col-md-2">
                                  <div class="form-group">
                                    <label>班級</label>
                                    <select id="behaviorClassSelect" class="form-control classSelect" data-category="behavior">
                                    <%
                                      var groupList = group['results']['getStudentList'];
                                      if(groupList.length!=0){                     
                                        for(var i=0;i<groupList.length;i++){
                                          var pg = groupList[i]['$'];
                                          var preStudentList = pg['studentList'];
                                          if(i==0){
                                    %>
                                            <option value="<%=JSON.stringify(preStudentList)%>" selected><%=pg['groupName']%></option>
                                    <%
                                          }else{
                                    %>
                                            <option value="<%=JSON.stringify(preStudentList)%>"><%=pg['groupName']%></option>
                                    <%
                                          }
                                        }
                                      }else{
                                    %>
                                        <option value="-1">查無班級</option>
                                    <%
                                      }
                                    %>
                                    </select>
                                  </div>
                                </div>
                                <div class="col-md-2">
                                  <div class="form-group">
                                    <label>科目</label>
                                    <select id="behaviorSubjectSelect" data-category="behavior" class="form-control subjectSelect">
                                      
                                    </select>
                                  </div>
                                </div>
                                <div class="col-md-2">
                                  <div class="form-group">
                                    <label>知識節點</label>
                                    <select id="behaviorNodeSelect" class="form-control nodeSelect" data-category="behavior">
                                      
                                    </select>
                                  </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                      <label>搜尋</label>
                                      <a id="behaviorSearchBtn" class="btn btn-primary form-control searchBtn"><i class="fa fa-search" aria-hidden="true"></i></a>
                                    </div>
                                  </div>
                              </div><!-- .row -->
                              <div class="row" style="padding:15px;">
                                  <div class="col-md-12">
                                    <div class="behavior"></div>
                                    <table id="behaviorVideoTable" class="table" style="display: none;">
                                      <thead>
                                        <tr>
                                          <th>影片名稱</th>
                                          <th>選擇</th>
                                        </tr>
                                      </thead>
                                      <tbody id="behaviorVideos">
                                          <script id="videos-template" type="text/x-handlebars-template">
                                            {{#each videos}}
                                              <tr>
                                                <td>{{name}}</td>
                                                <td>{{{choose id}}}</td>
                                              </tr>
                                            {{/each}}
                                            </script>
                                      </tbody>
                                    </table>
                                  </div>
                                </div>
                        </div>
                        <div class="fixed-table-loading hide" style="top: 1px; padding:15px;">正在努力地載入資料，請稍候……</div>
                        <div id="behaviorAnalysisArea" style="display:none;padding:15px;">
                          <div class="row">
                            <div class="col-md-2"> 
                              <a class="btn btn-primary backBtn" data-target="behavior">返回</a> 
                            </div>
                          </div>
                          <br>
                          <h4 id="behaviorTitle"></h4>
                          <div class="row">
                            <div class="col-md-8">
                              <div id="videoAnalysis" style="height:300px"></div>
                            </div>
                            <div class="col-md-4" id="behaviorSpread">
                              <canvas id="videoSpreadAnalysis" width="300" height="300"></canvas>
                            </div>
                          </div><br />
                          <div class="row">
                            <div class="col-md-12">
                              <table class="table table-striped">
                                <thead>
                                  <tr>
                                    <th>姓名</th>
                                    <th>分群</th>
                                    <th>觀看總次數</th>
                                    <th>觀看總時數</th>
                                    <th>平均觀看時數</th>
                                    <th>個人紀錄</th>
                                  </tr>
                                </thead>
                                <tbody id="students">
                                  <script id="students-template" type="text/x-handlebars-template">
                                  {{#each students}}
                                    <tr>
                                      <td>{{name}}</td>
                                      <td>{{{level level}}}</td>
                                      <td>{{session_watched_counts}}</td>
                                      <td>{{pure_duration total_duration}}</td>
                                      <td>{{pure_duration avg_duration}}</td>
                                      <td>{{{show @index}}}</td>
                                    </tr>
                                  {{/each}}
                                  </script>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div><!-- .row -->
                <div class="row">
                  <div class="col-md-12">
                    <div class="status-box">
                      <div class="status-box-header with-border">
                        <h4 class="box-title">成就表現與線上參與程度分群</h4> 
                      </div>
                      <div class="box-body">
                        <div id="achievementSearchArea">
                            <div class="row" style="padding:15px;">
                                <div class="col-md-2">
                                  <div class="form-group">
                                    <label>授權學校</label>
                                    <select id="achievementSchoolSelect" class="form-control schoolSelect" data-category="achievement">
                                    <%
                                      var schoolList = group['results']['getUserInfo'];
                                      if(schoolList.length!=0){
                                        for(var i=0;i<schoolList.length;i++){
                                          var school = schoolList[i];
                                          if(i==0){
                                    %>
                                            <option value="<%=school['$']['schoolCode']%>" selected><%=school['$']['schoolName']%></option>
                                    <%
                                          }else{
                                    %>
                                            <option value="<%=school['$']['schoolCode']%>"><%=school['$']['schoolName']%></option>
                                    <%      
                                          }
                                        }
                                      }else{
                                    %>
                                        <option value="-1">查無學校</option>
                                    <%
                                      }
                                    %>
                                    </select>
                                  </div>
                                </div>
                                <div class="col-md-2">
                                  <div class="form-group">
                                    <label>學年學期</label>
                                    <select id="achievementTermSelect" class="form-control termSelect" data-category="achievement">
                                    <%
                                      var termList = group['results']['getSemesterInfo'];
                                      if(termList.length!=0){
                                        for(var i=0;i<termList.length;i++){
                                          var term = termList[i];
                                          if(i==0){
                                    %>
                                          <option value="<%=term['$']['termId']%>" selected><%=term['$']['schoolYear']%><%=term['$']['termName']%></option>
                                    <%
                                          }else{
                                    %>
                                          <option value="<%=term['$']['termId']%>"><%=term['$']['schoolYear']%><%=term['$']['termName']%></option>
                                    <%      
                                          }
                                        }
                                      }else{
                                    %>
                                        <option value="-1">查無學期</option>
                                    <%
                                      }
                                    %>
                                    </select>
                                  </div>
                                </div>
                                <div class="col-md-2">
                                  <div class="form-group">
                                    <label>班級</label>
                                    <select id="achievementClassSelect" class="form-control classSelect" data-category="achievement">
                                    <%
                                      var groupList = group['results']['getStudentList'];
                                      if(groupList.length!=0){                     
                                        for(var i=0;i<groupList.length;i++){
                                          var pg = groupList[i]['$'];
                                          var preStudentList = pg['studentList'];
                                          if(i==0){
                                    %>
                                            <option value="<%=JSON.stringify(preStudentList)%>" selected><%=pg['groupName']%></option>
                                    <%
                                          }else{
                                    %>
                                            <option value="<%=JSON.stringify(preStudentList)%>"><%=pg['groupName']%></option>
                                    <%
                                          }
                                        }
                                      }else{
                                    %>
                                        <option value="-1">查無班級</option>
                                    <%
                                      }
                                    %>
                                    </select>
                                  </div>
                                </div>
                                <div class="col-md-2">
                                  <div class="form-group">
                                    <label>科目</label>
                                    <select id="achievementSubjectSelect" class="form-control subjectSelect" data-category="achievement">
                                      
                                    </select>
                                  </div>
                                </div>
                                <div class="col-md-2">
                                  <div class="form-group">
                                    <label>知識節點</label>
                                    <select id="achievementNodeSelect" class="form-control nodeSelect" data-category="achievement">
                                      
                                    </select>
                                  </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                      <label>搜尋</label>
                                      <a id="achievementSearchBtn" data-category="achievement" class="btn btn-primary form-control searchBtn"><i class="fa fa-search" aria-hidden="true"></i></a>
                                    </div>
                                  </div>
                              </div>
                        </div>
                        <div id="achievementAnalysisArea" style="display:none;padding:15px;">
                            <div class="row">											
                              <div class="col-md-2">
                                <a class="btn btn-primary backBtn" data-target="achievement">返回</a>												
                              </div>
                            </div><br />
                            <h4 id="achievementTitle"></h4>
                            <div class="row">
                              <div class="col-md-6">
                                <div id="achievementAnalysis" style="height:300px"></div>
                              </div>
                              <div class="col-md-6">
                                <table class="table table-striped" id="achievementTable">
                                  <thead>
                                    <tr>
                                      <th></th><th></th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td style="background:#dd4b39">被動</td>
                                      <td style="text-align:left" id="achievement_user_0">
                                      </td>
                                    </tr>
                                    <tr>
                                      <td style="background:#f39c12">求變</td>
                                      <td style="text-align:left" id="achievement_user_1">
                                      </td>
                                    </tr>
                                    <tr>
                                      <td style="background:#00a65a">聰明</td>
                                      <td style="text-align:left" id="achievement_user_2">
                                      </td>
                                    </tr>
                                    <tr>
                                      <td style="background:#00c0ef">積極</td>
                                      <td style="text-align:left" id="achievement_user_3">
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>未測驗</td>
                                      <td style="text-align:left" id="achievement_user_4">
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                                <table class="table table-bordered">
                                  <thead>
                                    <tr>
                                      <th>分群</th>
                                      <th>平均參與度</th>
                                      <th>平均成就表現</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td style="background:#dd4b39">被動</td>
                                      <td style="background:#de7a6d" id="achievement_avg_0_engagement">-</td>
                                      <td style="background:#de7a6d" id="achievement_avg_0_achievement">-</td>
                                    </tr>
                                    <tr>
                                      <td style="background:#f39c12">求變</td>
                                      <td style="background:#ecbe74" id="achievement_avg_1_engagement">-</td>
                                      <td style="background:#ecbe74" id="achievement_avg_1_achievement">-</td>
                                    </tr>
                                    <tr>
                                      <td style="background:#00a65a">聰明</td>
                                      <td style="background:#75bf9d" id="achievement_avg_2_engagement">-</td>
                                      <td style="background:#75bf9d" id="achievement_avg_2_achievement">-</td>
                                    </tr>
                                    <tr>
                                      <td style="background:#00c0ef">積極</td>
                                      <td style="background:#85d0e2" id="achievement_avg_3_engagement">-</td>
                                      <td style="background:#85d0e2" id="achievement_avg_3_achievement">-</td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>
                </div><!-- .row -->
                <div class="row">
                  <div class="col-md-12">
                    <div class="status-box">
                      <div class="status-box-header with-border">
                        <h4 class="box-title">不同成就表現分群</h4> 
                      </div>
                      <div class="box-body">
                        <div id="quizSearchArea">
                            <div class="row" style="padding:15px;">
                                <div class="col-md-4">
                                  <div class="form-group">
                                    <label>授權學校</label>
                                    <select id="quizSchoolSelect" class="form-control schoolSelect" data-category="quiz">
                                    <%
                                        var schoolList = group['results']['getUserInfo'];
                                        if(schoolList.length!=0){
                                          for(var i=0;i<schoolList.length;i++){
                                            var school = schoolList[i];
                                            if(i==0){
                                    %>
                                              <option value="<%=school['$']['schoolCode']%>" selected><%=school['$']['schoolName']%></option>
                                    <%
                                            }else{
                                    %>
                                              <option value="<%=school['$']['schoolCode']%>"><%=school['$']['schoolName']%></option>
                                    <%      
                                            }
                                          }
                                        }else{
                                    %>
                                          <option value="-1">查無學校</option>
                                    <%
                                        }
                                    %>
                                    </select>
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <div class="form-group">
                                    <label>學年學期</label>
                                    <select id="quizTermSelect" class="form-control termSelect" data-category="quiz">
                                    <%
                                        var termList = group['results']['getSemesterInfo'];
                                        if(termList.length!=0){
                                          for(var i=0;i<termList.length;i++){
                                            var term = termList[i];
                                            if(i==0){
                                    %>
                                            <option value="<%=term['$']['termId']%>" selected><%=term['$']['schoolYear']%><%=term['$']['termName']%></option>
                                    <%
                                            }else{
                                    %>
                                            <option value="<%=term['$']['termId']%>"><%=term['$']['schoolYear']%><%=term['$']['termName']%></option>
                                    <%      
                                            }
                                          }
                                        }else{
                                    %>
                                          <option value="-1">查無學期</option>
                                    <%
                                        }
                                    %>
                                    </select>
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <div class="form-group">
                                    <label>班級</label>
                                    <select id="quizClassSelect" class="form-control classSelect" data-category="quiz">
                                    <%
                                        var groupList = group['results']['getStudentList'];
                                        if(groupList.length!=0){                     
                                          for(var i=0;i<groupList.length;i++){
                                            var pg = groupList[i]['$'];
                                            var preStudentList = pg['studentList'];
                                            if(i==0){
                                    %>
                                              <option value="<%=JSON.stringify(preStudentList)%>" selected><%=pg['groupName']%></option>
                                    <%
                                            }else{
                                    %>
                                              <option value="<%=JSON.stringify(preStudentList)%>"><%=pg['groupName']%></option>
                                    <%
                                            }
                                          }
                                        }else{
                                    %>
                                          <option value="-1">查無班級</option>
                                    <%
                                        }
                                    %>
                                    </select>
                                  </div>
                                </div>
                            </div><!-- .row -->
                            <div class="row" style="padding:15px;">
                              <div class="col-md-12">
                                <span class="label label-primary">第一個比較對象</span>
                              </div>
                            </div>
                            <div class="row" style="padding:15px;">
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label>科目</label>
                                  <select id="oneSubjectSelect" class="form-control subjectSelect" data-category="one">
                                    
                                  </select>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label>知識節點</label>
                                  <select id="oneNodeSelect" class="form-control nodeSelect" data-category="one">
                                    
                                  </select>
                                </div>
                              </div>
                            </div>
                            <div class="row" style="padding:15px;">
                              <div class="col-md-12">
                                <span class="label label-primary">第二個比較對象</span>
                              </div>
                            </div>
                            <div class="row" style="padding:15px;">
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label>科目</label>
                                  <select id="twoSubjectSelect" class="form-control subjectSelect" data-category="two">
                                    
                                  </select>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label>知識節點</label>
                                  <select id="twoNodeSelect" class="form-control nodeSelect" data-category="two">
                                    
                                  </select>
                                </div>
                              </div>
                            </div>
                            <div class="row" style="padding:15px;">
                              <div class="col-md-2 pull-right">
                                <a id="quizSearchBtn" data-category="quiz" class="btn btn-primary form-control searchBtn" disabled><i class="fa fa-search" aria-hidden="true"></i></a> 
                              </div>
                            </div>
                        </div>
                        <div id="quizAnalysisArea" style="display:none;padding:15px;">
                            <div class="row">											
                              <div class="col-md-2">
                                <a class="btn btn-primary backBtn" data-target="quiz">返回</a>												
                              </div>
                            </div><br />
                            <h4><span id="oneTitle"></span> v.s. <span id="twoTitle"></span></h4>
                            <div class="row">
                              <div class="col-md-6">
                                <div id="quizAnalysis" style="height:300px"></div>
                                <div class="well"></div>
                              </div>
                              <div class="col-md-6">
                                <table class="table table-striped" id="quizTable">
                                  <thead>
                                    <tr>
                                      <th></th><th></th>
                                    </tr>														
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td style="background:#00a65a" class="quiz_node_one"></td>
                                      <td style="text-align:left" id="quiz_user_1"></td>
                                    </tr>
                                    <tr>
                                      <td style="background:#f39c12" class="quiz_node_two"></td>
                                      <td style="text-align:left" id="quiz_user_2"></td>
                                    </tr>
                                    <tr>
                                      <td class="quiz_node_zero">未測驗</td>
                                      <td style="text-align:left" id="quiz_user_0"></td>
                                    </tr>
                                  </tbody>
                                </table>
                                <table class="table table-bordered">
                                  <thead>
                                    <tr>
                                      <th>分群</th>
                                      <th id="quiz_header_one"></th>
                                      <th id="quiz_header_two"></th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td style="background:#00a65a" class="quiz_node_one"></td>
                                      <td style="background:#75bf9d" id="quiz_avg_1_one">-</td>
                                      <td style="background:#75bf9d" id="quiz_avg_1_two">-</td>
                                    </tr>
                                    <tr>
                                      <td style="background:#f39c12" class="quiz_node_two"></td>
                                      <td style="background:#ecbe74" id="quiz_avg_2_one">-</td>
                                      <td style="background:#ecbe74" id="quiz_avg_2_two">-</td>
                                    </tr>														
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>
                </div><!-- .row -->
            </section>
        </div>
      </div>
    </div>

    <%- cooc_footer %>

    <!-- 酷課雲 Header 角色 -->
    <div class="roleInfo" style="display:none;">
      <a id="logonBlock" href="javascript:void(0)">
        <img id="logonpic" src="<%=user.photoUrl%>"/>
        <img id="logonBack" src="/images/logon_back.png">
      </a>
      <div id="logonName"><%=user.name%></div>
      <div id="logonRole"><%=user.role_name%></div>
      <ul class="navigation">
        <li>
          <ul style="display:none">
            <li><a href="http://sso.tp.edu.tw/accountservice/" target="_blank">個人資訊</a></li>
            <li class="logout"><a href="/users/logout">登出</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <script src="/javascripts/jquery-3.2.1.min.js"></script>
    <script src="/javascripts/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script src="/javascripts/select2/select2.min.js"></script>
    <script src="/javascripts/Chart.min.js"></script>
    <script src="/javascripts/handlebars-v4.0.10.js"></script>
    <script src="/javascripts/highcharts/highcharts.js"></script>
    <script src="/javascripts/angular.min.js"></script>
    <script>
      var videosTemplate,studentsTemplate;
      var app = angular.module('myApp', []);
      $(document).ready(function(){
        $('#sidebar-coocLearning').addClass('active');
        //酷課雲 header 處理
        $('.rolemenu').html($('.roleInfo').html());
        $("#logonBlock").on("click",function(){
        	if ($("ul.navigation li > ul").is(":visible")) {
        		$("ul.navigation li > ul").css("display","none");
        	} else {
        		$("ul.navigation li > ul").css("display","block");
        	}
        });
        $(".backBtn").on("click",function(){
				  var target = $(this).attr("data-target");
				  $("#"+target+"AnalysisArea").fadeOut("fast",function(){
					  $("#"+target+"SearchArea").fadeIn();
				  });
			  });
        getKnowledgeMap();

        //Handlebar
        videosTemplate = Handlebars.compile($('#videos-template').html());
        studentsTemplate = Handlebars.compile($('#students-template').html());
        Handlebars.registerHelper("choose", function(videoUrl){
				  var video = this;
				  var videoUrl = "http://learning.cooc.tp.edu.tw/coocLearning/kmap/video/"+video.id;
				  return '<a class="btn btn-primary chooseBtn" data-name="'+video.name+'" data-id="'+video.id+'" data-url="'+videoUrl+'" data-duration="'+video.duration+'">選擇</a>';
			  });

        //選擇學校處理
        $('.schoolSelect').on('change', function(){
          var cate = $(this).attr('data-category');
          var targetTermSelect = $('#'+cate+'TermSelect');
          var targetClassSelect = $('#'+cate+'ClassSelect');
          targetTermSelect.empty();
          targetClassSelect.empty();
          var targetSchoolId = $(this).val();
          selectSchool(targetSchoolId,targetTermSelect);
        });

        //選擇學期處理
        $('.termSelect').on('change', function(){
          var cate = $(this).attr('data-category');
          var targetClassSelect = $('#'+cate+'ClassSelect');
          targetClassSelect.empty();
          var targetTermId = $(this).val();
          selectTerm(targetTermId,targetClassSelect);
        });

        //不同學習行為歷程分群處理
        $('#behaviorSearchBtn').on('click', function(){
          var groupId = $("#behaviorClassSelect").val();
          if(groupId=="-1"){
            alert('沒有班級資料!');
            return;
          }
          var classGroup = JSON.parse(groupId);
          if(classGroup.length==0){
            alert('該班級沒有學生!');
            return;
          }
          getNodeVideos();
        });

        //成就表現與線上參與程度分群處理
        $('#achievementSearchBtn').on('click', function(){
          var groupId = $("#achievementClassSelect").val();
          if(groupId=="-1"){
            alert('沒有班級資料!');
            return;
          }
          var classGroup = JSON.parse(groupId);
          if(classGroup.length==0){
            alert('該班級沒有學生!');
            return;
          }
          var userArray = [];
          var userNameObj = {};
          for(var cg=0;cg<classGroup.length;cg++){
            userArray.push(classGroup[cg]['$']['userId']);
            userNameObj[classGroup[cg]['$']['userId']] = classGroup[cg]['$']['userName'];
          }
          $("#achievementSearchArea").fadeOut("fast",function(){					
					  var mapData = $("body").data("map");
					  var mapUrl = "http://learning.cooc.tp.edu.tw/coocLearning/kmap/";
					  var categoryId = $("#achievementSubjectSelect").find("option:selected").attr("data-name");
					  var mapId = $("#achievementNodeSelect").find("option:selected").attr("data-name");
					  $("#achievementTitle").html(mapId);
					  var mapCategory = mapData[categoryId].name;
					  var mapNameArr = [];
					  if(categoryId===mapId){ //科目
						  var maps = mapData[categoryId].data;
						  for(var i=0;i<maps.length;i++){
							  var md = maps[i];
							  mapNameArr.push(mapUrl+mapCategory+"/"+md.self);
							  mapNameArr.push(mapUrl+categoryId+"/"+md.self);
						  }
					  }else{
						  mapNameArr.push(mapUrl+mapCategory+"/"+mapId);
						  mapNameArr.push(mapUrl+categoryId+"/"+mapId);
					  }
					  getAchievementResult(userNameObj,userArray,mapCategory,mapId,mapNameArr);		
					  $("#achievementAnalysisArea").fadeIn();
				  });	
        });

        //不同成就表現分群處理
        $('#quizSearchBtn').on('click', function(){
          var groupId = $("#quizClassSelect").val();
          if(groupId=="-1"){
            alert('沒有班級資料!');
            return;
          }
          var classGroup = JSON.parse(groupId);
          if(classGroup.length==0){
            alert('該班級沒有學生!');
            return;
          }
          var userArray = [];
          var userNameObj = {};
          for(var cg=0;cg<classGroup.length;cg++){
            userArray.push(classGroup[cg]['$']['userId']);
            userNameObj[classGroup[cg]['$']['userId']] = classGroup[cg]['$']['userName'];
          }
          $("#quizSearchArea").fadeOut("fast",function(){										  
					  var mapData = $("body").data("map");
					  var mapUrl = "http://learning.cooc.tp.edu.tw/coocLearning/kmap/";
					  var categoryOneId = $("#oneSubjectSelect").find("option:selected").attr("data-name");
					  var mapOneId = $("#oneNodeSelect").find("option:selected").attr("data-name");
					  $("#oneTitle").html(mapOneId);
					  var mapOneCategory = mapData[categoryOneId].name;
					  var mapOneNameArr = [];
					  if(categoryOneId===mapOneId){ //科目
						  var maps = mapData[categoryOneId].data;
						  for(var i=0;i<maps.length;i++){
							  var md = maps[i];
							  mapOneNameArr.push(mapUrl+mapOneCategory+"/"+md.self);
							  mapOneNameArr.push(mapUrl+categoryOneId+"/"+md.self);
						  }
					  }else{
					  	mapOneNameArr.push(mapUrl+mapOneCategory+"/"+mapOneId);
						  mapOneNameArr.push(mapUrl+categoryOneId+"/"+mapOneId);		
					  }
					  var categoryTwoId = $("#twoSubjectSelect").find("option:selected").attr("data-name");
					  var mapTwoId = $("#twoNodeSelect").find("option:selected").attr("data-name");
					  $("#twoTitle").html(mapTwoId);
					  var mapTwoCategory = mapData[categoryTwoId].name;
					  var mapTwoNameArr = [];
					  if(categoryTwoId===mapTwoId){ //科目
						  var maps = mapData[categoryTwoId].data;
						  for(var i=0;i<maps.length;i++){
							  var md = maps[i];
							  mapTwoNameArr.push(mapUrl+mapTwoCategory+"/"+md.self);
							  mapTwoNameArr.push(mapUrl+categoryTwoId+"/"+md.self);
					  	}
					  }else{
						  mapTwoNameArr.push(mapUrl+mapTwoCategory+"/"+mapTwoId);		
						  mapTwoNameArr.push(mapUrl+categoryTwoId+"/"+mapTwoId);		
					  }
			    	getQuizComparison(userNameObj,userArray,mapOneCategory,mapOneId,mapTwoCategory,mapTwoId,mapOneNameArr,mapTwoNameArr);
					  $("#quizAnalysisArea").fadeIn();
				  });
        });

      });
			function getKnowledgeMap(){
				$.ajax({
          url:'http://learning.cooc.tp.edu.tw/coocLearning/coocAPI/kmMapAll',
          type:'GET',
          success: function(msg){
            var data = JSON.parse(msg);
            var mapData = {};
            for(var i=0;i<data.length;i++){
              var md = data[i];
              mapData[md.name] = {};
              mapData[md.name].name = md.english_name;
              mapData[md.name].data = md.maps;
            }
            $("body").data("map",mapData);
            for(var i=0;i<data.length;i++){
              var subjectData = data[i];
              $(".subjectSelect").append("<option value='"+subjectData.mapId+"' data-maps='"+JSON.stringify(subjectData.maps)+"' data-name='"+subjectData.name+"'>"+subjectData.name+"</option>");
              if(i==0){
                var noDatas = subjectData.maps;
                for(var j=0;j<noDatas.length;j++){
                  var noData = noDatas[j];
                  $(".nodeSelect").append('<option value="'+noData.knowledge_map_id+'" data-name="'+noData.self+'">'+noData.self+'</option>');
                }
              }
            }
            $(".subjectSelect").select2();
            $(".nodeSelect").select2();
            $(".searchBtn").removeAttr("disabled");
                    	
            $(".subjectSelect").on("change",function(){
              var selectedEle = $(this).find("option:selected");
              var eleCategory = $(this).attr("data-category");
              var selectedSubjectId = selectedEle.val();
              var mapDatas = JSON.parse(selectedEle.attr("data-maps"));
              $("#"+eleCategory+"NodeSelect").empty();
              for(var j=0;j<mapDatas.length;j++){
                var mapData = mapDatas[j];
                $("#"+eleCategory+"NodeSelect").append('<option value="'+mapData.knowledge_map_id+'" data-name="'+mapData.self+'">'+mapData.self+'</option>');
              }
              $("#"+eleCategory+"NodeSelect").select2();
            });        			                   	                   	
          },
          error:function(xhr, ajaxOptions, thrownError){
            console.log(xhr.status);
            console.log(thrownError);
          }
        });
      }
      function selectSchool(targetSchoolId,targetTermSelect){
        $.ajax({
            url: '/api/group/semester/'+targetSchoolId,
            type:"GET",
            success: function(semester){
              var termList = semester['info']['body'][0]['school'][0]['termList'][0]['term'];
              if(termList.length!=0){
                for(var i=0;i<termList.length;i++){
                  var term = termList[i];
                  if(i==0){
                    targetTermSelect.append('<option value="'+term['$']['termId']+'" selected>'+term['$']['schoolYear']+term['$']['termName']+'</option>');
                  }else{
                    targetTermSelect.append('<option value="'+term['$']['termId']+'">'+term['$']['schoolYear']+term['$']['termName']+'</option>');
                  }
                }
                targetTermSelect.val(targetTermSelect.find("option:first").val()).trigger("change");
              }else{
                targetTermSelect.append('<option value="-1">查無學期</option>');
              }
            },
            error:function(xhr, ajaxOptions, thrownError){
              console.log(xhr.status);
              console.log(thrownError);
            }
         	});
      }
      function selectTerm(targetTermId,targetClassSelect){
        $.ajax({
            url: '/api/group/class/'+targetTermId,
            type:"GET",
            success: function(groups){
              var getGroups = groups['info']['body'][0]['groupList'][0];
              if(typeof getGroups === 'object'){
                var classGroups = getGroups['group'];
                for(var i=0;i<classGroups.length;i++){
                  var getClass = classGroups[i]['$'];
                  var getStudentList = classGroups[i]['studentList'][0];
                  var studentList = [];
                  if(typeof getStudentList === 'object'){
                    studentList = getStudentList['student'];
                  }
                  if(i==0){
                    targetClassSelect.append("<option value='"+JSON.stringify(studentList)+"' selected>"+getClass['groupName']+"</option>");
                  }else{
                    targetClassSelect.append("<option value='"+JSON.stringify(studentList)+"'>"+getClass['groupName']+"</option>");
                  }
                }
              }else{
                targetClassSelect.append('<option value="-1">查無班級</option>');
              }
            },
            error:function(xhr, ajaxOptions, thrownError){
              console.log(xhr.status);
              console.log(thrownError);
            }
         	});
      }
      function getNodeVideos(){
        $("#behaviorVideoTable").hide();
        var categoryId = $("#behaviorSubjectSelect").find("option:selected").attr("data-name");
				var mapId = $("#behaviorNodeSelect").find("option:selected").attr("data-name");
        $.ajax({
          url:"http://learning.cooc.tp.edu.tw/coocLearning/km/getKnowledgeMediaContent",
          data:"knowledge_map_category="+categoryId+"&knowledge_map_name="+mapId,
          type:"POST",
          success: function(resultData){
            $("div.behavior").empty();
            if(resultData.length!=0){
              var videoData = {};
							videoData["videos"] = resultData;
							$("#behaviorVideos").empty().append(videosTemplate(videoData));
							$("#behaviorVideoTable").show();
							$(".chooseBtn").on("click",function(){
								var videoName = $(this).attr("data-name");
								var videoId = $(this).attr("data-id");
								var videoUrl = $(this).attr("data-url");
								var videoDuration = parseInt($(this).attr("data-duration"));
								$("#behaviorSearchArea").fadeOut("fast",function(){
									$("#behaviorTitle").html(videoName);
									$("#behaviorAnalysisArea").fadeIn();
									renderBehaviorVideoData(videoId,videoUrl,videoDuration);
								});
							});
            }else{
							$("#behaviorVideoTable").hide();
            }      					
          },
          error:function(xhr, ajaxOptions, thrownError){
            console.log(xhr.status);
            console.log(thrownError);
          }
        });
      }
      function renderBehaviorVideoData(videoId,videoUrl,videoDuration){
				$("#behaviorSpread").html('<canvas id="videoSpreadAnalysis" width="300" height="300"></canvas>');
				$("#students").empty();
				$.ajax({
          url:"http://learning.cooc.tp.edu.tw/coocLearning/groupLearningAPI/behavior/"+$("#behaviorTermSelect").val()+"/<%=user.userId%>/"+$("#behaviorClassSelect").val()+"/"+videoId,
          type:"GET",
          success: function(resultData){
            $("#videoAnalysis").empty();
            if(!resultData.status){
              getBehaviorVideoData(resultData,videoUrl,videoDuration);	
            }else{
              $("#videoAnalysis").html(resultData.msg);
            }                    	
          },
          error:function(xhr, ajaxOptions, thrownError){
            console.log(xhr.status);
            console.log(thrownError);
          }
        });
      }
      function getBehaviorVideoData(coocVideoData,videoUrl,videoDuration){
				var groupId = $("#behaviorClassSelect").val();
        var classGroup = JSON.parse(groupId);
        var userArray = [];
        for(var cg=0;cg<classGroup.length;cg++){
          userArray.push(classGroup[cg]['$']['userId']);
        }
				$.ajax({
          url:"http://lad.cooc.tp.edu.tw/taipei/OPENAPI/coocLearning/behavior",
          type:"POST",
          data:"userArray="+JSON.stringify(userArray)+"&videoUrl="+videoUrl+"&mapCategory="+$("#behaviorSubjectSelect").val()+"&mapName="+$("#behaviorNodeSelect").val(),
          success: function(resultData){
            var userCounts = userArray.length;
            var videoData = resultData.data;
            var studentLevelArr = [];
            var studentRecordCount = [];
            for(var i=0;i<=3;i++){
              studentLevelArr[i] = 0;
              studentRecordCount[i] = 0;
            }
            var videoSpreadData = [];
            videoSpreadData[0] = []; //未作答
            videoSpreadData[1] = []; //簡單
            videoSpreadData[2] = []; //普通
            videoSpreadData[3] = []; //困難
            for(var i=0;i<(videoDuration+1);i++){
              videoSpreadData[0][i] = 0;
              videoSpreadData[1][i] = 0;
              videoSpreadData[2][i] = 0;
              videoSpreadData[3][i] = 0;
            }
                		
            for(var studentUUID in coocVideoData){
              var coocStudentData = coocVideoData[studentUUID];
              coocStudentData["video_duration"] = videoDuration;
              coocStudentData["total_duration"] = 0;
              coocStudentData["avg_duration"] = 0;
              coocStudentData["session_watched_counts"] = 0;
              coocStudentData["histogram"] = [];

              var totalDuration = 0;
            	var avgDuration = 0;
            	var studentLevel = coocStudentData.level;
            	studentLevelArr[studentLevel]++;
              var studentDataArr = videoData[studentUUID];
              if(studentDataArr &&studentDataArr.length!=0){
                studentRecordCount[studentLevel]++;
              }
              var studentHistogramDataArr = [];
              var histogramColor;
              switch(studentLevel){
                case 0:
                	histogramColor = "#999";
                	break;
                case 1:
                	histogramColor = "#00c0ef";
                	break;
                case 2:
                	histogramColor = "#00a65a";
                	break;
                case 3:
                	histogramColor = "#f39c12";
                	break;
                default:
                	histogramColor = "#999";
              }
              if(studentDataArr){
                for(var i=0;i<studentDataArr.length;i++){
                  coocStudentData["session_watched_counts"]++;
                  var studentData = studentDataArr[i];
                  var studentHistogramData = {
                    color:histogramColor,
                    name:"watch",
                    lineWidth:5,
                    type:"line",
                    color:"#78A8D9",
                    data:[]
                  };
                  totalDuration += studentData.duration;
                  var start = studentData.start;
                  var end = studentData.end;
                  if(start>=end){
                    var temp = start;
                    start = end;
                    end = temp;
                  }
                  for(var j=start;j<=end;j++){
                    videoSpreadData[studentLevel][j]++;
                  }
                  for(var k=0;k<=videoDuration;k++){
                    if(k>=start && k<=end){
                    	studentHistogramData.data.push(i+1);	
                    }else{
                    	studentHistogramData.data.push(null);
                    }                        					
                  }
                  studentHistogramDataArr.push(studentHistogramData);
                }	    
              }                			
                			
              if(coocStudentData["session_watched_counts"]!=0){
                avgDuration = Math.round(totalDuration/coocStudentData["session_watched_counts"]);
              }
              coocStudentData.total_duration = totalDuration;
              coocStudentData.avg_duration = avgDuration;
              coocStudentData.histogram = studentHistogramDataArr;               			
            }
                		
            var videoSpreadAvgArr = [];
            videoSpreadAvgArr[0] = 0;
            videoSpreadAvgArr[1] = 0;
            videoSpreadAvgArr[2] = 0;
            videoSpreadAvgArr[3] = 0;
            for(var i=0;i<videoSpreadData.length;i++){
              var vsdd = videoSpreadData[i];
              var levelUserCounts = studentLevelArr[i];
              for(var j=0;j<vsdd.length;j++){
                var vsdd_value = vsdd[j];
                if(!isNaN(vsdd_value)&& vsdd_value!==0){
                	var avgSpreadData = 0;
                	if(levelUserCounts!=0){
                		avgSpreadData = parseFloat((vsdd_value/studentRecordCount[i]).toFixed(2));
                	} 
                  vsdd[j] = avgSpreadData;
                  videoSpreadAvgArr[i] += avgSpreadData;
                }                				
              }
            }
            showVideoSpreadChart(videoDuration,videoSpreadData);
            var studentsData = {
              students:[]
            };
            for(var s in coocVideoData){
              studentsData.students.push(coocVideoData[s]);
            }
            $("#students").append(studentsTemplate(studentsData));
                		//
            var spreadData = [];
            for(var g=0;g<studentLevelArr.length;g++){
              spreadData.push(studentLevelArr[g]);
            }
            var donutTitle = ["未作答:","答對簡單題:","答對普通題:","答對困難題:"];
            for(var g=0;g<videoSpreadAvgArr.length;g++){
              videoSpreadAvgArr[g] = donutTitle[g]+(videoSpreadAvgArr[g]/videoDuration).toFixed(2);
            }
            new Chart($("#videoSpreadAnalysis"),{
        			type: 'doughnut',
        			data: {
        			  labels:videoSpreadAvgArr,				    	
        				datasets:[{
        				  data:spreadData,
        				  backgroundColor: ["#999","#00c0ef","#00a65a","#f39c12"]
        				}]
        			},
        			options:{
        				title:{
        				  display:true,
        				  text:'平均觀看次數'
        				},
        				legend:{
        				  display:true,
        				  labels:{}
        				},
        				tooltips:{
        				  callbacks:{
        				    label: function(tooltipItem, data) {
        				    	var dataset = data.datasets[tooltipItem.datasetIndex];
        				    	var total = dataset.data.reduce(function(previousValue, currentValue, currentIndex, array) {
        				    		  return previousValue + currentValue;
        				    	});
        				    	var currentValue = dataset.data[tooltipItem.index];
        				    	var precentage = Math.floor(((currentValue/total) * 100)+0.5);         
        				    	return precentage + "%";
        				    }
        				  }
        				}
        			}
        		});
          },
          error:function(xhr, ajaxOptions, thrownError){
            console.log(xhr.status);
            console.log(thrownError);
          }
        });
			}
			
			function showVideoSpreadChart(videoDuration,videoSperadData){
				var md = videoDuration+2;
				var spreadChart = new Highcharts.Chart({
          chart:{
            renderTo:'videoAnalysis'
          },
                    title: {
                        text: '',
                        style: {
                            display: 'none'
                        }
                    },
                    xAxis:{
                        title:{
                            text:'影片長度'
                        },
                        min:0,
                        max:md
                    },
                    yAxis:{
                        title:{
                            text:'平均觀看次數'
                        },
                        allowDecimals:true,
                        min:0
                    },
                    credits:{
                        enabled:false
                    },
                    series:[
                        {
                            name:'未作答',
                            type:"line",
                            color:"#999",
                            data:videoSperadData[0]
                        },
                        {
                            name:'答對簡單題',
                            type:"line",
                            color:"#00c0ef",
                            data:videoSperadData[1]
                        },
                        {
                            name:'答對普通題',
                            type:"line",
                            color:"#00a65a",
                            data:videoSperadData[2]
                        },
                        {
                            name:'答對困難題',
                            type:"line",
                            color:"#f39c12",
                            data:videoSperadData[3]
                        }
                    ]
                });
      }
      
      function getAchievementResult(userNameMap,userArray,mapCategory,mapName,mapNameUrlArray){
				$.ajax({
          url:"http://lad.cooc.tp.edu.tw/taipei/OPENAPI/coocLearning/groupLearning/achievement/old",
          data:"userArray="+JSON.stringify(userArray)+"&mapNameUrlArray="+JSON.stringify(mapNameUrlArray),
          type:"POST",
          success: function(resultData){
						console.log(resultData);
						renderAchievementChart(userNameMap,userArray,resultData);						
          },
          error:function(xhr, ajaxOptions, thrownError){
            console.log(xhr.status);
            console.log(thrownError);
          }
        });
      }
      var achievementChart;
			function renderAchievementChart(userNameMap,userArray,resultData){
				
				var comparison = [];
				for(var i=0;i<=4;i++){
					comparison[i] = [];
				}
				//0:被動
				//1:求變
				//2:聰明
				//3:積極
				//4:未測驗
				var achievementData = resultData["achievement"].data;
				var achievementAvg = resultData["achievement"].avg;
				var engagementData = resultData["engagement"].data;
				var engagementAvg = resultData["engagement"].avg;
				var comparisonScore = [];
				for(var i=0;i<=3;i++){
					comparisonScore[i] = {
						achievement:[],
						engagement:[]
					}
				}
				for(var i=0;i<userArray.length;i++){
					var userUUID = userArray[i];
					var userName = userNameMap[userUUID];
					if(achievementData[userUUID]!==-1 && engagementData[userUUID]!==-1){
						var userAchievementScore = parseFloat((achievementData[userUUID]).toFixed(2));
						var userEngagementScore = parseFloat((engagementData[userUUID]).toFixed(2));
						if(userAchievementScore<achievementAvg){
							if(userEngagementScore<engagementAvg){
								//被動
								comparison[0].push({
									name:userName,
									uid:userUUID,
									classify:0,
									x:userAchievementScore,
									y:userEngagementScore
								});
								comparisonScore[0].achievement.push(userAchievementScore);
								comparisonScore[0].engagement.push(userEngagementScore);
							}else{
								//求變
								comparison[1].push({
									name:userName,
									uid:userUUID,
									classify:1,
									x:userAchievementScore,
									y:userEngagementScore
								});
								comparisonScore[1].achievement.push(userAchievementScore);
								comparisonScore[1].engagement.push(userEngagementScore);
							}
						}else{
							if(userEngagementScore<engagementAvg){
								//聰明
								comparison[2].push({
									name:userName,
									uid:userUUID,
									classify:2,
									x:userAchievementScore,
									y:userEngagementScore
								});
								comparisonScore[2].achievement.push(userAchievementScore);
								comparisonScore[2].engagement.push(userEngagementScore);
							}else{
								//積極
								comparison[3].push({
									name:userName,
									uid:userUUID,
									classify:3,
									x:userAchievementScore,
									y:userEngagementScore
								});
								comparisonScore[3].achievement.push(userAchievementScore);
								comparisonScore[3].engagement.push(userEngagementScore);
							}
						}
					}else{
						comparison[4].push({
							name:userName,
							uid:userUUID,
							classify:4,
							achievementScore:0,
							engagementScore:0
						});
					}
				}
				
				achievementChart = new Highcharts.Chart({
					chart: {
						type: 'scatter',
						renderTo:'achievementAnalysis'
				    },
				    title: {
				        text: ''
				    },
				    credits:{enabled:false},
				    xAxis: {
				        title: {
							enabled: true,
				            text: '成就表現'
				        },
				        startOnTick: true,
				        endOnTick: true,
				        showLastLabel: true,
				        min:0,
				        max:100,
				        plotLines:[{
							value:achievementAvg,
							color:'#999',
							width:2,
							label:{
								text:'平均成就表現'
							}
						}]
					},
				    yAxis: {
						title: {
							text: '參與度'
				        },
				        min:0,
				        max:100,
				        plotLines:[{
							value:engagementAvg,
							color:'#999',
							width:2,
							label:{
								text:'平均參與度'
							}
						}]
				    },
				    tooltip:{
				    	pointFormatter:function(){
				    		return this.name+'<br />成就:'+this.x+"<br />參與度:"+this.y;
				    	}
				    },
				    series:[
				        {
				            name: '被動',
				            color: '#c9302c',
				            data: comparison[0]

				        },{
				            name: '求變',
				            color: '#ec971f',
				            data: comparison[1]

				        },{
				            name: '聰明',
				            color: '#449d44',
				            data: comparison[2]

				        },{
				            name: '積極',
				            color: '#31b0d5',
				            data: comparison[3]
					 	}
				  	]
				});
				
				for(var i=0;i<comparisonScore.length;i++){
					var cs = comparisonScore[i];
					var avgAchievementScore = 0;
					var avgEngagementScore = 0;
					var cs_achievementUserCounts = 0;
					var cs_engagementUserCounts = 0;
					if(cs.achievement.length!=0){
						var cso = cs.achievement;
						cs_achievementUserCounts = cso.length;
						var totalAchievementScore = 0;
						for(var j=0;j<cs_achievementUserCounts;j++){
							totalAchievementScore += cso[j];
						}
						if(cs_achievementUserCounts!=0){
							avgAchievementScore = (totalAchievementScore/cs_achievementUserCounts).toFixed(2);	
						}						
					}
					if(cs.engagement.length!=0){
						var cso = cs.engagement;
						cs_engagementUserCounts = cso.length;
						var totalEngagementScore = 0;
						for(var j=0;j<cs_engagementUserCounts;j++){
							totalEngagementScore += cso[j];
						}
						if(cs_engagementUserCounts!=0){
							avgEngagementScore = (totalEngagementScore/cs_engagementUserCounts).toFixed(2);	
						}						
					}
					$("#achievement_avg_"+i+"_achievement").empty().html(avgAchievementScore);
					$("#achievement_avg_"+i+"_engagement").empty().html(avgEngagementScore);
				}
				for(var i=0;i<comparison.length;i++){
					var cData = comparison[i];
					var achievementEle = $("#achievement_user_"+i);
					achievementEle.empty();
					for(var j=0;j<cData.length;j++){
						var uData = cData[j];
						switch(i){
							case 0:
								achievementEle.append('<span class="label label-danger user" data-uid="'+uData.uid+'" data-classify="'+uData.classify+'">'+uData.name+'</span>');
								break;
							case 1:
								achievementEle.append('<span class="label label-warning user" data-uid="'+uData.uid+'" data-classify="'+uData.classify+'">'+uData.name+'</span>');
								break;
							case 2:
								achievementEle.append('<span class="label label-success user" data-uid="'+uData.uid+'" data-classify="'+uData.classify+'">'+uData.name+'</span>');
								break;
							case 3:
								achievementEle.append('<span class="label label-info user" data-uid="'+uData.uid+'" data-classify="'+uData.classify+'">'+uData.name+'</span>');
								break;
							case 4:
								achievementEle.append('<span class="label label-default user" data-uid="'+uData.uid+'" data-classify="'+uData.classify+'">'+uData.name+'</span>');
								break;
							default:
								achievementEle.append('<span class="label label-default user" data-uid="'+uData.uid+'" data-classify="'+uData.classify+'">'+uData.name+'</span>');
						}						
					}
				}
      }

      function getQuizComparison(userNameMap,userArray,mapOneCategory,mapOneName,mapTwoCategory,mapTwoName,mapOneNameUrlArray,mapTwoNameUrlArray){
				$.ajax({
          url:"http://lad.cooc.tp.edu.tw/taipei/OPENAPI/coocLearning/groupLearning/achievement/comparison/old",
          data:"userArray="+JSON.stringify(userArray)+"&mapOneCategory="+mapOneCategory+"&mapTwoCategory="+mapTwoCategory+"&mapOneNameUrlArray="+JSON.stringify(mapOneNameUrlArray)+"&mapTwoNameUrlArray="+JSON.stringify(mapTwoNameUrlArray),
          type:"POST",
          success: function(resultData){					
					  renderComparisonChart(userNameMap,userArray,mapOneCategory,mapOneName,mapTwoCategory,mapTwoName,resultData);
          },
          error:function(xhr, ajaxOptions, thrownError){
            console.log(xhr.status);
            console.log(thrownError);
          }
        });
      }
      var quizAnalysisChart;
			function renderComparisonChart(userNameMap,userArray,mapOneCategory,mapOneName,mapTwoCategory,mapTwoName,quizData){
				var comparison = [];
				for(var i=0;i<=2;i++){
					comparison[i] = [];
				}
				//0:未測驗
				//1:科目1較優
				//2:科目2較優
				var oneData = quizData["one_"+mapOneCategory].data;
				var oneAvg = quizData["one_"+mapOneCategory].avg;
				var twoData = quizData["two_"+mapTwoCategory].data;
				var twoAvg = quizData["two_"+mapTwoCategory].avg;
				var comparisonScore = [];
				for(var i=0;i<=2;i++){
					comparisonScore[i] = {
						one:[],
						two:[]
					}
				}
				for(var i=0;i<userArray.length;i++){
					var userUUID = userArray[i];
					var userName = userNameMap[userUUID];
					if(oneData[userUUID]!==-1 && twoData[userUUID]!==-1){
						var userOneScore = parseFloat((oneData[userUUID]).toFixed(2));
						var userTwoScore = parseFloat((twoData[userUUID]).toFixed(2));
						var diffScore = parseFloat((userTwoScore-userOneScore).toFixed(2));
						if(diffScore<0){
							//科目1較優
							comparison[1].push({
								name:userName,
								uid:userUUID,
								classify:1,
								x:userOneScore,
								y:diffScore,
								twoScore:userTwoScore
							});
							comparisonScore[1].one.push(userOneScore);
							comparisonScore[1].two.push(userTwoScore);
						}else{
							//科目2較優
							comparison[2].push({
								name:userName,
								uid:userUUID,
								classify:2,
								x:userOneScore,
								y:diffScore,
								twoScore:userTwoScore
							});
							comparisonScore[2].one.push(userOneScore);
							comparisonScore[2].two.push(userTwoScore);
						}
					}else{
						comparison[0].push({
							name:userName,
							classify:0,
							uid:userUUID,
							oneScore:0,
							twoScore:0
						});
					}
				}
				quizAnalysisChart = new Highcharts.Chart({
					chart: {
						type: 'scatter',
						renderTo:'quizAnalysis'
				    },
				    title: {
				        text: ''
				    },
				    credits:{enabled:false},
				    xAxis: {
				        title: {
							enabled: true,
				            text: mapOneName
				        },
				        startOnTick: true,
				        endOnTick: true,
				        showLastLabel: true,
				        min:0,
				        max:100
					},
				    yAxis: {
						title: {
							text: '比較值'
				        },
				        min:-100,
				        max:100
				    },
				    tooltip:{
				    	pointFormatter:function(){
				    		return this.name+'<br />'+mapOneName+':'+this.x+"<br />比較值:"+this.y;
				    	}
				    },
				    series:[	
				        {
				            name: mapOneName+' 較優',
				            color: '#00a65a',
				            data: comparison[1]

				        },{
				            name: mapTwoName+' 較優',
				            color: '#f39c12',
				            data: comparison[2]

				        }
				  	]
				});
				
				$(".quiz_node_one").empty().html(mapOneName+" 較優");
				$(".quiz_node_two").empty().html(mapTwoName+" 較優");
				$("#quiz_header_one").empty().html(mapOneName+" 平均");
				$("#quiz_header_two").empty().html(mapTwoName+" 平均");
				for(var i=1;i<=2;i++){
					var cs = comparisonScore[i];
					var avgOneScore = 0;
					var avgTwoScore = 0;
					var cs_oneUserCounts = 0;
					var cs_twoUserCounts = 0;
					if(cs.one.length!=0){
						var cso = cs.one;
						cs_oneUserCounts = cso.length;
						var totalOneScore = 0;
						for(var j=0;j<cs_oneUserCounts;j++){
							totalOneScore += cso[j];
						}
						if(cs_oneUserCounts!=0){
							avgOneScore = (totalOneScore/cs_oneUserCounts).toFixed(2);	
						}						
					}
					if(cs.two.length!=0){
						var cso = cs.two;
						cs_twoUserCounts = cso.length;
						var totalTwoScore = 0;
						for(var j=0;j<cs_twoUserCounts;j++){
							totalTwoScore += cso[j];
						}
						if(cs_twoUserCounts!=0){
							avgTwoScore = (totalTwoScore/cs_twoUserCounts).toFixed(2);	
						}						
					}
					$("#quiz_avg_"+i+"_one").empty().html(avgOneScore);
					$("#quiz_avg_"+i+"_two").empty().html(avgTwoScore);
				}
				for(var i=0;i<=2;i++){
					var cData = comparison[i];
					var quizEle = $("#quiz_user_"+i);
					quizEle.empty();
					for(var j=0;j<cData.length;j++){
						var uData = cData[j];
						switch(i){
							case 0:
								quizEle.append('<span class="label label-default user" data-uid="'+uData.uid+'" data-classify="'+uData.classify+'">'+uData.name+'</span>');
								break;
							case 1:
								quizEle.append('<span class="label label-success user" data-uid="'+uData.uid+'" data-classify="'+uData.classify+'">'+uData.name+'</span>');
								break;
							case 2:
								quizEle.append('<span class="label label-warning user" data-uid="'+uData.uid+'" data-classify="'+uData.classify+'">'+uData.name+'</span>');
								break;
							default:
								quizEle.append('<span class="label label-default user" data-uid="'+uData.uid+'" data-classify="'+uData.classify+'">'+uData.name+'</span>');
						}						
					}
				}
			}
    </script>
  </body>
</html>
