<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/javascripts/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/javascripts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/student.css">
    <link rel="stylesheet" href="/stylesheets/dashboard_teacher.css">
    <link rel="stylesheet" href="/stylesheets/logon.css">
    <link rel="stylesheet" href="/stylesheets/box.css">
    <style>
      .progress-chart-container {
        text-align: center;
      }
      .progress-chart {
        width: 250px;
        height: 160px;
      }
      .progress {height: 20px;} 
    </style>
  </head>
  <body>

    <%- cooc_header %>

    <div class="wrapper" ng-app="myApp">
      
      <% include student_left_panel %>
      
      <div class="main">
        <div class="col-md-12">
            <section id="stuTabs">
                <div class="tabsMenu">
                    <li>
                        <a href="#" class="stuTabsMenu active">學習狀態</a>         
                    </li>
                    <li>
                        <a href="/dashboard/student/recommendation" class="stuTabsMenu">推薦系統</a>         
                    </li>
                    <li>
                      <a href="/dashboard/student/college" class="stuTabsMenu">大學科系探索</a>
                    </li>
                </div>
                <p style="clear:left"></p>
                <div class="col-md-12"><br />
                  <div class="row">
                    <%
                      for(var m=0;m<=3;m++){
                        var map = maps[m];
                    %>
                    <div class="col-md-3">
                      <div class="status-box">
                        <div class="status-box-header">
                          <h3><%=map.name%></h3>
                        </div>
                        <div class="status-box-body">
                          <div class="time-spent-container">
                            <div class="progress">
                              <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;min-width: 2em;">0%</div>
                            </div>
                          </div>
                          <div class="progress-chart-container">
                            <input id="progress-chart-<%=map.mapId%>" type="text" value="0" class="progress-chart" data-mapname="<%=map.name%>">                              
                          </div>
                        </div>
                      </div>
                    </div>
                    <%
                      }
                    %>
                  </div>
                  <div class="row">
                    <%
                      for(var m=4;m<=7;m++){
                        var map = maps[m];
                    %>
                    <div class="col-md-3">
                      <div class="status-box">
                        <div class="status-box-header">
                          <h3><%=map.name%></h3>
                        </div>
                        <div class="status-box-body">
                          <div class="time-spent-container">
                            <div class="progress">
                              <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;min-width: 2em;">0%</div>
                            </div>
                          </div>
                          <div class="progress-chart-container">
                            <input id="progress-chart-<%=map.mapId%>" type="text" value="0" class="progress-chart" data-mapname="<%=map.name%>">
                          </div>
                        </div>
                      </div>
                    </div>
                    <%
                      }
                    %>
                  </div>
                  <div class="row">
                    <%
                      for(var m=8;m<=11;m++){
                        var map = maps[m];
                    %>
                    <div class="col-md-3">
                      <div class="status-box">
                        <div class="status-box-header">
                          <h3><%=map.name%></h3>
                        </div>
                        <div class="status-box-body">
                          <div class="time-spent-container">
                            <div class="progress">
                              <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;min-width: 2em;">0%</div>
                            </div>
                          </div>
                          <div class="progress-chart-container">
                            <input id="progress-chart-<%=map.mapId%>" type="text" value="0" class="progress-chart" data-mapname="<%=map.name%>">
                          </div>
                        </div>
                      </div>
                    </div>
                    <%
                      }
                    %>
                  </div>
                  <div class="row">
                    <%
                      for(var m=12;m<=15;m++){
                        var map = maps[m];
                    %>
                    <div class="col-md-3">
                      <div class="status-box">
                        <div class="status-box-header">
                          <h3><%=map.name%></h3>
                        </div>
                        <div class="status-box-body">
                          <div class="time-spent-container">
                            <div class="progress">
                              <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;min-width: 2em;">0%</div>
                            </div>
                          </div>
                          <div class="progress-chart-container">
                            <input id="progress-chart-<%=map.mapId%>" type="text" value="0" class="progress-chart" data-mapname="<%=map.name%>">
                          </div>
                        </div>
                      </div>
                    </div>
                    <%
                      }
                    %>
                  </div>
                  <div class="row">
                    <%
                      for(var m=16;m<=19;m++){
                        var map = maps[m];
                    %>
                    <div class="col-md-3">
                      <div class="status-box">
                        <div class="status-box-header">
                          <h3><%=map.name%></h3>
                        </div>
                        <div class="status-box-body">
                          <div class="time-spent-container">
                            <div class="progress">
                              <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;min-width: 2em;">0%</div>
                            </div>
                          </div>
                          <div class="progress-chart-container">
                            <input id="progress-chart-<%=map.mapId%>" type="text" value="0" class="progress-chart" data-mapname="<%=map.name%>">
                          </div>
                        </div>
                      </div>
                    </div>
                    <%
                      }
                    %>
                  </div>
                  <div class="row">
                    <%
                      for(var m=20;m<=23;m++){
                        var map = maps[m];
                    %>
                    <div class="col-md-3">
                      <div class="status-box">
                        <div class="status-box-header">
                          <h3><%=map.name%></h3>
                        </div>
                        <div class="status-box-body">
                          <div class="time-spent-container">
                            <div class="progress">
                              <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">0%</div>
                            </div>
                          </div>
                          <div class="progress-chart-container">
                            <input id="progress-chart-<%=map.mapId%>" type="text" value="0" class="progress-chart" data-mapname="<%=map.name%>">
                          </div>
                        </div>
                      </div>
                    </div>
                    <%
                      }
                    %>
                  </div>
                </div>
            </section>
        </div>
      </div>
    </div>

    <%- cooc_footer %>

    <!-- 酷課雲 Header 角色 -->
    <div class="roleInfo" style="display:none;">
      <a id="logonBlock" href="javascript:void(0)">
        <img id="logonpic" src="<%=user.photoUrl%>"/>
        <img id="logonBack" src="/images/logon_back.png">
      </a>
      <div id="logonName"><%=user.name%></div>
      <div id="logonRole"><%=user.role_name%></div>
      <ul class="navigation">
        <li>
          <ul style="display:none">
            <li><a href="http://sso.tp.edu.tw/accountservice/" target="_blank">個人資訊</a></li>
            <li class="logout"><a href="/users/logout">登出</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <script src="/javascripts/jquery-3.2.1.min.js"></script>
    <script src="/javascripts/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script src="/javascripts/jquery.knob.min.js"></script>
    <script src="/javascripts/angular.min.js"></script>
    <script>
      var app = angular.module('myApp', []);
      $(document).ready(function(){

        $('#sidebar-coocLearning').addClass('active');

        //酷課雲 header 處理
        $('.rolemenu').html($('.roleInfo').html());
        $("#logonBlock").on("click",function(){
        	if ($("ul.navigation li > ul").is(":visible")) {
        		$("ul.navigation li > ul").css("display","none");
        	} else {
        		$("ul.navigation li > ul").css("display","block");
        	}
        });
        
        var maps = <%-JSON.stringify(maps)%>;
        for(var m=0;m<maps.length;m++){
          var mapData = maps[m];
          var $progress = $("#progress-chart-"+mapData.mapId);
          var mapName = $progress.attr('data-mapname');
          renderProgressChart($progress, mapName);
        }

      });
      function renderProgressChart($progress,mapName){
        $.ajax({
            url : 'http://learning.cooc.tp.edu.tw/coocLearning/km/kmScoreByUser/'+mapName+'/<%=user.userId%>',
            type: 'GET',
          }).done(function(mapDataSrc){
            var mapDataSrcJson = JSON.parse(mapDataSrc);
            $progress.val(mapDataSrcJson.userKmScore);
            $progress.knob({
              'min':0,
              'max':mapDataSrcJson.kmSumScore,
              'readOnly':true
            });
            console.log('mapDataSrc:'+mapDataSrc);
          });
      }
    </script>
  </body>
</html>
