<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/javascripts/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/javascripts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/dashboard_teacher.css">
    <link rel="stylesheet" href="/stylesheets/logon.css">
    <link rel="stylesheet" href="/stylesheets/box.css">
    <style>
      .wrapper {
        margin-top: -60px;
      }
      .counts-container {
        height: 300px;
      }
      .timeline {
        list-style: none;
      }
      .time {
        position: absolute;
        right: 3px;
        margin-top: -8px;
        font-size: 12px;
        padding: 10px;
        color: rgb(153, 153, 153);
      }
    </style>
  </head>
  <body>
    <%- cooc_header %>
    <div class="wrapper" ng-app="myApp">
      <% include teacher_left_panel %>
      <div class="main">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12">
              <div class="status-box">
                <div class="status-box-header">
                  <h3>最近30天紀錄數量</h3>
                </div>
                <div class="status-box-body">
                  <div id="stCounts" class="counts-container">
                  </div>                    
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="status-box">
                <div class="status-box-header">
                  <h3>WAT</h3>
                </div>
                <div class="status-box-body">
                  <ul id="wat_timeline" class="timeline"></ul>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="status-box">
                <div class="status-box-header">
                  <h3>Learning</h3>
                </div>
                <div class="status-box-body">
                  <ul id="learning_timeline" class="timeline"></ul>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="status-box">
                <div class="status-box-header">
                  <h3>Class</h3>
                </div>
                <div class="status-box-body">
                  <ul id="class_timeline" class="timeline"></ul>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="status-box">
                <div class="status-box-header">
                  <h3>Reading</h3>
                </div>
                <div class="status-box-body">
                  <ul id="reading_timeline" class="timeline"></ul>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="status-box">
                <div class="status-box-header">
                  <h3>Repository</h3>
                </div>
                <div class="status-box-body">
                  <ul id="repository_timeline" class="timeline"></ul>
                </div>
              </div>
            </div>
          </div>      
        </div>
      </div>
    </div>
    
    <%- cooc_footer %>

    <!-- 酷課雲 Header 角色 -->
    <div class="roleInfo" style="display:none;">
      <a id="logonBlock" href="javascript:void(0)">
        <img id="logonpic" src="<%=user.photoUrl%>"/>
        <img id="logonBack" src="/images/logon_back.png">
      </a>
      <div id="logonName"><%=user.name%></div>
      <div id="logonRole"><%=user.role_name%></div>
      <ul class="navigation">
        <li>
          <ul style="display:none">
            <li><a href="http://sso.tp.edu.tw/accountservice/" target="_blank">個人資訊</a></li>
            <li class="logout"><a href="/users/logout">登出</a></li>
          </ul>
        </li>
      </ul>
    </div>
    
    <script src="/javascripts/jquery-3.2.1.min.js"></script>
    <script src="/javascripts/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script src="/javascripts/moment.js"></script>
    <script src="/javascripts/flot/jquery.flot.min.js"></script>
    <script src="/javascripts/flot/jquery.flot.time.min.js"></script>
    <script src="/javascripts/angular.min.js"></script>
    <script>
      var app = angular.module('myApp', []);
      $(document).ready(function(){
      
        $('#sidebar-home').addClass('active');

        //酷課雲 header 處理
        $('.rolemenu').html($('.roleInfo').html());
        $("#logonBlock").on("click",function(){
        	if ($("ul.navigation li > ul").is(":visible")) {
        		$("ul.navigation li > ul").css("display","none");
        	} else {
        		$("ul.navigation li > ul").css("display","block");
        	}
        });

        renderCountsChart();
        //wat
        renderStatements($('#wat_timeline'), '8DF2428339FA41A14866');
        //learning
        renderStatements($('#learning_timeline'), 'E132C6E1AEBC80CA3FFE');
        //class
        renderStatements($('#class_timeline'), '2C6E94C59BE0015DR1SV');
        //reading
        renderStatements($('#reading_timeline'), '605891F68894C76660BC');
        //repository
        renderStatements($('#repository_timeline'), 'FABF1106438B21FAEA38');
      
      });
      function build_tool_tip(label, x, y) {
          return label + " on " + moment(x).format("MMM DD, YYYY") + "<br><div class='tooltip_value'>" + y + "</div>";
      }
      function showTooltip(x, y, contents) {
        $('<div id="tooltip">' + contents + '</div>').css({
          position: 'absolute',
          display: 'none',
          top: y + 5,
          left: x + 15,
          border: '1px solid #333',
          padding: '4px',
          color: '#fff',
          'border-radius': '3px',
          'background-color': '#333',
          opacity: 0.80
        }).appendTo("body").fadeIn(200);
      }
      function renderCountsChart(){
        $.ajax({
          url : 'http://lad.cooc.tp.edu.tw/taipei/WEBAPI/adaptive/counts/thirty?actor_uid=<%=user.userId%>',
          type: 'GET',
        }).done(function(data){
          var dayCounts = [];
          for(var d=0;d<data.length;d++){
            var dayData = data[d];
            dayCounts.push([
                moment(dayData.date, 'YYYY-MM-DD').valueOf(),
                dayData.count
            ]);
          }
          var plotdata = [
            {
              data:dayCounts,
              label:'Statements',
              lines:{ lineWidth:1 },
              shadowSize:5,
              yaxis:1
            }
          ];
          var plot = $.plot($("#stCounts"), plotdata, {
                series: {
                    lines: {
                        show: true,
                        lineWidth: 2,
                        fill: true,
                        fillColor: {
                            colors: [{
                                    opacity: 0.05
                                }, {
                                    opacity: 0.01
                                }
                            ]
                        }
                    },
                    points: {
                        show: true,
                        radius: 3,
                        lineWidth: 1
                    },
                    shadowSize: 2
                },
                grid: {
                    hoverable: true,
                    clickable: true,
                    tickColor: "#eee",
                    borderColor: "#eee",
                    borderWidth: 1
                },
                legend: { position: "nw" },
                colors: ["#d12610", "#37b7f3", "#52e136"],
                xaxes: [ { mode: "time" } ],
                yaxes: [ { min: 0, minTickSize: 1, tickDecimals: 0 }, {
                        alignTicksWithAxis: null,
                        position: 'left',
                        min: 0,
                        minTickSize: 1,
                        tickDecimals: 0
                    } ]
            });

            var previousPoint = null;
            $("#stCounts").bind("plothover", function (event, pos, item) {
              if (item) {
                if (previousPoint != item.dataIndex) {
                    previousPoint = item.dataIndex;
                    $("#tooltip").remove();
                    var x = item.datapoint[0],
                        y = item.datapoint[1];
                     //   xx = format_date(new Date(x));
                     // console.log(x + ":" + xx);
                    showTooltip(item.pageX, item.pageY, build_tool_tip(item.series.label, x, y));
                }
              } else {
                $("#tooltip").remove();
                previousPoint = null;
              }
            });

        });
      }
      function renderStatements($ele, appKey){
        $.ajax({
          url : 'http://lad.cooc.tp.edu.tw/taipei/WEBAPI/adaptive/list?actor_uid=<%=user.userId%>&user_id='+appKey,
          type: 'GET',
        }).done(function(stats){
          if(stats.length!=0){
            for(var s=0;s<stats.length;s++){
              var stat = stats[s];
              $ele.append(
                '<li class="stat">'+
                  '<p>'+stat.actor.name+'<b>'+stat.verb.display["zh-TW"]+'</b>&nbsp;'+stat.object.definition.name["zh-TW"]+'<span class="time">'+moment(stat.timestamp).format("YYYY-MM-DD HH:mm:ss")+'</span></p>'+
                '</li>'
              );
            }
          }else{
            $ele.append('<li class="stat"><p>目前沒有紀錄</p></li>');
          }          
        });
      } 
    </script>
  </body>
</html>
