<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/forum_content.css">
    <link rel="stylesheet" href="/stylesheets/logon.css">
  </head>
  <body>

    <%- cooc_header %>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="content">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
            <a href="forum">返回討論區</a>
            <ul>
              <li class="question">
                <div class="asker">
                  <i class="material-icons">tag_faces</i>
                  <a href="#">小美</a>  
                </div>                               
                <div class="detail">
                  <h4>關於影片疑問</h4>
                  <p>請問大家有出現「您現在還無權觀看該頻道視頻，請等待管理員審核！」嗎?請問大家有出現「您現在還無權觀看該頻道視頻，請等待管理員審核！」嗎?</p>
                  <span class="date">2017/8/20</span>
                </div>
              </li>
              <li class="answer">
                <div class="follower">
                  <i class="material-icons">face</i>
                  <a href="#">小明</a>  
                </div>   
                <div class="detail">
                  <p>沒有欸</p>
                  <span class="date">2017/8/23</span>
                </div>
              </li>
              <li class="answer">
                <div class="follower">
                  <i class="material-icons">face</i>
                  <a href="#">小王</a>  
                </div>     
                <div class="detail">
                  <p>沒有</p>
                  <span class="date">2017/8/21</span>
                </div>
              </li>
              <li class="answer">
                <div class="follower">
                  <i class="material-icons">face</i>
                  <a href="#">阿明</a>  
                </div>    
                <div class="detail">
                  <p>有.....</p>
                  <span class="date">2017/8/21</span>
                </div>
              </li>
              <li class="answer">
                <div class="follower">
                  <i class="material-icons">face</i>
                  <a href="#">小玉</a>  
                </div>    
                <div class="detail">
                  <img src="/images/default-activity-image.png" alt="">
                  <p>我也是QQ</p>
                  <span class="date">2017/8/20</span>
                </div>
              </li>
              <li class="reply">
                <div class="follower">
                  <i class="material-icons">face</i>
                  <a href="#">U</a>  
                </div>    
                <div class="detail comment">
                  <form action="post">
                    <input type="text" name="" id="" placeholder="我要回答問題！">
                  </form>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <%- cooc_footer %>


    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/42974b644e.js"></script>
    <script>
      $(document).ready(function(){
        
        //酷課雲 header 處理
        $('.rolemenu').html($('.roleInfo').html());
        $("#logonBlock").on("click",function(){
          if ($("ul.navigation li > ul").is(":visible")) {
            $("ul.navigation li > ul").css("display","none");
          } else {
            $("ul.navigation li > ul").css("display","block");
          }
        });

      });
    </script>
  </body>
</html>
