<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/forum.css">
    <link rel="stylesheet" href="/stylesheets/logon.css">
  </head>
  <body>

    <%- cooc_header %>

    <div class="container">
      <div class="row">
        <div class="search">
          <form action="">
            <input type="search" placeholder="搜尋問題" class="searchQ">&nbsp;或&nbsp;
            <button class="addQ">
              <span>新增問題</span>
            </button>
          </form>
        </div>
        <div class="col-md-offset-1 col-md-10">
          <div class="message">
            <ul class="forums">
              <li class="forum-header">
                <ul class="forum-titles">
                  <li class="forum-topic">主題</li>
                  <li class="forum-topicCount">回覆總數</li>
                  <li class="forum-replyCount">閱讀次數</li>
                  <li class="forum-freshness">最新回覆</li>
                </ul>
              </li>
              <li class="forum-body">
                <ul class="comments">
                  <li class="forumTopic">
                    <div class="forum-topic-content">
                      <i class="fa fa-commenting-o" aria-hidden="true"></i>&nbsp; 
                      <a class="forum-title" href="forum_content" title="">關於影片疑問</a>
                      <p class="forum-author">
                        <a href="/" title="">小美</a>&nbsp;於
                        <span>2017/8/20 15:58</span>
                      </p>                      
                    </div>
                  </li>
                  <li class="replyCount">6</li>
                  <li class="readCount">23</li>
                  <li class="forumFreshness">
                    <p class="reply-meta">
                      <a href="/" class="authorName">小明</a>            
                      <p class="replyTime">2017/8/23 15:58</p>
                    </p>                
                  </li>
                </ul>         
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <%- cooc_footer %>


    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/42974b644e.js"></script>
    <script>
      $(document).ready(function(){
        
        //酷課雲 header 處理
        $('.rolemenu').html($('.roleInfo').html());
        $("#logonBlock").on("click",function(){
          if ($("ul.navigation li > ul").is(":visible")) {
            $("ul.navigation li > ul").css("display","none");
          } else {
            $("ul.navigation li > ul").css("display","block");
          }
        });

      });
    </script>
  </body>
</html>
