<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/javascripts/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/javascripts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/intern/dashboard_teacher.css">
    <link rel="stylesheet" href="/stylesheets/logon.css">
  </head>
  <body>

    <%- cooc_header %>

    <div class="wrapper" ng-app="myApp">
      <div class="sidebar" ng-class="boolie ? 'closed' : ''">
        <div class="sidebarToggle" ng-click="boolie = !boolie">
          <i class="fa fa-ellipsis-v sidebar-toggleHam menuIcon" aria-hidden="true" ng-class="boolie ? 'rotate' : ''"></i>
          <span class="sidebar-toggleText">縮到最小</span>
        </div>
        <nav role="navigation" class="sidebarNav">
          <ul>
            <li class="sidebar-navItem">
              <a href="/dashboard/student">
                <i class="menuIcon fa fa-home"></i>
                <span>儀表板首頁</span>
              </a>
            </li>
            <li class="sidebar-navItem">
              <i class="menuIcon fa fa-signal"></i>
              <a href="/dashboard/teacher/records">資料檢閱庫</a>
            </li>
            <li class="sidebar-navItem">
              <i class="menuIcon fa fa-clipboard"></i>
              <a href="/dashboard/teacher/wat">教學層次儀表板</a>
            </li>
            <li class="sidebar-navItem">
              <i class="menuIcon fa fa-pencil-square-o"></i>
              <a href="/dashboard/teacher/assessment">測驗分析</a>
            </li>
            <li class="sidebar-navItem">
              <i class="menuIcon fa fa-users" aria-hidden="true"></i>
              <a href="/dashboard/teacher/groupanalysis">群體學習行為分析</a>
            </li>
            <hr>
            <li class="sidebar-navItem">
              <i class="menuIcon fa fa-cog" aria-hidden="true"></i>
              <a href="#">自定首頁</a>
            </li>
          </ul>
        </nav>
        <footer class="sidebar-footer">
            <i class="sidebar-toggleArrow sidebar-menuIcon fa fa-arrow-left" ng-class="boolie ? 'rotate' : ''"></i>
            <span class="sidebar-footerText">
              <a href="/teacher">前往編輯工具</a>
            </span>
        </footer>
      </div>
      <div class="main">

        <div class="col-md-10"></div>

      </div>
    </div>

    <%- cooc_footer %>

    <!-- 酷課雲 Header 角色 -->
    <div class="roleInfo" style="display:none;">
      <a id="logonBlock" href="javascript:void(0)">
        <img id="logonpic" src="<%=user.photoUrl%>"/>
        <img id="logonBack" src="/images/logon_back.png">
      </a>
      <div id="logonName"><%=user.name%></div>
      <div id="logonRole"><%=user.role_name%></div>
      <ul class="navigation">
        <li>
          <ul style="display:none">
            <li><a href="http://sso.tp.edu.tw/accountservice/" target="_blank">個人資訊</a></li>
            <li class="logout"><a href="/users/logout">登出</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <script src="/javascripts/jquery-3.2.1.min.js"></script>
    <script src="/javascripts/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script src="/javascripts/angular.min.js"></script>
    <script>
      var app = angular.module('myApp', []);
      $(document).ready(function(){

        //酷課雲 header 處理
        $('.rolemenu').html($('.roleInfo').html());
        $("#logonBlock").on("click",function(){
        	if ($("ul.navigation li > ul").is(":visible")) {
        		$("ul.navigation li > ul").css("display","none");
        	} else {
        		$("ul.navigation li > ul").css("display","block");
        	}
        });
        
      });
    </script>
  </body>
</html>
