<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/news.css">
    <link rel="stylesheet" href="/stylesheets/logon.css">
  </head>
  <body>

    <%- cooc_header %>

    <div class="container">
      <div class="row">
        <div class="col-md-offset-1 col-md-10">
          <div role="navigation" class="subnav">
            <ul>
              <li>
                <h3 class="newsTitle">最新消息<i class="fa fa-newspaper-o" aria-hidden="true"></i>
                </h3>
                <form action="">
                  <div class="search">
                    <input type="search" placeholder="搜尋" class="searchQ">
                  </div> 
                </form>
              </li> 
            </ul>
          </div>
          <div class="message">
            <form action="" method="post">  
              <table>
                <thead>
                  <tr>
                    <th>
                      <input type="checkbox">
                      <strong></strong>
                    </th>
                    <th><i class="fa fa-trash-o" aria-hidden="true"></i></th>
                    <th>日期</th>
                  </tr>
                </thead>              
                <tbody>
                  <tr>
                    <td>
                      <input type="checkbox" name="" class="" value="1"><strong></strong>
                    </td>                    
                    <td>
                      <p>老王賣瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜</p>
                    </td>                    
                    <td>
                      <span>8月8日</span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <input type="checkbox" name="" class="" value="1"><strong></strong>
                    </td>                   
                    <td>
                      <p>三隻小豬豬豬</p>
                    </td>                    
                    <td>
                      <span>7月24日</span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <input type="checkbox" name="" class="" value="1"><strong></strong>
                    </td>                   
                    <td>
                      <p>星期四猴子去考試</p>
                    </td>                    
                    <td>
                      <span>7月20日</span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <input type="checkbox" name="" class="" value="1"><strong></strong>
                    </td>                   
                    <td>
                      <p>星期五猴子去跳舞</p>
                    </td>                    
                    <td>
                      <span>7月7日</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </form>
          </div>
        </div>
      </div>
    </div>

    <%- cooc_footer %>


    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/42974b644e.js"></script>
    <script>
      $(document).ready(function(){
        
        //酷課雲 header 處理
        $('.rolemenu').html($('.roleInfo').html());
        $("#logonBlock").on("click",function(){
          if ($("ul.navigation li > ul").is(":visible")) {
            $("ul.navigation li > ul").css("display","none");
          } else {
            $("ul.navigation li > ul").css("display","block");
          }
        });

      });
    </script>
  </body>
</html>
