<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/javascripts/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/javascripts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/student.css">
    <link rel="stylesheet" href="/stylesheets/intern/dashboard_teacher.css">
    <link rel="stylesheet" href="/stylesheets/logon.css">
    <link rel="stylesheet" href="/stylesheets/recommendation.css">
  </head>
  <body>

    <%- cooc_header %>

    <div class="wrapper" ng-app="myApp">
      <% include student_left_panel %>
      <div class="main">
        <div class="col-md-12">
            <section id="stuTabs">
                <div class="tabsMenu">
                    <li>
                        <a href="/dashboard/student/coocLearning" class="stuTabsMenu">學習狀態</a>         
                    </li>
                    <li>
                        <a href="#" class="stuTabsMenu active">推薦系統</a>         
                    </li>
                    <li>
                      <a href="/dashboard/student/college" class="stuTabsMenu">大學科系探索</a>
                    </li>
                </div>
                <p style="clear:left"></p>
                <div class="col-md-12"><br />
                  <div class="row">
                    <div class="form-group">
                      <label>國小:</label>
                      <%
                          for(var m=19;m<=23;m++){
                            var map = maps[m];
                      %>
                        <button type="button" class="btn btn-default btn-sm map-btn" data-mapid="<%=map.mapId%>"><%=map.name.substring(2,4)%></button>
                      <%
                          }
                      %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group">
                      <label>國中:</label>
                      <%
                          for(var m=10;m<=18;m++){
                            var map = maps[m];
                      %>
                        <button type="button" class="btn btn-default btn-sm map-btn" data-mapid="<%=map.mapId%>"><%=map.name.substring(2,4)%></button>
                      <%
                          }
                      %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group">
                      <label>高中:</label>
                      <%
                          for(var m=0;m<=10;m++){
                            var map = maps[m];
                      %>
                        <button type="button" class="btn <%=(map.mapId==1)?'btn-info':'btn-default'%> btn-sm map-btn" data-mapid="<%=map.mapId%>"><%=map.name.substring(2,4)%></button>
                      <%
                          }
                      %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-8">
                      <div id="km"></div>
                    </div>
                    <div class="col-md-4">
                      <h5><span id="nodeName" class="label label-info"></span>&nbsp影片觀看推薦</h5><br />
                      <ul id="myTabs" class="nav nav-tabs nav-justified">
                        <li role="presentation"><a id="peerAnchor" href="#peer" aria-controls="peer" role="tab" data-toggle="tab" data-category="peer">同儕推薦</a></li>
                        <li role="presentation" class="disabled"><a href="#assessment" aria-controls="assessment" role="tab" data-toggle="tab" data-category="assessment">評測推薦</a></li>
                        <li role="presentation" class="disabled"><a href="#knowledge" aria-controls="knowledge" role="tab" data-toggle="tab" data-category="knowledge">知識節點</a></li>
                      </ul>
                      <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="peer">
                          <div class="row video-container" id="peer-videos"></div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="assessment">
                          <div class="row video-container" id="assessment-videos"></div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="knowledge">
                          <div class="row video-container" id="knowledge-videos"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </section>
        </div>
      </div>
    </div>

    <%- cooc_footer %>

    <!-- 酷課雲 Header 角色 -->
    <div class="roleInfo" style="display:none;">
      <a id="logonBlock" href="javascript:void(0)">
        <img id="logonpic" src="<%=user.photoUrl%>"/>
        <img id="logonBack" src="/images/logon_back.png">
      </a>
      <div id="logonName"><%=user.name%></div>
      <div id="logonRole"><%=user.role_name%></div>
      <ul class="navigation">
        <li>
          <ul style="display:none">
            <li><a href="http://sso.tp.edu.tw/accountservice/" target="_blank">個人資訊</a></li>
            <li class="logout"><a href="/users/logout">登出</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <script id="videos-template" type="text/x-handlebars-template">
      {{#each videos}}
        <div class="col-md-3 col-sm-6 video_container {{corre recommend}}" data-watched="{{is_watched}}">
          <div class="video" data-url="{{url content}}" data-name="{{name}}" data-type="{{type}}" data-mid="{{media_id}}">
            <div class="thumb">
              <img src="{{video_image}}" class="thumbImg img-responsive" />
            </div>
            <div class="vcontent">
              <h4 class="title">[{{counter @index}}] {{name}}</h4>						
              <p>{{{keyword keyword}}}</p>
              <p>{{{watched_counts counts}}}</p>
              <p class="watchedLabel">{{{watched is_watched}}}</p>
            </div>
          </div>
        </div>
      {{/each}}
    </script>

    <script>
    var data = <%-JSON.stringify(mapData)%>;
    var userCoocId = '<%=user.userId%>';
    </script>
    <script src="/javascripts/jquery-3.2.1.min.js"></script>
    <script src="/javascripts/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script src="/javascripts/d3.v3.min.js"></script>
    <script src="/javascripts/dndTree/dndTree.js"></script>
    <script src="/javascripts/handlebars-v4.0.10.js"></script>
    <script src="/javascripts/angular.min.js"></script>
    <script>
      var app = angular.module('myApp', []);
      $(document).ready(function(){

        $('#sidebar-coocLearning').addClass('active');

        var videosTemplate = Handlebars.compile($('#videos-template').html());

        //酷課雲 header 處理
        $('.rolemenu').html($('.roleInfo').html());
        $("#logonBlock").on("click",function(){
        	if ($("ul.navigation li > ul").is(":visible")) {
        		$("ul.navigation li > ul").css("display","none");
        	} else {
        		$("ul.navigation li > ul").css("display","block");
        	}
        });

        //更換知識節點
        $('.map-btn').on('click', function(){
          var mapId = $(this).attr('data-mapid');
          $('.map-btn.btn-info').removeClass('btn-info').addClass('btn-default');
          $(this).addClass('btn-info');
          $.ajax({
            url : 'http://learning.cooc.tp.edu.tw/coocLearning/coocAPI/d3data/'+mapId,
            type: 'GET',
          }).done(function(mapData){
            treeData = [];
            dataMap = mapData.reduce(function(map, node) {
              map[node.name] = node;
              map[node.name].parentName = node.parent;
              return map;
            }, {});
            mapData.forEach(function(d) {
              // add to parent
              var parent = dataMap[d.parent];
              //console.log(node.name);
              if (parent) {
                // create child array if it doesn't exist
                (parent.children || (parent.children = []))
                // add node to child array
                .push(d);
              } else {
                //console.log(d);
                treeData.push(d);
              }
            });
            treeData = treeData[0]; 
            root = treeData;
            root.children.forEach(toggleAll);
            update(root);
            centerNode(root); 
            showSelectedNode(root.name);

            getRecommendedVideos('peer', selectedNode.name, selectedNode.name);
          });
        });

        //切換推薦影片Tab
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
          $activeTab = $(e.target); // newly activated tab
          $previousTab = e.relatedTarget; // previous active tab
          var category = $activeTab.attr('data-category');
          var parentName = findNodeParentName(selectedNode);
          getRecommendedVideos('peer', parentName, selectedNode.name);
        });
        
        getRecommendedVideos('peer', selectedNode.name, selectedNode.name);

      });
    </script>
  </body>
</html>
