<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/javascripts/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/javascripts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/dashboard_student.css">
    <link rel="stylesheet" href="/stylesheets/logon.css">
    <link rel="stylesheet" href="/stylesheets/timeline.css">
  </head>
  <body>

    <%- cooc_header %>

    <div class="wrapper" ng-app="myApp">
      
      <% include student_left_panel %>

      <div class="main">
        <div class="col-md-12">
          <h4>近期活動</h4><hr>
          <ul class="timeline" id="timeline-block">
            <script id="statements-template" type="text/x-handlebars-template">
              {{#each statements}}
                <li>
                  <img class="keyIcon" src="{{keySelector userId}}">
                  <div class="timeline-item">
                    <span class="time"><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;{{time timestamp}}</span>
                    <h3 class="timeline-header">{{short_result}}</h3>
                    <div class="timeline-body"></div>
                  </div>
                </li>
              {{/each}}
            </script>
          </ul>
          <div style="text-align:center;">
              <button id="moreBtn" type="button" class="btn btn-default form-control">顯示更多</button>
          </div>        
        </div>
      </div>
    </div>

    <%- cooc_footer %>

    <!-- 酷課雲 Header 角色 -->
    <div class="roleInfo" style="display:none;">
      <a id="logonBlock" href="javascript:void(0)">
        <img id="logonpic" src="<%=user.photoUrl%>"/>
        <img id="logonBack" src="/images/logon_back.png">
      </a>
      <div id="logonName"><%=user.name%></div>
      <div id="logonRole"><%=user.role_name%></div>
      <ul class="navigation">
        <li>
          <ul style="display:none">
            <li><a href="http://sso.tp.edu.tw/accountservice/" target="_blank">個人資訊</a></li>
            <li class="logout"><a href="/users/logout">登出</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <script src="/javascripts/jquery-3.2.1.min.js"></script>
    <script src="/javascripts/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script src="/javascripts/moment.js"></script>
    <script src="/javascripts/handlebars-v4.0.10.js"></script>
    <script src="/javascripts/angular.min.js"></script>
    <script>
      var app = angular.module('myApp', []);
      var statementsTemplate;
      var page = 1;
      $(document).ready(function(){

        $('#sidebar-records').addClass('active');

        //酷課雲 header 處理
        $('.rolemenu').html($('.roleInfo').html());
        $("#logonBlock").on("click",function(){
        	if ($("ul.navigation li > ul").is(":visible")) {
        		$("ul.navigation li > ul").css("display","none");
        	} else {
        		$("ul.navigation li > ul").css("display","block");
        	}
        });

        statementsTemplate = Handlebars.compile($('#statements-template').html());
        Handlebars.registerHelper("time", function(timestamp){
				  return moment(timestamp).format("YYYY-MM-DD HH:mm:ss");
        });
        
        Handlebars.registerHelper("keySelector", function(appKey){
          var imgUrl = '/images/cooc.png';
          switch(appKey){
            case 'E132C6E1AEBC80CA3FFE': //learning
              imgUrl = '/images/learning.png';
              break;
            case '2C6E94C59BE0015DR1SV': //class
            imgUrl = '/images/class.png';
              break;
            case '605891F68894C76660BC': //reading
              imgUrl = '/images/reading.png';
              break;
            case 'FABF1106438B21FAEA38': //repository
              break;
          }
				  return imgUrl;
        });
        
        Handlebars.registerHelper("short_result", function(){
				  var stmt = this;
				  var actor = getActorName(stmt.actor);
				  var verb = getVerbName(stmt.verb);				
				  var object = stmt.object;
				  var activity = getActivityName(object);
				  var result = "";
				  if(stmt.result){
					  var resultObj = stmt.result;
					  if(resultObj.score && resultObj.score.raw){
						  result += ($("#lang-grade").html()+":"+resultObj.score.raw)+" ";
					  }
					  if(resultObj.duration){
						  result += ($("#lang-timeSpent").html()+":"+moment.utc(moment.duration(resultObj.duration).asSeconds()*1000).format("HH:mm:ss"));
				  	}
				  }					
				  return new Handlebars.SafeString("<b>"+actor+"</b> "+verb+" "+activity+" <span class='result'>"+result+"</span>");
        });

        renderStatements(0,10,false);
        $('#moreBtn').on('click', function(){
          renderStatements((page-1)*10,10,true);
        });
        
      });
      function renderStatements(skip,limit,more){
        var appKeys = ['8DF2428339FA41A14866','E132C6E1AEBC80CA3FFE','2C6E94C59BE0015DR1SV','605891F68894C76660BC','FABF1106438B21FAEA38'];
        $.ajax({
          url : 'http://lad.cooc.tp.edu.tw/taipei/WEBAPI/adaptive/lists',
          data: 'actor_uid=<%=user.userId%>&app_keys='+JSON.stringify(appKeys)+'&skip='+skip+'&limit='+limit,
          type: 'GET',
        }).done(function(result){
          if(more){
            if(page*limit<result.total){
              page++;
            }else{
              $('#moreBtn').hide();
            }
            $("#timeline-block").append(statementsTemplate({"statements":result.statements}));
          }else{ //初次
            if(result.total!=0){
              $("#timeline-block").append(statementsTemplate({"statements":result.statements}));
              if(result.total>10){
                page++;
                $('#moreBtn').show();
              }
            }else{
              $("#timeline-block").append('<li>目前沒有紀錄喔!</li>');
            }
          }                   
        });
      }
      function getLanguageName(obj){
    		var langResult = "-";
    		var langs = navigator.languages;
    		for(var i=0;i<langs.length;i++){
    			var lang = langs[i];
    			if(obj[lang]){
    				langResult = obj[lang];
    				break;
    			}
    		}
    		return langResult;
    	}
    	function getActorName(actor){
    		if(actor.name){
				  return actor.name;
			  }else if(actor.mbox){
				  return actor.mbox.split(":")[1];
			  }else if(actor.account){
				  return actor.account.name;
			  }else if(actor.openid){
				  return actor.openid;
			  }else if(actor.mbox_sha1sum){
				  return actor.mbox_sha1sum
			  }else{ //Anonymous Group
				  return "Group";
			  }
    	}
    	function getVerbName(verb){
        if(verb.display && verb.display['zh-TW']){
          return verb.display['zh-TW'];
        }
    		return verb.id;
    	}
    	function getActivityName(activity){
    		var activityName = activity.id;
    		if(activity.definition && activity.definition.name){
    			var langActivityName = getLanguageName(activity.definition.name);
    			if(langActivityName!=="-"){
    				activityName = langActivityName;
    			}
    		}
    		return activityName;
    	}
    </script>
  </body>
</html>
