<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/javascripts/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/javascripts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/dashboard_teacher.css">
    <link rel="stylesheet" href="/stylesheets/logon.css">
    <link rel="stylesheet" href="/stylesheets/timeline.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-datetimepicker.min.css">
  </head>
  <body>

    <%- cooc_header %>

    <div class="wrapper" ng-app="myApp">
      <% include teacher_left_panel %>
      <div class="main">
        <div class="col-md-12">
          <h3 class="page-title">近期活動</h3><hr>
          <div class="filter">
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label>授權學校</label>
                  <select id="schoolSelect" class="form-control">
                    <%
                      var schoolList = group['results']['getUserInfo'];
                      if(schoolList.length!=0){
                        for(var i=0;i<schoolList.length;i++){
                          var school = schoolList[i];
                          if(i==0){
                    %>
                            <option value="<%=school['$']['schoolCode']%>" selected><%=school['$']['schoolName']%></option>
                    <%
                          }else{
                    %>
                            <option value="<%=school['$']['schoolCode']%>"><%=school['$']['schoolName']%></option>
                    <%      
                          }
                        }
                      }else{
                    %>
                        <option value="-1">查無學校</option>
                    <%
                      }
                    %>
                  </select>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>學年學期</label>
                  <select id="termSelect" class="form-control">
                    <%
                      var termList = group['results']['getSemesterInfo'];
                      if(termList.length!=0){
                        for(var i=0;i<termList.length;i++){
                          var term = termList[i];
                          if(i==0){
                    %>
                          <option value="<%=term['$']['termId']%>" selected><%=term['$']['schoolYear']%><%=term['$']['termName']%></option>
                    <%
                          }else{
                    %>
                          <option value="<%=term['$']['termId']%>"><%=term['$']['schoolYear']%><%=term['$']['termName']%></option>
                    <%      
                          }
                        }
                      }else{
                    %>
                        <option value="-1">查無學期</option>
                    <%
                      }
                    %>
                  </select>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>班級</label>
                  <select id="classSelect" class="form-control">
                    <%
                      var groupList = group['results']['getStudentList'];
                      if(groupList.length!=0){                     
                        for(var i=0;i<groupList.length;i++){
                          var pg = groupList[i]['$'];
                          var preStudentList = pg['studentList'];
                          if(i==0){
                    %>
                            <option value="<%=JSON.stringify(preStudentList)%>" selected><%=pg['groupName']%></option>
                    <%
                          }else{
                    %>
                            <option value="<%=JSON.stringify(preStudentList)%>"><%=pg['groupName']%></option>
                    <%
                          }
                        }
                      }else{
                    %>
                        <option value="-1">查無班級</option>
                    <%
                      }
                    %>
                  </select>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>學生</label>
                  <select id="studentSelect" class="form-control">
                    <%
                      var groupList = group['results']['getStudentList'];
                      if(groupList.length!=0){
                        var studentList = groupList[0]['$']['studentList'];
                        if(studentList.length!=0){
                    %>
                    <option value="">全部學生</option>
                    <%
                          for(var s=0;s<studentList.length;s++){
                            var student_id = studentList[s]['$']['userId'];
                            var student_name = studentList[s]['$']['userName'];
                    %>
                    <option value="<%=student_id%>"><%=student_name%></option>
                    <%
                          }
                        }else{
                    %>
                    <option value="-1">查無學生</option>
                    <%
                        }
                      }else{
                    %>
                    <option value="-1">查無學生</option>
                    <%
                      }
                    %>
                  </select>
                </div>
              </div>
            </div>
                        <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label>時間</label>
                  <select id="dateSelect" class="form-control">
                    <option value="1" selected>最近一周</option>
							      <option value="0">最近10筆</option>
							      <option value="2">最近一個月</option>
							      <option value="3">上個月</option>
							      <option value="4">這個月</option>
							      <option value="5">自訂時間</option>
                  </select>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>開始時間</label>
                  <input id="since" type="text" class="form-control" placeholder="YYYY-MM-dd">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>結束時間</label>
                  <input id="until" type="text" class="form-control" placeholder="YYYY-MM-dd">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>搜尋</label>
                  <a id="searchBtn" class="btn btn-primary form-control"><i class="fa fa-search" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
          </div>
          <ul class="timeline" id="timeline-block">
            <script id="statements-template" type="text/x-handlebars-template">
              {{#each statements}}
                <li>
                  <img class="keyIcon" src="{{keySelector userId}}">
                  <div class="timeline-item">
                    <span class="time"><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;{{time timestamp}}</span>
                    <h3 class="timeline-header">{{short_result}}</h3>
                    <div class="timeline-body"></div>
                  </div>
                </li>
              {{/each}}
            </script>
          </ul>
          <div style="text-align:center;">
              <button id="moreBtn" type="button" class="btn btn-default form-control">顯示更多</button>
          </div>
        </div>
      </div>
    </div>

    <%- cooc_footer %>

    <!-- 酷課雲 Header 角色 -->
    <div class="roleInfo" style="display:none;">
      <a id="logonBlock" href="javascript:void(0)">
        <img id="logonpic" src="<%=user.photoUrl%>"/>
        <img id="logonBack" src="/images/logon_back.png">
      </a>
      <div id="logonName"><%=user.name%></div>
      <div id="logonRole"><%=user.role_name%></div>
      <ul class="navigation">
        <li>
          <ul style="display:none">
            <li><a href="http://sso.tp.edu.tw/accountservice/" target="_blank">個人資訊</a></li>
            <li class="logout"><a href="/users/logout">登出</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <script src="/javascripts/jquery-3.2.1.min.js"></script>
    <script src="/javascripts/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script src="/javascripts/moment.js"></script>
    <script src="/javascripts/handlebars-v4.0.10.js"></script>
    <script src="/javascripts/bootstrap-datetimepicker.min.js"></script>
    <script src="/javascripts/xAPIWrapper/cryptojs_v3.1.2.min.js"></script>
    <script src="/javascripts/xAPIWrapper/verbs.min.js"></script>
    <script src="/javascripts/xAPIWrapper/xapiwrapper.js"></script>
    <script src="/javascripts/xAPIWrapper/xapistatement.js"></script>
    <script src="/javascripts/angular.min.js"></script>
    <script>
      var app = angular.module('myApp', []);
      var statementsTemplate;
      var page = 1;
      $(document).ready(function(){
        $('#sidebar-records').addClass('active');
        
        //酷課雲 header 處理
        $('.rolemenu').html($('.roleInfo').html());
        $("#logonBlock").on("click",function(){
        	if ($("ul.navigation li > ul").is(":visible")) {
        		$("ul.navigation li > ul").css("display","none");
        	} else {
        		$("ul.navigation li > ul").css("display","block");
        	}
        });

        var config = {
          endpoint:'http://lad.cooc.tp.edu.tw/taipei/TCAPI/',
          user:'E132C6E1AEBC80CA3FFE',
          password:'37EBE57124B1112A1251'
        };
			  ADL.XAPIWrapper.changeConfig(config);

        statementsTemplate = Handlebars.compile($('#statements-template').html());
        Handlebars.registerHelper("time", function(timestamp){
				  return moment(timestamp).format("YYYY-MM-DD HH:mm:ss");
        });

        Handlebars.registerHelper("keySelector", function(appKey){
          var imgUrl = '/images/cooc.png';
          switch(appKey){
            case 'E132C6E1AEBC80CA3FFE': //learning
              imgUrl = '/images/learning.png';
              break;
            case '2C6E94C59BE0015DR1SV': //class
            imgUrl = '/images/class.png';
              break;
            case '605891F68894C76660BC': //reading
              imgUrl = '/images/reading.png';
              break;
            case 'FABF1106438B21FAEA38': //repository
              break;
          }
				  return imgUrl;
        });

        Handlebars.registerHelper("short_result", function(){
				  var stmt = this;
				  var actor = getActorName(stmt.actor);
				  var verb = getVerbName(stmt.verb);				
				  var object = stmt.object;
				  var activity = getActivityName(object);
				  var result = "";
				  if(stmt.result){
					  var resultObj = stmt.result;
					  if(resultObj.score && resultObj.score.raw){
						  result += ($("#lang-grade").html()+":"+resultObj.score.raw)+" ";
					  }
					  if(resultObj.duration){
						  result += ($("#lang-timeSpent").html()+":"+moment.utc(moment.duration(resultObj.duration).asSeconds()*1000).format("HH:mm:ss"));
				  	}
				  }					
				  return new Handlebars.SafeString("<b>"+actor+"</b> "+verb+" "+activity+" <span class='result'>"+result+"</span>");
        });
        /*
        renderStatements(0,10,false);
        $('#moreBtn').on('click', function(){
          renderStatements((page-1)*10,10,true);
        });
        */
        $("#since").datetimepicker({
        	useCurrent:false,
          showClose:true,
          format: 'YYYY-MM-DD'
        });
			  $("#since").data("DateTimePicker").disable();
        $("#until").datetimepicker({
          useCurrent:false,
          showClose:true,
          maxDate:new Date(),
          format: 'YYYY-MM-DD'
        });
        $("#until").data("DateTimePicker").disable();
		    
		    $('#dateSelect').on('change',function(){
          var value = $(this).val();
          switch(value){
            case '0': //最近10筆
              $("#since").data("DateTimePicker").date(null);
            	$("#since").data("DateTimePicker").disable();
            	$("#until").data("DateTimePicker").date(null);
            	$("#until").data("DateTimePicker").disable();
            	break;
            case '1': //最近一周
            	setLastSevenDaysFunction();
            	$("#since").data("DateTimePicker").disable();
            	$("#until").data("DateTimePicker").disable();
            	break;
            case '2': //最近一個月
            	setLastThirtyDaysFunction();
            	$("#since").data("DateTimePicker").disable();
            	$("#until").data("DateTimePicker").disable();
            	break;
            case '3': //上個月
            	setLastMonthFunction();
            	$("#since").data("DateTimePicker").disable();
            	$("#until").data("DateTimePicker").disable();
            	break;
            case '4': //這個月
            	setThisMonthFunction();
            	$("#since").data("DateTimePicker").disable();
            	$("#until").data("DateTimePicker").disable();
            	break;
            case '5': //自訂時間
            	$("#since").data("DateTimePicker").enable();
            	$("#until").data("DateTimePicker").enable();
            	break;
            default:
            	$("#since").data("DateTimePicker").date(null);
              $("#until").data("DateTimePicker").date(null);
            	$("#since").data("DateTimePicker").disable();
        			$("#until").data("DateTimePicker").disable();
          }
        });

        //選擇學校處理
        $('#schoolSelect').on('change', function(){
          $('#termSelect').empty();
          $('#classSelect').empty();
          $('#studentSelect').empty();
          var targetSchoolId = $(this).val();
          selectSchool(targetSchoolId,$('#termSelect'));
        });
        //選擇學期處理
        $('#termSelect').on('change', function(){
          $('#classSelect').empty();
          $('#studentSelect').empty();
          var targetTermId = $(this).val();
          selectTerm(targetTermId,$('#classSelect'));
        });
        //選擇班級處理
        $('#classSelect').on('change', function(){
          $('#studentSelect').empty();
          var targetClassId = $(this).val();
          if(targetClassId!=="-1"){
            var classGroup = JSON.parse(targetClassId);
            if(classGroup.length!=0){
              $('#studentSelect').append('<option value="" selected>全部學生</option>')
              for(var cg=0;cg<classGroup.length;cg++){
                $('#studentSelect').append('<option value="'+classGroup[cg]['$']['userId']+'">'+classGroup[cg]['$']['userName']+'</option>');
              }
            }else{
              $('#studentSelect').append('<option value="-1" selected>查無學生</option>');
            }
          }else{
            $('#studentSelect').append('<option value="-1" selected>查無學生</option>');
          }
        });

        $('#searchBtn').on('click', function(){
          $('#timeline-block').empty();
          var classId = $('#classSelect').val();
          if(!classId || classId=='-1' || JSON.parse(classId).length==0){
            $('#timeline-block').append('<li>查無資料</li>');
          }else{
            renderStatements();
          }
        });
        
      });
      function toObj(queryObj){
        var outObj = new Object();
        for (var key in queryObj) {
          if (key == "toString" ||
              key == "toObj" ||
              queryObj[key] == null) {
              continue;
          }
          var val = queryObj[key];
          if (typeof val == "object") {
            val = JSON.stringify(val);
          }
          outObj[key] = val;
        }
        return outObj;
      }
      function renderStatements(){
        var studentId = $('#studentSelect').val();
        if(studentId && studentId!='-1'){
          studentId = $('#studentSelect').val()
        }else{
          studentId = null;
        }
        var studentArr = $('#classSelect').val();
        if(studentArr && studentArr!='-1' && JSON.parse(studentArr).length!=0){
         var studentArrCode = JSON.parse(studentArr);
         studentArr = [];
         for(var s=0;s<studentArrCode.length;s++){
          studentArr.push(studentArrCode[s]['$']['userId']);
         }
        }else{
          studentArr = [];
        }
        var queryObj = {
          cuid:'<%=user.userId%>',
          since:$('#since').val(),
          until:$('#until').val(),
          studentArr:studentArr,
          studentId:studentId,
          role:'TEACHER',
          limit:10
        };
        ADL.XAPIWrapper.getStatements(null, null, function(err, res, body){
          $("#timeline-block").append(statementsTemplate({"statements":res.statements}));
        });
        /*
        var appKeys = ['8DF2428339FA41A14866','E132C6E1AEBC80CA3FFE','2C6E94C59BE0015DR1SV','605891F68894C76660BC','FABF1106438B21FAEA38'];
        $.ajax({
          beforeSend: function (xhr) {
            xhr.setRequestHeader ("Authorization", "Basic " + btoa(username + ":" + password));
          },
          url:'http://lad.cooc.tp.edu.tw/taipei/TCAPI/statements',
          data:'role=TEACHER&cuid=<%=user.userId%>&limit=10&studentId='+studentId+'&studentArr='+JSON.stringify(studentArr),
          type: 'GET',
        }).done(function(result){
          if(more){
            if(page*limit<result.total){
              page++;
            }else{
              $('#moreBtn').hide();
            }
            $("#timeline-block").append(statementsTemplate({"statements":result.statements}));
          }else{ //初次
            if(result.total!=0){
              $("#timeline-block").append(statementsTemplate({"statements":result.statements}));
              if(result.total>10){
                page++;
                $('#moreBtn').show();
              }
            }else{
              $("#timeline-block").append('<li>目前沒有紀錄喔!</li>');
            }
          }                   
        });
        */
      }
      function getLanguageName(obj){
    		var langResult = "-";
    		var langs = navigator.languages;
    		for(var i=0;i<langs.length;i++){
    			var lang = langs[i];
    			if(obj[lang]){
    				langResult = obj[lang];
    				break;
    			}
    		}
    		return langResult;
    	}
    	function getActorName(actor){
    		if(actor.name){
				  return actor.name;
			  }else if(actor.mbox){
				  return actor.mbox.split(":")[1];
			  }else if(actor.account){
				  return actor.account.name;
			  }else if(actor.openid){
				  return actor.openid;
			  }else if(actor.mbox_sha1sum){
				  return actor.mbox_sha1sum
			  }else{ //Anonymous Group
				  return "Group";
			  }
    	}
    	function getVerbName(verb){
        if(verb.display && verb.display['zh-TW']){
          return verb.display['zh-TW'];
        }
    		return verb.id;
    	}
    	function getActivityName(activity){
    		var activityName = activity.id;
    		if(activity.definition && activity.definition.name){
    			var langActivityName = getLanguageName(activity.definition.name);
    			if(langActivityName!=="-"){
    				activityName = langActivityName;
    			}
    		}
    		return activityName;
      }
      function setLastSevenDaysFunction(){
        var d = new Date();
        var year = d.getUTCFullYear();
        var month = d.getUTCMonth()+1;
        var day = d.getUTCDate();
                
        var today = new Date();
        var last30 = new Date(today);
        last30.setDate(today.getDate()-7);
                
        var l7_year = last30.getUTCFullYear();
        var l7_month = last30.getUTCMonth()+1;
        var l7_day = last30.getUTCDate();
        var setSince = new Date(l7_year + "-" + l7_month + "-" + l7_day).toISOString().slice(0,10);
        var setUntil = new Date(year + "-" + month + "-" + day).toISOString().slice(0,10);
        $("#since").val(setSince);
        $("#until").val(setUntil);
      }
      function setLastThirtyDaysFunction(){
        var d = new Date();
        var year = d.getUTCFullYear();
        var month = d.getUTCMonth()+1;
        var day = d.getUTCDate();
                
        var today = new Date();
        var last30 = new Date(today);
        last30.setDate(today.getDate()-30);
                
        var lyear = last30.getUTCFullYear();
        var lmonth = last30.getUTCMonth()+1;
        var lday = last30.getUTCDate();
            
        var setSince = new Date(lyear + "-" + lmonth + "-" + lday).toISOString().slice(0,10);
        var setUntil = new Date(year + "-" + month + "-" + day).toISOString().slice(0,10);
        $("#since").val(setSince);
        $("#until").val(setUntil);
      }
      function setLastMonthFunction(){
        var d = new Date();
        var year = d.getUTCFullYear();
        var month = d.getUTCMonth()+1;
        if(month==1){
          month = 12;
          year--;
        }else if(month==12){
          month = 1;
          year++;
        }else{
          month--;
        }
        var setSince = new Date(year+"-"+month+"-01").toISOString().slice(0,10);
        var setUntil = new Date(year+"-"+month+"-31").toISOString().slice(0,10);
        $("#since").val(setSince);
        $("#until").val(setUntil);
      }
      function setThisMonthFunction(){
        var d = new Date();
        var year = d.getUTCFullYear();
        var month = d.getUTCMonth()+1;
        var setSince = new Date(year+"-"+month+"-01").toISOString().slice(0,10);
        var setUntil = new Date(year+"-"+month+"-31").toISOString().slice(0,10);
        $("#since").val(setSince);
        $("#until").val(setUntil);
      }
      function selectSchool(targetSchoolId,targetTermSelect){
        $.ajax({
            url: '/api/group/semester/'+targetSchoolId,
            type:"GET",
            success: function(semester){
              var termList = semester['info']['body'][0]['school'][0]['termList'][0]['term'];
              if(termList.length!=0){
                for(var i=0;i<termList.length;i++){
                  var term = termList[i];
                  if(i==0){
                    targetTermSelect.append('<option value="'+term['$']['termId']+'" selected>'+term['$']['schoolYear']+term['$']['termName']+'</option>');
                  }else{
                    targetTermSelect.append('<option value="'+term['$']['termId']+'">'+term['$']['schoolYear']+term['$']['termName']+'</option>');
                  }
                }
                targetTermSelect.val(targetTermSelect.find("option:first").val()).trigger("change");
              }else{
                targetTermSelect.append('<option value="-1">查無學期</option>');
              }
            },
            error:function(xhr, ajaxOptions, thrownError){
              console.log(xhr.status);
              console.log(thrownError);
            }
         	});
      }
      function selectTerm(targetTermId,targetClassSelect){
        $.ajax({
            url: '/api/group/class/'+targetTermId,
            type:"GET",
            success: function(groups){
              var getGroups = groups['info']['body'][0]['groupList'][0];
              if(typeof getGroups === 'object'){
                var classGroups = getGroups['group'];
                for(var i=0;i<classGroups.length;i++){
                  var getClass = classGroups[i]['$'];
                  var getStudentList = classGroups[i]['studentList'][0];
                  var studentList = [];
                  if(typeof getStudentList === 'object'){
                    studentList = getStudentList['student'];
                  }
                  if(i==0){
                    targetClassSelect.append("<option value='"+JSON.stringify(studentList)+"' selected>"+getClass['groupName']+"</option>");
                  }else{
                    targetClassSelect.append("<option value='"+JSON.stringify(studentList)+"'>"+getClass['groupName']+"</option>");
                  }
                }
              }else{
                targetClassSelect.append('<option value="-1">查無班級</option>');
              }
            },
            error:function(xhr, ajaxOptions, thrownError){
              console.log(xhr.status);
              console.log(thrownError);
            }
         	});
      }
    </script>
  </body>
</html>
