<div class="sidebar" ng-class="boolie ? 'closed' : ''">
        <div class="sidebarToggle" ng-click="boolie = !boolie">
          <i class="fa fa-ellipsis-v sidebar-toggleHam menuIcon" aria-hidden="true" ng-class="boolie ? 'rotate' : ''"></i>
          <span class="sidebar-toggleText">縮到最小</span>
        </div>
        <nav role="navigation" class="sidebarNav">
          <ul>
            <li id="sidebar-home" class="sidebar-navItem">
              <a href="/dashboard/student">
                <i class="menuIcon fa fa-home"></i>
                <span>儀表板首頁</span>
              </a>
            </li>
            <li id="sidebar-records" class="sidebar-navItem">
              <a href="/dashboard/student/records">
                <i class="menuIcon fa fa-signal"></i>
                <span>資料檢閱庫</span>
              </a>
            </li>
            <li id="sidebar-wat" class="sidebar-navItem">
              <a href="/dashboard/student/wat">
                <i class="menuIcon fa fa-clipboard"></i>
                <span>AWT</span>
              </a>
            </li>
            <li id="sidebar-coocLearning" class="sidebar-navItem">
              <a href="/dashboard/student/coocLearning">
                <i class="menuIcon fa fa-clipboard"></i>
                <span>酷課學習</span>
              </a>
            </li>
            <li id="sidebar-badge" class="sidebar-navItem">
              <a href="/dashboard/student/badge">
                <i class="fa fa-trophy" aria-hidden="true"></i>
                <span>徽章</span>
              </a>
            </li>
            <hr>
            <li id="sidebar-custom" class="sidebar-navItem">
              <a href="/dashboard/student/custom">
                <i class="menuIcon fa fa-cog" aria-hidden="true"></i>
                <span>自定首頁</span>
              </a>
            </li>
          </ul>
        </nav>
        <footer class="sidebar-footer">
            <a href="/student/activity?p=1">
              <i class="sidebar-toggleArrow sidebar-menuIcon fa fa-arrow-left" ng-class="boolie ? 'rotate' : ''"></i>
              <span class="sidebar-footerText">前往編輯工具</span>
            </a>
        </footer>
      </div>