<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/javascripts/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/javascripts/DataTables/datatables.min.css">
    <link rel="stylesheet" href="/javascripts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/javascripts/ionicons-2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="/stylesheets/AdminLTE.min.css">
    <link rel="stylesheet" href="/stylesheets/dashboard_teacher.css">
    <link rel="stylesheet" href="/stylesheets/logon.css">
  </head>
  <body>

    <%- cooc_header %>

    <div class="wrapper" ng-app="myApp">
      <% include teacher_left_panel %>
      <div class="main">
        <div class="col-md-12">
            <h3 class="page-title">AWT</h3>
            <hr>
            <div class="row">
              <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                  <span class="info-box-icon bg-aqua">
                    <i class="ion ion-filing"></i>
                  </span>
                  <div class="info-box-content">
                    <span class="info-box-text">活動數</span>
                    <span class="info-box-number"><%=activity_counts%></span>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                  <span class="info-box-icon bg-aqua">
                    <i class="ion ion-document"></i>
                  </span>
                  <div class="info-box-content">
                    <span class="info-box-text">教材數</span>
                    <span class="info-box-number"><%=material_counts%></span>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                  <span class="info-box-icon bg-aqua">
                    <i class="ion ion-ios-people"></i>
                  </span>
                  <div class="info-box-content">
                    <span class="info-box-text">群組數</span>
                    <span class="info-box-number"><%=group_counts%></span>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                  <span class="info-box-icon bg-aqua">
                    <i class="ion ion-ios-person"></i>
                  </span>
                  <div class="info-box-content">
                    <span class="info-box-text">學生數</span>
                    <span class="info-box-number"><%=student_counts%></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="box box-primary">
                  <div class="box-header with-border">
                    <h3 class="box-title">活動類型</h3>
                  </div>
                  <div class="box-body no-padding">
                    <canvas id="activity-type-chart"></canvas>
                    <p style="display:none;" id="no-activity-type">查無資料</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="box box-primary">
                  <div class="box-header with-border">
                    <h3 class="box-title">教材類型</h3>
                  </div>
                  <div class="box-body no-padding">
                    <canvas id="material-type-chart"></canvas>
                    <p style="display:none;" id="no-material-type">查無資料</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="box box-primary">
                  <div class="box-header with-border">
                    <h3 class="box-title">已指派活動一覽</h3>
                  </div>
                  <div class="box-body">
                    <table id="assignActivity" class="table">
                      <thead>
                        <tr>
                          <th>活動名稱</th>
                          <th>類型</th>
                          <th>指派群組</th>
                          <th>指派日期</th>
                          <th>開始日期</th>
                          <th>結束日期</th>
                          <th>操作</th>
                        </tr>
                      </thead>
                      <tbody></tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>

    <%- cooc_footer %>

    <!-- 酷課雲 Header 角色 -->
    <div class="roleInfo" style="display:none;">
      <a id="logonBlock" href="javascript:void(0)">
        <img id="logonpic" src="<%=user.photoUrl%>"/>
        <img id="logonBack" src="/images/logon_back.png">
      </a>
      <div id="logonName"><%=user.name%></div>
      <div id="logonRole"><%=user.role_name%></div>
      <ul class="navigation">
        <li>
          <ul style="display:none">
            <li><a href="http://sso.tp.edu.tw/accountservice/" target="_blank">個人資訊</a></li>
            <li class="logout"><a href="/users/logout">登出</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <script src="/javascripts/jquery-3.2.1.min.js"></script>
    <script src="/javascripts/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script src="/javascripts/Chart.min.js"></script>
    <script src="/javascripts/DataTables/datatables.min.js"></script>
    <script src="/javascripts/angular.min.js"></script>
    <script>
      var app = angular.module('myApp', []);
      var backgroundColor = ['#ff6384','#36a2eb','#cc65fe','#ffce56','#00ef49'];
      $(document).ready(function(){
        $('#sidebar-awt').addClass('active');
        //酷課雲 header 處理
        $('.rolemenu').html($('.roleInfo').html());
        $("#logonBlock").on("click",function(){
        	if ($("ul.navigation li > ul").is(":visible")) {
        		$("ul.navigation li > ul").css("display","none");
        	} else {
        		$("ul.navigation li > ul").css("display","block");
        	}
        });

        renderActivityTypeCounts();
        renderMaterialTypeCounts();

        //取得已指派的活動
        $('#assignActivity').DataTable({
          language:{
            url:'/locales/<%=t('lang-code')%>/dataTable.json'
          },
          serverSide: true,
          processing:true,
          deferLoading:0,
          paging: true,
          pagingType: 'full_numbers',
          ajax:{
            url:'/api/activity/assign'
          },
          order: [[ 3, "desc" ]],
          columns: [
            { data:'name' },
            { data:'type', orderable:false, searchable:false, render:function(data, type, row){
              var typeStr = '<span class="label label-default">一般</span>';
              switch(data){
                case 2:
                  typeStr = '<span class="label label-success">適性</span>';
                  break;
                case 3:
                  typeStr = '<span class="label label-primary">前後測</span>';
                  break;
              }
              return typeStr;
            } },
            { data:'group_name', searchable:false },
            { data:'assign_date_format', searchable:false },
            { data:'start_date_format', searchable:false, render: function(data, type, row){
              if(data){
                if(data=='1970/01/01'){
                  return '';
                }else{
                  return data;
                }
              }else{
                return '';
              }
            } },
            { data:'end_date_format', searchable:false, render: function(data, type, row){
              if(data){
                if(data=='1970/01/01'){
                  return '';
                }else{
                  return data;
                }
              }else{
                return '';
              }
            } },
            { data:'activity_id', orderable:false, searchable:false, render:function(data, type, row){
              var view_url = '/dashboard/teacher/wat/';
              switch(row['type']){
                case 2:
                  view_url += ('adaptive_activity/'+data);
                  break;
                default:
                  view_url += ('activity/'+data);
              }
              return '<a href="'+view_url+'" class="btn btn-primary">檢視</a>';
            } }
          ]
        });
        $('#assignActivity').DataTable().ajax.reload(); 
        
      });
      function getActivityTypeName(type){
        var typeName = '';
        switch(type){
          case 1: 
            typeName = '一般';
            break; 
          case 2: 
            typeName = '適性';
            break;
          case 3: 
            typeName = '前後測';
            break;
        }
        return typeName;
      }
      function getMaterialTypeName(type){
        var typeName = '';
        switch(type){
          case 1: //link
            typeName = '連結';
            break; 
          case 2: //video
            typeName = '影片';
            break;
          case 3: //pdf
            typeName = 'PDF';
            break;
          case 4: //assessment
            typeName = '測驗';
            break;
          case 5: //article
            typeName = '文章';
            break;
        }
        return typeName;
      }
      function renderActivityTypeCounts(){
        $.ajax({
					url: '/api/dashboard/awt/activity_type_counts',
					type: 'GET'
				}).done(function (result) {
					if(result.success && result.data && result.data.length!=0){
            var dataArr = [];
            var labelArr = [];
            var colorArr = [];
            var datas = result.data;
            for(var d=0;d<datas.length;d++){
              dataArr.push(datas[d].counts);
              labelArr.push(getActivityTypeName(datas[d].type));
              colorArr.push(backgroundColor[d]);
            }
            var ctx = $("#activity-type-chart");
            new Chart(ctx,{
              type: 'pie',
              data: {
                datasets: [{
                  data: dataArr,
                  backgroundColor:colorArr
                }],
                labels: labelArr
              }
            });
          }else{
            $('#activity-type-chart').hide();
            $('#no-activity-type').show();
          }
				});
      }
      function renderMaterialTypeCounts(){
        $.ajax({
					url: '/api/dashboard/awt/material_type_counts',
					type: 'GET'
				}).done(function (result) {
					if(result.success && result.data && result.data.length!=0){
            var dataArr = [];
            var labelArr = [];
            var colorArr = [];
            var datas = result.data;
            for(var d=0;d<datas.length;d++){
              dataArr.push(datas[d].counts);
              labelArr.push(getMaterialTypeName(datas[d].type));
              colorArr.push(backgroundColor[d]);
            }
            var ctx = $("#material-type-chart");
            new Chart(ctx,{
              type: 'pie',
              data: {
                datasets: [{
                  data: dataArr,
                  backgroundColor:colorArr
                }],
                labels: labelArr
              }
            });
          }else{
            $('#material-type-chart').hide();
            $('#no-material-type').show();
          }
				});
      }
    </script>
  </body>
</html>
