.main .main-container {}

#readmore {
	display: none;
	text-align: center;
}

#timeline {
	height: 100%;
	overflow: auto;
}

.main #boxs-container {
	width: 95%;
	height: auto;
	margin-bottom: 30px;
}

.main #filter-time {
	margin: 3% auto;
}

.main #showResult {
	display: none;
	height: 500px;
}

.main #noResult {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	text-align: center;
}

.main .boxs-justify {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}

.main .box {
	border-radius: 10px;
	width: 150px;
	height: 150px;
}

.main .box-part-up>span {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-25%);
	transform: translateY(-25%);
}

.main .box-part {
	height: 50%;
	text-align: center;
}

.main .box-part-down>form {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-25%);
	transform: translateY(-25%);
}

.main .box-single {
	text-align: center;
}

.main .box-single>span,
.main .box-single>form {
	position: relative;
	overflow: hidden;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.main hr {
	margin: 0 auto;
}