<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/javascripts/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/javascripts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/intern/dashboard_teacher.css">
    <link rel="stylesheet" href="/stylesheets/forum.css">
    <link rel="stylesheet" href="/stylesheets/logon.css">
  </head>
  <body>

    <%- cooc_header %>

    <div class="wrapper" ng-app="myApp">
        <div class="sidebar" ng-class="boolie ? 'closed' : ''">
        <div class="sidebarToggle" ng-click="boolie = !boolie">
          <i class="fa fa-ellipsis-v sidebar-toggleHam menuIcon" aria-hidden="true" ng-class="boolie ? 'rotate' : ''"></i>
          <span class="sidebar-toggleText">縮小</span>
        </div>
        <nav role="navigation" class="sidebarNav">
          <ul>
            <%
                if(user.isTeacher){
            %>
            <li class="sidebar-navItem">
                <i class="menuIcon fa fa-futbol-o" aria-hidden="true"></i>
                <a href="/teacher/activity/edit/<%=activity.activity_id%>">活動編輯</a>
            </li>
            <li class="sidebar-navItem">
                <i class="menuIcon fa fa-users" aria-hidden="true"></i>
                <a href="/group">群組設定</a>
            </li>
            <li class="sidebar-navItem">
                <i class="menuIcon fa fa-area-chart" aria-hidden="true"></i>
                <a href="/dashboard/teacher">儀表板</a>
            </li>
            <%
                }else{
            %>
            <li class="sidebar-navItem">
                <i class="menuIcon fa fa-futbol-o" aria-hidden="true"></i>
                <a href="/student/activity/assign/<%=activity.activity_id%>">返回活動細節</a>
            </li>
            <%
                }
            %>
          </ul>
        </nav>
      </div><!-- Sidebar -->
      <div class="main">
        <div class="col-md-12">
          <h2><i class="fa fa-commenting-o" aria-hidden="true"></i> <%=activity.activity_name%>&nbsp;討論區</h2>
        </div>
        <hr>
        <div class="col-md-9">
            <br>
            <a id="newQuestionBtn" class="btn btn-primary"><i class="fa fa-plus-circle" aria-hidden="true"></i> 提問</a>
            <div id="new-question">
              <form id="question_form" method="POST" action="/forum/activity/<%=activity.activity_id%>/questions">
                  <div class="form-group">
                      <label>標題</label>
                      <input class="form-control" id="title" name="title" value="" type="text" maxlength="30">
                  </div>
                  <div class="form-group">
                      <lable>問題</lable>
                      <textarea class="form-control" id="content" name="content" value=""></textarea>
                  </div>
                  <input type="hidden" name="creator_id" value="<%=activity.creator_id%>">
                  <input type="hidden" name="creator_cooc_id" value="<%=activity.creator_cooc_id%>">
                  <button type="button" id="cancelNewQuestionBtn" class="btn btn-default">取消</button>
                  <input type="submit" id="askQuestionBtn" class="btn btn-primary" value="發布">
              </form>
            </div>
            <div class="message">
                <%
                    var totals = questions.total;
                    if(totals!=0){
                %>
                    <table id="questionTable">
                        <tbody>
                        <%
                            var questions = questions.data;
                            for(var i=0;i<questions.length;i++){
                                var question = questions[i];
                        %>
                            <tr onclick="window.document.location='/forum/teacher/activity/<%=activity.activity_id%>/questions/<%=question.id%>';">
                                <td>
                                    <p><i class="fa fa-comments-o" aria-hidden="true"></i>&nbsp<%=question.title%></p>
                                    <span><%=question.user_name%> / <%=question.post_date_format%></span>
                                </td>
                                <td>
                                    <div class="reply">
                                        <p><%=question.response_counts%></p>
                                        <p>回覆</p>
                                    </div>
                                </td>
                                <td>
                                    <div class="read">
                                        <p><%=question.view_counts%></p>
                                        <p>閱讀</p>
                                    </div>
                                </td>
                            </tr>
                        <%
                            }
                        %>                       
                        </tbody>
                    </table>
                <%
                        if(totals>10){
                %>
                <br><a id="showMoreQuestionBtn" class="btn btn-primary" data-total="<%=totals%>" data-start="10" data-end="10" data-draw="2" onclick="showMoreQuestions(this)">顯示更多問題</a>
                <%
                        }
                    }else{
                %>
                <h4 style="text-align:center;">目前沒有任何問題</h4>
                <%
                    }
                %>
                
            </div>
        </div>
        <div class="col-md-3">
            <form method="POST" action="/forum/teacher/activity/<%=activity.activity_id%>/questions">
                <div class="input-group">
                    <input id="q" name="q" type="text" placeholder="搜尋" class="form-control" value="<%=search?searchVal:''%>">
                    <span class="input-group-btn">
                        <input type="submit" class="btn btn-default" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </span>
                </div>
            </form>
            <div role="navigation" class="subnav">
                <ul>
                    <li>
                        <h3>分類</h3>
                    </li>
                    <li>
                        <a href="/forum/teacher/activity/<%=activity.activity_id%>/questions" class="<%=(!search && !trace && !my)?'target':''%>">全部
                            <span class="messageNum"><%=question_counts%></span>
                        </a>
                    </li>
                    <li>
                        <a href="/forum/teacher/activity/<%=activity.activity_id%>/questions/my" class="<%=(my)?'target':''%>">我的問題
                            <span class="messageNum"><%=my_question_counts%></span>
                        </a>
                    </li>
                    <li>
                        <a href="/forum/teacher/activity/<%=activity.activity_id%>/questions/trace" class="<%=(trace)?'target':''%>">已加星號
                            <span class="messageNum"><%=trace_question_counts%></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div role="navigation" class="subnav">
                <ul>
                    <li>
                        <h3>熱門話題</h3>
                    </li>
                    <%
                        for(var h=0;h<hot_questions.length;h++){
                            var hq = hot_questions[h];
                    %>
                    <li>
                        <a href="/forum/teacher/activity/<%=activity.activity_id%>/questions/<%=hq.id%>">
                            <i class="fa fa-comments-o" aria-hidden="true"></i>
                            <span class="messageNum"><%=hq.title%></span>
                        </a>
                    </li>
                    <%
                        }
                    %>
                </ul>
            </div>
        </div>
      </div>
    </div>

    <%- cooc_footer %>

    <!-- 酷課雲 Header 角色 -->
    <div class="roleInfo" style="display:none;">
      <a id="logonBlock" href="javascript:void(0)">
        <img id="logonpic" src="<%=user.photoUrl%>"/>
        <img id="logonBack" src="/images/logon_back.png">
      </a>
      <div id="logonName"><%=user.name%></div>
      <div id="logonRole"><%=user.role_name%></div>
      <ul class="navigation">
        <li>
          <ul style="display:none">
            <li><a href="http://sso.tp.edu.tw/accountservice/" target="_blank">個人資訊</a></li>
            <li class="logout"><a href="/users/logout">登出</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <script src="/javascripts/jquery-3.2.1.min.js"></script>
    <script src="/javascripts/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script src="/javascripts/bootstrap-maxlength.js"></script>
    <script src="/javascripts/angular.min.js"></script>
    <script>
      var app = angular.module('myApp', []);
      $(document).ready(function(){
        
        //酷課雲 header 處理
        $('.rolemenu').html($('.roleInfo').html());
        $("#logonBlock").on("click",function(){
          if ($("ul.navigation li > ul").is(":visible")) {
            $("ul.navigation li > ul").css("display","none");
          } else {
            $("ul.navigation li > ul").css("display","block");
          }
        });

        $("input[maxlength]").maxlength();

        $('#newQuestionBtn').on('click', function(){
            $('#new-question').show();
        });
        $('#cancelNewQuestionBtn').on('click', function(){
            $('#new-question').hide();
        });
        
      });
      function showMoreQuestions(e){
        $('#showMoreQuestionBtn').hide();
        var ele = $(e);
        var start = parseInt(ele.attr('data-start'));
        var end = parseInt(ele.attr('data-end'));
        var draw = parseInt(ele.attr('data-draw'));
        var totals = parseInt(ele.attr('data-total'));
        $.ajax({
            url: '/api/forum/activity/<%=activity.activity_id%>/questions',
            type:"POST",
            data:'q='+$('#q').val()+'&start='+start+'&end='+end+'&draw='+draw,
            success: function(result){
                var currentCounts = (draw-1)*end+result.data.length;
                if(currentCounts<totals){
                    $('#showMoreQuestionBtn').attr('data-draw',draw+1);
                    $('#showMoreQuestionBtn').show();
                }
                for(var i=0;i<result.data.length;i++){
                    var appendQuestion = result.data[i];
                    $('#questionTable tbody').append(
                        '<tr onclick="window.document.location=\'/forum/teacher/activity/<%=activity.activity_id%>/questions/'+appendQuestion.id+'\';">'
                            +'<td>'
                                +'<p><i class="fa fa-comments-o" aria-hidden="true"></i>&nbsp'+appendQuestion.title+'</p>'
                                +'<span>'+appendQuestion.user_name+' / '+appendQuestion.post_date_format+'</span>'
                            +'</td>'
                            +'<td>'
                                +'<div class="reply">'
                                    +'<p>'+appendQuestion.response_counts+'</p>'
                                    +'<p>回覆</p>'
                                +'</div>'
                            +'</td>'
                            +'<td>'
                                +'<div class="read">'
                                    +'<p>'+appendQuestion.view_counts+'</p>'
                                    +'<p>閱讀</p>'
                                +'</div>'
                            +'</td>'
                        +'</tr>'
                    );
                }
            },
            error:function(xhr, ajaxOptions, thrownError){
              console.log(xhr.status);
              console.log(thrownError);
            }
        });
      }
    </script>
  </body>
</html>
