<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/javascripts/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/javascripts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/intern/dashboard_teacher.css">
    <link rel="stylesheet" href="/stylesheets/forum.css">
    <link rel="stylesheet" href="/stylesheets/logon.css">
    <style>
        .trace {
            vertical-align: top;
            padding-right: 15px;
        }
        #response-list li {
            margin-left: 40px;
            margin-bottom: 20px;
        }
    </style>
  </head>
  <body>

    <%- cooc_header %>

    <div class="wrapper" ng-app="myApp">
        <div class="sidebar" ng-class="boolie ? 'closed' : ''">
        <div class="sidebarToggle" ng-click="boolie = !boolie">
          <i class="fa fa-ellipsis-v sidebar-toggleHam menuIcon" aria-hidden="true" ng-class="boolie ? 'rotate' : ''"></i>
          <span class="sidebar-toggleText">縮小</span>
        </div>
        <nav role="navigation" class="sidebarNav">
          <ul>
            <li class="sidebar-navItem">
                <i class="menuIcon fa fa-comments-o" aria-hidden="true"></i>
                <a href="/forum/teacher/activity/<%=activity.activity_id%>/questions">返回所有問題</a>
            </li>
            <%
                if(user.isTeacher){
            %>
            <li class="sidebar-navItem">
                    <i class="menuIcon fa fa-futbol-o" aria-hidden="true"></i>
                    <a href="/teacher/activity/edit/<%=activity.activity_id%>">活動編輯</a>
            </li>
            <li class="sidebar-navItem">
                  <i class="menuIcon fa fa-users" aria-hidden="true"></i>
                  <a href="/group">群組設定</a>
            </li>
            <li class="sidebar-navItem">
                  <i class="menuIcon fa fa-area-chart" aria-hidden="true"></i>
                  <a href="/dashboard/teacher">儀表板</a>
            </li>
            <%
                }
            %>
          </ul>
        </nav>
      </div><!-- Sidebar -->
      <div class="main">
        <div class="col-md-12">
            <h2><i class="fa fa-commenting-o" aria-hidden="true"></i> <%=activity.activity_name%>&nbsp;討論區</h2>
            <hr>
            <h3><%=question.question_title%></h3>
            <hr>
            <table id="questionTable">
                <tbody>
                    <tr>
                        <td class="trace">
                            <%
                                var trace_counts = parseInt(question.trace_counts);
                                if(trace_counts==0){
                            %>
                            <a class="trace_icon" href="#" data-trace="0"><i class="fa fa-star-o" aria-hidden="true"></i></a>
                            <%
                                }else{
                            %>
                            <a class="trace_icon" href="#" data-trace="1"><i class="fa fa-star" aria-hidden="true"></i></a>
                            <%
                                }
                            %>
                        </td>
                        <td class="content">
                            <div>
                                <p><%=question.question_content%></p>
                                <span><%=question.user_name%> / <%=question.post_date_format%></span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <hr>
            <h4><%=question.responses.length%> 個回應</h4>
            <hr>
            <ul id="response-list">
            <%
                var responses = question.responses;
                for(var r=0;r<responses.length;r++){
                    var response = responses[r];
            %>
                <li>
                    <p><%=response.response%></p>
                    <span><%=response.user_name%> / <%=response.response_date_format%></span>
                </li>
            <%
                }
            %>
            </ul>
            <hr>
            <form id="response_form" method="post" action="/api/forum/activity/<%=activity.activity_id%>/questions/<%=question.question_id%>/responses">
                <div class="form-group">
                    <label>我的回應</label>
                    <textarea class="form-control" name="response" value=""></textarea>
                </div>
                <input class="btn btn-primary" type="submit" id="postResponseBtn" value="發布回應">
            </form>
        </div>
      </div>
    </div>

    <%- cooc_footer %>

    <!-- 酷課雲 Header 角色 -->
    <div class="roleInfo" style="display:none;">
      <a id="logonBlock" href="javascript:void(0)">
        <img id="logonpic" src="<%=user.photoUrl%>"/>
        <img id="logonBack" src="/images/logon_back.png">
      </a>
      <div id="logonName"><%=user.name%></div>
      <div id="logonRole"><%=user.role_name%></div>
      <ul class="navigation">
        <li>
          <ul style="display:none">
            <li><a href="http://sso.tp.edu.tw/accountservice/" target="_blank">個人資訊</a></li>
            <li class="logout"><a href="/users/logout">登出</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <script src="/javascripts/jquery-3.2.1.min.js"></script>
    <script src="/javascripts/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script src="/javascripts/bootstrap-maxlength.js"></script>
    <script src="/javascripts/angular.min.js"></script>
    <script>
      var app = angular.module('myApp', []);
      $(document).ready(function(){
        
        //酷課雲 header 處理
        $('.rolemenu').html($('.roleInfo').html());
        $("#logonBlock").on("click",function(){
          if ($("ul.navigation li > ul").is(":visible")) {
            $("ul.navigation li > ul").css("display","none");
          } else {
            $("ul.navigation li > ul").css("display","block");
          }
        });

        $("input[maxlength]").maxlength();

        $('#newQuestionBtn').on('click', function(){
            $('#new-question').show();
        });
        $('#cancelNewQuestionBtn').on('click', function(){
            $('#new-question').hide();
        });

        $('table#questionTable tbody td.trace a').on('click', function(){
            var ele = $(this);
            var trace = ele.attr('data-trace');
            var trace_url = '';
            if(trace=='1'){
                trace_url = '/api/forum/activity/<%=activity.activity_id%>/questions/<%=question.question_id%>/canceltrace';
            }else{
                trace_url = '/api/forum/activity/<%=activity.activity_id%>/questions/<%=question.question_id%>/trace';
            }   
            $.ajax({
                url: trace_url,
                type:"POST",
                data:'creator_cooc_id=<%=question.user_cooc_id%>',
                success: function(result){
                    if(trace=='1'){
                        ele.attr('data-trace','0');
                        ele.empty().append('<i class="fa fa-star-o" aria-hidden="true"></i>');
                    }else{
                        ele.attr('data-trace','1');
                        ele.empty().append('<i class="fa fa-star" aria-hidden="true"></i>');
                    }
                },
                error:function(xhr, ajaxOptions, thrownError){
                console.log(xhr.status);
                console.log(thrownError);
                }
            });
        });

      });
    </script>
  </body>
</html>
