<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/javascripts/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/javascripts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/javascripts/DataTables/datatables.min.css">
    <link rel="stylesheet" href="/javascripts/DataTables/Responsive-2.1.1/css/responsive.dataTables.min.css">
    <link rel="stylesheet" href="/javascripts/DataTables/Responsive-2.1.1/css/responsive.bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/teacher.css">
    <link rel="stylesheet" href="/stylesheets/intern/dashboard_teacher.css">
    <link rel="stylesheet" href="/stylesheets/logon.css">
  </head>
  <body>

    <%- cooc_header %>

    <div class="wrapper" ng-app="myApp">
      <div class="sidebar" ng-class="boolie ? 'closed' : ''">
        <div class="sidebarToggle" ng-click="boolie = !boolie">
          <i class="fa fa-ellipsis-v sidebar-toggleHam menuIcon" aria-hidden="true" ng-class="boolie ? 'rotate' : ''"></i>
          <span class="sidebar-toggleText">縮小</span>
        </div>
        <nav role="navigation" class="sidebarNav">
          <ul>
            <li class="sidebar-navItem">
              <a href="#" data-toggle="modal" data-target="#groupModal">
                <i class="menuIcon fa fa-plus-circle"></i>
                <span>建立新群組</span>
              </a>
            </li>
            <li class="sidebar-navItem">
              <a href="/teacher">
                <i class="menuIcon fa fa-futbol-o" aria-hidden="true"></i>
                <span>我的活動</span>
              </a>
            </li>
            <li class="sidebar-navItem">
              <a href="/dashboard/teacher">
                <i class="menuIcon fa fa-area-chart" aria-hidden="true"></i>
                <span>儀表板</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="main">
        <div class="col-md-12">
            <section id="teaTabs">
              <div class="tabsMenu">
                <ul>
                  <li>
                    <a href="#firstTab" class="teaTabsMenu">我的群組</a>
                  </li>
                </ul>
              </div>
              <p style="clear:left"></p><br />
              <div>
                <div id="firstTab" class="tabContent col-md-12">
                  <div>
                    <table id="groupTable" class="table">
                      <thead>
                        <tr>
                          <th>名稱</th>
                          <th>學生總數</th>
                          <th>建立日期</th>
                        </tr>
                      </thead>
                      <tbody>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <p style="clear:left"></p>
            </section>
        </div>
      </div>
    </div>

    <%- cooc_footer %>

    <!-- 建立新群組Modal -->
    <div id="groupModal" class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">建立新的群組</h4>
            </div>
          <form method="post" action="/group/create">
            <div class="modal-body">
              <div class="form-group">
                <label for="create_group_name">群組名稱</label>
                <input id="create_group_name" name="group_name" type="text" class="form-control" data-max-length="20" maxlength="20">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
              <button type="submit" class="btn btn-primary">建立</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- 酷課雲 Header 角色 -->
    <div class="roleInfo" style="display:none;">
      <a id="logonBlock" href="javascript:void(0)">
        <img id="logonpic" src="<%=user.photoUrl%>"/>
        <img id="logonBack" src="/images/logon_back.png">
      </a>
      <div id="logonName"><%=user.name%></div>
      <div id="logonRole"><%=user.role_name%></div>
      <ul class="navigation">
        <li>
          <ul style="display:none">
            <li><a href="http://sso.tp.edu.tw/accountservice/" target="_blank">個人資訊</a></li>
            <li class="logout"><a href="/users/logout">登出</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <script src="/javascripts/jquery-3.2.1.min.js"></script>
    <script src="/javascripts/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script src="/javascripts/DataTables/datatables.min.js"></script>
    <script src="/javascripts/DataTables/Responsive-2.1.1/js/dataTables.responsive.min.js"></script>
    <script src="/javascripts/DataTables/Responsive-2.1.1/js/responsive.bootstrap.min.js"></script>
    <script src="/javascripts/bootstrap-maxlength.js"></script>
    <script src="/javascripts/angular.min.js"></script>
    <script>
      var app = angular.module('myApp', []);
      $(document).ready(function(){
        
        $("input[maxlength]").maxlength();
        //分頁
        $('.tabContent').hide();
        $('.tabContent:first').show();
        $('.teaTabsMenu:first').addClass('active');
        $('.teaTabsMenu').click(function(){
          $('.teaTabsMenu').removeClass('active');
          $(this).addClass('active');
          var currentTab = $(this).attr('href');
          $('.tabContent').hide();
          //var type = $(this).attr('data-type');
          $(currentTab).show();      
          $('#groupTable').DataTable().ajax.reload(); 
          return false;
        });

        $('#groupTable').DataTable({
          language:{
            url:'/locales/<%=t('lang-code')%>/groupTable.json'
          },
          responsive: true,
          serverSide: true,
          processing:true,
          ajax:{
            url:'/api/group/all'
          },
          columns:[
            {
              data:'name', render:function(data, type, row){
                return '<a href="/group/edit/'+row.id+'">'+data+'</a>';
              }
            },
            { data:'members', sortable:false, searchable:false },
            { data:'create_date', searchable:false }
          ]
        });

        $('#groupModal').on('show.bs.modal', function(event){
          $('#create_group_name').val('');
        });

        //酷課雲 header 處理
        $('.rolemenu').html($('.roleInfo').html());
        $("#logonBlock").on("click",function(){
        	if ($("ul.navigation li > ul").is(":visible")) {
        		$("ul.navigation li > ul").css("display","none");
        	} else {
        		$("ul.navigation li > ul").css("display","block");
        	}
        });

      });
    </script>
  </body>
</html>
