<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/javascripts/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/javascripts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/javascripts/icheck/skins/all.css">
    <link rel="stylesheet" href="/stylesheets/teacher.css">
    <link rel="stylesheet" href="/stylesheets/intern/dashboard_teacher.css">
    <link rel="stylesheet" href="/stylesheets/logon.css">
    <link rel="stylesheet" href="/stylesheets/group_edit.css">
  </head>
  <body>

    <%- cooc_header %>

    <div class="wrapper" ng-app="myApp">
      <div class="sidebar" ng-class="boolie ? 'closed' : ''">
        <div class="sidebarToggle" ng-click="boolie = !boolie">
          <i class="fa fa-ellipsis-v sidebar-toggleHam menuIcon" aria-hidden="true" ng-class="boolie ? 'rotate' : ''"></i>
          <span class="sidebar-toggleText">縮小</span>
        </div>
        <nav role="navigation" class="sidebarNav">
          <ul>
            <li class="sidebar-navItem">
              <i class="menuIcon fa fa-users"></i>
              <a href="/group">我的群組</a>
            </li>
            <li class="sidebar-navItem">
              <i class="menuIcon fa fa-futbol-o" aria-hidden="true"></i>
              <a href="/teacher">我的活動</a>
            </li>
            <li class="sidebar-navItem">
              <i class="menuIcon fa fa-area-chart" aria-hidden="true"></i>
              <a href="/dashboard/teacher">儀表板</a>
            </li>
          </ul>
        </nav>
      </div>
        <div class="main">
            <div class="col-md-12">
                <h3><%=group.name%></h3>
                    <hr>
                        <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#coocMemberModal">酷課雲匯入</button>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          複製其他群組
          <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <%
              var allGroups = group.results.getAllGroupsByTeacherIdDropdown;
              for(var i=0;i<allGroups.length;i++){
            %>
                <li><a href="#" data-groupid="<%=allGroups[i].id%>" data-toggle="modal" data-target="#copyMemberModal"><%=allGroups[i].name%></a></li>
            <%
              }
            %>
          </ul>
        </div>
      </div>
      <a href="#" class="btn btn-danger pull-right" data-toggle="modal" data-target="#removeGroupModal">刪除群組</a>
      <div class="row">
        <div class="col-md-12">
            <table id="groupMemberTable" class="table table-striped">
                <thead>
                    <tr>
                        <th>姓名</th>
                        <th>座號</th>
                        <th>Email</th>
                        <th>加入時間</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <% 
                        var members = group.results.getSingleGroupMembersByGroupId;
                        for(var i=0;i<members.length;i++){ 
                            var member = members[i];
                    %>
                        <tr data-user="<%=member['user_cooc_id']%>">
                            <td><%=member['user_name']%></td>
                            <td><%=member['user_cooc_seat']%></td>
                            <td><%=member['user_mail']%></td>
                            <td><%=member['add_date_format']%></td>
                            <td><a href="#" class="btn btn-danger" data-groupid="<%=group.id%>" data-coocid="<%=member['user_cooc_id']%>" data-on-confirm="removeMember" data-popout="true" data-toggle="confirmation" data-title="確定刪除嗎?" data-btn-ok-label="確定" data-btn-cancel-label="取消" data-singleton="true">刪除</a></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
      </div>
            </div>
        </div>
    </div>

    <%- cooc_footer %>

    <!-- 酷課雲 Header 角色 -->
    <div class="roleInfo" style="display:none;">
      <a id="logonBlock" href="javascript:void(0)">
        <img id="logonpic" src="<%=user.photoUrl%>"/>
        <img id="logonBack" src="/images/logon_back.png">
      </a>
      <div id="logonName"><%=user.name%></div>
      <div id="logonRole"><%=user.role_name%></div>
      <ul class="navigation">
        <li>
          <ul style="display:none">
            <li><a href="http://sso.tp.edu.tw/accountservice/" target="_blank">個人資訊</a></li>
            <li class="logout"><a href="/users/logout">登出</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <!-- 複製學生Modal -->
    <div id="copyMemberModal" class="modal bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">請選擇要加入的學生</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-2">
                <button type="button" class="btn btn-default checkbox-toggle"><i class="fa fa-square-o"></i> 全選</button>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <table id="copyMemberTable" class="table table-striped member">
                  <thead>
                    <tr>
                      <th>選擇</th>
                      <th>姓名</th>
                      <th>座號</th>
                      <th>Email</th>
                    </tr>
                  </thead>
                  <tbody></tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
            <button id="addCopyMemberBtn" type="button" data-groupid="<%=group.id%>" class="btn btn-primary">加入</button>
          </div>
        </div>
      </div>
    </div>
    <!-- 酷課雲學生Modal -->
    <div id="coocMemberModal" class="modal bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">請選擇要加入的學生</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="school">授權學校</label>
                  <select id="schoolSelector" class="form-control">
                    <%
                      var schoolList = group['results']['getUserInfo'];
                      if(schoolList.length!=0){
                        for(var i=0;i<schoolList.length;i++){
                          var school = schoolList[i];
                          if(i==0){
                    %>
                            <option value="<%=school['$']['schoolCode']%>" selected><%=school['$']['schoolName']%></option>
                    <%
                          }else{
                    %>
                            <option value="<%=school['$']['schoolCode']%>"><%=school['$']['schoolName']%></option>
                    <%      
                          }
                        }
                      }else{
                    %>
                        <option value="-1">查無學校</option>
                    <%
                      }
                    %>
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="semester">學期</label>
                  <select id="semesterSelector" class="form-control">
                    <%
                      var termList = group['results']['getSemesterInfo'];
                      if(termList.length!=0){
                        for(var i=0;i<termList.length;i++){
                          var term = termList[i];
                          if(i==0){
                    %>
                          <option value="<%=term['$']['termId']%>" selected><%=term['$']['schoolYear']%><%=term['$']['termName']%></option>
                    <%
                          }else{
                    %>
                          <option value="<%=term['$']['termId']%>"><%=term['$']['schoolYear']%><%=term['$']['termName']%></option>
                    <%      
                          }
                        }
                      }else{
                    %>
                        <option value="-1">查無學期</option>
                    <%
                      }
                    %>
                    
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="class">班級</label>
                  <select id="classSelector" class="form-control">
                    <%
                      var groupList = group['results']['getStudentList'];
                      if(groupList.length!=0){                     
                        for(var i=0;i<groupList.length;i++){
                          var pg = groupList[i]['$'];
                          var preStudentList = pg['studentList'];
                          if(i==0){
                    %>
                            <option value="<%=JSON.stringify(preStudentList)%>" selected><%=pg['groupName']%></option>
                    <%
                          }else{
                    %>
                            <option value="<%=JSON.stringify(preStudentList)%>"><%=pg['groupName']%></option>
                    <%
                          }
                        }
                      }else{
                    %>
                        <option value="-1">查無班級</option>
                    <%
                      }
                    %>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                <button type="button" class="btn btn-default checkbox-toggle"><i class="fa fa-square-o"></i> 全選</button>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <table id="coocMemberTable" class="table table-striped member">
                  <thead>
                    <tr>
                      <th>選擇</th>
                      <th>姓名</th>
                      <th>座號</th>
                      <th>Email</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td colspan="3">查無學生</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
            <button id="addCoocMemberBtn" data-groupid="<%=group.id%>" type="button" class="btn btn-primary">加入</button>
          </div>
        </div>
      </div>
    </div>

    <!-- 刪除群組Modal -->
    <div id="removeGroupModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog" role="document">
        <form method="post" action="/group/remove">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title"><%=group.name%></h4>
            </div>
            <div class="modal-body">
              <h4>確定刪除此群組?</h4>
            </div>
            <input type="hidden" name="group_id" value="<%=group.id%>">
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
              <button type="submit" class="btn btn-danger">確定</button>             
            </div>
          </div>
        </form>    
      </div>
    </div>

    <script src="/javascripts/jquery-3.2.1.min.js"></script>
    <script src="/javascripts/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script src="/javascripts/bootstrap-confirmation.min.js"></script>
    <script src="/javascripts/icheck/icheck.min.js"></script>
    <script src="/javascripts/angular.min.js"></script>
    <script>
      var app = angular.module('myApp', []);
      $(document).ready(function(){

        //酷課雲 header 處理
        if($('.roleInfo').length>0){
          $('.rolemenu').html($('.roleInfo').html());
          /*選單顯示控制*/
          $("#logonBlock").on("click",function(){
        	  if ($("ul.navigation li > ul").is(":visible")) {
        		  $("ul.navigation li > ul").css("display","none");
        	  } else {
        		  $("ul.navigation li > ul").css("display","block");
        	  }
          });
          $('.container-fluid').css('margin-top','-80px');
        }

        $('[data-toggle=confirmation]').confirmation({
          rootSelector: '[data-toggle=confirmation]'
        });

        $('#copyMemberModal').on('show.bs.modal', function(event){
          $('#copyMemberTable tbody').empty();
        }).on('shown.bs.modal', function (event) {
          var button = $(event.relatedTarget);
          var targetGroupId = button.attr('data-groupid');
          $.ajax({
            url: '/api/group/member/get/'+targetGroupId,
            type:"GET",
            success: function(copyMembers){
            	for(var i=0;i<copyMembers.length;i++){
                $('#copyMemberTable tbody').append('<tr data-name="'+copyMembers[i]['user_name']+'" data-coocid="'+copyMembers[i]['user_cooc_id']+'" data-email="'+copyMembers[i]['user_mail']+'" data-seat="'+copyMembers[i]['user_cooc_seat']+'"><td><input type="checkbox" value="'+copyMembers[i]['user_mail']+'"></td><td>'+copyMembers[i]['user_name']+'</td><td>'+copyMembers[i]['user_cooc_seat']+'</td><td>'+copyMembers[i]['user_mail']+'</td></tr>');
              }
              $('#copyMemberTable input[type="checkbox"]').iCheck({
                checkboxClass: 'icheckbox_flat-blue'
              }).on('ifChecked', function(){
                var checkEle = $(this);
                var checkVal = checkEle.val();
                checkEle.closest('tr').addClass('added');
              }).on('ifUnchecked', function(){
                var checkEle = $(this);
                var checkVal = checkEle.val();
                checkEle.closest('tr').removeClass('added');
              });;
            },
            error:function(xhr, ajaxOptions, thrownError){
              console.log(xhr.status);
              console.log(thrownError);
            }
         	});
        });

        $("#coocMemberModal .checkbox-toggle").click(function () {
          var clicks = $(this).data('clicks');
          if (clicks) {
            $("#coocMemberModal input[type='checkbox']").iCheck("uncheck");
            $(".fa", this).removeClass("fa-check-square-o").addClass('fa-square-o');
            $('#coocMemberModal #coocMemberTable tbody tr').removeClass('added');
          } else {
            $("#coocMemberModal input[type='checkbox']").iCheck("check");
            $(".fa", this).removeClass("fa-square-o").addClass('fa-check-square-o');
            $('#coocMemberModal #coocMemberTable tbody tr').addClass('added');
          }
          $(this).data("clicks", !clicks);
        });
        $("#copyMemberModal .checkbox-toggle").click(function () {
          var clicks = $(this).data('clicks');
          if (clicks) {
            $("#copyMemberModal input[type='checkbox']").iCheck("uncheck");
            $(".fa", this).removeClass("fa-check-square-o").addClass('fa-square-o');
            $('#copyMemberModal #copyMemberTable tbody tr').removeClass('added');
          } else {
            $("#copyMemberModal input[type='checkbox']").iCheck("check");
            $(".fa", this).removeClass("fa-square-o").addClass('fa-check-square-o');
            $('#copyMemberModal #copyMemberTable tbody tr').addClass('added');
          }
          $(this).data("clicks", !clicks);
        });

        //選擇學校處理
        $('#schoolSelector').on('change', function(){
          $('#semesterSelector').empty();
          $('#classSelector').empty();
          $('#coocMemberTable tbody').empty();
          var targetSchoolId = $(this).val();
          $.ajax({
            url: '/api/group/semester/'+targetSchoolId,
            type:"GET",
            success: function(semester){
              var termList = semester['info']['body'][0]['school'][0]['termList'][0]['term'];
              if(termList.length!=0){
                for(var i=0;i<termList.length;i++){
                  var term = termList[i];
                  if(i==0){
                    $('#semesterSelector').append('<option value="'+term['$']['termId']+'" selected>'+term['$']['schoolYear']+term['$']['termName']+'</option>');
                  }else{
                    $('#semesterSelector').append('<option value="'+term['$']['termId']+'">'+term['$']['schoolYear']+term['$']['termName']+'</option>');
                  }
                }
                $("#semesterSelector").val($("#semesterSelector option:first").val()).trigger("change");
              }else{
                $('#semesterSelector').append('<option value="-1">查無學期</option>');
                $('#coocMemberTable tbody').empty().append('<tr><td colspan="3">查無學生</td></tr>');
              }
            },
            error:function(xhr, ajaxOptions, thrownError){
              console.log(xhr.status);
              console.log(thrownError);
            }
         	});
        });

        //選擇學期處理
        $('#semesterSelector').on('change', function(){
          $('#classSelector').empty();
          $('#coocMemberTable tbody').empty();
          var targetTermId = $(this).val();
          $.ajax({
            url: '/api/group/class/'+targetTermId,
            type:"GET",
            success: function(groups){
              var getGroups = groups['info']['body'][0]['groupList'][0];
              if(typeof getGroups === 'object'){
                var classGroups = getGroups['group'];
                for(var i=0;i<classGroups.length;i++){
                  var getClass = classGroups[i]['$'];
                  var getStudentList = classGroups[i]['studentList'][0];
                  var studentList = [];
                  if(typeof getStudentList === 'object'){
                    studentList = getStudentList['student'];
                  }
                  if(i==0){
                    for(var j=0;j<studentList.length;j++){
                      var student = studentList[j]['$'];
                      $('#coocMemberTable tbody').append('<tr data-name="'+student['userName']+'" data-coocid="'+student['userId']+'" data-email="'+student['email']+'" data-seat="'+student['seat']+'"><td><input type="checkbox" value="'+student['email']+'"><td>'+student['userName']+'</td><td>'+student['seat']+'</td><td>'+student['email']+'</td></tr>');
                    }
                    $("#coocMemberTable input[type='checkbox']").iCheck({
                      checkboxClass: 'icheckbox_flat-blue'
                    }).on('ifChecked', function(){
                      var checkEle = $(this);
                      var checkVal = checkEle.val();
                      checkEle.closest('tr').addClass('added');
                    }).on('ifUnchecked', function(){
                      var checkEle = $(this);
                      var checkVal = checkEle.val();
                      checkEle.closest('tr').removeClass('added');
                    });
                    $('#classSelector').append("<option value='"+JSON.stringify(studentList)+"' selected>"+getClass['groupName']+"</option>");
                  }else{
                    $('#classSelector').append("<option value='"+JSON.stringify(studentList)+"'>"+getClass['groupName']+"</option>");
                  }
                }
              }else{
                $('#classSelector').append('<option value="-1">查無班級</option>');
                $('#coocMemberTable tbody').empty().append('<tr><td colspan="3">查無學生</td></tr>');
              }
            },
            error:function(xhr, ajaxOptions, thrownError){
              console.log(xhr.status);
              console.log(thrownError);
            }
         	});
        });

        //選擇班級處理
        $('#classSelector').on('change', function(){
          var ele = $(this);
          var studentList = JSON.parse(ele.val());
          $('#coocMemberTable tbody').empty();
          if(studentList.length!=0){
            for(var j=0;j<studentList.length;j++){
              var student = studentList[j]['$'];
              $('#coocMemberTable tbody').append('<tr data-name="'+student['userName']+'" data-coocid="'+student['userId']+'" data-email="'+student['email']+'" data-seat="'+student['seat']+'"><td><input type="checkbox" value="'+student['email']+'"></td><td>'+student['userName']+'</td><td>'+student['seat']+'</td><td>'+student['email']+'</td></tr>');
            }
            $("#coocMemberTable input[type='checkbox']").iCheck({
              checkboxClass: 'icheckbox_flat-blue'
            }).on('ifChecked', function(){
              var checkEle = $(this);
              var checkVal = checkEle.val();
              checkEle.closest('tr').addClass('added');
            }).on('ifUnchecked', function(){
              var checkEle = $(this);
              var checkVal = checkEle.val();
              checkEle.closest('tr').removeClass('added');
            });
          }else{
            $('#coocMemberTable tbody').append('<tr><td colspan="3">查無學生</td></tr>');
          }
        });

        //加入酷課雲學生
        $('#addCoocMemberBtn').on('click', function(){
          var groupId = parseInt($(this).attr('data-groupid'));
          var addUsers = [];
          $('#coocMemberModal #coocMemberTable tbody tr.added').each(function(){
            var row = $(this);
            var userName = row.attr('data-name');
            var coocId = row.attr('data-coocid');
            var email = row.attr('data-email');
            var seat = row.attr('data-seat');
            if($('#groupMemberTable tbody tr[data-user="'+coocId+'"]').length==0){
              addUsers.push([
                groupId,email,userName,coocId,seat
              ]);
            }
          });
          if(addUsers.length!=0){
            $.ajax({
              url: '/api/group/member/add/'+groupId,
              data:'members='+JSON.stringify(addUsers)+'&type=cooc',
              type:"POST",
              beforeSend: function(){
                $('#groupMemberTable tbody').empty();
              },
              success: function(result){
                for(var j=0;j<result.length;j++){
                  var addUser = result[j];
                  $('#groupMemberTable tbody').append('<tr data-user="'+addUser['user_cooc_id']+'"><td>'+addUser['user_name']+'</td><td>'+addUser['user_cooc_seat']+'</td><td>'+addUser['user_mail']+'</td><td>'+addUser['add_date_format']+'</td><td><a href="#" class="btn btn-danger" data-groupid="<%=group.id%>" data-coocid="'+addUser['user_cooc_id']+'" data-on-confirm="removeMember" data-popout="true" data-toggle="confirmation" data-title="確定刪除嗎?" data-btn-ok-label="確定" data-btn-ok-label="確定" data-btn-cancel-label="取消" data-singleton="true">刪除</a></td></tr>');
                }
                $('#coocMemberModal').modal('hide');
              },
              complete: function(){
                $('#groupMemberTable tbody tr td a[data-toggle=confirmation]').confirmation({
                  rootSelector: '[data-toggle=confirmation]'
                });
              },
              error:function(xhr, ajaxOptions, thrownError){
                console.log(xhr.status);
                console.log(thrownError);
              }
            });
          }else{
            $('#coocMemberModal').modal('hide');
          }
        });

        //加入酷課雲學生 from copy
        $('#addCopyMemberBtn').on('click', function(){
          var groupId = parseInt($(this).attr('data-groupid'));
          var addUsers = [];
          $('#copyMemberModal #copyMemberTable tbody tr.added').each(function(){
            var row = $(this);
            var userName = row.attr('data-name');
            var coocId = row.attr('data-coocid');
            var email = row.attr('data-email');
            var seat = row.attr('data-seat');
            if($('#groupMemberTable tbody tr[data-user="'+coocId+'"]').length==0){
              addUsers.push([
                groupId,email,userName,coocId,seat
              ]);
            }
          });
          if(addUsers.length!=0){
            $.ajax({
              url: '/api/group/member/add/'+groupId,
              data:'members='+JSON.stringify(addUsers)+'&type=copy',
              type:"POST",
              beforeSend: function(){
                $('#groupMemberTable tbody').empty();
              },
              success: function(result){
                for(var j=0;j<result.length;j++){
                  var addUser = result[j];
                  $('#groupMemberTable tbody').append('<tr data-user="'+addUser['user_cooc_id']+'"><td>'+addUser['user_name']+'</td><td>'+addUser['user_cooc_seat']+'</td><td>'+addUser['user_mail']+'</td><td>'+addUser['add_date_format']+'</td><td><a href="#" class="btn btn-danger" data-groupid="<%=group.id%>" data-coocid="'+addUser['user_cooc_id']+'" data-on-confirm="removeMember" data-popout="true" data-toggle="confirmation" data-title="確定刪除嗎?" data-btn-ok-label="確定" data-btn-ok-label="確定" data-btn-cancel-label="取消" data-singleton="true">刪除</a></td></tr>');
                }
                $('#copyMemberModal').modal('hide');
              },
              complete: function(){
                $('#groupMemberTable tbody tr td a[data-toggle=confirmation]').confirmation({
                  rootSelector: '[data-toggle=confirmation]'
                });
              },
              error:function(xhr, ajaxOptions, thrownError){
                console.log(xhr.status);
                console.log(thrownError);
              }
            });
          }else{
            $('#copyMemberModal').modal('hide');
          }
        });
        
      });

      //刪除群組成員
      function removeMember(){
        var targetEle = $(this);
        var groupId = targetEle.attr('data-groupid');
        var userCoocId = targetEle.attr('data-coocid');
        $.ajax({
          url: '/api/group/member/remove/'+groupId,
          data:'user_cooc_id='+userCoocId,
          type:"POST",
          success: function(result){
            if(result.success){
              targetEle.parent().parent().remove();
            }
          },
          error:function(xhr, ajaxOptions, thrownError){
            console.log(xhr.status);
            console.log(thrownError);
          }
        });
      }

    </script>
  </body>
</html>
