<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/javascripts/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/javascripts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="stylesheet" href="/stylesheets/logon.css">
  </head>
  <body>

    <%- cooc_header %>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12 col-sm-12 bannerArea">
              <h2><%=t('home.system')%></h2>
              <div class="col-md-4 col-sm-12">
                <div class="bannerNum">
                  <i class="fa fa-user fa-3x" aria-hidden="true"></i>
                  <h2 class="timer count-title count-number" data-to="<%= overview.users %>" data-speed="1500"></h2>
                  <h4>使用者</h4>
                </div>
              </div>
              <div class="col-md-4 col-sm-12">
                <div class="bannerNum">
                  <i class="fa fa-pencil fa-3x" aria-hidden="true"></i>
                  <h2 class="timer count-title count-number" data-to="<%= overview.activities %>" data-speed="1500"></h2>
                  <h4>活動</h4>
                </div>
              </div>
              <div class="col-md-4 col-sm-12">
                <div class="bannerNum">
                  <i class="fa fa-book fa-3x" aria-hidden="true"></i>
                  <h2 class="timer count-title count-number" data-to="<%= overview.materials %>" data-speed="1500"></h2>
                  <h4>教材</h4>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-sm-12 infoArea">
              <div class="col-md-6 col-sm-12 infoImg">
                <img src="../images/pic-1.svg" alt="">
              </div>
              <div class="col-md-6 col-sm-12">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere fugiat vitae magni sed ducimus, molestias nisi ullam obcaecati aliquid dolor, modi porro dolores tenetur odio vero sint libero odit repellat.</p>
              </div>
            </div>
            <div class="col-md-12 col-sm-12 infoArea">
              <div class="col-md-6 col-sm-12">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere fugiat vitae magni sed ducimus, molestias nisi ullam obcaecati aliquid dolor, modi porro dolores tenetur odio vero sint libero odit repellat.</p>
              </div>
              <div class="col-md-6 col-sm-12 infoImg">
                <img src="images/pic-2.svg" alt="">
              </div>
            </div>
            <div class="col-md-12 col-sm-12 infoArea">
              <div class="col-md-6 col-sm-12 infoImg">
                <img src="images/pic-3.svg" alt="">
              </div>
              <div class="col-md-6 col-sm-12">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere fugiat vitae magni sed ducimus, molestias nisi ullam obcaecati aliquid dolor, modi porro dolores tenetur odio vero sint libero odit repellat.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div><!-- .container-fluid -->

    <%- cooc_footer %>

    <!-- 酷課雲 Header 角色 -->
    <% if(user){ %>
    <div class="roleInfo" style="display:none;">
      <a id="logonBlock" href="javascript:void(0)">
        <img id="logonpic" src="<%=user.photoUrl%>"/>
        <img id="logonBack" src="/images/logon_back.png">
      </a>
      <div id="logonName"><%=user.name%></div>
      <div id="logonRole"><%=user.role_name%></div>
      <ul class="navigation">
        <li>
          <ul style="display:none">
            <li><a href="http://sso.tp.edu.tw/accountservice/" target="_blank">個人資訊</a></li>
            <li class="logout"><a href="/users/logout">登出</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <% } %>

    <div id="gotop">˄</div>

    <script src="/javascripts/jquery-3.2.1.min.js"></script>
    <script src="/javascripts/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script>
      $(document).ready(function(){

        $(window).scroll(function() {
          if ( $(this).scrollTop() > 300){
              $('#gotop').fadeIn("fast");
          } else {
              $('#gotop').stop().fadeOut("fast");
          }
        });
        $("#gotop").click(function(){
          jQuery("html,body").animate({
            scrollTop:0
          },1000);
        });

        // 數字動畫
        (function ($) {
          $.fn.countTo = function (options) {
            options = options || {};
            
            return $(this).each(function () {
              // set options for current element
              var settings = $.extend({}, $.fn.countTo.defaults, {
                from:            $(this).data('from'),
                to:              $(this).data('to'),
                speed:           $(this).data('speed'),
                refreshInterval: $(this).data('refresh-interval'),
                decimals:        $(this).data('decimals')
              }, options);
              
              // how many times to update the value, and how much to increment the value on each update
              var loops = Math.ceil(settings.speed / settings.refreshInterval),
                increment = (settings.to - settings.from) / loops;
              
              // references & variables that will change with each update
              var self = this,
                $self = $(this),
                loopCount = 0,
                value = settings.from,
                data = $self.data('countTo') || {};
              
              $self.data('countTo', data);
              
              // if an existing interval can be found, clear it first
              if (data.interval) {
                clearInterval(data.interval);
              }
              data.interval = setInterval(updateTimer, settings.refreshInterval);
              
              // initialize the element with the starting value
              render(value);
              
              function updateTimer() {
                value += increment;
                loopCount++;
                
                render(value);
                
                if (typeof(settings.onUpdate) == 'function') {
                  settings.onUpdate.call(self, value);
                }
                
                if (loopCount >= loops) {
                  // remove the interval
                  $self.removeData('countTo');
                  clearInterval(data.interval);
                  value = settings.to;
                  
                  if (typeof(settings.onComplete) == 'function') {
                    settings.onComplete.call(self, value);
                  }
                }
              }
              
              function render(value) {
                var formattedValue = settings.formatter.call(self, value, settings);
                $self.html(formattedValue);
              }
            });
          };
          
          $.fn.countTo.defaults = {
            from: 0,               // the number the element should start at
            to: 0,                 // the number the element should end at
            speed: 1000,           // how long it should take to count between the target numbers
            refreshInterval: 100,  // how often the element should be updated
            decimals: 0,           // the number of decimal places to show
            formatter: formatter,  // handler for formatting the value before rendering
            onUpdate: null,        // callback method for every time the element is updated
            onComplete: null       // callback method for when the element finishes updating
          };
          
          function formatter(value, settings) {
            return value.toFixed(settings.decimals);
          }
        }(jQuery));

        jQuery(function ($) {
          // custom formatting example
          $('.count-number').data('countToOptions', {
          formatter: function (value, options) {
            return value.toFixed(options.decimals).replace(/\B(?=(?:\d{3})+(?!\d))/g, ',');
          }
          });
          
          // start all the timers
          $('.timer').each(count);  
          
          function count(options) {
          var $this = $(this);
          options = $.extend({}, options || {}, $this.data('countToOptions') || {});
          $this.countTo(options);
          }
        });

        $('.login').on('click',function(e){
          e.preventDefault();
          $('<form action="/users/login"><input type="text" name="method" value="opexecute"/></form>').appendTo('body').submit();
        });

        //酷課雲 header 處理
        if($('.roleInfo').length>0){
          $('.rolemenu').html($('.roleInfo').html());
          /*選單顯示控制*/
          $("#logonBlock").on("click",function(){
        	  if ($("ul.navigation li > ul").is(":visible")) {
        		  $("ul.navigation li > ul").css("display","none");
        	  } else {
        		  $("ul.navigation li > ul").css("display","block");
        	  }
          });
          $('.container-fluid').css('margin-top','-80px');
        }
        
      });
    </script>
  </body>
</html>
