<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="../../../stylesheets/developer/index.css">
  </head>
  <body>
    
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">WAT 2.0</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav"></ul>
          <ul class="nav navbar-nav navbar-right">
            <li><button data-toggle="modal" data-target="#loginModal" type="submit" class="btn navbar-btn btn-primary">登入</button></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="jumbotron">
      <div class="container center">
        <h1>雲端學習活動編輯工具</h1>
        <div class="row">
          <div class="col-xs-6 col-sm-3">
            <img class="img-circle" src="holder.js/100x100?bg=#afe9a4&fg=#8cba83" width="100px" height="100px" />
            <h2>100</h2>
            <h4>使用者</h4>
          </div>
          <div class="col-xs-6 col-sm-3">
            <img class="img-circle" src="holder.js/100x100?bg=#afe9a4&fg=#8cba83" width="100px" height="100px" />
            <h2>100</h2>
            <h4>計畫</h4>
          </div>
          <div class="col-xs-6 col-sm-3">
            <img class="img-circle" src="holder.js/100x100?bg=#afe9a4&fg=#8cba83" width="100px" height="100px" />
            <h2>100</h2>
            <h4>活動</h4>
          </div>
          <div class="col-xs-6 col-sm-3">
            <img class="img-circle" src="holder.js/100x100?bg=#afe9a4&fg=#8cba83" width="100px" height="100px" />
            <h2>100</h2>
            <h4>群組</h4>
          </div>
        </div>
      </div>
    </div>

    <section class="bg-white">
      <div class="container center">
        <div class="row">
          <div class="col-md-5">
            <img src="holder.js/300x300?bg=#afe9a4&fg=#8cba83" width="300px" height="300px">
          </div>
          <div class="col-md-7">
            <h2>Feature 1</h2>
            <p class="feature">Feature Content</p>
          </div>
        </div>
      </div>
    </section>

    <hr class="divider">

    <section class="bg-white">
      <div class="container center">
        <div class="row">
          <div class="col-md-7">
            <h2>Feature 2</h2>
            <p class="feature">Feature Content</p>
          </div>
          <div class="col-md-5">
            <img src="holder.js/300x300?bg=#afe9a4&fg=#8cba83" width="300px" height="300px">
          </div>
        </div>
      </div>
    </section>

    <hr class="divider">

    <section class="bg-white">
      <div class="container center">
        <div class="row">
          <div class="col-md-7">
            <h2>Feature 3</h2>
            <p class="feature">Feature Content</p>
          </div>
          <div class="col-md-5">
            <img src="holder.js/300x300?bg=#afe9a4&fg=#8cba83" width="300px" height="300px">
          </div>
        </div>
      </div>
    </section>

    <hr class="divider">

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="col-xs-6 col-sm-3">
              <h5>WAT 2.0</h5>
              <ul>
                <li><a href="#">隱私權政策</a></li>
                <li><a href="#">服務條款</a></li>
              </ul>                            
            </div>
            <div class="col-xs-6 col-sm-3">
              <h5>幫助</h5>
              <ul>
                <li><a href="#">常見問題</a></li>
                <li><a href="#">操作說明</a></li>
              </ul>
            </div>
            <div class="col-xs-6 col-sm-3">
              <h5>聯絡我們</h5>
              <ul>
                <li><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i> 服務信箱</a></li>
              </ul>
            </div>
            <div class="col-xs-6 col-sm-3">
              <h5>語言</h5>
              <ul>
                <li><a href="#">繁體中文</a></li>
                <li><a href="#">简体中文</a></li>
                <li><a href="#">English</a></li>
              </ul>
            </div>         
          </div>
        </div>
      </div>
    </footer>

    <div id="gotop">˄</div>

    <!-- Login Modal -->
    <div id="loginModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form class="form-signin">
          <h2 class="form-signin-heading">請登入</h2>
          <label for="inputEmail" class="sr-only">Email address</label>
          <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address" required autofocus>
          <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
          <button id="loginBtn" class="btn btn-lg btn-primary btn-block" type="button">登入</button>
        </form>
        </div>
      </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="../../../javascripts/holder.min.js"></script>
    <script src="https://use.fontawesome.com/42974b644e.js"></script>
    <script>
      $(document).ready(function(){
        
        $(window).scroll(function() {
          if ( $(this).scrollTop() > 300){
              $('#gotop').fadeIn("fast");
          } else {
              $('#gotop').stop().fadeOut("fast");
          }
        });
        $("#gotop").click(function(){
          jQuery("html,body").animate({
            scrollTop:0
          },1000);
        });

        $('#loginBtn').on('click',function(){
          var user = {};
          user.email = $('#inputEmail').val();
          user.password = $('#inputPassword').val();
          $.ajax({
            url: '/users/login',
            data:JSON.stringify(user),
            contentType: 'application/json',
            type:"POST",
            success: function(msg){
              
            },
            error:function(xhr, ajaxOptions, thrownError){
              console.log(xhr.status);
              console.log(thrownError);
            }
          });
        });

      });
    </script>
  </body>
</html>
