<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/javascripts/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/javascripts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/javascripts/DataTables/datatables.min.css">
    <link rel="stylesheet" href="/javascripts/DataTables/RowReorder-1.2.0/css/rowReorder.dataTables.min.css">
    <link rel="stylesheet" href="/javascripts/jcrop/jquery.Jcrop.min.css">
    <link rel="stylesheet" href="/javascripts/icheck/skins/all.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="/stylesheets/teacher.css">
    <link rel="stylesheet" href="/stylesheets/logon.css">
    <link rel="stylesheet" href="/stylesheets/teacher_edit.css">
  </head>
  <body>

    <%- cooc_header %>

    <div class="container-fluid">
      <ol class="breadcrumb">
        <li><a href="/teacher">我的活動</a></li>
        <li class="active">活動編輯</li>
      </ol>
      <div class="row">
        <div class="col-sm-3">
          <div class="editActivity"><h3><%=activity.getActivityDetailsByUserId[0].name%></h3></div>
          <ul class="addeditData">
            <%
              var materials = activity.getMaterials;
              for(var m=0;m<materials.length;m++){
                var material = materials[m];
                var typeStr = '';
                var typeIcon = '<i class="fa fa-asterisk" aria-hidden="true"></i>';
                switch(material.type){
                  case 1:
                    typeIcon = '<i class="fa fa-link" aria-hidden="true"></i>';
                    typeStr = 'web';
                    break; 
                  case 2:
                    typeIcon = '<i class="fa fa-video-camera" aria-hidden="true"></i>';
                    typeStr = 'video';
                    break;
                  case 3:
                    typeIcon = '<i class="fa fa-file-pdf-o" aria-hidden="true"></i>';
                    typeStr = 'pdf';
                    break;
                  case 4:
                    typeIcon = '<i class="fa fa-pencil-square-o" aria-hidden="true"></i>';
                    typeStr = 'assessment';
                    break;
                  case 5:
                    typeIcon = '<i class="fa fa-file-text-o" aria-hidden="true"></i>';
                    typeStr = 'article';
                    break;
                }
            %>
                <li class="addSource"><%-typeIcon%>&nbsp;&nbsp;
                  <a href="/teacher/activity/edit/<%=activity.getActivityDetailsByUserId[0].id%>/<%=typeStr%>/edit/<%=material.id%>"><span class="sidebar-activity-title"><%=material.name%></span></a>
                </li>
            <%
              }
            %>
            <li>
              <ul class="sidebarMenu">
                <li class="dropMenu">
                  <a href="#"><span class="fa fa-plus"></span>教材</a>
                  <ul>
                    <li><a href="/teacher/activity/edit/<%=activity.getActivityDetailsByUserId[0].id%>/web/create">網頁</a></li>
                    <li><a href="/teacher/activity/edit/<%=activity.getActivityDetailsByUserId[0].id%>/video/create">影片</a></li>
                    <li><a href="/teacher/activity/edit/<%=activity.getActivityDetailsByUserId[0].id%>/pdf/create">PDF</a></li>
                    <li><a href="/teacher/activity/edit/<%=activity.getActivityDetailsByUserId[0].id%>/assessment/create">測驗</a></li>
                    <li><a href="/teacher/activity/edit/<%=activity.getActivityDetailsByUserId[0].id%>/article/create">文章</a></li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
          <div class="sidebar-btn">
            <%
              if(activity.getMaterials.length!=0){
            %>
            <a class="btn btn-default" href="/teacher/activity/preview/<%=activity.getActivityDetailsByUserId[0].id%>/<%=activity.getMaterials[0].id%>">
            <%
              }else{
            %>
            <a class="btn btn-default" href="#" disabled>
            <%
              }
            %>
              <span class="download-text">
                <i class="fa fa-eye" aria-hidden="true"></i>&nbsp;&nbsp;</i>預覽
              </span>
            </a>
          </div>
          <div class="sidebar-btn">
            <a class="btn btn-default" href="/dashboard/teacher/wat/activity/<%=activity.getActivityDetailsByUserId[0].id%>">
              <span class="download-text">
                <i class="fa fa-area-chart" aria-hidden="true">&nbsp;&nbsp;</i>儀表板
              </span>
            </a>
          </div>
          <div class="sidebar-btn">
              <a class="btn btn-warning" href="/forum/teacher/activity/<%=activity.getActivityDetailsByUserId[0].id%>/questions">
                <span class="download-text">
                  <i class="fa fa-comments-o" aria-hidden="true">&nbsp;&nbsp;</i>討論區
                </span>
              </a>
            </div>          
          <div class="sidebar-btn">
            <a class="btn btn-default" data-toggle="modal" data-target="#assignModal" data-activityid="<%=activity.getActivityDetailsByUserId[0].id%>">
              <span class="download-text">
                <i class="fa fa-users" aria-hidden="true">&nbsp;&nbsp;</i>指派
              </span>
            </a>
          </div>
          <div class="sidebar-btn">
            <a id="changePublicBtn" class="btn btn-default" data-activityid="<%=activity.getActivityDetailsByUserId[0].id%>" data-ispublic="<%=activity.getActivityDetailsByUserId[0].is_public%>" data-accesscode="<%=activity.getActivityDetailsByUserId[0].access_code%>" data-toggle="modal" data-target="#publicModal">
              <span class="download-text">
                <i class="fa fa-globe" aria-hidden="true">&nbsp;&nbsp;</i>公開
              </span>
            </a>
          </div>
          <!--
          <div class="sidebar-btn">
            <a id="changeShareBtn" class="btn btn-default" data-activityid="<%=activity.getActivityDetailsByUserId[0].id%>" data-isshare="<%=activity.getActivityDetailsByUserId[0].is_share%>" data-accesscode="<%=activity.getActivityDetailsByUserId[0].access_code%>" data-toggle="modal" data-target="#shareModal">
              <span class="download-text">
                <i class="fa fa-share" aria-hidden="true">&nbsp;&nbsp;</i>共編
              </span>
            </a>
          </div>
          -->
          <div class="sidebar-btn">
            <a class="btn btn-primary" data-toggle="modal" data-target="#copyActivityModal">
              <span class="download-text">
                <i class="fa fa-files-o" aria-hidden="true"></i>&nbsp;&nbsp;</i>複製
              </span>
            </a>
          </div>
          <!--      
          <div class="sidebar-btn">
            <button type="button" class="btn">
              <span class="download-text">
                <i class="fa fa-cloud-download">&nbsp;&nbsp;</i>下載
              </span>
            </button>
          </div> 
          -->           
        </div>
        <div class="col-md-9" style="background:#f5f5f5;">
          <div class="box box-widget">
            <div class="box-header with-border">
              <h3 class="box-title">活動基本資料</h3>
             <!-- <button type="button" class="btn btn-sm" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-pencil" aria-hidden="true"></i></button> -->
              <div class="box-tools">
                <button type="button" class="btn btn-sm btn-default btn-box-tool" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-pencil" aria-hidden="true"></i></button>
              </div>
            </div><!-- .box-header -->
            <div class="box-body collapse" id="collapseExample">
              <div class="row">
                <div class="col-md-12">
                  <form id="activity_form" method="post" action="/teacher/activity/metadata">
                    <div class="form-group">
                      <label>活動名稱</label>
                      <input maxlength="30" type="text" id="activity_name" name="activity_name" class="form-control" value="<%=activity.getActivityDetailsByUserId[0].name%>">
                    </div>
                    <div class="form-group">
                      <label>活動描述</label>
                      <textarea name="activity_description" class="form-control" value="<%=activity.getActivityDetailsByUserId[0].description%>"></textarea>
                    </div>
                    <div class="form-group">
                      <label>活動類型</label>
                      <%
                        var activity_type = activity.getActivityDetailsByUserId[0].type;
                        var activity_type_str = '一般活動';
                        if(activity_type=='2'){
                          activity_type_str = '適性活動';
                        }else if(activity_type=='3'){
                          activity_type_str = '前後測';
                        }
                      %>
                      <input type="text" name="activity_type" class="form-control" value="<%=activity_type_str%>" disabled>
                    </div>
                    <div class="form-group">
                      <label>學制科目</label>
                      <select name="activity_subject" class="form-control">
                          <% var subject = activity.getActivityDetailsByUserId[0].subject; %>
                          <optgroup label="國小">
                            <option value="51" <%=(subject==51)?'selected':''%>>國小國語</option>
                            <option value="53" <%=(subject==53)?'selected':''%>>國小英語</option>
                            <option value="52" <%=(subject==52)?'selected':''%>>國小數學</option>
                            <option value="54" <%=(subject==54)?'selected':''%>>國小社會</option>
                            <option value="55" <%=(subject==55)?'selected':''%>>國小自然</option>
                          </optgroup>                       
                          <optgroup label="國中">
                            <option value="42" <%=(subject==42)?'selected':''%>>國中國文</option>
                            <option value="43" <%=(subject==43)?'selected':''%>>國中英文</option>
                            <option value="44" <%=(subject==44)?'selected':''%>>國中數學</option>
                            <option value="45" <%=(subject==45)?'selected':''%>>國中理化</option>
                            <option value="46" <%=(subject==46)?'selected':''%>>國中地理</option>
                            <option value="47" <%=(subject==47)?'selected':''%>>國中歷史</option>
                            <option value="48" <%=(subject==48)?'selected':''%>>國中公民</option>
                            <option value="49" <%=(subject==49)?'selected':''%>>國中生物</option>
                            <option value="50" <%=(subject==50)?'selected':''%>>國中地科</option>
                          </optgroup>                    
                          <optgroup label="高中">
                            <option value="4" <%=(subject==4)?'selected':''%>>高中國文</option>
                            <option value="5" <%=(subject==4)?'selected':''%>>高中英文</option>
                            <option value="6" <%=(subject==6)?'selected':''%>>高中數學</option>
                            <option value="10" <%=(subject==10)?'selected':''%>>高中物理</option>
                            <option value="11" <%=(subject==11)?'selected':''%>>高中化學</option>
                            <option value="13" <%=(subject==13)?'selected':''%>>高中地科</option>
                            <option value="12" <%=(subject==12)?'selected':''%>>高中生物</option>
                            <option value="7" <%=(subject==7)?'selected':''%>>高中歷史</option>
                            <option value="8" <%=(subject==8)?'selected':''%>>高中地理</option>
                            <option value="9" <%=(subject==9)?'selected':''%>>高中公民</option>
                          </optgroup>
                      </select>
                    </div>
                    <div class="form-group">
                      <label>活動圖片</label>
                      <%
                        var activityImg = '/images/default-activity-image.png';
                        if(activity.getActivityDetailsByUserId[0]['img_data'] && activity.getActivityDetailsByUserId[0]['img_data'].indexOf('default')==-1){
                          activityImg = activity.getActivityDetailsByUserId[0]['img_data'];
                        }
                      %>
                      <div id="preview">
                        <img id="activity_img" src="<%=activityImg%>"><br /><br />
                        <button class="btn upload-btn" type="button">上傳圖片</button>
                      </div>
                      <canvas id="myCanva" width="320" height="320"></canvas>                     
                      <input id="upload-input" type="file" name="activity_img" accept="image/*">
                      <input type="hidden" id="activity_img_val" name="activity_img_val" value="<%=activityImg%>">
                      <input type="hidden" id="activity_data" name="activity_data" value="">
                    </div>                   
                    <div class="form-group">
                      <div class="col-sm-offset-2 col-sm-10">
                        <button id="updateActivityBtn" type="button" class="btn btn-primary pull-right">儲存</button>
                      </div>
                    </div>
                    <input type="hidden" id="activity_subject_name" name="activity_subject_name" value="<%=activity.getActivityDetailsByUserId[0].subject_name%>">
                    <input type="hidden" name="activity_id" value="<%=activity.getActivityDetailsByUserId[0].id%>">
                    <input type="hidden" id="x"  name="coord_x" value="0" />
                    <input type="hidden" id="y"  name="coord_y" value="0" />
                    <input type="hidden" id="x2" name="coord_x2" value="220"/>
                    <input type="hidden" id="y2" name="coord_y2" value="220"/>
                    <input type="hidden" id="w"  name="size_w" value="220"/>
                    <input type="hidden" id="h"  name="size_h" value="220"/>  
                  </form>           
                </div>
              </div>
            </div><!-- .box-body -->
          </div><!-- .box -->
          <div class="box box-widget">
            <div class="box-header with-border">
              <h3 class="box-title">教材列表</h3>
              <div class="box-tools pull-right">
                <a id="avgWeightBtn" class="btn btn-primary btn-xs">平均權重</a>
              </div>
            </div>
            <div class="box-body">
              <table id="materialTable" class="table table-striped">
                <thead>
                  <tr>
                    <th>順序</th>
                    <th>類型</th>
                    <th>名稱</th>
                    <th>權重(100%)</th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- cooc_footer %>

    <!-- 複製計畫Modal -->
    <div id="copyActivityModal" data-backdrop="static" data-keyboard="false" class="modal bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog" role="document">
        <form id="copy_activity_form" action="/teacher/activity/copy/<%=activity.getActivityDetailsByUserId[0].id%>" method="post">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">確認複製</h4>
          </div>
          <div class="modal-body">
            <h4 id="copyActivityMessage"></h4>
             <input name="activity_name" type="hidden" value="複製-<%=activity.getActivityDetailsByUserId[0].name%>">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
            <button type="submit" class="btn btn-primary">確定</button>
          </div>
        </div>
        </form>
      </div>
    </div>

    <!-- 公開設定 Modal -->
    <div id="publicModal" data-backdrop="static" data-keyboard="false" class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">請選擇活動公開的方式</h4>
          </div>
          <div class="modal-body">
            <div class="radio">
              <label>
                <input type="radio" name="publicOption" id="publicOption0" value="0"> 不公開
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="publicOption" id="publicOption1" value="1"> 完全公開
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="publicOption" id="publicOption2" value="2"> 透過授權碼公開，授權碼：<span id="access_code"></span>
              </label>
            </div>
          </div>
          <div class="modal-footer">
            <a id="updatePublicBtn" href="#" onclick="changePublic(this)" data-activityid="<%=activity.getActivityDetailsByUserId[0].id%>" class="btn btn-primary">確定</a>
          </div>
        </div>
      </div>
    </div>

    <!-- 共編設定 Modal -->
    <!--
    <div id="shareModal" data-backdrop="static" data-keyboard="false" class="modal bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">請選擇活動共編的方式</h4>
          </div>
          <div class="modal-body">
            <div class="radio">
              <label>
                <input type="radio" name="shareOption" id="shareOption0" value="0"> 不開放共編
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="shareOption" id="shareOption1" value="1"> 開放共編
              </label>
            </div>
            <div class="row">
              <div class="col-md-6">
                <input id="shareMember" type="text" class="form-control" placeholder="請輸入共編者的 Email">
              </div>
              <div class="col-md-4">
                <select class="form-control" id="shareMemberMethod">
                  <option value="0" selected>可編輯</option>
                  <option value="1">僅能查看活動架構與內容</option>
                  <option value="2">僅能查看活動架構</option>
                </select>
              </div>
              <div class="col-md-2">
                <a data-activityid="0" id="addShareMemberBtn" class="btn btn-primary form-control" type="button">加入</a>
              </div>
            </div>
            <table id="shareMemberTable" class="table table-striped">
              <thead>
                <tr>
                  <th>姓名</th>
                  <th>Email</th>
                  <th>共編方式</th>
                  <th>刪除</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
          <div class="modal-footer">
            <a id="updateShareBtn" href="#" onclick="changeShare(this)" data-activityid="<%=activity.getActivityDetailsByUserId[0].id%>" class="btn btn-primary">確定</a>
          </div>
        </div>
      </div>
    </div>
    -->
    <!-- 指派群組 Modal -->
    <div id="assignModal" data-backdrop="static" data-keyboard="false" class="modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">請選擇活動指派的群組</h4>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col-md-12">
                      <table id="assignGroupTable" class="table table-striped table-responsive">
                        <thead>
                          <tr>
                            <th>選擇</th>
                            <th>群組名稱</th>
                            <th>開始日期</th>
                            <th>結束日期</th>
                          </tr>
                        </thead>
                        <tbody>
                          <%
                            if(groups.length!=0){
                              for(var g=0;g<groups.length;g++){
                                var group = groups[g];
                          %>
                              <tr id="assign_<%=group.id%>">
                                <td><input class="assignEle form-control" type="checkbox"></td>
                                <td><%=group.name%></td>
                                <td>
                                  <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                    <input class="sinceEle form-control pull-right" type="text">
                                  </div>                                 
                                </td>
                                <td>
                                  <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                    <input class="untilEle form-control pull-right" type="text">
                                  </div>                                 
                                </td>
                              </tr>
                          <%
                              }
                            }else{
                          %>
                              <tr>
                                <td colspan="4"><a href="/group">還沒有群組，立即創造吧!</a></td>
                              </tr>
                          <%
                            }
                          %>
                        </tbody>
                      </table>  
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
                    <button type="button" id="updateAssignDataBtn" data-activityid="" class="btn btn-primary">確定指派</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 酷課雲 Header 角色 -->
    <div class="roleInfo" style="display:none;">
      <a id="logonBlock" href="javascript:void(0)">
        <img id="logonpic" src="<%=user.photoUrl%>"/>
        <img id="logonBack" src="/images/logon_back.png">
      </a>
      <div id="logonName"><%=user.name%></div>
      <div id="logonRole"><%=user.role_name%></div>
      <ul class="navigation">
        <li>
          <ul style="display:none">
            <li><a href="http://sso.tp.edu.tw/accountservice/" target="_blank">個人資訊</a></li>
            <li class="logout"><a href="/users/logout">登出</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <script src="/javascripts/jquery-3.2.1.min.js"></script>
    <script src="/javascripts/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script src="/javascripts/DataTables/datatables.min.js"></script>
    <script src="/javascripts/DataTables/RowReorder-1.2.0/js/dataTables.rowReorder.min.js"></script>
    <script src="/javascripts/bootstrap-maxlength.js"></script>
    <script src="/javascripts/jcrop/jquery.Jcrop.min.js"></script>
    <script src="/javascripts/icheck/icheck.min.js"></script>
    <script src="/javascripts/moment.js"></script>
    <script src="/javascripts/bootstrap-datetimepicker.min.js"></script>
    <script>
      $(document).ready(function(){

        var materialData = <%- JSON.stringify(activity.getMaterials); %>;
        $("input[maxlength]").maxlength();
        $('#assignGroupTable input[type="checkbox"]').iCheck({
          checkboxClass: 'icheckbox_minimal'
        });
        $('#assignGroupTable input[type="checkbox"]').on('ifChecked', function(){
          $(this).closest('tr').addClass('selected');
        }).on('ifUnchecked', function(){
          $(this).closest('tr').removeClass('selected');
        });

        $(".sinceEle").datetimepicker({
        	useCurrent:false,
          showClose:true,
          format: 'YYYY-MM-DD',
          showClear: true
        }).on('dp.change', function(e){
          if(e.date){
            var targetDate = moment(e.date);
            var targetStartEle = $(e.target);          
            var targetEndEle = targetStartEle.closest('tr').find('.untilEle');
            targetEndEle.datetimepicker().data('DateTimePicker').minDate(targetDate);
          }
        });
        $(".untilEle").datetimepicker({
        	useCurrent:false,
          showClose:true,
          format: 'YYYY-MM-DD',
          showClear: true
        }).on('dp.change', function(e){
          if(e.date){
            var targetDate = moment(e.date);
            var targetEndEle = $(e.target);          
            var targetStartEle = targetEndEle.closest('tr').find('.sinceEle');
            var targetStartEle_currentDate = targetStartEle.datetimepicker().data('DateTimePicker').date();
            if(targetStartEle_currentDate){
              targetStartEle_currentDate = moment(targetStartEle_currentDate);
              targetStartEle.datetimepicker().data('DateTimePicker').date(targetDate);
            }
            targetStartEle.datetimepicker().data('DateTimePicker').maxDate(targetDate);
          }
        });

        //公開Modal處理
        $('#publicModal input[type="radio"]').iCheck({
            radioClass: 'iradio_flat-blue'
        });
        $('#publicModal').on('show.bs.modal', function(event){
          $('#publicModal input[name=publicOption]').prop('checked',false);
          $('#publicModal input[name=publicOption]').closest('.iradio_flat-blue').removeClass('checked');
        }).on('shown.bs.modal', function(event){
          var button = $(event.relatedTarget);
          var activityId = button.attr('data-activityid');
          var accessCode = button.attr('data-accesscode');
          var isPublic = button.attr('data-ispublic');
          $('#publicModal input#publicOption'+isPublic).prop('checked',true);
          $('#publicModal input#publicOption'+isPublic).closest('.iradio_flat-blue').addClass('checked');
          var modal = $(this);
          modal.find('#access_code').html(accessCode);
          modal.find('#updatePublicBtn').attr('data-activityid',activityId);
        });

        //共編Modal處理
        /*
        $('#shareModal input[type="radio"]').iCheck({
            radioClass: 'iradio_flat-blue'
        });
        $('#shareModal').on('show.bs.modal', function(event){
          $('#shareMemberTable tbody').empty();
          $('#shareModal input[name=shareOption]').prop('checked',false);
          $('#shareModal input[name=shareOption]').closest('.iradio_flat-blue').removeClass('checked');
        }).on('shown.bs.modal', function(event){
          var button = $(event.relatedTarget);
          var activityId = button.attr('data-activityid');
          var isShare = button.attr('data-isshare');
          $('#shareModal input#shareOption'+isShare).prop('checked',true);
          $('#shareModal input#shareOption'+isShare).closest('.iradio_flat-blue').addClass('checked');
          var modal = $(this);
          modal.find('#updateShareBtn').attr('data-activityid',activityId);
          modal.find('#addShareMemberBtn').attr('data-activityid',activityId);
          $.ajax({
            url: '/api/activity/share/edit/'+activityId,
            type:"GET",
            success: function(shareMembers){
              for(var i=0;i<shareMembers.length;i++){
                var member = shareMembers[i];
                var memberMethod = '可編輯';
                if(member.member_share=='1'){
                  memberMethod = '僅能查看活動架構與內容';
                }else if(member.member_share=='2'){
                  memberMethod = '僅能查看活動架構';
                }
                var appendUser = '<tr data-user="'+member.member_mail+'"><td>'+member.member_name+'</td><td>'+member.member_mail+'</td><td>'+memberMethod+'</td><td><a href="#" onclick="deleteShareMember(this);" data-activityid="'+activityId+'" data-membermail="'+member.member_mail+'" class="btn btn-danger">刪除</a></td></tr>';
                $('#shareMemberTable tbody').append(appendUser);
              }
            },
            error:function(xhr, ajaxOptions, thrownError){
              console.log(xhr.status);
              console.log(thrownError);
            }
         	});
        });
        */
        //群組指派處理
        $('#assignModal').on('shown.bs.modal', function(event){
          $('#assignGroupTable input[type=checkbox]').iCheck('uncheck');
          var button = $(event.relatedTarget);
          var activityId = button.attr('data-activityid');
          var modal = $(this);
          modal.find('#updateAssignDataBtn').attr('data-activityid', activityId);
          $.ajax({
            url: '/api/activity/teacher/assign/group/'+activityId,
            type:"GET",
            success: function(result){
              if(result.success){
                var groupAssign = result.data;
                for(var gaIndex=0;gaIndex<groupAssign.length;gaIndex++){
                  var ga = groupAssign[gaIndex];
                  var $targetRow = $('#assignGroupTable tbody').find('tr#assign_'+ga['group_id']);
                  $targetRow.addClass('selected');
                  $targetRow.find('input[type=checkbox]').iCheck('check');
                  if(ga.start_date){
                    var m_start_date = moment(ga.start_date);
                    $targetRow.find('.sinceEle').datetimepicker().data('DateTimePicker').date(m_start_date);
                    $targetRow.find('.untilEle').datetimepicker().data('DateTimePicker').minDate(m_start_date);
                  }
                  if(ga.end_date){
                    var m_end_date = moment(ga.end_date);
                    $targetRow.find('.untilEle').datetimepicker().data('DateTimePicker').date(m_end_date);
                  }
                }
              }              
            },
            error:function(xhr, ajaxOptions, thrownError){
              console.log(xhr.status);
              console.log(thrownError);
            }
         	});
        });
        $('#updateAssignDataBtn').on('click', function(){
          var btn = $(this);
          var assignGroups = [];
          $('#assignGroupTable tbody tr.selected').each(function(){
            var $targetRow = $(this);
            assignGroups.push({
              id:$targetRow.attr('id').split('_')[1],
              start_date:$targetRow.find('.sinceEle').val(),
              end_date:$targetRow.find('.untilEle').val()
            });
          });
          $.ajax({
            url: '/api/activity/teacher/assign/group/'+btn.attr('data-activityid'),
            type:"POST",
            data:'groups='+JSON.stringify(assignGroups),
            success: function(result){
              if(result.success){
                $('#assignModal').modal('hide');
              }
            },
            error:function(xhr, ajaxOptions, thrownError){
              console.log(xhr.status);
              console.log(thrownError);
            }
         	});
        });

        //酷課雲 header 處理
        if($('.roleInfo').length>0){
          $('.rolemenu').html($('.roleInfo').html());
          /*選單顯示控制*/
          $("#logonBlock").on("click",function(){
            if ($("ul.navigation li > ul").is(":visible")) {
              $("ul.navigation li > ul").css("display","none");
            } else {
              $("ul.navigation li > ul").css("display","block");
            }
          });
          $('.container-fluid').css('margin-top','-80px');
        }

        var materialTable = $('#materialTable').DataTable({
          language:{
            url:'/locales/<%=t('lang-code')%>/materialTable.json'
          },
          rowReorder: true,
          rowReorder: {
            dataSrc: 'activity_order',
          },
          columns:[
            { data:'activity_order', orderable:true, searchable:false },
            { data:'type', orderable:false, searchable:false, render:function(data, type, row){
              var typeIcon = '<i class="fa fa-asterisk" aria-hidden="true"></i>';
              switch(data){
                case 1: //link
                  typeIcon = '<i class="fa fa-link" aria-hidden="true"></i>';
                  break; 
                case 2: //video
                  typeIcon = '<i class="fa fa-video-camera" aria-hidden="true"></i>';
                  break;
                case 3: //pdf
                  typeIcon = '<i class="fa fa-file-pdf-o" aria-hidden="true"></i>';
                  break;
                case 4: //assessment
                  typeIcon = '<i class="fa fa-pencil-square-o" aria-hidden="true"></i>';
                  break;
                case 5: //article
                  typeIcon = '<i class="fa fa-file-text-o" aria-hidden="true"></i>';
                  break;
              }
              return typeIcon;
            } },
            { data:'type', orderable:false, searchable:false, render:function(data, type, row){
              var typeStr = '';
              switch(data){
                case 1: //link
                  typeStr = 'web';
                  break; 
                case 2: //video
                  typeStr = 'video';
                  break;
                case 3: //pdf
                  typeStr = 'pdf';
                  break;
                case 4: //assessment
                  typeStr = 'assessment';
                  break;
                case 5: //article
                  typeStr = 'article';
                  break;
              }
              return '<a href="/teacher/activity/edit/<%=activity.getActivityDetailsByUserId[0].id%>/'+typeStr+'/edit/'+row.id+'">'+row.name+'</a>';
            } },
            { data:'weight', orderable:false, searchable:false, render:function(data, type, row){
              return '<input data-id="'+row.id+'" class="material_weight" type="number" max="100" min="0" value="'+((data)?data:0)+'">';
            } }
          ],
          data:materialData,
          lengthChange: false,
          searching: false,
          paging: false,
          info: false
        });
        materialTable.on('row-reorder', function(e, diff, edit){
          var updateRowData = [];
          for ( var i=0, ien=diff.length ; i<ien ; i++ ) {
            var rowData = materialTable.row( diff[i].node ).data();
            updateRowData.push({
              material_id:rowData['id'],
              material_name:rowData['name'],
              activity_order:diff[i].newData
            });
          }
          $.ajax({
            url : '/teacher/activity/<%=activity.getActivityDetailsByUserId[0].id%>/material/reorder',
            type: 'post',
            data : 'updateRow='+JSON.stringify(updateRowData)
          }).done(function(response){
            console.log('reorder row successfully!');
          });
        });
        
        //更新活動Metadata
        $('#updateActivityBtn').on('click', function(){
          $('#activity_data').val(document.getElementById('myCanva').toDataURL());
          var post_url = $('#activity_form').attr("action"); 
          var request_method = $('#activity_form').attr("method"); 
          var form_data = $('#activity_form').serialize(); 
          $.ajax({
            url : post_url,
            type: request_method,
            data : form_data
          }).done(function(response){
            $('.editActivity>h3').html($('#activity_name').val()); 
            alert('已儲存');
          });
        });

        //sidebar
        $(".sidebarMenu > li.dropMenu > a").on("click", function(i){
          i.preventDefault();
          if( ! $(this).parent().hasClass("activeDown") ){
            $(".sidebarMenu li ul").slideUp();
            $(this).next().slideToggle();
            $(".sidebarMenu li").removeClass("activeDown");
            $(this).parent().addClass("activeDown");
          }
          else{
            $(this).next().slideToggle();
            $(".sidebarMenu li").removeClass("activeDown");
          }
        });

        $('.material_weight').on('keyup mouseup', function(){
          var weight = $(this).val();
          var material_id = $(this).attr('data-id');
          if(weight){
            $.ajax({
              url : '/api/material/weight/'+material_id,
              type: 'POST',
              data : 'weight='+weight
            }).done(function(response){
              console.log(response.success);
            });
          }
        });
        $('#avgWeightBtn').on('click', function(){
          var mLength = $('.material_weight').length;
          if(mLength!=0){
            var totalWeight = 100;
            var weight = Math.floor(totalWeight/mLength);
            var last = totalWeight%mLength;
            $(".material_weight").each(function(index,value){
              var updateWeight = weight;
			        var m = $(this);
			        if(index!=(mLength-1)){
				        m.val(weight);
			        }else{
                updateWeight += last;
				        m.val(weight+last);
              }
              $.ajax({
                url : '/api/material/weight/'+m.attr('data-id'),
                type: 'POST',
                data : 'weight='+updateWeight
              }).done(function(response){
                console.log(response.success);
              });
            });
          }
        });

        $('#subjectSelector').on('change', function(){
          var subjectName = $('#subjectSelector option[value='+$('#subjectSelector').val()+']').html();
          $('#activity_subject_name').val(subjectName);
        });
        
        //活動圖片處理
        $('.upload-btn').on('click', function (){
          $('#upload-input').click();
          $('.progress-bar').text('0%');
          $('.progress-bar').width('0%');
        });
        $('#upload-input').on('change', function(){
          var files = $(this).get(0).files;
          if (files.length > 0){
            var oFile = files[0];
            if(oFile.size>5*1024*1024){
              alert('圖片大小請勿超過5MB');
              return;
            }
            var fileReader = new FileReader();
            fileReader.readAsDataURL(oFile);
            fileReader.onload = function(e){
              $('#activity_img').attr('src', e.target.result);
              initJcrop();
            };
          }
        });
        
        //複製活動處理
        $('#copyActivityModal').on('show.bs.modal', function(){
          var modal = $(this);
          modal.find('#copyActivityMessage').html('確定要複製此課程嗎?');
        });

      });
      var jcrop_api;
      var wdthScale;
      var heightScale;
      function initJcrop() {
        if(jcrop_api){
          jcrop_api.destroy();
        }
        $('#activity_img').Jcrop({
          onChange: updateCoords,
          onSelect: showCoords,
          aspectRatio: 1,
          allowSelect:false
        }, function() { 
          jcrop_api = this;
          jcrop_api.setSelect([0, 0, 220, 220]);
        });
      }
      function updateCoords(c) {
        var canvas = document.getElementById('myCanva');
        var context = canvas.getContext('2d');
        var img = document.getElementById('activity_img');
        var $img = $(img),
            imgW = img.width,
            imgH = img.height;
        var ratioY = imgH / $img.height(),
            ratioX = imgW / $img.width();
        var getX = c.x * ratioX,
            getY = c.y * ratioY,
            getWidth = c.w * ratioX,
            getHeight = c.h * ratioY;
        context.drawImage(img,getX,getY,getWidth,getHeight,0,0,320,320);
      }
      function showCoords(c) {
        $('#x').val(c.x);
        $('#y').val(c.y);
        $('#x2').val(c.x2);
        $('#y2').val(c.y2);
        $('#w').val(c.w);
        $('#h').val(c.h);
      }
      //公開設定
      function changePublic(ele){
        console.log('changePublic:'+$('#publicModal input[name=publicOption]:checked').val());
        var targetEle = $(ele);
        var targetVal = $('#publicModal input[name=publicOption]:checked').val();
        var targetId = targetEle.attr('data-activityid');
        $.ajax({
          url: '/api/activity/public/edit/'+targetId,
          data:'isPublic='+targetVal,
          type:"POST",
          success: function(result){
            $('#changePublicBtn').attr('data-ispublic',targetVal);
            $('#publicModal').modal('hide');
          },
          error:function(xhr, ajaxOptions, thrownError){
            console.log(xhr.status);
            console.log(thrownError);
          }
        });
      }
      //共編設定
      /*
      function changeShare(ele){
        var targetEle = $(ele);
        var targetVal = $('#shareModal input[name=shareOption]:checked').val();
        var targetId = targetEle.attr('data-activityid');
        $.ajax({
          url: '/api/activity/share/save/'+targetId,
          data:'isShare='+targetVal,
          type:"POST",
          success: function(result){
            $('#changeShareBtn').attr('data-isshare',targetVal);
            $('#shareModal').modal('hide');
          },
          error:function(xhr, ajaxOptions, thrownError){
            console.log(xhr.status);
            console.log(thrownError);
          }
        });
      }
      */
    </script>
  </body>
</html>
