<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/javascripts/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/javascripts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/javascripts/DataTables/datatables.min.css">
    <link rel="stylesheet" href="/javascripts/DataTables/Select-1.2.2/css/select.dataTables.min.css">
    <link rel="stylesheet" href="/javascripts/jcrop/jquery.Jcrop.min.css">
    <link rel="stylesheet" href="/javascripts/icheck/skins/all.css">
    <link rel="stylesheet" href="/javascripts/OrgChart/jquery.orgchart.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="/stylesheets/teacher.css">
    <link rel="stylesheet" href="/stylesheets/logon.css">
    <link rel="stylesheet" href="/stylesheets/teacher_edit_adaptive.css">
    <link rel="stylesheet" href="/stylesheets/teacher_edit_assessment.css">
  </head>
  <body>

    <%- cooc_header %>

    <div class="container-fluid">
      <ol class="breadcrumb">
        <li><a href="/teacher">我的活動</a></li>
        <li class="active">活動編輯</li>
      </ol>
      <div class="row">
        <div class="col-sm-3">
          <div class="editActivity"><h3><%=activity.getActivityDetailsByUserId[0].name%></h3></div>
          <br />
          <div class="sidebar-btn">
            <%
              if(activity.getMaterials.length!=0){
            %>
            <a class="btn btn-default" href="/teacher/activity/preview/<%=activity.getActivityDetailsByUserId[0].id%>/<%=activity.getMaterials[0].id%>">
            <%
              }else{
            %>
            <a class="btn btn-default" href="#" disabled>
            <%
              }
            %>
              <span class="download-text">
                <i class="fa fa-eye" aria-hidden="true"></i>&nbsp;&nbsp;</i>預覽
              </span>
            </a>
          </div>
          <div class="sidebar-btn">
            <a class="btn btn-info" href="#">
              <span class="download-text">
                <i class="fa fa-area-chart" aria-hidden="true">&nbsp;&nbsp;</i>儀表板
              </span>
            </a>
          </div>
          <div class="sidebar-btn">
              <a class="btn btn-warning" href="/forum/teacher/activity/<%=activity.getActivityDetailsByUserId[0].id%>/questions">
                <span class="download-text">
                  <i class="fa fa-comments-o" aria-hidden="true">&nbsp;&nbsp;</i>討論區
                </span>
              </a>
            </div>          
          <div class="sidebar-btn">
            <a class="btn btn-default" data-toggle="modal" data-target="#assignModal" data-activityid="<%=activity.getActivityDetailsByUserId[0].id%>">
              <span class="download-text">
                <i class="fa fa-users" aria-hidden="true">&nbsp;&nbsp;</i>指派
              </span>
            </a>
          </div>
          <div class="sidebar-btn">
            <a id="changePublicBtn" class="btn btn-default" data-activityid="<%=activity.getActivityDetailsByUserId[0].id%>" data-ispublic="<%=activity.getActivityDetailsByUserId[0].is_public%>" data-accesscode="<%=activity.getActivityDetailsByUserId[0].access_code%>" data-toggle="modal" data-target="#publicModal">
              <span class="download-text">
                <i class="fa fa-globe" aria-hidden="true">&nbsp;&nbsp;</i>公開
              </span>
            </a>
          </div>         
        </div>
        <div class="col-md-9" style="background:#f5f5f5;">
          <div class="box box-widget">
            <div class="box-header with-border">
              <h3 class="box-title">活動基本資料</h3>
              <div class="box-tools">
                <button type="button" class="btn btn-sm btn-default btn-box-tool" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-pencil" aria-hidden="true"></i></button>
              </div>
            </div>
            <div class="box-body collapse" id="collapseExample">
              <div class="row">
                <div class="col-md-12">
                  <form id="activity_form" method="post" action="/teacher/activity/metadata">
                    <div class="form-group">
                      <label>活動名稱</label>
                      <input maxlength="30" type="text" id="activity_name" name="activity_name" class="form-control" value="<%=activity.getActivityDetailsByUserId[0].name%>">
                    </div>
                    <div class="form-group">
                      <label>活動描述</label>
                      <textarea name="activity_description" class="form-control" value="<%=activity.getActivityDetailsByUserId[0].description%>"></textarea>
                    </div>
                    <div class="form-group">
                      <label>活動類型</label>
                      <%
                        var activity_type = activity.getActivityDetailsByUserId[0].type;
                        var activity_type_str = '一般活動';
                        if(activity_type=='2'){
                          activity_type_str = '適性活動';
                        }else if(activity_type=='3'){
                          activity_type_str = '前後測';
                        }
                      %>
                      <input type="text" name="activity_type" class="form-control" value="<%=activity_type_str%>" disabled>
                    </div>
                    <div class="form-group">
                      <label>學制科目</label>
                      <select name="activity_subject" class="form-control">
                          <% var subject = activity.getActivityDetailsByUserId[0].subject; %>
                          <optgroup label="國小">
                            <option value="51" <%=(subject==51)?'selected':''%>>國小國語</option>
                            <option value="53" <%=(subject==53)?'selected':''%>>國小英語</option>
                            <option value="52" <%=(subject==52)?'selected':''%>>國小數學</option>
                            <option value="54" <%=(subject==54)?'selected':''%>>國小社會</option>
                            <option value="55" <%=(subject==55)?'selected':''%>>國小自然</option>
                          </optgroup>                       
                          <optgroup label="國中">
                            <option value="42" <%=(subject==42)?'selected':''%>>國中國文</option>
                            <option value="43" <%=(subject==43)?'selected':''%>>國中英文</option>
                            <option value="44" <%=(subject==44)?'selected':''%>>國中數學</option>
                            <option value="45" <%=(subject==45)?'selected':''%>>國中理化</option>
                            <option value="46" <%=(subject==46)?'selected':''%>>國中地理</option>
                            <option value="47" <%=(subject==47)?'selected':''%>>國中歷史</option>
                            <option value="48" <%=(subject==48)?'selected':''%>>國中公民</option>
                            <option value="49" <%=(subject==49)?'selected':''%>>國中生物</option>
                            <option value="50" <%=(subject==50)?'selected':''%>>國中地科</option>
                          </optgroup>                    
                          <optgroup label="高中">
                            <option value="4" <%=(subject==4)?'selected':''%>>高中國文</option>
                            <option value="5" <%=(subject==4)?'selected':''%>>高中英文</option>
                            <option value="6" <%=(subject==6)?'selected':''%>>高中數學</option>
                            <option value="10" <%=(subject==10)?'selected':''%>>高中物理</option>
                            <option value="11" <%=(subject==11)?'selected':''%>>高中化學</option>
                            <option value="13" <%=(subject==13)?'selected':''%>>高中地科</option>
                            <option value="12" <%=(subject==12)?'selected':''%>>高中生物</option>
                            <option value="7" <%=(subject==7)?'selected':''%>>高中歷史</option>
                            <option value="8" <%=(subject==8)?'selected':''%>>高中地理</option>
                            <option value="9" <%=(subject==9)?'selected':''%>>高中公民</option>
                          </optgroup>
                      </select>
                    </div>
                    <div class="form-group">
                      <label>活動圖片</label>
                      <%
                        var activityImg = '/images/default-activity-image.png';
                        if(activity.getActivityDetailsByUserId[0]['img_data'] && activity.getActivityDetailsByUserId[0]['img_data'].indexOf('default')==-1){
                          activityImg = activity.getActivityDetailsByUserId[0]['img_data'];
                        }
                      %>
                      <div id="preview">
                        <img id="activity_img" src="<%=activityImg%>"><br /><br />
                        <button class="btn upload-btn" type="button">上傳圖片</button>
                      </div>
                      <canvas id="myCanva" width="320" height="320"></canvas>                     
                      <input id="upload-input" type="file" name="activity_img" accept="image/*">
                      <input type="hidden" id="activity_img_val" name="activity_img_val" value="<%=activityImg%>">
                      <input type="hidden" id="activity_data" name="activity_data" value="">
                    </div>                   
                    <div class="form-group">
                      <div class="col-sm-offset-2 col-sm-10">
                        <button id="updateActivityBtn" type="button" class="btn btn-primary pull-right">儲存</button>
                      </div>
                    </div>
                    <input type="hidden" id="activity_subject_name" name="activity_subject_name" value="<%=activity.getActivityDetailsByUserId[0].subject_name%>">
                    <input type="hidden" name="activity_id" value="<%=activity.getActivityDetailsByUserId[0].id%>">
                    <input type="hidden" id="x"  name="coord_x" value="0" />
                    <input type="hidden" id="y"  name="coord_y" value="0" />
                    <input type="hidden" id="x2" name="coord_x2" value="220"/>
                    <input type="hidden" id="y2" name="coord_y2" value="220"/>
                    <input type="hidden" id="w"  name="size_w" value="220"/>
                    <input type="hidden" id="h"  name="size_h" value="220"/>  
                  </form>           
                </div>
              </div>
            </div><!-- .box-body -->
          </div><!-- .box -->
          <div class="box box-widget">
            <div class="box-header with-border">
              <h3 class="box-title">前後測設定</h3>
              <div class="box-tools pull-right">
               <!-- <a id="avgWeightBtn" class="btn btn-primary btn-xs">平均權重</a> -->
              </div>
            </div>
            <div class="box-body">
              <div class="row">
                <div class="col-md-12">
                    <div id="chart-container"></div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <a id="saveBtn" class="btn btn-primary">儲存</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- cooc_footer %>

    <!-- 公開設定 Modal -->
    <div id="publicModal" data-backdrop="static" data-keyboard="false" class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">請選擇活動公開的方式</h4>
          </div>
          <div class="modal-body">
            <div class="radio">
              <label>
                <input type="radio" name="publicOption" id="publicOption0" value="0"> 不公開
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="publicOption" id="publicOption1" value="1"> 完全公開
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="publicOption" id="publicOption2" value="2"> 透過授權碼公開，授權碼：<span id="access_code"></span>
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="publicOption" id="publicOption3" value="3"> 由作者授權同意公開
              </label>
            </div>
          </div>
          <div class="modal-footer">
            <a id="updatePublicBtn" href="#" onclick="changePublic(this)" data-activityid="<%=activity.getActivityDetailsByUserId[0].id%>" class="btn btn-primary">確定</a>
          </div>
        </div>
      </div>
    </div>

    <!-- 加入測驗 Modal -->
    <div id="assessmentModal" class="modal bs-example-modal-lg" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title">請選擇一個測驗</h4>
              </div>
              <div class="modal-body">
                  <div class="row">
                      <div class="col-md-12">
                          <table id="assessmentTable" width="100%" class="table table-responsive">
                              <thead>
                                  <tr>
                                      <th>活動名稱</th>
                                      <th>展開教材</th>
                                  </tr>
                              </thead>
                              <tbody></tbody>
                          </table>
                      </div>
                  </div>                    
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                  <button id="addAssessmentBtn" type="button" class="btn btn-primary" data-node="">加入測驗</button>
              </div>
          </div>
      </div>
    </div>

    <!-- 加入活動/教材 Modal -->
    <div id="materialModal" class="modal bs-example-modal-lg" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">請選擇一個活動或教材</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <table id="activityTable" width="100%" class="table table-responsive">
                                <thead>
                                    <tr>
                                        <th>活動名稱</th>
                                        <th>展開教材</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button id="addMaterialBtn" type="button" class="btn btn-primary" data-node="">加入</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 刪除節點Modal -->
    <div id="removeNodeModal" class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <h4>確定要刪除嗎?</h4>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button id="removeNodeBtn" data-node="" data-child="" type="button" class="btn btn-primary">確定</button>
          </div>
        </div>
      </div>
    </div>

    <!-- 指派群組 Modal -->
    <div id="assignModal" data-backdrop="static" data-keyboard="false" class="modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title">請選擇活動指派的群組</h4>
                    </div>
                    <div class="modal-body">
                      <div class="row">
                        <div class="col-md-12">
                          <table id="assignGroupTable" class="table table-striped table-responsive">
                            <thead>
                              <tr>
                                <th>選擇</th>
                                <th>群組名稱</th>
                                <th>開始日期</th>
                                <th>結束日期</th>
                              </tr>
                            </thead>
                            <tbody>
                              <%
                                if(groups.length!=0){
                                  for(var g=0;g<groups.length;g++){
                                    var group = groups[g];
                              %>
                                  <tr id="assign_<%=group.id%>">
                                    <td><input class="assignEle form-control" type="checkbox"></td>
                                    <td><%=group.name%></td>
                                    <td>
                                      <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                        <input class="sinceEle form-control pull-right" type="text">
                                      </div>                                 
                                    </td>
                                    <td>
                                      <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                        <input class="untilEle form-control pull-right" type="text">
                                      </div>                                 
                                    </td>
                                  </tr>
                              <%
                                  }
                                }else{
                              %>
                                  <tr>
                                    <td colspan="4"><a href="/group">還沒有群組，立即創造吧!</a></td>
                                  </tr>
                              <%
                                }
                              %>
                            </tbody>
                          </table>  
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
                        <button type="button" id="updateAssignDataBtn" data-activityid="" class="btn btn-primary">確定指派</button>
                    </div>
                </div>
            </div>
        </div>

    <!-- 酷課雲 Header 角色 -->
    <div class="roleInfo" style="display:none;">
      <a id="logonBlock" href="javascript:void(0)">
        <img id="logonpic" src="<%=user.photoUrl%>"/>
        <img id="logonBack" src="/images/logon_back.png">
      </a>
      <div id="logonName"><%=user.name%></div>
      <div id="logonRole"><%=user.role_name%></div>
      <ul class="navigation">
        <li>
          <ul style="display:none">
            <li><a href="http://sso.tp.edu.tw/accountservice/" target="_blank">個人資訊</a></li>
            <li class="logout"><a href="/users/logout">登出</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <script src="/javascripts/jquery-3.2.1.min.js"></script>
    <script src="/javascripts/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script src="/javascripts/bootstrap-maxlength.js"></script>
    <script src="/javascripts/jcrop/jquery.Jcrop.min.js"></script>
    <script src="/javascripts/icheck/icheck.min.js"></script>
    <script src="/javascripts/OrgChart/jquery.orgchart.js"></script>
    <script src="/javascripts/DataTables/datatables.min.js"></script>
    <script src="/javascripts/moment.js"></script>
    <script src="/javascripts/bootstrap-datetimepicker.min.js"></script>
    <script>
      $(document).ready(function(){

        var selectedTarget;
        var selectedAssessmentTarget;
        var adaptiveHierarchy = <%- activity.getActivityDetailsByUserId[0].hierarchy %>;
        var materialData = <%- JSON.stringify(activity.getMaterials); %>;
        $("input[maxlength]").maxlength();
        $('#assignGroupTable input[type="checkbox"]').iCheck({
          checkboxClass: 'icheckbox_minimal'
        });
        $('#assignGroupTable input[type="checkbox"]').on('ifChecked', function(){
          $(this).closest('tr').addClass('selected');
        }).on('ifUnchecked', function(){
          $(this).closest('tr').removeClass('selected');
        });

        $(".sinceEle").datetimepicker({
        	useCurrent:true,
          showClose:true,
          format: 'YYYY-MM-DD'
        });
        $(".untilEle").datetimepicker({
        	useCurrent:false,
          showClose:true,
          format: 'YYYY-MM-DD'
        });

        var assessmentTable = $('#assessmentTable').DataTable({
          serverSide: true,
          processing:true,
          ajax:{
            url:'/api/activity/adaptive/assessment'
          },
          responsive: true,
          pageLength:10,
          columns:[
            { data:'name', orderable:true, searchable:true },
            {
                "className":      'details-control',
                "orderable":      false,
                "data":           null,
                "defaultContent": ''
            }
          ],
          lengthChange: false,
          searching: true,
          paging: true,
          info: true,
          createdRow: function (row, data, index) {
            $(row).addClass("activity");
          }
        });
        $('#assessmentTable tbody').on('click', 'td.details-control', function () {
          var tr = $(this).closest('tr');
          var row = assessmentTable.row( tr );
          if ( row.child.isShown() ) {
            row.child.hide();
            tr.removeClass('shown');
          }
          else {
            row.child( format(row.data()),('material_'+row.data().id) ).show();
            var materialDataSrc = row.data().materials;
            var assessmentMaterialTableEle = $('#assessmentTable tbody tr.material_'+row.data().id+' table');
            var assessmentMaterialTable = assessmentMaterialTableEle.DataTable({
              columns:[
                { data:'name', orderable:false, searchable:false },
                { data:'type', orderable:false, searchable:false, render:function(data, type, row){
                  return '<i class="fa fa-pencil-square-o" aria-hidden="true"></i>';
                } }
              ],
              data:materialDataSrc,
              lengthChange: false,
              searching: false,
              paging: false,
              info: false
            });
            assessmentMaterialTableEle.on('click', 'tbody tr', function(){
              var mTr = $(this);
              if(mTr.hasClass('selected')){
                mTr.removeClass('selected');
              }else{
                $('#assessmentTable tbody tr.selected').removeClass('selected');
                mTr.addClass('selected');
                var assessmentMaterialTableIdx = assessmentMaterialTable.cell('.selected', 0).index();
                selectedAssessmentTarget = assessmentMaterialTable.row( assessmentMaterialTableIdx.row ).data();
              }
            });
            tr.addClass('shown');
          }
        } );

        $('#assessmentModal').on('shown.bs.modal', function(event){
            $.fn.dataTable.tables( {visible: true, api: true} ).columns.adjust();
            var button = $(event.relatedTarget);
            var nodeId = button.attr('data-id');
            var modal = $(this);
            modal.find('#addAssessmentBtn').attr('data-node',nodeId);
        });

        var activityTable = $('#activityTable').DataTable({
          serverSide: true,
          processing:true,
          ajax:{
            url:'/api/activity/adaptive/all'
          },
          responsive: true,
          pageLength:10,
          columns:[
            { data:'name', orderable:true, searchable:true },
            {
                "className":      'details-control',
                "orderable":      false,
                "data":           null,
                "defaultContent": ''
            }
          ],
          lengthChange: false,
          searching: true,
          paging: true,
          info: true,
          createdRow: function (row, data, index) {
            $(row).addClass("activity");
          }
        });
        $('#activityTable tbody').on('click', 'td.details-control', function () {
          var tr = $(this).closest('tr');
          var row = activityTable.row( tr );
          if ( row.child.isShown() ) {
            row.child.hide();
            tr.removeClass('shown');
          }
          else {
            row.child( format(row.data()),('material_'+row.data().id) ).show();
            var materialDataSrc = row.data().materials;
            var materialTableEle = $('#activityTable tbody tr.material_'+row.data().id+' table');
            var materialTable = materialTableEle.DataTable({
              columns:[
                { data:'name', orderable:false, searchable:false },
                { data:'type', orderable:false, searchable:false, render:function(data, type, row){
                  var typeIcon = '<i class="fa fa-asterisk" aria-hidden="true"></i>';
                  switch(data){
                    case 1: //link
                      typeIcon = '<i class="fa fa-link" aria-hidden="true"></i>';
                      break; 
                    case 2: //video
                      typeIcon = '<i class="fa fa-video-camera" aria-hidden="true"></i>';
                      break;
                    case 3: //pdf
                      typeIcon = '<i class="fa fa-file-pdf-o" aria-hidden="true"></i>';
                      break;
                    case 4: //assessment
                      typeIcon = '<i class="fa fa-pencil-square-o" aria-hidden="true"></i>';
                      break;
                    case 5: //article
                      typeIcon = '<i class="fa fa-file-text-o" aria-hidden="true"></i>';
                      break;
                  }
                  return typeIcon;
                } }
              ],
              data:materialDataSrc,
              lengthChange: false,
              searching: false,
              paging: false,
              info: false
            });
            materialTableEle.on('click', 'tbody tr', function(){
              var mTr = $(this);
              if(mTr.hasClass('selected')){
                mTr.removeClass('selected');
              }else{
                $('#activityTable tbody tr.selected').removeClass('selected');
                mTr.addClass('selected');
                var materialTableIdx = materialTable.cell('.selected', 0).index();
                selectedTarget = materialTable.row( materialTableIdx.row ).data();
              }
            });
            tr.addClass('shown');
          }
        } );
        $('#activityTable tbody').on( 'click', 'tr.activity', function () {
          var trEle = $(this);
          if ( trEle.hasClass('selected') ) {
            trEle.removeClass('selected');
          }
          else {
              $('#activityTable tbody tr.selected').removeClass('selected');
              trEle.addClass('selected');
              var activityTableIdx = activityTable.cell('.selected', 0).index();
              selectedTarget = activityTable.row( activityTableIdx.row ).data();
          }
        } );

        function format(d){
          var materialTableTemp = '<table class="table" cellpadding="5" cellspacing="0" border="0">'+
                   '<thead>'+
                     '<tr>'+
                       '<th>教材</th>'+
                       '<th>類型</th>'+
                     '</tr>'+
                   '</thead>'+
                   '<tbody>'+
                '</table>';
          return materialTableTemp;
        }

        $('#materialModal').on('shown.bs.modal', function(event){
            $.fn.dataTable.tables( {visible: true, api: true} ).columns.adjust();
            var button = $(event.relatedTarget);
            var nodeId = button.attr('data-id');
            var modal = $(this);
            modal.find('#addMaterialBtn').attr('data-node',nodeId);
        });

        $('#adaptiveModal').on('shown.bs.modal', function(event){
            var button = $(event.relatedTarget);
            var nodeId = button.attr('data-id');
            var category = button.attr('data-category');
            var type = parseInt(button.attr('data-type'));
            var typeIcon = '<i class="fa fa-futbol-o" aria-hidden="true"></i>';
            if(category=='material'){
              switch(type){
                case 1: //link
                  typeIcon = '<i class="fa fa-link" aria-hidden="true"></i>';
                  break; 
                case 2: //video
                  typeIcon = '<i class="fa fa-video-camera" aria-hidden="true"></i>';
                  break;
                case 3: //pdf
                  typeIcon = '<i class="fa fa-file-pdf-o" aria-hidden="true"></i>';
                  break;
                case 4: //assessment
                  typeIcon = '<i class="fa fa-pencil-square-o" aria-hidden="true"></i>';
                  break;
                case 5: //article
                  typeIcon = '<i class="fa fa-file-text-o" aria-hidden="true"></i>';
                  break;
                default:
                  typeIcon = '<i class="fa fa-asterisk" aria-hidden="true"></i>';
              }
            }
            var name = button.attr('data-name');
            var modal = $(this);
            modal.find('#progress_type_icon').html(typeIcon);
            modal.find('#progress_activity_name').val(name);
        });
        $('#removeNodeModal').on('shown.bs.modal', function(event){
          var button = $(event.relatedTarget);
          var nodeId = button.attr('data-id');
          var modal = $(this);
          modal.find('#removeNodeBtn').attr('data-node', nodeId);
        });
        $('#removeNodeBtn').on('click', function(){
          var nodeId = $(this).attr('data-node');
          $('.orgchart table tr td div#'+nodeId+' div.content div.nodeContent ').remove();
          $('#removeNodeModal').modal('hide');
        });

        $('#addAssessmentBtn').on('click', function(){
            if(!selectedAssessmentTarget){
              alert('請選擇一個測驗');
              return;
            }
            var category = 'material';
            var selectedId = selectedAssessmentTarget.id;
            var selectedName = selectedAssessmentTarget.name;
            var selectedType = selectedAssessmentTarget.type;
            var nodeId = $(this).attr('data-node');
            var nodeContentEle = $('.orgchart table tr td div#'+nodeId+' > div.content');
            nodeContentEle.empty().html(
                '<div class="input-group nodeContent" data-category="'+category+'" data-id="'+selectedId+'" data-name="'+selectedName+'" data-type="'+selectedType+'">'+
                    '<span class="input-group-addon"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>'+
                    '<input type="text" value="'+selectedName+'" class="form-control" aria-label="..." disabled>'+
                    '<div class="input-group-btn">'+
                        '<button data-id="'+nodeId+'" data-child="" class="btn btn-default adaptive-remove" data-toggle="modal" data-target="#removeNodeModal" type="button"><i class="fa fa-trash-o" aria-hidden="true"></i></button>'+
                    '</div>'+
                '</div>'
            );
            $('#assessmentModal').modal('hide');
        });

        $('#addMaterialBtn').on('click', function(){
            if(!selectedTarget){
              alert('請選擇一個活動或教材');
              return;
            }
            var category = selectedTarget.category;
            if(!category){
              category = 'material';
            }
            var typeIcon = '<i class="fa fa-futbol-o" aria-hidden="true"></i>';
            var selectedId = selectedTarget.id;
            var selectedName = selectedTarget.name;
            var selectedType = selectedTarget.type;
            if(category=='material'){
              switch(selectedType){
                case 1: //link
                  typeIcon = '<i class="fa fa-link" aria-hidden="true"></i>';
                  break; 
                case 2: //video
                  typeIcon = '<i class="fa fa-video-camera" aria-hidden="true"></i>';
                  break;
                case 3: //pdf
                  typeIcon = '<i class="fa fa-file-pdf-o" aria-hidden="true"></i>';
                  break;
                case 4: //assessment
                  typeIcon = '<i class="fa fa-pencil-square-o" aria-hidden="true"></i>';
                  break;
                case 5: //article
                  typeIcon = '<i class="fa fa-file-text-o" aria-hidden="true"></i>';
                  break;
              }
            }
            var nodeId = $(this).attr('data-node');
            var nodeContentEle = $('.orgchart table tr td div#'+nodeId+' > div.content');
            nodeContentEle.empty().html(
                '<div class="input-group nodeContent" data-category="'+category+'" data-id="'+selectedId+'" data-name="'+selectedName+'" data-type="'+selectedType+'">'+
                    '<span class="input-group-addon">'+typeIcon+'</span>'+
                    '<input type="text" value="'+selectedName+'" class="form-control" aria-label="..." disabled>'+
                    '<div class="input-group-btn">'+
                        '<button data-id="'+nodeId+'" data-child="" class="btn btn-default adaptive-remove" data-toggle="modal" data-target="#removeNodeModal" type="button"><i class="fa fa-trash-o" aria-hidden="true"></i></button>'+
                    '</div>'+
                '</div>'
            );
            $('#materialModal').modal('hide');
        });

        $('#saveBtn').on('click', function(){
          var hierarchy = oc.getHierarchy();
          $.ajax({
            url: '/api/activity/teacher/adaptive/<%=activity.getActivityDetailsByUserId[0].id%>',
            type:"POST",
            data:'hierarchy='+JSON.stringify(hierarchy),
            success: function(result){
              if(result.success){
                alert('已儲存!');
              }
            },
            error:function(xhr, ajaxOptions, thrownError){
              console.log(xhr.status);
              console.log(thrownError);
            }
         	});
        });

        //OrgChart
        var datascource = {
            'id':'1',
            'title':'起始活動',
            'name':'',
            'empty':true
        };
        var nodeTemplate = function(data) {
          if(data.id=='1' || data.id=='3'){
            if(data.content_id){      
              return `
                <div class="title">
                    <div class="add-func btn-group-vertical" role="group" aria-label="...">
                        <a data-id="${data.id}" class="btn btn-default btn-sm" disabled><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;新增測驗</a>
                        <a data-id="${data.id}" class="btn btn-default btn-sm" data-toggle="modal" data-target="#assessmentModal"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;加入測驗</a>
                    </div>
                </div>
                <div class="content">
                  <div class="input-group nodeContent" data-category="${data.content_category}" data-id="${data.content_id}" data-name="${data.content_name}" data-type="${data.content_type}">
                    <span class="input-group-addon"><i class="${data.content_icon}" aria-hidden="true"></i></span>
                    <input type="text" value="${data.content_name}" class="form-control" aria-label="..." disabled>
                    <div class="input-group-btn">
                      <button data-id="${data.id}" data-child="${data.content_child}" data-child="" class="btn btn-default adaptive-remove" data-toggle="modal" data-target="#removeNodeModal" type="button"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                    </div>
                </div>
              `;   
            }else{
              return `
                <div class="title">
                    <div class="add-func btn-group-vertical" role="group" aria-label="...">
                        <a data-id="${data.id}" class="btn btn-default btn-sm" disabled><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;新增測驗</a>
                        <a data-id="${data.id}" class="btn btn-default btn-sm" data-toggle="modal" data-target="#assessmentModal"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;加入測驗</a>
                    </div>
                </div>
                <div class="content">
                </div>
              `;
            }
          }else{
            if(data.content_id){      
              return `
                <div class="title">
                    <div class="add-func btn-group-vertical" role="group" aria-label="...">
                        <a data-id="${data.id}" class="btn btn-default btn-sm" disabled><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;新增教材</a>
                        <a data-id="${data.id}" class="btn btn-default btn-sm" data-toggle="modal" data-target="#materialModal"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;加入活動/教材</a>
                    </div>
                </div>
                <div class="content">
                  <div class="input-group nodeContent" data-category="${data.content_category}" data-id="${data.content_id}" data-name="${data.content_name}" data-type="${data.content_type}">
                    <span class="input-group-addon"><i class="${data.content_icon}" aria-hidden="true"></i></span>
                    <input type="text" value="${data.content_name}" class="form-control" aria-label="..." disabled>
                    <div class="input-group-btn">
                      <button data-id="${data.id}" data-child="${data.content_child}" data-child="" class="btn btn-default adaptive-remove" data-toggle="modal" data-target="#removeNodeModal" type="button"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                    </div>
                </div>
              `;   
            }else{
              return `
                <div class="title">
                    <div class="add-func btn-group-vertical" role="group" aria-label="...">
                        <a data-id="${data.id}" class="btn btn-default btn-sm" disabled><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;新增教材</a>
                        <a data-id="${data.id}" class="btn btn-default btn-sm" data-toggle="modal" data-target="#materialModal"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;加入活動/教材</a>
                    </div>
                </div>
                <div class="content">
                </div>
              `;
            }
          }
        };
        
        var oc = $('#chart-container').orgchart({
            'data' : adaptiveHierarchy,
            'nodeID': 'id',
            'nodeTitle':'title',
            'toggleSiblingsResp': false,
            'parentNodeSymbol': '',
            'nodeTemplate': nodeTemplate
        });

        //公開Modal處理
        $('#publicModal input[type="radio"]').iCheck({
            radioClass: 'iradio_flat-blue'
        });
        $('#publicModal').on('show.bs.modal', function(event){
          $('#publicModal input[name=publicOption]').prop('checked',false);
          $('#publicModal input[name=publicOption]').closest('.iradio_flat-blue').removeClass('checked');
        }).on('shown.bs.modal', function(event){
          var button = $(event.relatedTarget);
          var activityId = button.attr('data-activityid');
          var accessCode = button.attr('data-accesscode');
          var isPublic = button.attr('data-ispublic');
          $('#publicModal input#publicOption'+isPublic).prop('checked',true);
          $('#publicModal input#publicOption'+isPublic).closest('.iradio_flat-blue').addClass('checked');
          var modal = $(this);
          modal.find('#access_code').html(accessCode);
          modal.find('#updatePublicBtn').attr('data-activityid',activityId);
        });

        //群組指派處理
        $('#assignModal').on('shown.bs.modal', function(event){
          $('#assignGroupTable input[type=checkbox]').iCheck('uncheck');
          var button = $(event.relatedTarget);
          var activityId = button.attr('data-activityid');
          var modal = $(this);
          modal.find('#updateAssignDataBtn').attr('data-activityid', activityId);
          $.ajax({
            url: '/api/activity/teacher/assign/group/'+activityId,
            type:"GET",
            success: function(result){
              if(result.success){
                var groupAssign = result.data;
                for(var gaIndex=0;gaIndex<groupAssign.length;gaIndex++){
                  var ga = groupAssign[gaIndex];
                  var $targetRow = $('#assignGroupTable tbody').find('tr#assign_'+ga['group_id']);
                  $targetRow.addClass('selected');
                  $targetRow.find('input[type=checkbox]').iCheck('check');
                }
              }              
            },
            error:function(xhr, ajaxOptions, thrownError){
              console.log(xhr.status);
              console.log(thrownError);
            }
         	});
        });
        $('#updateAssignDataBtn').on('click', function(){
          var btn = $(this);
          var assignGroups = [];
          $('#assignGroupTable tbody tr.selected').each(function(){
            var $targetRow = $(this);
            assignGroups.push({
              id:$targetRow.attr('id').split('_')[1],
              start_date:$targetRow.find('.sinceEle').val(),
              end_date:$targetRow.find('.untilEle').val()
            });
          });
          $.ajax({
            url: '/api/activity/teacher/assign/group/'+btn.attr('data-activityid'),
            type:"POST",
            data:'groups='+JSON.stringify(assignGroups),
            success: function(result){
              if(result.success){
                $('#assignModal').modal('hide');
              }
            },
            error:function(xhr, ajaxOptions, thrownError){
              console.log(xhr.status);
              console.log(thrownError);
            }
         	});
        });

        //酷課雲 header 處理
        if($('.roleInfo').length>0){
          $('.rolemenu').html($('.roleInfo').html());
          /*選單顯示控制*/
          $("#logonBlock").on("click",function(){
            if ($("ul.navigation li > ul").is(":visible")) {
              $("ul.navigation li > ul").css("display","none");
            } else {
              $("ul.navigation li > ul").css("display","block");
            }
          });
          $('.container-fluid').css('margin-top','-80px');
        }
        
        //更新活動Metadata
        $('#updateActivityBtn').on('click', function(){
          $('#activity_data').val(document.getElementById('myCanva').toDataURL());
          var post_url = $('#activity_form').attr("action"); 
          var request_method = $('#activity_form').attr("method"); 
          var form_data = $('#activity_form').serialize(); 
          $.ajax({
            url : post_url,
            type: request_method,
            data : form_data
          }).done(function(response){
            $('.editActivity>h3').html($('#activity_name').val()); 
            alert('已儲存');
          });
        });

        //sidebar
        $(".sidebarMenu > li.dropMenu > a").on("click", function(i){
          i.preventDefault();
          if( ! $(this).parent().hasClass("activeDown") ){
            $(".sidebarMenu li ul").slideUp();
            $(this).next().slideToggle();
            $(".sidebarMenu li").removeClass("activeDown");
            $(this).parent().addClass("activeDown");
          }
          else{
            $(this).next().slideToggle();
            $(".sidebarMenu li").removeClass("activeDown");
          }
        });

        $('#subjectSelector').on('change', function(){
          var subjectName = $('#subjectSelector option[value='+$('#subjectSelector').val()+']').html();
          $('#activity_subject_name').val(subjectName);
        });
        
        //活動圖片處理
        $('.upload-btn').on('click', function (){
          $('#upload-input').click();
          $('.progress-bar').text('0%');
          $('.progress-bar').width('0%');
        });
        $('#upload-input').on('change', function(){
          var files = $(this).get(0).files;
          if (files.length > 0){
            var oFile = files[0];
            if(oFile.size>5*1024*1024){
              alert('圖片大小請勿超過5MB');
              return;
            }
            var fileReader = new FileReader();
            fileReader.readAsDataURL(oFile);
            fileReader.onload = function(e){
              $('#activity_img').attr('src', e.target.result);
              initJcrop();
            };
          }
        });

      });
      var jcrop_api;
      var wdthScale;
      var heightScale;
      function initJcrop() {
        if(jcrop_api){
          jcrop_api.destroy();
        }
        $('#activity_img').Jcrop({
          onChange: updateCoords,
          onSelect: showCoords,
          aspectRatio: 1,
          allowSelect:false
        }, function() { 
          jcrop_api = this;
          jcrop_api.setSelect([0, 0, 220, 220]);
        });
      }
      function updateCoords(c) {
        var canvas = document.getElementById('myCanva');
        var context = canvas.getContext('2d');
        var img = document.getElementById('activity_img');
        var $img = $(img),
            imgW = img.width,
            imgH = img.height;
        var ratioY = imgH / $img.height(),
            ratioX = imgW / $img.width();
        var getX = c.x * ratioX,
            getY = c.y * ratioY,
            getWidth = c.w * ratioX,
            getHeight = c.h * ratioY;
        context.drawImage(img,getX,getY,getWidth,getHeight,0,0,320,320);
      }
      function showCoords(c) {
        $('#x').val(c.x);
        $('#y').val(c.y);
        $('#x2').val(c.x2);
        $('#y2').val(c.y2);
        $('#w').val(c.w);
        $('#h').val(c.h);
      }
      //公開設定
      function changePublic(ele){
        console.log('changePublic:'+$('#publicModal input[name=publicOption]:checked').val());
        var targetEle = $(ele);
        var targetVal = $('#publicModal input[name=publicOption]:checked').val();
        var targetId = targetEle.attr('data-activityid');
        $.ajax({
          url: '/api/activity/public/edit/'+targetId,
          data:'isPublic='+targetVal,
          type:"POST",
          success: function(result){
            $('#changePublicBtn').attr('data-ispublic',targetVal);
            $('#publicModal').modal('hide');
          },
          error:function(xhr, ajaxOptions, thrownError){
            console.log(xhr.status);
            console.log(thrownError);
          }
        });
      }
      function removeNodeContent(ele){
          var targetEle = $(ele);
          targetEle.closest('.nodeContent').remove();
      }
      function S4() {
        return (((1+Math.random())*0x10000)|0).toString(16).substring(1); 
      }
    </script>
  </body>
</html>
