<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/javascripts/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/javascripts/DataTables/datatables.min.css">
    <link rel="stylesheet" href="/javascripts/DataTables/Responsive-2.1.1/css/responsive.dataTables.min.css">
    <link rel="stylesheet" href="/javascripts/DataTables/Responsive-2.1.1/css/responsive.bootstrap.min.css">
    <link rel="stylesheet" href="/javascripts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/javascripts/icheck/skins/all.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="/stylesheets/teacher.css">
    <link rel="stylesheet" href="/stylesheets/intern/dashboard_teacher.css">
    <link rel="stylesheet" href="/stylesheets/logon.css">
    <style>
      table tbody tr td div.status div {
        display: inline;
        padding: 5px;
      }
      #assignGroupTable tbody tr td {
        vertical-align: middle;
      }
    </style>
  </head>
  <body>

    <%- cooc_header %>

    <div class="wrapper" ng-app="myApp">
      <div class="sidebar" ng-class="boolie ? 'closed' : ''">
        <div class="sidebarToggle" ng-click="boolie = !boolie">
          <i class="fa fa-ellipsis-v sidebar-toggleHam menuIcon" aria-hidden="true" ng-class="boolie ? 'rotate' : ''"></i>
          <span class="sidebar-toggleText">縮小</span>
        </div>
        <nav role="navigation" class="sidebarNav">
          <ul>
            <li class="sidebar-navItem">
              <a href="#" data-toggle="modal" data-target="#activityModal">
                <i class="menuIcon fa fa-plus-circle"></i>
                <span>建立新活動</span>
              </a>
            </li>
            <li class="sidebar-navItem">
              <a href="/teacher/material">
                <i class="menuIcon fa fa-file-o" aria-hidden="true"></i>
                <span>我的教材</span>
              </a>
            </li>
            <li class="sidebar-navItem">
              <a href="/group">
                <i class="menuIcon fa fa-users" aria-hidden="true"></i>
                <span>群組設定</span>
              </a>
            </li>
            <li class="sidebar-navItem">
              <a href="/dashboard/teacher">
                <i class="menuIcon fa fa-area-chart" aria-hidden="true"></i>
                <span>儀表板</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="main">
        <div class="col-md-12">
          <section id="teaTabs">
            <div class="tabsMenu">
              <ul>
                <li>
                  <a href="#firstTab" data-type="all" class="teaTabsMenu">我的活動</a>         
                </li>
                <li>
                  <a href="#secondTab" data-type="assign" class="teaTabsMenu">已指派活動</a> 
                </li>
                <li>
                  <a href="#thirdTab" data-type="open" class="teaTabsMenu">公開活動</a>
                </li>         
                <!--
                <li>
                  <a href="#fourthTab" data-type="share" class="teaTabsMenu">共編活動</a> 
                </li>
                -->
              </ul>
            </div>
            <p style="clear:left"></p>
            <div>   
              <div id="firstTab" class="tabContent col-md-12">
                <div class="activityTable">
                  <table id="allActivity" class="table">
                    <thead>
                      <tr>
                        <th>活動名稱</th>
                        <th>類型</th>
                        <th>建立日期</th>
                        <th>狀態</th>
                        <th>操作</th>
                      </tr>
                    </thead>
                    <tbody>
                    </tbody>
                  </table>
                </div>
              </div>
              <div id="secondTab" class="tabContent col-md-12">        
                <div class="activityTable">
                  <table id="assignActivity" class="table">
                    <thead>
                      <tr>
                        <th>活動名稱</th>
                        <th>類型</th>
                        <th>指派群組</th>
                        <th>指派日期</th>
                        <th>開始日期</th>
                        <th>結束日期</th>
                        <th>操作</th>
                      </tr>
                    </thead>
                    <tbody></tbody>
                  </table>
                </div>
              </div>
              <div id="thirdTab" class="tabContent col-md-12">        
                <div class="activityTable">
                  <table id="openActivity" class="table">
                    <thead>
                      <tr>
                        <th>活動名稱</th>
                        <th>類型</th>
                        <th>建立日期</th>
                      </tr>
                    </thead>
                    <tbody></tbody>
                  </table>
                </div>
              </div>
              <div id="fourthTab" class="tabContent col-md-12">   
                <div class="activityTable">
                  <table id="shareActivity" class="table">
                    <thead>
                      <tr>
                        <th>活動名稱</th>
                        <th>類型</th>
                        <th>建立日期</th>
                        <th>操作</th>
                      </tr>
                    </thead>
                    <tbody></tbody>
                  </table>
                </div>
              </div>
            </div>
            <p style="clear:left"></p>
          </section>
        </div>
      </div>
    </div>

    <%- cooc_footer %>

    <!-- 酷課雲 Header 角色 -->
    <div class="roleInfo" style="display:none;">
      <a id="logonBlock" href="javascript:void(0)">
        <img id="logonpic" src="<%=user.photoUrl%>"/>
        <img id="logonBack" src="/images/logon_back.png">
      </a>
      <div id="logonName"><%=user.name%></div>
      <div id="logonRole"><%=user.role_name%></div>
      <ul class="navigation">
        <li>
          <ul style="display:none">
            <li><a href="http://sso.tp.edu.tw/accountservice/" target="_blank">個人資訊</a></li>
            <li class="logout"><a href="/users/logout">登出</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <!-- 建立新活動Modal -->
    <div id="activityModal" class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form method="post" action="/teacher/activity/create">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">建立新的活動</h4>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="">活動名稱</label>
                <input name="activity_name" type="text" class="form-control" maxlength="30">
              </div>
              <div class="form-group">
                <label for="">活動類型</label><br />
                <div class="btn-group" data-toggle="buttons">
                  <label class="btn btn-default active">
                    <input type="radio" name="activity_type" id="option1" autocomplete="off" value="1" checked>一般
                  </label>
                  <label class="btn btn-default">
                    <input type="radio" name="activity_type" id="option2" value="2" autocomplete="off">適性
                  </label>
                  <label class="btn btn-default">
                    <input type="radio" name="activity_type" id="option3" value="3" autocomplete="off">前後測
                  </label>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
              <button type="submit" class="btn btn-primary">建立</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- 公開設定 Modal -->
    <div id="publicModal" data-backdrop="static" data-keyboard="false" class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">請選擇活動公開的方式</h4>
          </div>
          <div class="modal-body">
            <div class="radio">
              <label>
                <input type="radio" name="publicOption" id="publicOption0" value="0"> 不公開
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="publicOption" id="publicOption1" value="1"> 完全公開
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="publicOption" id="publicOption2" value="2"> 透過授權碼公開，授權碼：<span id="access_code"></span>
              </label>
            </div>
          </div>
          <div class="modal-footer">
            <a id="updatePublicBtn" href="#" onclick="changePublic(this)" data-activityid="0" data-table="all" class="btn btn-primary">確定</a>
          </div>
        </div>
      </div>
    </div>

    <!-- 共編設定 Modal -->
    <!--
    <div id="shareModal" data-backdrop="static" data-keyboard="false" class="modal bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">請選擇活動共編的方式</h4>
          </div>
          <div class="modal-body">
            <div class="radio">
              <label>
                <input type="radio" name="shareOption" id="shareOption0" value="0"> 不開放共編
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="shareOption" id="shareOption1" value="1"> 開放共編
              </label>
            </div>
            <div class="row">
              <div class="col-md-6">
                <input id="shareMember" type="text" class="form-control" placeholder="請輸入共編者的 Email">
              </div>
              <div class="col-md-4">
                <select class="form-control" id="shareMemberMethod">
                  <option value="0" selected>可編輯</option>
                  <option value="1">僅能查看活動架構與內容</option>
                  <option value="2">僅能查看活動架構</option>
                </select>
              </div>
              <div class="col-md-2">
                <a data-activityid="0" id="addShareMemberBtn" class="btn btn-primary form-control" type="button">加入</a>
              </div>
            </div>
            <table id="shareMemberTable" class="table table-striped">
              <thead>
                <tr>
                  <th>姓名</th>
                  <th>Email</th>
                  <th>共編方式</th>
                  <th>刪除</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
          <div class="modal-footer">
            <a id="updateShareBtn" href="#" onclick="changeShare(this)" data-activityid="0" data-table="all" class="btn btn-primary">確定</a>
          </div>
        </div>
      </div>
    </div>
    -->
    <!-- 指派群組 Modal -->
    <div id="assignModal" data-backdrop="static" data-keyboard="false" class="modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">請選擇活動指派的群組</h4>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col-md-12">
                      <table id="assignGroupTable" class="table table-striped table-responsive">
                        <thead>
                          <tr>
                            <th>選擇</th>
                            <th>群組名稱</th>
                            <th>開始日期</th>
                            <th>結束日期</th>
                          </tr>
                        </thead>
                        <tbody>
                          <%
                            if(groups.length!=0){
                              for(var g=0;g<groups.length;g++){
                                var group = groups[g];
                          %>
                              <tr id="assign_<%=group.id%>">
                                <td><input class="assignEle form-control" type="checkbox"></td>
                                <td><%=group.name%></td>
                                <td>
                                  <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                    <input class="sinceEle form-control pull-right" type="text">
                                  </div>                                 
                                </td>
                                <td>
                                  <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                    <input class="untilEle form-control pull-right" type="text">
                                  </div>                                 
                                </td>
                              </tr>
                          <%
                              }
                            }else{
                          %>
                              <tr>
                                <td colspan="4"><a href="/group">還沒有群組，立即創造吧!</a></td>
                              </tr>
                          <%
                            }
                          %>
                        </tbody>
                      </table>  
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
                    <button type="button" id="updateAssignDataBtn" data-activityid="" class="btn btn-primary">確定指派</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 更新指派日期 Model -->
    <div id="updateAssignDateModal" data-backdrop="static" data-keyboard="false" class="modal bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">請選擇活動指派的日期</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-6">
                <div class="input-group">
									<span class="input-group-addon">開始日期</span>
                  <input class="form-control" id="assign_since" type="text" placeholder="YYYY-MM-dd"/>
                </div>
              </div>
              <div class="col-md-6">
                <div class="input-group">
									<span class="input-group-addon">結束日期</span>
                  <input class="form-control" id="assign_until" type="text" placeholder="YYYY-MM-dd"/>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" id="updateAssignDateBtn" data-activityid="0" data-groupid="0" data-table="assign" class="btn btn-primary">更新指派日期</button>
          </div>
        </div>
      </div>
    </div>

    <script src="/javascripts/jquery-3.2.1.min.js"></script>
    <script src="/javascripts/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script src="/javascripts/bootstrap-confirmation.min.js"></script>
    <script src="/javascripts/DataTables/datatables.min.js"></script>
    <script src="/javascripts/DataTables/Responsive-2.1.1/js/dataTables.responsive.min.js"></script>
    <script src="/javascripts/DataTables/Responsive-2.1.1/js/responsive.bootstrap.min.js"></script>
    <script src="/javascripts/icheck/icheck.min.js"></script>
    <script src="/javascripts/moment.js"></script>
    <script src="/javascripts/bootstrap-datetimepicker.min.js"></script>
    <script src="/javascripts/bootstrap-maxlength.js"></script>
    <script src="/javascripts/angular.min.js"></script>
    <script>
      var app = angular.module('myApp', []);
      $(document).ready(function(){      
        
        $('#assignGroupTable input[type="checkbox"]').iCheck({
          checkboxClass: 'icheckbox_minimal'
        });
        $('#assignGroupTable input[type="checkbox"]').on('ifChecked', function(){
          $(this).closest('tr').addClass('selected');
        }).on('ifUnchecked', function(){
          $(this).closest('tr').removeClass('selected');
        });
        

        //分頁
        $('.tabContent').hide();
        $('.tabContent:first').show();
        $('.teaTabsMenu:first').addClass('active');
        $('.teaTabsMenu').click(function(){
          $('.teaTabsMenu').removeClass('active');
          $(this).addClass('active');
          var currentTab = $(this).attr('href');
          $('.tabContent').hide();
          var type = $(this).attr('data-type');
          $(currentTab).show();      
          $('#'+type+'Activity').DataTable().ajax.reload(); 
          return false;
        });

        //酷課雲 header 處理
        $('.rolemenu').html($('.roleInfo').html());
        $("#logonBlock").on("click",function(){
        	if ($("ul.navigation li > ul").is(":visible")) {
        		$("ul.navigation li > ul").css("display","none");
        	} else {
        		$("ul.navigation li > ul").css("display","block");
        	}
        });

        $("input[maxlength]").maxlength();

        //公開Modal處理
        $('#publicModal input[type="radio"]').iCheck({
            radioClass: 'iradio_flat-blue'
        });
        $('#shareModal input[type="radio"]').iCheck({
            radioClass: 'iradio_flat-blue'
        });
        $('#publicModal').on('show.bs.modal', function(event){
          $('#publicModal input[name=publicOption]').prop('checked',false);
          $('#publicModal input[name=publicOption]').closest('.iradio_flat-blue').removeClass('checked');
        }).on('shown.bs.modal', function(event){
          var button = $(event.relatedTarget);
          var activityId = button.attr('data-activityid');
          var accessCode = button.attr('data-accesscode');
          var isPublic = button.attr('data-ispublic');
          var targetTable = button.attr('data-table');
          $('#publicModal input#publicOption'+isPublic).prop('checked',true);
          $('#publicModal input#publicOption'+isPublic).closest('.iradio_flat-blue').addClass('checked');
          var modal = $(this);
          modal.find('#access_code').html(accessCode);
          modal.find('#updatePublicBtn').attr('data-activityid',activityId);
          modal.find('#updatePublicBtn').attr('data-table',targetTable);
        });

        //共編Modal處理
        /*
        $('#shareModal').on('show.bs.modal', function(event){
          $('#shareMemberTable tbody').empty();
          $('#shareModal input[name=shareOption]').prop('checked',false);
          $('#shareModal input[name=shareOption]').closest('.iradio_flat-blue').removeClass('checked');
        }).on('shown.bs.modal', function(event){
          var button = $(event.relatedTarget);
          var activityId = button.attr('data-activityid');
          var isShare = button.attr('data-isshare');
          var targetTable = button.attr('data-table');
          $('#shareModal input#shareOption'+isShare).prop('checked',true);
          $('#shareModal input#shareOption'+isShare).closest('.iradio_flat-blue').addClass('checked');
          var modal = $(this);
          modal.find('#updateShareBtn').attr('data-activityid',activityId);
          modal.find('#updateShareBtn').attr('data-table',targetTable);
          modal.find('#addShareMemberBtn').attr('data-activityid',activityId);
          $.ajax({
            url: '/api/activity/share/edit/'+activityId,
            type:"GET",
            success: function(shareMembers){
              for(var i=0;i<shareMembers.length;i++){
                var member = shareMembers[i];
                var memberMethod = '可編輯';
                if(member.member_share=='1'){
                  memberMethod = '僅能查看活動架構與內容';
                }else if(member.member_share=='2'){
                  memberMethod = '僅能查看活動架構';
                }
                var appendUser = '<tr data-user="'+member.member_mail+'"><td>'+member.member_name+'</td><td>'+member.member_mail+'</td><td>'+memberMethod+'</td><td><a href="#" onclick="deleteShareMember(this);" data-activityid="'+activityId+'" data-membermail="'+member.member_mail+'" class="btn btn-danger">刪除</a></td></tr>';
                $('#shareMemberTable tbody').append(appendUser);
              }
            },
            error:function(xhr, ajaxOptions, thrownError){
              console.log(xhr.status);
              console.log(thrownError);
            }
         	});
        });
        */
        //活動指派起始時間
        $(".sinceEle").datetimepicker({
        	useCurrent:false,
          showClose:true,
          format: 'YYYY-MM-DD',
          showClear: true
        }).on('dp.change', function(e){
          if(e.date){
            var targetDate = moment(e.date);
            var targetStartEle = $(e.target);          
            var targetEndEle = targetStartEle.closest('tr').find('.untilEle');
            targetEndEle.datetimepicker().data('DateTimePicker').minDate(targetDate);
          }
        });
        $(".untilEle").datetimepicker({
        	useCurrent:false,
          showClose:true,
          format: 'YYYY-MM-DD',
          showClear: true
        }).on('dp.change', function(e){
          if(e.date){
            var targetDate = moment(e.date);
            var targetEndEle = $(e.target);          
            var targetStartEle = targetEndEle.closest('tr').find('.sinceEle');
            var targetStartEle_currentDate = targetStartEle.datetimepicker().data('DateTimePicker').date();
            if(targetStartEle_currentDate){
              targetStartEle_currentDate = moment(targetStartEle_currentDate);
              targetStartEle.datetimepicker().data('DateTimePicker').date(targetDate);
            }
            targetStartEle.datetimepicker().data('DateTimePicker').maxDate(targetDate);
          }
        });

        //指派Modal處理
        $('#assignModal').on('shown.bs.modal', function(event){
          $('#assignGroupTable input[type=checkbox]').iCheck('uncheck');
          var button = $(event.relatedTarget);
          var activityId = button.attr('data-activityid');
          var modal = $(this);
          modal.find('#updateAssignDataBtn').attr('data-activityid', activityId);
          $.ajax({
            url: '/api/activity/teacher/assign/group/'+activityId,
            type:"GET",
            success: function(result){
              if(result.success){
                var groupAssign = result.data;
                for(var gaIndex=0;gaIndex<groupAssign.length;gaIndex++){
                  var ga = groupAssign[gaIndex];
                  var $targetRow = $('#assignGroupTable tbody').find('tr#assign_'+ga['group_id']);
                  $targetRow.addClass('selected');
                  $targetRow.find('input[type=checkbox]').iCheck('check');
                  if(ga.start_date){
                    var m_start_date = moment(ga.start_date);
                    $targetRow.find('.sinceEle').datetimepicker().data('DateTimePicker').date(m_start_date);
                    $targetRow.find('.untilEle').datetimepicker().data('DateTimePicker').minDate(m_start_date);
                  }
                  if(ga.end_date){
                    var m_end_date = moment(ga.end_date);
                    $targetRow.find('.untilEle').datetimepicker().data('DateTimePicker').date(m_end_date);
                  }
                }
              }              
            },
            error:function(xhr, ajaxOptions, thrownError){
              console.log(xhr.status);
              console.log(thrownError);
            }
         	});
        });
        $('#updateAssignDataBtn').on('click', function(){
          var btn = $(this);
          var assignGroups = [];
          $('#assignGroupTable tbody tr.selected').each(function(){
            var $targetRow = $(this);
            assignGroups.push({
              id:$targetRow.attr('id').split('_')[1],
              start_date:$targetRow.find('.sinceEle').val(),
              end_date:$targetRow.find('.untilEle').val()
            });
          });
          $.ajax({
            url: '/api/activity/teacher/assign/group/'+btn.attr('data-activityid'),
            type:"POST",
            data:'groups='+JSON.stringify(assignGroups),
            success: function(result){
              if(result.success){
                $('#allActivity tbody tr#'+btn.attr('data-activityid')+' td div.status_assign div.status_assign_counts').html(assignGroups.length);
                var targetActivity = $('#allActivity').DataTable().row('#row-'+btn.attr('data-activityid'));
                $('#assignModal').modal('hide');
              }
            },
            error:function(xhr, ajaxOptions, thrownError){
              console.log(xhr.status);
              console.log(thrownError);
            }
         	});
        });

        //更新活動指派日期處理
        $("#assign_since").datetimepicker({
        	useCurrent:false,
          showClose:true,
          format: 'YYYY-MM-DD',
          showClear: true
        }).on('dp.change', function(e){
          if(e.date){
            var targetDate = moment(e.date);
            $('#assign_until').datetimepicker().data('DateTimePicker').minDate(targetDate);
          }
        });
        $("#assign_until").datetimepicker({
        	useCurrent:false,
          showClose:true,
          format: 'YYYY-MM-DD',
          showClear: true
        }).on('dp.change', function(e){
          if(e.date){
            var targetDate = moment(e.date);
            var targetStartEle_currentDate = $('#assign_since').datetimepicker().data('DateTimePicker').date();
            if(targetStartEle_currentDate){
              targetStartEle_currentDate = moment(targetStartEle_currentDate);
              $('#assign_since').datetimepicker().data('DateTimePicker').date(targetDate);
            }
            $('#assign_since').datetimepicker().data('DateTimePicker').maxDate(targetDate);
          }
        });
        $('#updateAssignDateModal').on('shown.bs.modal', function(event){
          var button = $(event.relatedTarget);
          var activityId = button.attr('data-activityid');
          var groupId = button.attr('data-groupid');
          var o_since_date = button.attr('data-startdate');
          var o_until_date = button.attr('data-enddate');
          if(o_since_date){
            o_since_date = moment(o_since_date);
            $('#assign_since').datetimepicker().data('DateTimePicker').date(o_since_date);
            $('#assign_until').datetimepicker().data('DateTimePicker').minDate(o_since_date);
          }
          if(o_until_date){
            o_until_date = moment(o_until_date);
            $('#assign_until').datetimepicker().data('DateTimePicker').date(o_until_date);
          }
          var modal = $(this);
          modal.find('#updateAssignDateBtn').attr('data-activityid',activityId);
          modal.find('#updateAssignDateBtn').attr('data-groupid',groupId);
        });
        $('#updateAssignDateBtn').on('click', function(){
          var activityId = $(this).attr('data-activityid');
          var groupId = $(this).attr('data-groupid');
          $.ajax({
            url: '/api/activity/assign/date',
            data:'start_date='+$('#assign_since').val()+'&end_date='+$('#assign_until').val()+'&activity_id='+activityId+'&group_id='+groupId,
            type:"POST",
            success: function(result){
              $('#updateAssignDateModal').modal('hide');
              $('#assignActivity').DataTable().ajax.reload();
            },
            error:function(xhr, ajaxOptions, thrownError){
              console.log(xhr.status);
              console.log(thrownError);
            }
          });
        });
        /*
        $('#addShareMemberBtn').on('click', function(){
          var btn = $(this);
          var member = $('#shareMember').val();
          var memberMethod = $('#shareMemberMethod').val();
          if(member && member.trim()){
            if($("#shareMemberTable tbody").find("tr[data-user='" + member + "']").length!=0){
              return;
            }
            $.ajax({
              url: '/api/activity/share/edit/'+btn.attr('data-activityid'),
              data:'user_mail='+member+'&method='+memberMethod,
              type:"POST",
              success: function(result){
                if(result.success){
                  var user = result.data;
                  var appendUser = '<tr data-user="'+member+'"><td>'+user.name+'</td><td>'+member+'</td><td>'+$('#shareMemberMethod option:selected').html()+'</td><td><a href="#" onclick="deleteShareMember(this);" data-activityid="'+btn.attr('data-activityid')+'" data-membermail="'+member+'" class="btn btn-danger">刪除</a></td></tr>';
                  $('#shareMemberTable tbody').append(appendUser);
                  $('#shareMember').val('');
                }else{
                  alert(result.msg);
                }
              },
              error:function(xhr, ajaxOptions, thrownError){
                console.log(xhr.status);
                console.log(thrownError);
              }
            });
          }else{
            alert('請輸入Email!');
          }
        });
        */
        //我的全部活動
        $('#allActivity').DataTable({
          language:{
            url:'/locales/<%=t('lang-code')%>/dataTable.json'
          },
          responsive: true,
          serverSide: true,
          processing:true,
          ajax:{
            url:'/api/activity/all'
          },
          paging: true,
          pagingType: 'full_numbers',
          order: [[ 2, "desc" ]],
          rowId:'id',
          columns: [
            { data:'name', render:function(data, type, row){
              var editLink = '<a href="/teacher/activity/edit/'+row['id']+'">'+data+'</a>';
              switch(row.type){
                case 3:
                editLink = '<a href="/teacher/activity/assessment/edit/'+row['id']+'">'+data+'</a>';
                  break;
                case 2:
                  editLink = '<a href="/teacher/activity/adaptive/edit/'+row['id']+'">'+data+'</a>';
                  break;
              }
              return editLink;
            } },
            { data:'type', orderable:false, searchable:false, render:function(data, type, row){
              var typeStr = '<span class="label label-default">一般</span>';
              switch(data){
                case 2:
                  typeStr = '<span class="label label-success">適性</span>';
                  break;
                case 3:
                  typeStr = '<span class="label label-primary">前後測</span>';
                  break;
              }
              return typeStr;
            } },
            { data:'create_date', searchable:false },
            { data:'id', orderable:false, searchable:false, render:function(data, type, row){
              var status = '<div class="status" id="status_'+data+'">';
              if(row.is_share){
                status += '<div class="status_share"><i class="fa fa-unlock-alt" aria-hidden="true"></i></div>';
              }else{
                status += '<div class="status_share"><i class="fa fa-lock" aria-hidden="true"></i></div>';
              }
              status += '<div class="status_assign"><i class="fa fa-users" aria-hidden="true"></i> <div class="status_assign_counts">'+row.assign_group+'</div></div>';
              status += '</div>';
              return status;
            } },
            { data:'id', orderable:false, searchable:false, render:function(data, type, row){
              var more = ('<div class="btn-group">'
                            +'<a class="btn btn-default" href="/teacher/activity/edit/'+data+'">編輯</a>'
                            +'<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">'
                              +'<span class="caret"></span>'
                            +'</button>'
                            +'<ul class="dropdown-menu">'
                              +'<li><a  href="#" data-activityid="'+data+'" data-on-confirm="removeActivity" data-popout="true" data-toggle="confirmation" data-title="確定刪除嗎?" data-btn-ok-label="確定" data-btn-cancel-label="取消" data-table="all"><i class="fa fa-trash" aria-hidden="true"></i> 刪除</a></li>'
                              +'');
              more += ('<li id="public'+data+'"><a href="#" data-activityid="'+data+'" data-table="all" data-ispublic="'+row.is_public+'" data-accesscode="'+row.access_code+'" data-toggle="modal" data-target="#publicModal"><i class="fa fa-cloud" aria-hidden="true"></i> 公開設定</a></li>');
              //more += ('<li id="share'+data+'"><a href="#" data-activityid="'+data+'" data-table="all" data-isshare="'+row.is_share+'" data-accesscode="'+row.access_code+'" data-toggle="modal" data-target="#shareModal"><i class="fa fa-lock" aria-hidden="true"></i> 共編設定</a></li>');
              if(row.is_assign){
                more += ('<li id="assign'+data+'"><a href="#" data-activityid="'+data+'" data-groupid="'+row['group_id']+'"><i class="fa fa-users" aria-hidden="true"></i> '+row['group_name']+'</a></li>');
              }else{
                more += ('<li id="assign'+data+'"><a href="#" data-activityid="'+data+'" data-toggle="modal" data-target="#assignModal"><i class="fa fa-users" aria-hidden="true"></i> 指派群組</a></li>');
              }
              more += '</ul></div>';
              return more;               
            } }
          ]
        }).on('draw', function(){
          $('#allActivity [data-toggle=confirmation]').confirmation({
            rootSelector: '[data-toggle=confirmation]'
          });
        });

        $('#assignActivity').DataTable({
          language:{
            url:'/locales/<%=t('lang-code')%>/dataTable.json'
          },
          serverSide: true,
          processing:true,
          deferLoading:0,
          paging: true,
          pagingType: 'full_numbers',
          ajax:{
            url:'/api/activity/assign'
          },
          order: [[ 3, "desc" ]],
          columns: [
            { data:'name', render:function(data, type, row){
              return '<a href="/teacher/activity/edit/'+row['activity_id']+'">'+data+'</a>';
            } },
            { data:'type', orderable:false, searchable:false, render:function(data, type, row){
              var typeStr = '<span class="label label-default">一般</span>';
              switch(data){
                case 2:
                  typeStr = '<span class="label label-success">適性</span>';
                  break;
                case 3:
                  typeStr = '<span class="label label-primary">前後測</span>';
                  break;
              }
              return typeStr;
            } },
            { data:'group_name', searchable:false },
            { data:'assign_date_format', searchable:false },
            { data:'start_date_format', searchable:false, render: function(data, type, row){
              if(data){
                if(data=='1970/01/01'){
                  return '';
                }else{
                  return data;
                }
              }else{
                return '';
              }
            } },
            { data:'end_date_format', searchable:false, render: function(data, type, row){
              if(data){
                if(data=='1970/01/01'){
                  return '';
                }else{
                  return data;
                }
              }else{
                return '';
              }
            } },
            { data:'activity_id', orderable:false, searchable:false, render:function(data, type, row){
              return ('<div class="btn-group">'
                        +'<a class="btn btn-default" href="/dashboard/teacher/wat/activity/'+data+'">儀表板</a>'
                        +'<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">'
                          +'<span class="caret"></span>'
                        +'</button>'
                        +'<ul class="dropdown-menu">'
                          +'<li id="assign_assign'+data+'"><a href="#" data-startdate="'+row['start_date_format']+'" data-enddate="'+row['end_date_format']+'" data-activityid="'+data+'" data-groupid="'+row['group_id']+'" data-toggle="modal" data-target="#updateAssignDateModal"><i class="fa fa-calendar" aria-hidden="true"></i> 更新到期日</a></li>'
                        +'</ul>'
                      +'</div>');
            } }
          ]
        });
        $('#openActivity').DataTable({
          language:{
            url:'/locales/<%=t('lang-code')%>/dataTable.json'
          },
          serverSide: true,
          processing:true,
          deferLoading:0,
          paging: true,
          pagingType: 'full_numbers',
          ajax:{
            url:'/api/activity/open'
          },
          order: [[ 2, "desc" ]],
          columns: [
            { data:'name', render:function(data, type, row){
              return '<a href="/teacher/activity/edit/'+row['id']+'">'+data+'</a>';
            } },
            { data:'type', orderable:false, searchable:false, render:function(data, type, row){
              var typeStr = '<span class="label label-default">一般</span>';
              switch(data){
                case 2:
                  typeStr = '<span class="label label-success">適性</span>';
                  break;
                case 3:
                  typeStr = '<span class="label label-primary">前後測</span>';
                  break;
              }
              return typeStr;
            } },
            { data:'create_date', searchable:false }
          ]
        });
        /*
        $('#shareActivity').DataTable({
          language:{
            url:'/locales/<%=t('lang-code')%>/dataTable.json'
          },
          serverSide: true,
          processing:true,
          deferLoading:0,
          paging: true,
          pagingType: 'full_numbers',
          ajax:{
            url:'/api/activity/share'
          },
          order: [[ 2, "desc" ]],
          columns: [
            { data:'name', render:function(data, type, row){
              return '<a href="/teacher/activity/edit/'+row['id']+'">'+data+'</a>';
            } },
            { data:'type', orderable:false, searchable:false, render:function(data, type, row){
              var typeStr = '<span class="label label-default">一般</span>';
              switch(data){
                case 2:
                  typeStr = '<span class="label label-success">適性</span>';
                  break;
                case 3:
                  typeStr = '<span class="label label-primary">前後測</span>';
                  break;
              }
              return typeStr;
            } },
            { data:'create_date', searchable:false },
            { data:'id', orderable:false, searchable:false, render:function(data, type, row){
              return ('<div class="btn-group">'
                        +'<button type="button" class="btn btn-default">編輯</button>'
                        +'<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">'
                          +'<span class="caret"></span>'
                        +'</button>'
                        +'<ul class="dropdown-menu">'
                        +'</ul>'
                      +'</div>');
            } }
          ]
        });
        */
      });
      
      function changePublic(ele){
        console.log('changePublic:'+$('#publicModal input[name=publicOption]:checked').val());
        var targetEle = $(ele);
        var targetVal = $('#publicModal input[name=publicOption]:checked').val();
        var targetId = targetEle.attr('data-activityid');
        var targetTable = targetEle.attr('data-table');
        $.ajax({
          url: '/api/activity/public/edit/'+targetId,
          data:'isPublic='+targetVal,
          type:"POST",
          success: function(result){
            $('#'+targetTable+'Activity tbody tr td div.btn-group ul li#public'+targetId+' a').attr('data-ispublic',targetVal);
            $('#publicModal').modal('hide');
          },
          error:function(xhr, ajaxOptions, thrownError){
            console.log(xhr.status);
            console.log(thrownError);
          }
        });
      }
      /*
      function changeShare(ele){
        var targetEle = $(ele);
        var targetVal = $('#shareModal input[name=shareOption]:checked').val();
        var targetId = targetEle.attr('data-activityid');
        var targetTable = targetEle.attr('data-table');
        $.ajax({
          url: '/api/activity/share/save/'+targetId,
          data:'isShare='+targetVal,
          type:"POST",
          success: function(result){
            $('#'+targetTable+'Activity tbody tr td div.btn-group ul li#share'+targetId+' a').attr('data-isshare',targetVal);
            $('#shareModal').modal('hide');
          },
          error:function(xhr, ajaxOptions, thrownError){
            console.log(xhr.status);
            console.log(thrownError);
          }
        });
      }

      function deleteShareMember(ele){
        var targetEle = $(ele);
        var activityId = targetEle.attr('data-activityid');
        var member_mail = targetEle.attr('data-membermail');
        $.ajax({
          url: '/api/activity/share/remove/'+activityId,
          data:'member_mail='+member_mail,
          type:"POST",
          success: function(result){
            targetEle.parent().parent().remove();
          },
          error:function(xhr, ajaxOptions, thrownError){
            console.log(xhr.status);
            console.log(thrownError);
          }
        });
      }
      */
      function removeActivity(){
        var targetEle = $(this);
        var activityId = targetEle.attr('data-activityid');
        var targetTable = targetEle.attr('data-table');
        $.ajax({
          url: '/api/activity/remove/'+activityId,
          type:"POST",
          success: function(result){
            $('#'+targetTable+'Activity').DataTable().ajax.reload();
          },
          error:function(xhr, ajaxOptions, thrownError){
            console.log(xhr.status);
            console.log(thrownError);
          }
        });
      }

    </script>
  </body>
</html>