<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/javascripts/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/javascripts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/javascripts/icheck/skins/all.css">
    <link rel="stylesheet" href="/stylesheets/teacher.css">
    <link rel="stylesheet" href="/stylesheets/logon.css">
    <link rel="stylesheet" href="/stylesheets/teacher_edit.css">
  </head>
  <body>
    <% var activity_type = activity.getActivityDetailsByUserId[0].type; %>
    <%
     if(activity_type=='1'){
    %>
    <%- cooc_header %>
    <%
     }
    %>

    <div class="container-fluid">
      <ol class="breadcrumb">
        <li><a href="/teacher">我的活動</a></li>
        <%
          if(activity_type=='1'){
        %>
        <li><a href="/teacher/activity/edit/<%=activity.getActivityDetailsByUserId[0].id%>">活動編輯</a></li>
        <%
          }else{
        %>
        <li><a href="/teacher/activity/adaptive/edit/<%=activity.getActivityDetailsByUserId[0].id%>">活動編輯</a></li>
        <%
          }
        %>
        <li class="active">網頁教材編輯</li>
      </ol>
      <div class="row">
        <div class="col-sm-3">
          <div class="editActivity"><h3><%=activity.getActivityDetailsByUserId[0].name%></h3></div>
          <%
            if(activity_type=='1'){
          %>
          <ul class="editData">
          <%
            }else{
          %>
          <ul class="editData" style="display:none;">
          <%
            }
          %>
            <%
              var materials = activity.getMaterials;
              for(var m=0;m<materials.length;m++){
                var material = materials[m];
                var typeStr = '';
                var typeIcon = '<i class="fa fa-asterisk" aria-hidden="true"></i>';
                switch(material.type){
                  case 1:
                    typeIcon = '<i class="fa fa-link" aria-hidden="true"></i>';
                    typeStr = 'web';
                    break; 
                  case 2:
                    typeIcon = '<i class="fa fa-video-camera" aria-hidden="true"></i>';
                    typeStr = 'video';
                    break;
                  case 3:
                    typeIcon = '<i class="fa fa-file-pdf-o" aria-hidden="true"></i>';
                    typeStr = 'pdf';
                    break;
                  case 4:
                    typeIcon = '<i class="fa fa-pencil-square-o" aria-hidden="true"></i>';
                    typeStr = 'assessment';
                    break;
                  case 5:
                    typeIcon = '<i class="fa fa-file-text-o" aria-hidden="true"></i>';
                    typeStr = 'article';
                    break;
                }
            %>
                <li class="addSource">
                  <a href="/teacher/activity/edit/<%=activity.getActivityDetailsByUserId[0].id%>/<%=typeStr%>/edit/<%=material.id%>"><%-typeIcon%>&nbsp;&nbsp;<%=material.name%></a>
                </li>
            <%
              }
            %>
            <li>
              <ul class="sidebarMenu">
                <li class="dropMenu">
                  <a href="#"><span class="fa fa-plus"></span>&nbsp;&nbsp;教材</a>
                  <ul>
                    <li><a href="/teacher/activity/edit/<%=activity.getActivityDetailsByUserId[0].id%>/web/create">網頁</a></li>
                    <li><a href="/teacher/activity/edit/<%=activity.getActivityDetailsByUserId[0].id%>/video/create">影片</a></li>
                    <li><a href="/teacher/activity/edit/<%=activity.getActivityDetailsByUserId[0].id%>/pdf/create">PDF</a></li>
                    <li><a href="/teacher/activity/edit/<%=activity.getActivityDetailsByUserId[0].id%>/assessment/create">測驗</a></li>
                    <li><a href="/teacher/activity/edit/<%=activity.getActivityDetailsByUserId[0].id%>/article/create">文章</a></li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>                      
        </div>
        <div class="col-md-9" style="background:#f5f5f5;">
          <div class="box box-widget">
            <div class="box-header with-border">
              <h3 class="box-title"><i class="fa fa-link" aria-hidden="true"></i> <%=(material_id)?'編輯網頁教材':'建立新網頁教材'%></h3>    
            </div>
            <div class="box-body">
              <div class="row">
                <div class="col-md-12">
                    <%
                        var targetMaterial = null;
                        var activity_order = 0;
                        if(material_id){
                            for(var tm=0;tm<=materials.length;tm++){
                                if(material_id==materials[tm].id){
                                    targetMaterial = materials[tm];
                                    activity_order = targetMaterial.activity_order;
                                    break;
                                }
                            }
                        }else{
                          activity_order = materials.length+1;
                        }
                    %>
                    <%
                        if(material_id){
                    %>
                          <form id="web_form" method="post" action="/teacher/activity/edit/<%=activity.getActivityDetailsByUserId[0].id%>/web/edit">
                          <input type="hidden" name="material_id" value="<%=material_id%>">        
                    <%
                        }else{
                    %>
                          <form id="web_form" method="post" action="/teacher/activity/edit/<%=activity.getActivityDetailsByUserId[0].id%>/web/add">
                    <%
                        }
                    %>
                        <div class="form-group">
                            <label>教材名稱</label>
                            <input maxlength="30" type="text" name="web_name" class="form-control" value="<%=(material_id)?targetMaterial.name:''%>">
                        </div>
                        <div class="form-group">
                            <label>教材說明</label>
                            <textarea name="web_description" class="form-control" value="<%=(material_id)?targetMaterial.description:''%>"><%=(material_id)?targetMaterial.goal:''%></textarea>
                        </div>
                        <div class="form-group">
                            <label>教材目標</label>
                            <textarea name="web_goal" class="form-control" value="<%=(material_id)?targetMaterial.goal:''%>"><%=(material_id)?targetMaterial.goal:''%></textarea>
                        </div>
                        <div class="form-group">
                            <label>Bloom</label>
                            <select name="web_bloom" class="form-control">
                              <%
                                if(material_id){
                              %>
                              <option value="none" <%=(targetMaterial.bloom=='none')?'selected':''%>>未定義</option>
												      <option value="remembering" <%=(targetMaterial.bloom=='remembering')?'selected':''%>>記憶</option>
												      <option value="understanding" <%=(targetMaterial.bloom=='understanding')?'selected':''%>>理解</option>
												      <option value="application" <%=(targetMaterial.bloom=='application')?'selected':''%>>應用</option>
												      <option value="analyzing" <%=(targetMaterial.bloom=='analyzing')?'selected':''%>>分析</option>
												      <option value="evaluating" <%=(targetMaterial.bloom=='evaluating')?'selected':''%>>評估</option>
												      <option value="creating" <%=(targetMaterial.bloom=='creating')?'selected':''%>>創造</option>
                              <%
                                }else{
                              %>
                              <option value="none" selected>未定義</option>
												      <option value="remembering">記憶</option>
												      <option value="understanding">理解</option>
												      <option value="application">應用</option>
												      <option value="analyzing">分析</option>
												      <option value="evaluating">評估</option>
												      <option value="creating">創造</option>
                              <%
                                }
                              %>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>權重</label>
                            <input id="weight" name="weight" type="number" class="form-control" value="<%=(material_id)?targetMaterial.weight:0%>">
                        </div>
                        <div class="form-group">
                          <label>完成條件</label>
                          <div class="radio">
                            <label>
                              <%
                                if(!material_id || (material_id && targetMaterial.pass_method=='0')){
                              %>
                              <input type="radio" name="pass_method" id="passOption1" value="0" checked> 自動:觀看時間超過30秒(含)
                              <%
                                }else{
                              %>
                              <input type="radio" name="pass_method" id="passOption1" value="0"> 自動:觀看時間超過30秒(含)
                              <%
                                }
                              %>            
                            </label>
                          </div>
                          <div class="radio">
                            <label>
                              <input type="radio" name="pass_method" id="passOption2" value="1" <%=(material_id && targetMaterial.pass_method=='1')?'checked':''%>> 手動：觀看時間超過 <input type="number" min="1" name="pass_val" value="<%=(material_id && targetMaterial.pass_val!=null)?targetMaterial.pass_val:'1'%>"> 秒以上(含)
                            </label>
                          </div>
                        </div>
                        <div class="form-group hide">
                          <label>預計完成時間</label>
                          <div class="radio">
                            <label>
                              <%
                                if(!material_id || (material_id && targetMaterial.required_time_spent_method=='0')){
                              %>
                              <input type="radio" name="required_time_spent_method" id="timeOption1" value="0" checked> 自動:觀看時間超過3分鐘(含)
                              <%
                                }else{
                              %>
                              <input type="radio" name="required_time_spent_method" id="timeOption1" value="0"> 自動:觀看時間超過3分鐘(含)
                              <%
                                }
                              %>   
                            </label>
                          </div>
                          <div class="radio">
                            <label>
                              <input type="radio" name="required_time_spent_method" id="timeOption2" value="1" <%=(material_id && targetMaterial.required_time_spent_method=='1')?'checked':''%>> 手動：<input type="number" min="1" name="required_time_spent_val" value="<%=(material_id && targetMaterial.required_time_spent_val)?targetMaterial.required_time_spent_val:'1'%>"> 分
                            </label>
                          </div>
                        </div>
                        <div class="form-group">
                            <label>網址</label>
                            <input type="text" id="web_url" name="web_url" class="form-control" value="<%=(material_id)?targetMaterial.url:''%>">
                        </div>
                        <div id="web_preview" class="form-group" style="display:none;">
                          <label>預覽</label>
                          <div class="embed-responsive form-control embed-responsive-16by9">
                            <iframe id="web_preview_url" class="embed-responsive-item" src=""></iframe>
                          </div>
                        </div>
                        <div id="web_preview_deny" class="form-group" style="display:none;">
                          <label>預覽</label>
                          <div>
                            <p>此網頁不允許被嵌入，將以連結顯示</p>
                            <i class="fa fa-share-square-o" aria-hidden="true"></i>&nbsp;<a id="web_preview_deny_url" href="" target="_blank"></a>
                          </div>
                        </div>
                        <input type="hidden" name="upload_name" id="upload_name" value="<%=(material_id)?targetMaterial.upload_name:''%>">
                        <input type="hidden" id="embedded" name="embedded" value="<%=(material_id)?targetMaterial.embedded:0%>">
                        <input type="hidden" id="activity_order" name="activity_order" value="<%=activity_order%>">
                        <div class="form-group">
                            <div class="pull-right">
                              <% 
                                if(targetMaterial){
                              %>
                              <a class="btn btn-danger" data-toggle="modal" data-target="#removeMaterialModal">刪除</a>
                              <%
                                }
                              %>
                              <input type="submit" class="btn btn-primary" value="儲存">
                            </div>
                        </div>
                    </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%
      if(activity_type=='1'){
    %>
    <%- cooc_footer %>
    <%
      }
    %>

    <!-- 酷課雲 Header 角色 -->
    <div class="roleInfo" style="display:none;">
      <a id="logonBlock" href="javascript:void(0)">
        <img id="logonpic" src="<%=user.photoUrl%>"/>
        <img id="logonBack" src="/images/logon_back.png">
      </a>
      <div id="logonName"><%=user.name%></div>
      <div id="logonRole"><%=user.role_name%></div>
      <ul class="navigation">
        <li>
          <ul style="display:none">
            <li><a href="http://sso.tp.edu.tw/accountservice/" target="_blank">個人資訊</a></li>
            <li class="logout"><a href="/users/logout">登出</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <!-- 移除教材 Modal -->
    <div id="removeMaterialModal" data-backdrop="static" data-keyboard="false" class="modal bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog" role="document">
        <form id="remove_material_form" action="/teacher/material/remove/<%=activity.getActivityDetailsByUserId[0].id%>/<%=(targetMaterial)?targetMaterial.id:''%>" method="post">
        <div class="modal-content">
          <div class="modal-body">
            <h4>確定要刪除這個教材嗎?</h4>
            <input type="hidden" name="material_order" value="<%=(targetMaterial)?targetMaterial.activity_order:''%>">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="submit" class="btn btn-primary">確定</button>
          </div>
        </div>
        </form>
      </div>
    </div>

    <script src="/javascripts/jquery-3.2.1.min.js"></script>
    <script src="/javascripts/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script src="/javascripts/bootstrap-maxlength.js"></script>
    <script src="/javascripts/icheck/icheck.min.js"></script>
    <script>
      $(document).ready(function(){
        $("input[maxlength]").maxlength();
        //酷課雲 header 處理
        if($('.roleInfo').length>0){
          $('.rolemenu').html($('.roleInfo').html());
          /*選單顯示控制*/
          $("#logonBlock").on("click",function(){
            if ($("ul.navigation li > ul").is(":visible")) {
              $("ul.navigation li > ul").css("display","none");
            } else {
              $("ul.navigation li > ul").css("display","block");
            }
          });
          $('.container-fluid').css('margin-top','-80px');
        }

        $('input[type="radio"]').iCheck({
            radioClass: 'iradio_flat-blue'
        });

        //sidebar
        $(".sidebarMenu > li.dropMenu > a").on("click", function(i){
          i.preventDefault();
          if( ! $(this).parent().hasClass("activeDown") ){
            $(".sidebarMenu li ul").slideUp();
            $(this).next().slideToggle();
            $(".sidebarMenu li").removeClass("activeDown");
            $(this).parent().addClass("activeDown");
          }
          else{
            $(this).next().slideToggle();
            $(".sidebarMenu li").removeClass("activeDown");
          }
        });

        //網址判斷是否允許被嵌入
        $('#web_url').keyup(function(){
          $('#web_preview').hide();
          $('#web_preview_deny').hide();
          var targetUrl = $(this).val();
          if(targetUrl){
            $.ajax({
              url : '/teacher/url',
              type: 'POST',
              data : 'url='+targetUrl
            }).done(function(response){
              if(response.block){
                $('#embedded').val(0);
              }else{
                $('#embedded').val(1);
              }
              $('#upload_name').val(response.title);
              if(!response.block){
                $('#web_preview_url').attr('src',targetUrl);
                $('#web_preview').show();
              }else{
                $('#web_preview_deny_url').attr('href', targetUrl);
                $('#web_preview_deny_url').html(response.title);
                $('#web_preview_deny').show();
              }
            });
          }
        });

      });
    </script>
  </body>
</html>
