<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/javascripts/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/javascripts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/javascripts/icheck/skins/all.css">
    <link rel="stylesheet" href="/stylesheets/teacher.css">
    <link rel="stylesheet" href="/stylesheets/logon.css">
    <link rel="stylesheet" href="/stylesheets/teacher_edit.css">
    <style>
      .quiz-block {
        height: 300px;
        overflow-y: scroll;
      }
      .page-block {
        text-align: center;
        margin-top: -30px;
        margin-bottom: -45px;
      }
    </style>
  </head>
  <body>

    <%- cooc_header %>

    <div class="container-fluid">
      <ol class="breadcrumb">
        <li><a href="/teacher">我的活動</a></li>
        <%
          var activity_type = activity.getActivityDetailsByUserId[0].type;
          if(activity_type=='1'){
        %>
          <li><a href="/teacher/activity/edit/<%=activity.getActivityDetailsByUserId[0].id%>">活動編輯</a></li>
        <%
          }else{
        %>
          <li><a href="/teacher/activity/adaptive/edit/<%=activity.getActivityDetailsByUserId[0].id%>">活動編輯</a></li>
        <%
          }
        %>
        <li class="active">測驗教材編輯</li>
      </ol>
      <div class="row">
        <div class="col-sm-3">
          <div class="editActivity"><h3><%=activity.getActivityDetailsByUserId[0].name%></h3></div>
          <%
            if(activity_type=='1'){
          %>
            <ul class="editData">
          <%
            }else{
          %>
            <ul class="editData" style="display:none;">
          <%
            }
          %>
            <%
              var materials = activity.getMaterials;
              for(var m=0;m<materials.length;m++){
                var material = materials[m];
                var typeStr = '';
                var typeIcon = '<i class="fa fa-asterisk" aria-hidden="true"></i>';
                switch(material.type){
                  case 1:
                    typeIcon = '<i class="fa fa-link" aria-hidden="true"></i>';
                    typeStr = 'web';
                    break; 
                  case 2:
                    typeIcon = '<i class="fa fa-video-camera" aria-hidden="true"></i>';
                    typeStr = 'video';
                    break;
                  case 3:
                    typeIcon = '<i class="fa fa-file-pdf-o" aria-hidden="true"></i>';
                    typeStr = 'pdf';
                    break;
                  case 4:
                    typeIcon = '<i class="fa fa-pencil-square-o" aria-hidden="true"></i>';
                    typeStr = 'assessment';
                    break;
                  case 5:
                    typeIcon = '<i class="fa fa-file-text-o" aria-hidden="true"></i>';
                    typeStr = 'article';
                    break;
                }
            %>
                <li class="addSource">
                  <a href="/teacher/activity/edit/<%=activity.getActivityDetailsByUserId[0].id%>/<%=typeStr%>/edit/<%=material.id%>"><%-typeIcon%>&nbsp;&nbsp;<%=material.name%></a>
                </li>
            <%
              }
            %>
            <li>
              <ul class="sidebarMenu">
                <li class="dropMenu">
                  <a href="#"><span class="fa fa-plus"></span>&nbsp;&nbsp;教材</a>
                  <ul>
                    <li><a href="/teacher/activity/edit/<%=activity.getActivityDetailsByUserId[0].id%>/web/create">網頁</a></li>
                    <li><a href="/teacher/activity/edit/<%=activity.getActivityDetailsByUserId[0].id%>/video/create">影片</a></li>
                    <li><a href="/teacher/activity/edit/<%=activity.getActivityDetailsByUserId[0].id%>/pdf/create">PDF</a></li>
                    <li><a href="/teacher/activity/edit/<%=activity.getActivityDetailsByUserId[0].id%>/assessment/create">測驗</a></li>
                    <li><a href="/teacher/activity/edit/<%=activity.getActivityDetailsByUserId[0].id%>/article/create">文章</a></li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>                      
        </div>
        <div class="col-md-9" style="background:#f5f5f5;">
          <div class="box box-widget">
            <div class="box-header with-border">
              <h3 class="box-title"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> <%=(material_id)?'編輯測驗教材':'建立新測驗教材'%></h3>    
            </div>
            <div class="box-body">
              <div class="row">
                <div class="col-md-12">
                    <%
                        var targetQuizs = [];
                        var targetMaterial = null;
                        var activity_order = 0;
                        if(material_id){
                            for(var tm=0;tm<=materials.length;tm++){
                                if(material_id==materials[tm].id){
                                    targetMaterial = materials[tm];
                                    if(targetMaterial.quizs){
                                      targetQuizs = JSON.parse(targetMaterial.quizs);
                                    }
                                    activity_order = targetMaterial.activity_order;
                                    break;
                                }
                            }
                        }else{
                          activity_order = materials.length+1;
                        }
                        if(material_id){
                    %>
                          <form id="assessment_form" method="post" action="/teacher/activity/edit/<%=activity.getActivityDetailsByUserId[0].id%>/assessment/edit">
                          <input type="hidden" name="material_id" value="<%=material_id%>">        
                    <%
                        }else{
                    %>
                          <form id="assessment_form" method="post" action="/teacher/activity/edit/<%=activity.getActivityDetailsByUserId[0].id%>/assessment/add">
                    <%
                        }
                    %>
                        <div class="form-group">
                            <label>教材名稱</label>
                            <input maxlength="30" type="text" name="assessment_name" class="form-control" value="<%=(material_id)?targetMaterial.name:''%>">
                        </div>
                        <div class="form-group">
                            <label>教材說明</label>
                            <textarea name="assessment_description" class="form-control" value="<%=(material_id)?targetMaterial.description:''%>"></textarea>
                        </div>
                        <div class="form-group">
                            <label>教材目標</label>
                            <textarea name="assessment_goal" class="form-control" value="<%=(material_id)?targetMaterial.goal:''%>"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Bloom</label>
                            <select name="bloom" class="form-control">
                              <%
                                if(material_id){
                              %>
                              <option value="none" <%=(targetMaterial.bloom=='none')?'selected':''%>>未定義</option>
												      <option value="remembering" <%=(targetMaterial.bloom=='remembering')?'selected':''%>>記憶</option>
												      <option value="understanding" <%=(targetMaterial.bloom=='understanding')?'selected':''%>>理解</option>
												      <option value="application" <%=(targetMaterial.bloom=='application')?'selected':''%>>應用</option>
												      <option value="analyzing" <%=(targetMaterial.bloom=='analyzing')?'selected':''%>>分析</option>
												      <option value="evaluating" <%=(targetMaterial.bloom=='evaluating')?'selected':''%>>評估</option>
												      <option value="creating" <%=(targetMaterial.bloom=='creating')?'selected':''%>>創造</option>
                              <%
                                }else{
                              %>
                              <option value="none" selected>未定義</option>
												      <option value="remembering">記憶</option>
												      <option value="understanding">理解</option>
												      <option value="application">應用</option>
												      <option value="analyzing">分析</option>
												      <option value="evaluating">評估</option>
												      <option value="creating">創造</option>
                              <%
                                }
                              %>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>權重</label>
                            <input id="weight" name="weight" type="number" class="form-control" value="<%=(material_id)?targetMaterial.weight:0%>">
                        </div>
                        <div class="form-group hide">
                          <label>完成條件</label>
                          <div class="radio">
                            <label>
                            <%
                                if(!material_id || (material_id && targetMaterial.pass_method=='0')){
                            %>
                              <input type="radio" name="pass_method" id="passOption1" value="0" checked> 自動
                            <%
                                }else{
                            %>
                              <input type="radio" name="pass_method" id="passOption1" value="0"> 自動
                            <%
                                }
                            %>     
                            </label>
                          </div>
                          <div class="radio">
                            <label>
                              <input type="radio" name="pass_method" id="passOption2" value="1" <%=(material_id && targetMaterial.pass_method=='1')?'checked':''%>> 手動：分數 <input type="number" name="pass_val" value="<%=(material_id && targetMaterial.pass_val)?targetMaterial.pass_val:'1'%>"> 分以上
                            </label>
                          </div>
                        </div>
                        <hr>
                        <div class="form-group">
                          <a class="btn btn-primary" data-toggle="modal" data-target="#quizModal">插入題目</a>
                          <button type="button" class="btn btn-primary" onclick="autoScore()">自動配分</button>
                          &nbsp;<span>目前總分:</span><input type="number" value="<%=(targetMaterial && targetMaterial.total_score)?targetMaterial.total_score:100%>" name="total_score" id="total_score">
                        </div>
                        <div class="form-group">
                          <label>測驗題目</label>
                          <div class="table-responsive">
                            <table id="quizTable" class="table table-condensed table-striped">
                              <thead>
                                <tr>
                                  <th>刪除</th>
                                  <th>配分</th>                                    
                                  <th>編號</th>
                                  <th>難易</th>
                                  <th>題型</th>
                                  <th>題目</th>                                  
                                </tr>
                              </thead>
                              <tbody></tbody>
                            </table>
                          </div>                          
                        </div>
                        <input type="hidden" id="activity_order" name="activity_order" value="<%=activity_order%>">
                        <div class="form-group">
                            <div class="pull-right">
                              <% 
                                if(targetMaterial){
                              %>
                              <a class="btn btn-danger" data-toggle="modal" data-target="#removeMaterialModal">刪除</a>
                              <%
                                }
                              %>
                              <input type="submit" class="btn btn-primary" value="儲存">
                            </div>
                        </div>
                    </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Quiz Modal -->
    <div id="quizModal" class="modal bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">勾選題目→按下插入題目按鈕→關閉</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-3">
                  <select id="category" class="form-control" name="category"></select>
              </div>
              <div class="col-md-3">
                <select id="pValue" class="form-control" name="pValue">
                  <option value="*">難度：所有難度</option>
                  <option value="1">易</option>
                  <option value="0.5">中</option>
                  <option value="0">難</option>
                </select>
              </div>
              <div class="col-md-3">
                <select id="type" class="form-control" name="type">
                  <option value="*">題型：所有題型</option>
                  <option value="1">單選題</option>
                  <option value="2">複選題</option>
                  <option value="3">是非題</option>
                  <option value="4">填空題</option>
                </select>
              </div>
              <div class="col-md-3">
                <select id="gradeSession" class="form-control" name="gradeSession">
				          <option value="*">年段：所有年段</option>
			            <option value="SENIOR">高中</option>
			            <option value="JUNIOR">國中</option>
			            <option value="ELEM">國小</option>
			          </select>
              </div>
            </div><br />
            <div class="row">
              <div class="col-md-12">
                <div class="input-group">
                  <input id="search_word" type="text" class="form-control" placeholder="Search for...">
                  <span class="input-group-btn">
                    <button id="searchBtn" class="btn btn-default" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                  </span>
                </div>
              </div>
            </div>
            <div class="row quiz-block">
              <div class="col-md-12">
                <table id="tablecheck" class="table table-striped">
                  <thead>
                    <tr>
                      <th>選取</th>
                      <th>編號</th>
                      <th>難易</th> 
                      <th>知識節點</th>
                      <th>題型</th>
                      <th>題目</th>
                    </tr>
                  </thead>
                  <tbody id="quizs-template-container">
                  </tbody>
                </table>
              </div>
            </div>
            <div class="row page-block">
              <div class="col-md-12">
                <div id="pagination"></div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
            <button id="insertBtn" type="button" class="btn btn-primary">插入題目</button>
          </div>
        </div>
      </div>
    </div>

     <%- cooc_footer %>

    <!-- 酷課雲 Header 角色 -->
    <div class="roleInfo" style="display:none;">
      <a id="logonBlock" href="javascript:void(0)">
        <img id="logonpic" src="<%=user.photoUrl%>"/>
        <img id="logonBack" src="/images/logon_back.png">
      </a>
      <div id="logonName"><%=user.name%></div>
      <div id="logonRole"><%=user.role_name%></div>
      <ul class="navigation">
        <li>
          <ul style="display:none">
            <li><a href="http://sso.tp.edu.tw/accountservice/" target="_blank">個人資訊</a></li>
            <li class="logout"><a href="/users/logout">登出</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <!-- Quiz Template -->
	  <script id="quizs-template" type="text/x-handlebars-template">
    {{#each quizs}}
    <tr class="hide_all show{{qid}} hide{{qid}}">
      <td>
        <input class="checktest" type="checkbox" name="checktest{{qid}}" id="checktest{{qid}}" value="{{qid}}" {{checked}}>
      </td><!-- 選取 -->
      <td>{{qid}}</td><!-- 編號 -->
      <td>{{{levelLabel levelString}}}</td>
      <td>{{knowledge_map_name}}</td><!-- 知識節點 -->
      <td>{{typeString}}</td><!-- 題目類型 -->
      <td>{{{question}}}
        <table class="table">
          {{#each choices}}												
            <tr><td style="border:none;">({{choiceIndex}}){{{choiceItem}}}</td></tr>					
          {{/each}}
        </table>
      </td><!-- 題目 -->
    </tr>
    {{/each}}
    </script>

    <!-- Pagination Template -->
	  <script id="pagination-template" type="text/x-handlebars-template"> 
    <div class="pagination pagination-centered">
    	<ul class="pagination">
        	{{#paginate pagination type="first"}}
          	<li {{#if disabled}}class="disabled"{{/if}}><a href="?p={{n}}" class="paginationBtn" data-page="{{n}}">&lt;&lt;</a></li>
        	{{/paginate}}
        	{{#paginate pagination type="previous"}}
          	<li {{#if disabled}}class="disabled"{{/if}}><a href="?p={{n}}" class="paginationBtn" data-page="{{n}}">&lt;</a></li>
        	{{/paginate}}
        	{{#paginate pagination type="middle" limit="7"}}
          	<li {{#if active}}class="active"{{/if}}><a href="?p={{n}}" class="paginationBtn" data-page="{{n}}">{{n}}</a></li>
        	{{/paginate}}
        	{{#paginate pagination type="next"}}
          	<li {{#if disabled}}class="disabled"{{/if}}><a href="?p={{n}}" class="paginationBtn" data-page="{{n}}">&gt;</a></li>
        	{{/paginate}}
        	{{#paginate pagination type="last"}}
          	<li {{#if disabled}}class="disabled"{{/if}}><a href="?p={{n}}" class="paginationBtn" data-page="{{n}}">&gt;&gt;</a></li>
        	{{/paginate}}
      	</ul>
    </div>                       
    </script>
    
    <div id="category-option-template" style="display:none">
        <option value="-1">類別：所有類別</option>
        {{#each categories}}
          <optgroup label="{{name}}">
            {{#each data}}
              <option value="{{id}}" data-isKnowledgeMap="{{isKnowledgeMap}}">{{name}}</option>
            {{/each}}
          </optgroup>
          {{/each}}                       
    </div>

    <!-- 移除教材 Modal -->
    <div id="removeMaterialModal" data-backdrop="static" data-keyboard="false" class="modal bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog" role="document">
        <form id="remove_material_form" action="/teacher/material/remove/<%=activity.getActivityDetailsByUserId[0].id%>/<%=(targetMaterial)?targetMaterial.id:''%>" method="post">
        <div class="modal-content">
          <div class="modal-body">
            <h4>確定要刪除這個教材嗎?</h4>
            <input type="hidden" name="material_order" value="<%=(targetMaterial)?targetMaterial.activity_order:''%>">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="submit" class="btn btn-primary">確定</button>
          </div>
        </div>
        </form>
      </div>
    </div>

    <script src="/javascripts/jquery-3.2.1.min.js"></script>
    <script src="/javascripts/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script src="/javascripts/bootstrap-maxlength.js"></script>
    <script src="/javascripts/icheck/icheck.min.js"></script>
    <script src="/javascripts/handlebars-v4.0.10.js"></script>
    <script>
      $(document).ready(function(){
        $("input[maxlength]").maxlength();
        //酷課雲 header 處理
        if($('.roleInfo').length>0){
          $('.rolemenu').html($('.roleInfo').html());
          /*選單顯示控制*/
          $("#logonBlock").on("click",function(){
            if ($("ul.navigation li > ul").is(":visible")) {
              $("ul.navigation li > ul").css("display","none");
            } else {
              $("ul.navigation li > ul").css("display","block");
            }
          });
          $('.container-fluid').css('margin-top','-80px');
        }

        //sidebar
        $(".sidebarMenu > li.dropMenu > a").on("click", function(i){
          i.preventDefault();
          if( ! $(this).parent().hasClass("activeDown") ){
            $(".sidebarMenu li ul").slideUp();
            $(this).next().slideToggle();
            $(".sidebarMenu li").removeClass("activeDown");
            $(this).parent().addClass("activeDown");
          }
          else{
            $(this).next().slideToggle();
            $(".sidebarMenu li").removeClass("activeDown");
          }
        });

        $('input[type="radio"]').iCheck({
            radioClass: 'iradio_flat-blue'
        });

        $("#insertBtn").on("click",function(){
		      insertQuizs();
        });
        $("#searchBtn").click(function (e) {
    	    e.preventDefault();
    	    getShareData(1);   	 	
        });

        $('#quizModal').on('show.bs.modal', function (event) {
          var button = $(event.relatedTarget);
          var modal = $(this)
          //modal.find('.modal-title').text('New message to ' + recipient);
        });

        getShareData(1);

        var quizs = <%-JSON.stringify(targetQuizs)%>;
        if(quizs.length!=0){
            var quizIds = [];
            var quizObj = {};
            for(var q=0;q<quizs.length;q++){
              var quiz = quizs[q];
              quizIds.push(quiz.id);
              quizObj[quiz.id] = {
                no:quiz.no,
                score:quiz.score
              };
            }
            renderQuizs(quizIds.join(), quizObj);
          }  

          $('#quizTable').on('keyup mouseup', 'input.score', function(e){
            var score = $(this).val();
            if($.isNumeric(score)){
        	    var totalScore = 0;
        	    $("#quizTable>tbody>tr>td input.score").each(function(index,value){
        		    totalScore += parseInt($(this).val());
        	    });
        	    $('#total_score').val(totalScore);
            }
          });

      });
      function getShareData(page){
    	  //showLoadingIcon();
		    var quizIDs = getQuizIDs();
		    var url = "http://learning.cooc.tp.edu.tw/coocLearning/quiz/subject/getShareQuizBank/"+page;
        var q = $("#search_word").val();
		    if(q != ""){url = url + "/"+q;}

		    var pValue = $("#pValue").val();
		    var type = $("#type").val();
		    var category = $("#category").val();
		    var gradeSession = $("#gradeSession").val();
		    if(pValue!='*'||type!='*'||(category!=null&&category!='*')||gradeSession!='*'){
			    url = url + '?';
			    if(pValue!='*'){
				    url = url + 'pValue=' + pValue + '&';
			    }
			    if(type!='*'){
				    url = url + 'type=' + type + '&';
			    }
			    if(category!=null&&category!='-1'){
				    url = url + 'category=' + category + '&';
			    }
			    if(gradeSession!='*'){
				    url = url + 'gradeSession=' + gradeSession + '&';
			    }
			    url = url.slice(0,-1);
		    }

		    $.getJSON(url,function( data ) {			 
			    data.quizs.forEach(function(value){
				    if($.inArray( value.qid, quizIDs ) !=-1){
			 		    value.checked = "checked";
				    }else{
				 	    value.checked = "";
				    }
			    });
			    //generate html content
			    var quizsTemplate = Handlebars.compile($('#quizs-template').html());
			    $("#quizs-template-container").empty().append(quizsTemplate(data));
			    $("#insertBtn").show();

			    //設定分頁 
          initPagination(data);
			    if(category==null||category=='-1'){
				    var categoriesData = JSON.parse(data.categories);
				    var categoriesTemplate = Handlebars.compile($('#category-option-template').html());
				    $("#category").empty().append(categoriesTemplate(categoriesData));
          }

		    });	
      }
      function initPagination(data){
		    currentPage = data.now_page;
		    pageCount = data.total_pages;
		    var paginationTemplate = Handlebars.compile($('#pagination-template').html());
		    var paginationHtml = paginationTemplate({
			    pagination:{
            page: currentPage,
            pageCount: pageCount
          }
		    });
        $("#pagination").empty().html(paginationHtml);
        
        $(".paginationBtn").click(function(){
			    var gotoPage = $(this).attr("data-page");
			    console.log(gotoPage);
			    renderQuizPage(gotoPage);
			    return false;
        });
      }
      function renderQuizPage(page){
		    //showLoadingIcon();
		    var category = $("#category").val();
		    var quizIDs = getQuizIDs();
		    var url = "http://learning.cooc.tp.edu.tw/coocLearning/quiz/subject/getShareQuizBank/"+page;
        $.getJSON(url,function( data ) {
			    data.quizs.forEach(function(value){
				    console.log(value.qid);
				    console.log(quizIDs);
				    console.log($.inArray( value.qid, quizIDs ));
				    if($.inArray( value.qid, quizIDs ) !=-1){
			 		    value.checked = "checked";
				    }else{
				 	    value.checked = "";
				    }
			    });
			    var quizsTemplate = Handlebars.compile($('#quizs-template').html());
			    $("#quizs-template-container").empty().append(quizsTemplate(data));
			    $("#insertBtn").show();
			    //設定分頁 
          initPagination(data);
			    if(category==null||category=='-1'){
				    var categoriesData = JSON.parse(data.categories);
				    var categoriesTemplate = Handlebars.compile($('#category-option-template').html());
				    $("#category").empty().append(categoriesTemplate(categoriesData));
          }
		    });	 
	    }
      Handlebars.registerHelper("levelLabel", function (value, currentValue) {
		    var levelString = '';
		    switch(value){
	    	  case "easy":
	    		  levelString = '<span class="label label-primary">易</span>';
	    		  break;
	    	  case "normal":
	    		  levelString = '<span class="label label-success">中</span>';
	    		  break;
	    	  case "hard":
	    		  levelString = '<span class="label label-danger">難</span>';
	    		  break;
	    	  default:
	      }
		    return levelString;
      });
      Handlebars.registerHelper('paginate', function(pagination, options) {
		    var type = options.hash.type || 'middle';
		    var ret = '';
		    var pageCount = Number(pagination.pageCount);
		    var page = Number(pagination.page);
		    var limit;
		    if (options.hash.limit) limit = +options.hash.limit;

		    //page pageCount
		    var newContext = {};
		    switch (type) {
			    case 'middle':
		    	  if (typeof limit === 'number') {
		        	var i = 0;
		        	var leftCount = Math.ceil(limit / 2) - 1;
		       	 	var rightCount = limit - leftCount - 1;
		        	if (page + rightCount > pageCount)
		          		leftCount = limit - (pageCount - page) - 1;
		        	if (page - leftCount < 1)
		          		leftCount = page - 1;
		        	var start = page - leftCount;

		        	while (i < limit && i < pageCount) {
		          		newContext = { n: start };
		          		if (start === page) newContext.active = true;
		          		ret = ret + options.fn(newContext);
		          		start++;
		          		i++;
		       		}
		      	}else {
		        	for (var i = 1; i <= pageCount; i++) {
		          		newContext = { n: i };
		          		if (i === page) newContext.active = true;
		          		ret = ret + options.fn(newContext);
		        	}
		      	}
		      	break;
			    case 'previous':
		      	if (page === 1) {
		        	newContext = { disabled: true, n: 1 }
		     	  }else {
		        	newContext = { n: page - 1 }
		      	}
		      	ret = ret + options.fn(newContext);
		      	break;
		      case 'next':
		      	newContext = {};
		      	if (page === pageCount) {
		        	newContext = { disabled: true, n: pageCount }
		      	}else {
		        	newContext = { n: page + 1 }
		      	}
		      	ret = ret + options.fn(newContext);
		      	break;
		      case 'first':
		      	if (page === 1) {
		        	newContext = { disabled: true, n: 1 }
		      	}else {
		        	newContext = { n: 1 }
		      	}
		      	ret = ret + options.fn(newContext);
		      	break;
		      case 'last':
		      	if (page === pageCount) {
		        	newContext = { disabled: true, n: pageCount }
		      	}else {
		        	newContext = { n: pageCount }
		      	}
		      	ret = ret + options.fn(newContext);
		      	break;
		    }
		    return ret;
    });
    function insertQuizs(){
		  console.log("insertQuizs");
		  var quizIDs = getQuizIDs();
		  var i = quizIDs.length;
		  $('#tablecheck tr').filter(':has(:checkbox:checked)').each(function(a) {
			  var quizID = Number($(this).find('input[type="checkbox"]').val());
			  console.log("quizID:"+quizID);
		 	  if($.inArray(quizID, quizIDs)==-1){
		 		  quizIDs.push(quizID);
          var q_diff = $(this).find('td:eq(2)').text();  //難易       	 
          var q_type = $(this).find('td:eq(4)').html();	//題目類型
          var q_content = $(this).find('td:eq(5)').html();	//題目
          console.log("q_diff:"+q_diff+"\n"+"q_type:"+q_type+"\n"+"q_content:"+q_content+"\n");
          var deleteButton = '<button onclick="deleteQuiz(this)" type="button" class="btn btn-mini btn-danger" data-qid="'+quizID+'">X</button>';
          var appendQuestion = '<tr id="tr'+(i+1)+'">'+
                          '<td>'+deleteButton+'</td>'+
                          '<td><input class="score input-mini" id="score'+quizID+'" name="score'+quizID+'" type="number" value="0" min="0"><input id="no'+quizID+'" name="no'+quizID+'" value="'+quizID+'" type="hidden"></td>'+          	 							
          	 							'<td class="num"><span class="num_label">'+(i+1)+'</span><input type="hidden" name="num'+quizID+'" value="'+(i+1)+'"></td>'+
          	 							'<td>'+q_diff+'</td>'+
          	 							'<td>'+q_type+'</td>'+
          	 							'<td>'+q_content.trim()+'</td>'+          	 							
          	 						 '</tr>';
          ($(parent.document).find('#quizTable')).append(appendQuestion);		
          i++;
		 	  }
		  });  
		  alert("已插入勾選題目!");
    }
    function getQuizIDs(){
		  var quizIDs = [];
		  ($(parent.document).find('#quizTable tbody input[type="hidden"]')).each(function(index, value){
			  if($(value).attr("name").indexOf("no")>-1){
				  quizIDs.push(Number($(value).val()));
			  }
		  });
		  console.log("quizIDs:"+JSON.stringify(quizIDs));
		  return quizIDs;
	  }
    function autoScore(){
	    var q_counts = $("#quizTable>tbody>tr").length;
	    if(q_counts!=0){
		    var totalScore = 100;
		    var score = Math.floor(totalScore/q_counts);
		    var last = totalScore%q_counts;
		    $("#quizTable tbody tr").each(function(index,value){
			    var quiz = $(this);
			    if(index!=(q_counts-1)){
				    quiz.find("input.score").val(score);
			    }else{
				    quiz.find("input.score").val(score+last);
			    }
		    });
      }
      $('#total_score').val(100);
    }
    function deleteQuiz(ele){
      var $ele = $(ele);
      var targetQuizId = $ele.attr('data-qid');
      $ele.closest('tr').remove();
      $("#quizTable>tbody>tr").each(function(index,value){
        var quiz = $(this);
        var qIndex = index+1;
        quiz.attr('id', 'tr'+qIndex);
        quiz.find('td.num input').val(qIndex);
        quiz.find('td.num span.num_label').html(qIndex);
		  });
    }
    function renderQuizs(quizStr,quizObj){
	    var url = "http://learning.cooc.tp.edu.tw/coocLearning/quiz/subject/getQuizData?ids="+quizStr;
	    $.getJSON(url, function(data) {
        var getQuizs = data.quizs;
        var appendQuizs = '';
        for(var q=(getQuizs.length-1);q>=0;q--){
          var getQuiz = getQuizs[q];
          var getQuizID = getQuiz.qid;
          var getQuizNo = quizObj[getQuizID].no;
          var getQuizScore = quizObj[getQuizID].score;
          var q_diff = getQuiz.level;
          var q_type = getQuiz.typeString;
          var q_content = getQuiz.question;
          var q_choiceStr = '';
          
          if(getQuiz.choices){
            q_choiceStr = '<table class="table"><tbody>';
            var q_choices = getQuiz.choices;
            
            for(var c=0;c<q_choices.length;c++){
              var q_choice = q_choices[c];
              q_choiceStr += ('<tr><td style="border:none;">('+q_choice.choiceIndex+')'+q_choice.choiceItem+'</td></tr>');
            }
            
            q_choiceStr += "</tbody></table>";
          }
          
          var deleteButton = '<button onclick="deleteQuiz(this)" type="button" class="btn btn-mini btn-danger" data-qid="'+getQuizID+'">X</button>';
          var appendQuestion = 
            ('<tr id="tr'+getQuizNo+'">'+
              '<td>'+deleteButton+'</td>'+
              '<td><input class="score input-mini" id="score'+getQuizID+'" name="score'+getQuizID+'" type="number" value="'+getQuizScore+'" min="0"><input id="no'+getQuizID+'" name="no'+getQuizID+'" value="'+getQuizID+'" type="hidden"></td>'+          	 							
          	  '<td class="num"><span class="num_label">'+getQuizNo+'</span><input type="hidden" name="num'+getQuizID+'" value="'+getQuizNo+'"></td>'+
          	 	'<td>'+q_diff+'</td>'+
          	 	'<td>'+q_type+'</td>'+
          	 	'<td>'+q_content+q_choiceStr+'</td>'+          	 							
            '</tr>');
            appendQuizs += appendQuestion;
        } //end for
        $("#quizTable tbody").append(appendQuizs);
	    });	 
    }
    </script>
  </body>
</html>
