<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/javascripts/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/javascripts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/javascripts/videojs/video-js.css">
    <link rel="stylesheet" href="/javascripts/icheck/skins/all.css">
    <link rel="stylesheet" href="/stylesheets/teacher.css">
    <link rel="stylesheet" href="/stylesheets/logon.css">
    <link rel="stylesheet" href="/stylesheets/teacher_edit.css">
    <script src="/javascripts/videojs/videojs-ie8.min.js"></script>
  </head>
  <body>

    <%- cooc_header %>

    <div class="container-fluid">
      <ol class="breadcrumb">
        <li><a href="/teacher">我的活動</a></li>
        <%
          var activity_type = activity.getActivityDetailsByUserId[0].type;
          if(activity_type=='1'){
        %>
        <li><a href="/teacher/activity/edit/<%=activity.getActivityDetailsByUserId[0].id%>">活動編輯</a></li>
        <%
          }else{
        %>
        <li><a href="/teacher/activity/adaptive/edit/<%=activity.getActivityDetailsByUserId[0].id%>">活動編輯</a></li>
        <%
          }
        %>
        <li class="active">影片教材編輯</li>
      </ol>
      <div class="row">
        <div class="col-sm-3">
          <div class="editActivity"><h3><%=activity.getActivityDetailsByUserId[0].name%></h3></div>
          <%
            if(activity_type=='1'){
          %>
          <ul class="editData">
          <%
            }else{
          %>
          <ul class="editData" style="display:none;">
          <%
            }
          %>
          
            <%
              var materials = activity.getMaterials;
              for(var m=0;m<materials.length;m++){
                var material = materials[m];
                var typeStr = '';
                var typeIcon = '<i class="fa fa-asterisk" aria-hidden="true"></i>';
                switch(material.type){
                  case 1:
                    typeIcon = '<i class="fa fa-link" aria-hidden="true"></i>';
                    typeStr = 'web';
                    break; 
                  case 2:
                    typeIcon = '<i class="fa fa-video-camera" aria-hidden="true"></i>';
                    typeStr = 'video';
                    break;
                  case 3:
                    typeIcon = '<i class="fa fa-file-pdf-o" aria-hidden="true"></i>';
                    typeStr = 'pdf';
                    break;
                  case 4:
                    typeIcon = '<i class="fa fa-pencil-square-o" aria-hidden="true"></i>';
                    typeStr = 'assessment';
                    break;
                  case 5:
                    typeIcon = '<i class="fa fa-file-text-o" aria-hidden="true"></i>';
                    typeStr = 'article';
                    break;
                }
            %>
                <li class="addSource">
                  <a href="/teacher/activity/edit/<%=activity.getActivityDetailsByUserId[0].id%>/<%=typeStr%>/edit/<%=material.id%>"><%-typeIcon%>&nbsp;&nbsp;<%=material.name%></a>
                </li>
            <%
              }
            %>
            <li>
              <ul class="sidebarMenu">
                <li class="dropMenu">
                  <a href="#"><span class="fa fa-plus"></span>&nbsp;&nbsp;教材</a>
                  <ul>
                    <li><a href="/teacher/activity/edit/<%=activity.getActivityDetailsByUserId[0].id%>/web/create">網頁</a></li>
                    <li><a href="/teacher/activity/edit/<%=activity.getActivityDetailsByUserId[0].id%>/video/create">影片</a></li>
                    <li><a href="/teacher/activity/edit/<%=activity.getActivityDetailsByUserId[0].id%>/pdf/create">PDF</a></li>
                    <li><a href="/teacher/activity/edit/<%=activity.getActivityDetailsByUserId[0].id%>/assessment/create">測驗</a></li>
                    <li><a href="/teacher/activity/edit/<%=activity.getActivityDetailsByUserId[0].id%>/article/create">文章</a></li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>                      
        </div>
        <div class="col-md-9" style="background:#f5f5f5;">
          <div class="box box-widget">
            <div class="box-header with-border">
              <h3 class="box-title"><i class="fa fa-video-camera" aria-hidden="true"></i> <%=(material_id)?'編輯影片教材':'建立新影片教材'%></h3>    
            </div>
            <div class="box-body">
              <div class="row">
                <div class="col-md-12">
                  <%
                        var targetMaterial = null;
                        var activity_order = 0;
                        if(material_id){
                            for(var tm=0;tm<=materials.length;tm++){
                                if(material_id==materials[tm].id){
                                    targetMaterial = materials[tm];
                                    activity_order = targetMaterial.activity_order;
                                    break;
                                }
                            }
                        }else{
                          activity_order = materials.length+1;
                        }
                        if(material_id){
                    %>
                          <form id="video_form" method="post" action="/teacher/activity/edit/<%=activity.getActivityDetailsByUserId[0].id%>/video/edit">
                          <input type="hidden" name="material_id" value="<%=material_id%>">        
                    <%
                        }else{
                    %>
                          <form id="video_form" method="post" action="/teacher/activity/edit/<%=activity.getActivityDetailsByUserId[0].id%>/video/add">
                    <%
                        }
                    %>
                        <div class="form-group">
                            <label>教材名稱</label>
                            <input maxlength="30" type="text" name="video_name" class="form-control" value="<%=(material_id)?targetMaterial.name:''%>">
                        </div>
                        <div class="form-group">
                            <label>教材說明</label>
                            <textarea id="video_description" name="video_description" class="form-control" value="<%=(material_id)?targetMaterial.description:''%>"><%=(material_id)?targetMaterial.description:''%></textarea>
                        </div>
                        <div class="form-group">
                            <label>教材目標</label>
                            <textarea name="video_goal" class="form-control" value="<%=(material_id)?targetMaterial.goal:''%>"><%=(material_id)?targetMaterial.goal:''%></textarea>
                        </div>
                        <div class="form-group">
                            <label>Bloom</label>
                            <select name="bloom" class="form-control">
                              <%
                                if(material_id){
                              %>
                              <option value="none" <%=(targetMaterial.bloom=='none')?'selected':''%>>未定義</option>
												      <option value="remembering" <%=(targetMaterial.bloom=='remembering')?'selected':''%>>記憶</option>
												      <option value="understanding" <%=(targetMaterial.bloom=='understanding')?'selected':''%>>理解</option>
												      <option value="application" <%=(targetMaterial.bloom=='application')?'selected':''%>>應用</option>
												      <option value="analyzing" <%=(targetMaterial.bloom=='analyzing')?'selected':''%>>分析</option>
												      <option value="evaluating" <%=(targetMaterial.bloom=='evaluating')?'selected':''%>>評估</option>
												      <option value="creating" <%=(targetMaterial.bloom=='creating')?'selected':''%>>創造</option>
                              <%
                                }else{
                              %>
                              <option value="none" selected>未定義</option>
												      <option value="remembering">記憶</option>
												      <option value="understanding">理解</option>
												      <option value="application">應用</option>
												      <option value="analyzing">分析</option>
												      <option value="evaluating">評估</option>
												      <option value="creating">創造</option>
                              <%
                                }
                              %>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>權重</label>
                            <input id="weight" name="weight" type="number" class="form-control" value="<%=(material_id)?targetMaterial.weight:0%>">
                        </div>
                        <%
                          var targetLink = '';
                          var youtubeLink = '';
                          var streamingLink = '';
                          var videoName = '';
                          var videoDuration = 0;
                          if(!material_id){ //建立新影片
                        %>
                        <div class="form-group">
                          <label>影片內容</label><br />
                          <div id="video_selector" class="btn-group" role="group" aria-label="...">
                            <div class="btn-group" role="group">
                              <button id="youtubeModalBtn" type="button" class="btn btn-default" data-type="youtube" data-toggle="modal" data-target="#youtubeModal" data-url="">Youtube</button>
                            </div>
                            <div class="btn-group" role="group">
                              <button type="button" class="btn btn-default upload-btn" data-type="streaming">自行上傳</button>
                            </div>
                          </div>                          
                        </div>
                        <div id="progress-block" class="form-group" style="display:none;">
                          <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">0%</div>
                          </div>
                        </div>
                        <%
                          }else{
                            targetLink = targetMaterial.url;
                            videoName = targetMaterial.upload_name;
                            videoDuration = targetMaterial.duration;
                            if(targetLink.indexOf('youtu')!=-1){
                              youtubeLink = targetLink;
                        %>
                        <div class="form-group">
                            <label>影片內容</label><br />
                            <button type="button" class="btn btn-default" data-url="<%=targetLink%>" data-toggle="modal" data-target="#youtubeModal">更改Youtube網址</button>
                        </div>
                        <%
                            }else{
                              streamingLink = targetLink;
                        %>
                        <div class="form-group">
                            <label>影片內容</label><br />
                            <button type="button" class="btn btn-default upload-btn" data-url="<%=targetLink%>">自行上傳</button>
                        </div>
                        <div id="progress-block" class="form-group" style="display:none;">
                          <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">0%</div>
                          </div>
                        </div>
                        <%
                            }
                          }
                        %>                
                        
                        <div class="form-group preview-block <%=(material_id && youtubeLink)?'show':'hide'%>" id="youtube-preview-block">
                          <label>預覽</label>
                          <div id="youtube-preview" class="embed-responsive form-control embed-responsive-16by9">
                            <video
                              id="youtube-video"
                              class="video-js vjs-default-skin vjs-fluid vjs-big-play-centered vjs-paused"
                              controls
                              autoplay
                              data-setup='{ "techOrder": ["youtube"], "sources": [{ "type": "video/youtube", "src": "<%=youtubeLink%>"}] }'
                            ></video>
                          </div>
                        </div>
                        <input id="upload-input" type="file" name="uploads[]" multiple="multiple">
                        <div class="form-group preview-block <%=(material_id && streamingLink)?'show':'hide'%>" id="streaming-preview-block">
                          <label>預覽</label>
                          <input type="text" name="streaming_url" id="streaming_url" class="form-control" value="<%=videoName%>" disabled>
                          <div id="streaming-preview" class="embed-responsive form-control embed-responsive-16by9">
                            <video
                              id="streaming-video"
                              class="video-js vjs-default-skin vjs-fluid vjs-big-play-centered vjs-paused"
                              controls
                              autoplay
                              data-setup='{}'>
                              <source src="<%=streamingLink%>" type="video/mp4">
                            </video>
                          </div>
                        </div>
                        <div class="form-group">
                          <label>完成條件</label>
                          <div class="radio">
                            <label>
                              <%
                                if(!material_id || (material_id && targetMaterial.pass_method=='0')){
                              %>
                              <input type="radio" name="pass_method" id="passOption1" value="0" checked> 自動:觀看時間超過80%(含)影片時間
                              <%
                                }else{
                              %>
                              <input type="radio" name="pass_method" id="passOption1" value="0"> 自動:觀看時間超過80%(含)影片時間
                              <%
                                }
                              %>            
                            </label>
                          </div>
                          <div class="radio">
                            <label>
                              <input type="radio" name="pass_method" id="passOption2" value="1" <%=(material_id && targetMaterial.pass_method=='1')?'checked':''%>> 手動：觀看時間超過 <input type="number" min="1" name="pass_val" value="<%=(material_id && targetMaterial.pass_val!=null)?targetMaterial.pass_val:'1'%>"> %(含)影片時間
                            </label>
                          </div>
                        </div>
                        <div class="form-group hide">
                          <label>預計完成時間</label>
                          <div class="radio">
                            <label>
                              <%
                                if(!material_id || (material_id && targetMaterial.required_time_spent_method=='0')){
                              %>
                              <input type="radio" name="required_time_spent_method" id="timeOption1" value="0" checked> 自動:依據影片長度
                              <%
                                }else{
                              %>
                              <input type="radio" name="required_time_spent_method" id="timeOption1" value="0"> 自動:依據影片長度
                              <%
                                }
                              %>   
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                              <input type="radio" name="required_time_spent_method" id="timeOption2" value="1" <%=(material_id && targetMaterial.required_time_spent_method=='1')?'checked':''%>> 手動：<input type="number" min="1" name="required_time_spent_val" value="<%=(material_id && targetMaterial.required_time_spent_val)?targetMaterial.required_time_spent_val:'1'%>"> 分(含)
                            </label>
                          </div>
                        </div>
                        <input id="upload_name" type="hidden" name="upload_name" value="<%=videoName%>">
                        <input type="hidden" id="url" name="url" value="<%=targetLink%>">
                        <input type="hidden" id="video_duration" name="video_duration" value="<%=videoDuration%>">
                        <input type="hidden" id="activity_order" name="activity_order" value="<%=activity_order%>">
                        <div class="form-group">
                            <div class="pull-right">
                              <% 
                                if(targetMaterial){
                              %>
                              <a class="btn btn-danger" data-toggle="modal" data-target="#removeMaterialModal">刪除</a>
                              <%
                                }
                              %>
                              <input id="saveBtn" type="submit" class="btn btn-primary" value="儲存">
                            </div>
                        </div>
                    </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

     <%- cooc_footer %>

    <!-- 酷課雲 Header 角色 -->
    <div class="roleInfo" style="display:none;">
      <a id="logonBlock" href="javascript:void(0)">
        <img id="logonpic" src="<%=user.photoUrl%>"/>
        <img id="logonBack" src="/images/logon_back.png">
      </a>
      <div id="logonName"><%=user.name%></div>
      <div id="logonRole"><%=user.role_name%></div>
      <ul class="navigation">
        <li>
          <ul style="display:none">
            <li><a href="http://sso.tp.edu.tw/accountservice/" target="_blank">個人資訊</a></li>
            <li class="logout"><a href="/users/logout">登出</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <!-- 新增Youtube Modal -->
    <div id="youtubeModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">編輯Youtube影片網址</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label>Youtube網址</label>
              <input type="text" id="youtube_url" class="form-control" value="">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" id="addYoutubeBtn" class="btn btn-primary" data-url="">加入</button>
          </div>
        </div>
      </div>
    </div>

    <!-- 移除教材 Modal -->
    <div id="removeMaterialModal" data-backdrop="static" data-keyboard="false" class="modal bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog" role="document">
        <form id="remove_material_form" action="/teacher/material/remove/<%=activity.getActivityDetailsByUserId[0].id%>/<%=(targetMaterial)?targetMaterial.id:''%>" method="post">
        <div class="modal-content">
          <div class="modal-body">
            <h4>確定要刪除這個教材嗎?</h4>
            <input type="hidden" name="material_order" value="<%=(targetMaterial)?targetMaterial.activity_order:''%>">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="submit" class="btn btn-primary">確定</button>
          </div>
        </div>
        </form>
      </div>
    </div>

    <script src="/javascripts/jquery-3.2.1.min.js"></script>
    <script src="/javascripts/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script src="/javascripts/bootstrap-maxlength.js"></script>
    <script src="/javascripts/videojs/video.js"></script>
    <script src="/javascripts/videojs/Youtube.min.js"></script>
    <script src="/javascripts/youtube-video-id.min.js"></script>
    <script src="/javascripts/icheck/icheck.min.js"></script>
    <script src="/javascripts/moment.js"></script>
    <script>
      $(document).ready(function(){

        var youtube_video = videojs(document.querySelector('#youtube-video'));
        var streaming_video = videojs(document.querySelector('#streaming-video'));

        $("input[maxlength]").maxlength();
        //酷課雲 header 處理
        if($('.roleInfo').length>0){
          $('.rolemenu').html($('.roleInfo').html());
          /*選單顯示控制*/
          $("#logonBlock").on("click",function(){
            if ($("ul.navigation li > ul").is(":visible")) {
              $("ul.navigation li > ul").css("display","none");
            } else {
              $("ul.navigation li > ul").css("display","block");
            }
          });
          $('.container-fluid').css('margin-top','-80px');
        }

        //sidebar
        $(".sidebarMenu > li.dropMenu > a").on("click", function(i){
          i.preventDefault();
          if( ! $(this).parent().hasClass("activeDown") ){
            $(".sidebarMenu li ul").slideUp();
            $(this).next().slideToggle();
            $(".sidebarMenu li").removeClass("activeDown");
            $(this).parent().addClass("activeDown");
          }
          else{
            $(this).next().slideToggle();
            $(".sidebarMenu li").removeClass("activeDown");
          }
        });

        $('input[type="radio"]').iCheck({
            radioClass: 'iradio_flat-blue'
        });

        //Youtube處理
        $('#youtubeModal').on('shown.bs.modal', function(event){
          var button = $(event.relatedTarget);
          var modal = $(this);
          modal.find('#youtube_url').val(button.attr('data-url'));
          modal.find('#addYoutubeBtn').attr('data-url', button.attr('data-url'));
        });
        $('#addYoutubeBtn').on('click', function(){
          var btn = $(this);
          var targetYoutubeLink = $('#youtube_url').val();
          var videoId = YouTubeVideoId(targetYoutubeLink);
          if(targetYoutubeLink!=videoId){
            if(checkDurationInterval){
              clearInterval(checkDurationInterval);
            }
            $('#youtubeModalBtn').attr('data-url',targetYoutubeLink);
            btn.attr('data-url',targetYoutubeLink);
            $('#url').val(targetYoutubeLink);
            $('#saveBtn').attr('disabled',true);
            $('#saveBtn').val('載入影片中');
            $.ajax({
              url: 'https://www.googleapis.com/youtube/v3/videos?id='+videoId+'&part=snippet,contentDetails&fields=items(id,snippet(title,description),contentDetails(duration))&key=AIzaSyCNnpxFYGsummFFWqRJnXt3IOWtA4XMI1M',
              type: 'GET',
              success: function(data){
                var videoDuration = data.items[0].contentDetails.duration;
                $('#video_description').val(data.items[0].snippet.description);
                $('#video_duration').val(moment.duration(videoDuration).asSeconds());
                $('#saveBtn').attr('disabled',false);
                $('#saveBtn').val('儲存');
              }
            });
            youtube_video.src({ type: 'video/youtube', src: targetYoutubeLink });
            $('#streaming-preview-block').removeClass('show');
            $('#streaming-preview-block').addClass('hide');
            $('#youtube-preview-block').removeClass('hide');
            $('#youtube-preview-block').addClass('show');
          }
          $('#youtubeModal').modal('hide');
        });

        //自行上傳影片處理
        $('.upload-btn').on('click', function (){
          $('#upload-input').click();
        });
        var checkDurationInterval;
        $('#upload-input').on('change', function(){
          var files = $(this).get(0).files;
          if (files.length > 0){
            $('#progress-block').empty().append(
              '<div class="progress">'+
                '<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">0%</div>'+
              '</div>').show();
            var formData = new FormData();
            for (var i = 0; i < files.length; i++) {
              var file = files[i];
              formData.append('uploads[]', file, file.name);
            }
            if(checkDurationInterval){
              clearInterval(checkDurationInterval);
            }
            $('#saveBtn').attr('disabled',true);
            $('#saveBtn').val('載入影片中');
            $('.progress-bar').html('0%');
            $('.progress-bar').css('width', '0%');
            $.ajax({
              url: '/upload/activity/mp4/<%=activity.getActivityDetailsByUserId[0].id%>',
              type: 'POST',
              data: formData,
              processData: false,
              contentType: false,
              success: function(data){
                $('#streaming_url').val(data.name);
                checkDurationInterval = setInterval(function() {
	                if(streaming_video.readyState() > 0) {
                    var duration = Math.floor(streaming_video.duration());
                    $('#video_duration').val(duration);
                    clearInterval(checkDurationInterval);
                    $('#saveBtn').attr('disabled',false);
                    $('#saveBtn').val('儲存');
	                }
                }, 200);
                $('#url').val(data.url);
                $('#upload_name').val(data.name);
                streaming_video.src(data.url);
                $('#youtube-preview-block').removeClass('show');
                $('#youtube-preview-block').addClass('hide');
                $('#streaming-preview-block').removeClass('hide');
                $('#streaming-preview-block').addClass('show');
              },
              xhr: function(){
                var xhr = new XMLHttpRequest();
                xhr.upload.addEventListener('progress', function(evt){
                  if (evt.lengthComputable) {
                    var percentComplete = evt.loaded / evt.total;
                    percentComplete = parseInt(percentComplete * 100);
                    $('.progress-bar').html(percentComplete+'%');
                    $('.progress-bar').css('width', percentComplete+'%');
                  }
                }, false);
                return xhr;
              }
            });
          }
        });

      });
    </script>
  </body>
</html>
