<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/javascripts/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/javascripts/DataTables/datatables.min.css">
    <link rel="stylesheet" href="/javascripts/DataTables/Responsive-2.1.1/css/responsive.dataTables.min.css">
    <link rel="stylesheet" href="/javascripts/DataTables/Responsive-2.1.1/css/responsive.bootstrap.min.css">
    <link rel="stylesheet" href="/javascripts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/teacher.css">
    <link rel="stylesheet" href="/stylesheets/intern/dashboard_teacher.css">
    <link rel="stylesheet" href="/stylesheets/logon.css">
    <style>
      table tbody tr td div.status div {
        display: inline;
        padding: 5px;
      }
    </style>
  </head>
  <body>

    <%- cooc_header %>

    <div class="wrapper" ng-app="myApp">
      <div class="sidebar" ng-class="boolie ? 'closed' : ''">
        <div class="sidebarToggle" ng-click="boolie = !boolie">
          <i class="fa fa-ellipsis-v sidebar-toggleHam menuIcon" aria-hidden="true" ng-class="boolie ? 'rotate' : ''"></i>
          <span class="sidebar-toggleText">縮小</span>
        </div>
        <nav role="navigation" class="sidebarNav">
          <ul>
            <li class="sidebar-navItem">
              <a href="/teacher">
                <i class="menuIcon fa fa-futbol-o"></i>
                <span>我的活動</span>
              </a>
            </li>
            <li class="sidebar-navItem">
              <a href="#">
                <i class="menuIcon fa fa-file-o" aria-hidden="true"></i>
                <span>我的教材</span>
              </a>
            </li>
            <li class="sidebar-navItem">
              <a href="/group">
                <i class="menuIcon fa fa-users" aria-hidden="true"></i>
                <span>群組設定</span>
              </a>
            </li>
            <li class="sidebar-navItem">
              <a href="/dashboard/teacher">
                <i class="menuIcon fa fa-area-chart" aria-hidden="true"></i>
                <span>儀表板</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="main">
        <div class="col-md-12">
            <h4>我的教材</h4>
            <hr>
            <table id="materialTable" class="table table-striped table-responsive">
                <thead>
                    <th>名稱</th>
                    <th>類型</th>
                    <th>建立時間</th>
                </thead>
                <tbody></tbody>
            </table>
        </div>
      </div>
    </div>

    <%- cooc_footer %>

    <!-- 酷課雲 Header 角色 -->
    <div class="roleInfo" style="display:none;">
      <a id="logonBlock" href="javascript:void(0)">
        <img id="logonpic" src="<%=user.photoUrl%>"/>
        <img id="logonBack" src="/images/logon_back.png">
      </a>
      <div id="logonName"><%=user.name%></div>
      <div id="logonRole"><%=user.role_name%></div>
      <ul class="navigation">
        <li>
          <ul style="display:none">
            <li><a href="http://sso.tp.edu.tw/accountservice/" target="_blank">個人資訊</a></li>
            <li class="logout"><a href="/users/logout">登出</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <script src="/javascripts/jquery-3.2.1.min.js"></script>
    <script src="/javascripts/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script src="/javascripts/DataTables/datatables.min.js"></script>
    <script src="/javascripts/DataTables/Responsive-2.1.1/js/dataTables.responsive.min.js"></script>
    <script src="/javascripts/DataTables/Responsive-2.1.1/js/responsive.bootstrap.min.js"></script>
    <script src="/javascripts/angular.min.js"></script>
    <script>
      var app = angular.module('myApp', []);
      $(document).ready(function(){      

        //酷課雲 header 處理
        $('.rolemenu').html($('.roleInfo').html());
        $("#logonBlock").on("click",function(){
        	if ($("ul.navigation li > ul").is(":visible")) {
        		$("ul.navigation li > ul").css("display","none");
        	} else {
        		$("ul.navigation li > ul").css("display","block");
        	}
        });

        //我的全部活動
        $('#materialTable').DataTable({
          language:{
            url:'/locales/<%=t('lang-code')%>/materialTable.json'
          },
          responsive: true,
          serverSide: true,
          processing:true,
          ajax:{
            url:'/api/material/teacher'
          },
          order: [[ 2, "desc" ]],
          rowId:'id',
          columns: [
            { data:'name', render:function(data, type, row){
                return '<a href="/teacher/activity/edit/'+row.activity_id+'/web/edit/'+row.id+'">'+data+'</a>';
            } },
            { data:'type', orderable:false, searchable:false, render:function(data, type, row){
                var typeIcon = '<i class="fa fa-asterisk" aria-hidden="true"></i>';
                switch(data){
                  case 1: //link
                    typeIcon = '<i class="fa fa-link" aria-hidden="true"></i>';
                    break; 
                  case 2: //video
                    typeIcon = '<i class="fa fa-video-camera" aria-hidden="true"></i>';
                    break;
                  case 3: //pdf
                    typeIcon = '<i class="fa fa-file-pdf-o" aria-hidden="true"></i>';
                    break;
                  case 4: //assessment
                    typeIcon = '<i class="fa fa-pencil-square-o" aria-hidden="true"></i>';
                    break;
                  case 5: //article
                    typeIcon = '<i class="fa fa-file-text-o" aria-hidden="true"></i>';
                    break;
                }
                return typeIcon;
            } },
            { data:'create_date_format', searchable:false }
          ]
        });

      });

    </script>
  </body>
</html>