.counts-container {
    height: 300px;
}
table#student_table {
    border: 1px solid #cbcaca;
    border-collapse: none;
}
table#student_table thead th,
table#student_table tbody td {
    border: 1px solid #ddd;
    text-align: center;
    width: 50px !important;
    white-space: nowrap;
    overflow: hidden;
}
table#student_table thead th {
    text-overflow: ellipsis;
}
#student_table thead tr th {
    vertical-align: middle;
}