* {
	margin: 0;
	padding: 0;
	list-style: none;
}

body {
	font-family: "Arial Regular", 微軟正黑體, "Helvetica Neue", Helvetica, Arial, sans-serif;
	overflow-x: hidden;
}

.wrapper {
	margin-top: -60px;
	min-height: 700px;
}

a {
	color: #00B7FF;
}

.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

.form-signin input[type="email"] {
	margin-bottom: -1px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.navbar {
	margin-bottom: 0;
}

.divider {
	margin: 20px 0;
}

#gotop {
	display: none;
	position: fixed;
	right: 20px;
	bottom: 20px;
	padding: 15px 23px;
	font-size: 20px;
	background: #777;
	color: white;
	cursor: pointer;
	border-radius: 7px;
}

img.coocLogo1280,
img.coocLogo1024,
img.coocLogo768,
img.coocLogo320 {
	vertical-align: bottom;
}

div.footer {
	padding-bottom: 20px;
}

.cube {
	border: 1px solid #eee;
	height: 200px;
	padding: 30px;
}

.imgCube {
	background: #f39a00;
	color: #fff;
	font-size: 36px;
	text-align: center;
}

ul {
	list-style: none;
}

.sidebar-navItem a {
	text-decoration: none;
	color: #fff;
}

.sidebar-footerText > a {
	text-decoration: none;
	color: #fff;
}

a:hover {
	text-decoration: none;
	/* color: #EE6220; */
}

.wrapper {
	display: table;
	width: 100%;
	height: 100%;
}

.sidebarNav {
	border: 1px solid rgba(250, 250, 250, .6);
	border-left-color: transparent;
	border-right-color: transparent;
	padding: 20px 0;
}

.sidebar {
	position: relative;
	display: table-cell;
	min-width: 180px;
	max-width: 180px;
	min-height: 100%;
	background-color: #00ACC4;
	-webkit-transition: max-width 0.4s ease, min-width 0.4s ease;
	transition: max-width 0.4s ease, min-width 0.4s ease;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	/* height: 400px; */
}


/* sidebar.closed  */

.sidebar.closed {
	max-width: 50px;
	min-width: 50px;
	-webkit-transition: max-width 0.4s ease, min-width 0.4s ease;
	transition: max-width 0.4s ease, min-width 0.4s ease;
}

.sidebar.closed .sidebar-logo {
	-webkit-transform: scale(0.625) translate(-64px, -104px);
	transform: scale(0.625) translate(-64px, -104px);
	-webkit-transition: -webkit-transform 0.4s ease;
	transition: -webkit-transform 0.4s ease;
	transition: transform 0.4s ease;
	transition: transform 0.4s ease, -webkit-transform 0.4s ease;
	bottom: -75px;
}

.sidebar.closed .sidebar-navItem {
	padding-left: 17px;
	-webkit-transition: padding-left 0.4s ease;
	transition: padding-left 0.4s ease;
}

.sidebar.closed .sidebar-navItem a span {
	display: none;
}

.sidebar.closed .sidebar-toggleText {
	display: none;
}

.sidebar.closed .sidebar-toggleHam {
	left: 22px;
	-webkit-transform: scaleX(5);
	transform: scaleX(5);
}

.sidebar.closed .sidebarToggle:hover .sidebar-toggleHam {
	-webkit-transition: -webkit-transform 0.2s ease;
	transition: -webkit-transform 0.2s ease;
	left: 22px;
}


/* sidebar-header */

.sidebar-header {
	position: relative;
	height: 130px;
	margin-bottom: 50px;
	text-align: center;
}

.sidebar-logo {
	position: absolute;
	bottom: 0;
	left: 50%;
	-webkit-transform: translateX(-40px);
	transform: translateX(-40px);
	display: inline-block;
	width: 80px;
	height: 80px;
	background: rgba(250, 250, 250, .3);
	border-radius: 50%;
	-webkit-transition: height 0.4s ease, width 0.4s ease, -webkit-transform 0.4s ease;
	transition: height 0.4s ease, width 0.4s ease, -webkit-transform 0.4s ease;
	transition: transform 0.4s ease, height 0.4s ease, width 0.4s ease;
	transition: transform 0.4s ease, height 0.4s ease, width 0.4s ease, -webkit-transform 0.4s ease;
}

.sidebar-navItem {
	padding: 10px 0 10px 20px;
	white-space: nowrap;
	overflow: hidden;
	-webkit-transition: padding-left 0.4s ease;
	transition: padding-left 0.4s ease;
}

.sidebar-navItem:hover {
	background-color: rgba(90, 87, 87, 0.50);
	cursor: pointer;
}

.sidebar-navItem:hover .menuIcon {
	/* color: #00ACC4; */
}

.sidebar-navItem a {
	opacity: 1;
	-webkit-transition: opacity 0.4s ease;
	transition: opacity 0.4s ease;
}

.sidebarToggle {
	position: relative;
	height: 50px;
	width: 100%;
}

.sidebarToggle:hover {
	background: rgba(20, 20, 20, .5);
	cursor: pointer;
}

.sidebar-navItem.active {
	background: rgba(121, 118, 118, .5);
}

.sidebar-toggleHam {
	position: absolute;
	bottom: 20px;
	left: 50%;
	cursor: pointer;
	-webkit-transform: translateX(-7px);
	transform: translateX(-7px);
	-webkit-transition: left 0.2s ease;
	transition: left 0.2s ease;
}

.sidebarToggle:hover .sidebar-toggleHam {
	-webkit-transition: left 0.2s ease, rotate 1s ease;
	transition: left 0.2s ease, rotate 1s ease;
	left: 70px;
}

.sidebar-toggleText {
	position: absolute;
	bottom: 17px;
	left: 85px;
	opacity: 0;
	color: #DCEFEB;
	font-size: 12px;
	white-space: nowrap;
}

.sidebarToggle:hover .sidebar-toggleText {
	opacity: 1;
	-webkit-animation: fadeIn 0.75s ease;
	animation: fadeIn 0.75s ease;
}

.menuIcon {
	color: #DCEFEB;
}

.menuIcon:not(.sidebar-toggleHam, .sidebar-toggleArrow) {
	margin-right: 1rem;
}


/* sidefooter */

.sidebar-toggleArrow {
	left: 30px;
	position: relative;
	padding: 20px;
	color: #3C566F;
}

.sidebar.closed .sidebar-toggleArrow {
	left: 0;
}

.sidebar.closed .sidebar-toggleArrow:hover {
	left: -5px;
}

.sidebar-footerText {
	position: relative;
	margin-left: 10px;
	/*
  bottom: 370px;
  left: 70px;
  */
	opacity: 1;
	color: #fff;
}

.sidebar-footer:hover .sidebar-footerText {
	opacity: 1;
	-webkit-animation: fadeIn 0.75s ease;
	animation: fadeIn 0.75s ease;
}

.sidebar-footer:hover .sidebar-toggleArrow {
	-webkit-transition: left 0.2s ease, rotate 1s ease;
	transition: left 0.2s ease, rotate 1s ease;
	color: #DCEFEB;
	left: 20px;
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.main {
	display: table-cell;
	vertical-align: top;
	width: 100%;
	background-color: #F4F5F7;
}

#footer_split {
	margin-top: 0!important;
}

span.nameBox {
	margin-right: 3px;
	background-color: darkseagreen;
	font-size: 20px;
	color: white;
}

.page-title {
	padding-top: 10px !important;
}