*{
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  font-family: "Arial Regular", 微軟正黑體, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a:link, a:hover, a:active{
  /* color: #00B7FF; */
  text-decoration: none;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.navbar{
  margin-bottom: 0;
}

.divider {
  margin: 20px 0;
}

#gotop {
  display: none;
  position: fixed;
  right: 20px;
  bottom: 20px;    
  padding: 15px 23px;    
  font-size: 20px;
  background: #777;
  color: white;
  cursor: pointer;
  border-radius: 7px;
}

img.coocLogo1280,
img.coocLogo1024,
img.coocLogo768,
img.coocLogo320 {
  vertical-align: bottom;
}

div.footer {
  padding-bottom: 20px;
}

.content{
  margin: 0 auto;
  width: 80%;
}
.question{
  border-bottom: 2px solid #54ae68;
  padding-left: 15px;
  position: relative;
}
.question .detail h4{
  font-weight: 700;
  margin-bottom: 10px; 
}
.answer, .reply{
  border-bottom: 1px solid rgba(0,0,0,.1);
  padding: 10px 20px;
  position: relative;
  margin-left: 50px;
}
.asker, .follower{
  float: left;  
  text-align: center;
  width: 4%;
}
.asker{
  margin: 20px 10px;
}
.follower{
  margin: 10px;
}
.detail{
  margin: 20px;
  width: 85%;
  display: inline-block;
}
.detail::after{
  position: absolute;
  content: '';
  clear: both;
  display: block;
}
.date{
  position: absolute;
  top: 5px;
  right: 100px;
  font-size: 12px;
  color: #666;
}
.comment input{
  border: transparent;
  border-bottom: 1px solid #555;
}
.comment input:focus{
  outline: transparent;
}