*{
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  font-family: "Arial Regular", 微軟正黑體, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a:link, a:hover, a:active{
  /* color: #00B7FF; */
  text-decoration: none;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.navbar{
  margin-bottom: 0;
}

.divider {
  margin: 20px 0;
}

#gotop {
  display: none;
  position: fixed;
  right: 20px;
  bottom: 20px;    
  padding: 15px 23px;    
  font-size: 20px;
  background: #777;
  color: white;
  cursor: pointer;
  border-radius: 7px;
}

img.coocLogo1280,
img.coocLogo1024,
img.coocLogo768,
img.coocLogo320 {
  vertical-align: bottom;
}

div.footer {
  padding-bottom: 20px;
}

.subnav{
  /* border: 1px solid #a00; */
  /* padding: 0 25px; */
}
.subnav ul li:nth-child(1){
  /* padding-bottom: 15px; */
  border-bottom: 2px solid #54ae68;
  margin-bottom: 20px;
}
.subnav ul li:nth-child(1) h3{
  line-height: 2;
}
.subnav ul li{
  margin-bottom: 10px;  
}
.subnav ul li .messageNum{
  /* float: right; */
  /* color: #54ae68; */
  padding: 0;
  margin-left: 10px;
  font-weight: 700;
}
.subnav ul li a{
  color: #333;
  font-size: 15px;
}
.subnav ul li a:hover{
  color: #54ae68;
}
.action{
  float: left;
}
.action select{
  border: 1px solid rgba(0,0,0,.1);
  padding: 5px;
}
.action select:focus{
  outline: transparent;
}
.action::after, .search::after{
  position: absolute;
  content: '';
  clear: both;
  display: inline-block;
}
.search{
  /* float: right; */
  /* border: 1px solid rgba(0,0,0,.1); */
}
.notification{  
  /* padding: 10px 0; */
}
.message table{
  width: 100%;
  margin-top: 24px;
}
.message table tbody tr{
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
}
.message table tbody tr:hover{
  border: 2px solid #e1e1e1;
  background: #F9F9F9;
  cursor: pointer;
}
.message table tbody td{
  padding: 15px 0;
}
.read{
  padding: 5px;
  margin: 5px;
  text-align: center;
  border: 1px solid #F6C564;
}
.reply{
  padding: 5px;
  margin: 5px;
  text-align: center;
  border: 1px solid #54ae68;
}

#new-question {
  display: none;
}

.target {
  color: red !important;
}