*{
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  font-family: "Arial Regular", 微軟正黑體, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.navbar{
  margin-bottom: 0;
}
.bannerArea{
  /* background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%); */
  background-image: url('../../images/indexBack.png');
  text-align: center;
  margin-bottom: 5%;
}
.bannerArea > h2{
  font-size: 48px;
  font-weight: 600;
  margin: 5% auto;
  letter-spacing: 3px;
  /* text-shadow:
    -1px 1px 0em orange,
    -2px 2px 0em orange,
    -3px 3px 0em orange,
    -4px 4px 0em orange,
    -5px 5px 0em orange,
    -6px 6px 0em orange,
    -7px 7px 0em orange,
    -8px 8px 0em orange; */
}
.bannerNum{
  background-color: rgba(255,255,255,0.09);
  border: 1px solid rgba(255, 255, 255, 0.24);
  width: 65%;
  margin: 0 auto 20%;
  padding: 45px 0;
  color: darkslategray;
}
.bannerNum span{
  font-size: 30px;
}
.infoArea{
  /* border: 1px solid #a00; */
  margin: 2% 0; 
}
.infoImg{
  text-align: center;
  font-size: 72px;
}
.infoArea p{
  padding: 5%;
  width: 80%;
  /* border: 1px solid #a00; */
}

.divider {
  margin: 20px 0;
}

#gotop {
  display: none;
  position: fixed;
  right: 20px;
  bottom: 20px;    
  padding: 15px 23px;    
  font-size: 20px;
  background: #777;
  color: white;
  cursor: pointer;
  border-radius: 7px;
}

img.coocLogo1280,
img.coocLogo1024,
img.coocLogo768,
img.coocLogo320 {
  vertical-align: bottom;
}

div.footer {
  padding-bottom: 20px;
}