*{
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  font-family: "Arial Regular", 微軟正黑體, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

img.coocLogo1280,
img.coocLogo1024,
img.coocLogo768,
img.coocLogo320 {
  vertical-align: bottom;
}


@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { 
  #normal {margin-left:65px;}    /*IE10*/
  #fullmal {margin-left:15px;}    /*IE10*/
  *::-ms-backdrop, #normal { margin-left:1px;}  /*IE11*/
  *::-ms-backdrop, #fullmal { margin-left:1px;}  /*IE11*/
}

/*Firefox*/
@media screen and (min-width: 1280px){
.navigation {z-index:3;position:relative;top:-87px;left: 1095px;white-space: nowrap;}
#logonpic {border-radius:50%; overflow:hidden;width:32px;height:32px;position: relative; top: -22px; left: 52px; z-index: 3;}
#logonBack {width:115px;height:101px;position: relative;right:24px;top: -7px;z-index:2;margin-top: -2px;}
#logonBack:not(*:root) { margin-top: -1px;}
#logonBlock {color: #666; text-decoration: none;width: 90px;padding:0;position: relative;left: 1134px;top: -55px;font-size: 13px;}
#logonName {width: 115px;text-align: center;font-size: 11px;cursor:pointer;z-index: 3;position: relative;left:1146px;top: -106px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
#logonRole {width: 115px;text-align: center;font-size: 11px;cursor:pointer;z-index: 3;position: relative;left:1146px;top: -100px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.rolemenu {margin-top: -35px !important}
}
@media screen and (max-width: 1279px) and (min-width: 1024px){
.navigation {z-index:3;position:relative;top:-88px;left: 830px;white-space: nowrap;}
#logonBlock{ width:115px; height:101px; position:relative; left:890px; top:-64px;display:block;}	
#logonpic {border-radius:50%; overflow:hidden;width:32px;height:32px; position:relative; left:41px; top:54px;display:table;}
#logonBack {width:115px; height:101px;}		
#logonName {width: 115px;text-align: center;font-size: 11px;cursor:pointer;z-index: 3;position: relative;left:892px;top: -75px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
#logonRole {width: 115px;text-align: center;font-size: 11px;cursor:pointer;z-index: 3;position: relative;left:892px;top: -100px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
#logonBack:not(*:root) { top:27;}
}	
@media screen and (max-width: 1023px) {
.navigation {z-index:3;position:relative;top:-55px;left: 75px;white-space: nowrap;}
#logonBlock {width:115px; height:101px; position:relative; left:136px; top:-31px;display:block;}	
#logonpic {border-radius:50%; overflow:hidden;width:32px;height:32px;position: relative; top: 54px; left: 41px;display:table;}
#logonBack {width:115px;height:101px;}		
#logonName {width: 115px;text-align: center;font-size: 11px;cursor:pointer;z-index: 3;position: relative;left:137px;top: -42px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
#logonRole {width: 115px;text-align: center;font-size: 11px;cursor:pointer;z-index: 3;position: relative;left:137px;top: -63px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
}

/*IE*/
@media screen and (min-width: 1280px) and (-ms-high-contrast: active) and (-ms-high-contrast: none){
	#logonBack{margin-top: -1px;}
	.navigation {top:-82px;	}
	#logonRole {top:-75px}
    .rolemenu {margin-top: -35px !important}
}

@media screen and (max-width: 1279px) and (min-width: 1024px) and (-ms-high-contrast: active) and (-ms-high-contrast: none){
	#logonBack{margin-top: -2px;}
	.navigation {top:-83px;}
	#logonRole {top:-75px;}
	#logonBlock{top:-63px;}
	#logonpic{top:51px;}
}

@media screen and (max-width: 1023px) and (-ms-high-contrast: active) and (-ms-high-contrast: none){
	#logonBack{margin-top: 5px;}
	.navigation {top:-49px;}
	#logonRole {top:-60px}
	#logonBlock{top:-35px;}
	#logonpic{top:57px;}

}

/*chrome*/
@media screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio:0) {
   .navigation { top:-96px;}
   #logonRole {top:-105px}
   .rolemenu {margin-top: -35px !important}
}

@media screen and (max-width: 1279px) and (min-width: 1024px) and (-webkit-min-device-pixel-ratio:0) {
   .navigation { top:-84px;	}
    #logonRole {top:-75px}
    #logonBlock{top:-63px;}
}

@media screen and (max-width: 1023px) and (-webkit-min-device-pixel-ratio:0) {
   .navigation {top:-53px;}
    #logonRole {top:-63px}
}

ul.navigation,ul.navigation li, ul.navigation ul, ul.navigation li a{
    margin: 0;
    padding: 0;
    font-size: 13px;
    text-decoration: none;
    width:165px;
}
ul.navigation,ul.navigation li {
    list-style: none;
}
/*ul.navigation li {
    position: relative;
    float: left;
}*/
/* 選單 li 裡面連結之樣式 */
ul.navigation li a{
    display: block;
    padding: 12px 5px;
    color: #666;        
    background: #fff;
}
/* 特定在第一層，以左邊灰線分隔 */
ul.navigation > li > a{
    /*border: 1px solid #CCC;  
    border-bottom: 5px solid #FFA415;*/  
}

ul.navigation > li > a:hover{
    background: #EEE
}
/* 特定在第一層 > 第二層之後下拉部分之樣式 */
ul.navigation li ul{
    display: none;
    float: left;
    position: absolute;
    left: 0;    
    margin: 0;
}

/* 當第一層選單被觸發時，指定第二層顯示 */
ul.navigation li:hover > ul{
    display: block;
}
/* 特定在第二層或之後下拉部分 li 之樣式 */
ul.navigation ul li {
    border-bottom: 1px solid #DDD;
    width:177px;
    text-align: right;
}
/* 特定在第二層或之後下拉部分 li （最後一項不要底線）之樣式 */
ul.navigation ul li:last-child {
    border-bottom: none;
}
/* 第二層或之後 選單 li 之樣式 */
ul.navigation ul a {
    /*padding: 10px 5px;*/    
    color: #666;        
    background: #EEE;
    border-top: 1px solid #CCC;
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
    white-space: nowrap;
}
ul.navigation ul a:hover {        
    background: #fff;   
}
.logoclouda{
    top:-30px;
}