.map-btn {
    margin:0px 0px 5px 0px;
  }
  #km {
    background-color: #fff;
    width: 100%;
    height: 450px;
  }
  #km svg {
    width: 100%;
    height: 450px;
  }
  .selected circle {
    stroke-width: 3px !important;
    stroke: #FF0000 !important;
  }
  .node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
  }
  .node circle:hover {
    cursor: pointer;
  }
  .ghostCircle, .activeDrag .ghostCircle {
    display: none;
  }
  .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
  }
  .tab-pane {
    min-height: 200px;
  }
  .video-container {
    padding: 15px;
  }