.hide {
    display: none;
}
.fa-user-circle-o {
    font-size: 2em;
    padding:2px;
}
.node_progress_counts {
    font-size: 2em;
}
.content {
    padding: 15px;
}
#chart {
    height: 500px;
}
.node rect {
    cursor: pointer;
    fill-opacity: .9;
    shape-rendering: crispEdges;
}
.node text {
    pointer-events: none;
    text-shadow: 0 1px 0 #fff;
}
.link {
    fill: none;
    stroke: #000;
    stroke-opacity: .2;
}
.link:hover {
    stroke-opacity: .5;
}
.student {
    margin:5px;
}