*{
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  font-family: "Arial Regular", 微軟正黑體, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a {
  /* color: #00B7FF; */
}
a:hover{
  text-decoration: none;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.navbar{
  margin-bottom: 0;
}

.divider {
  margin: 20px 0;
}

#gotop {
  display: none;
  position: fixed;
  right: 20px;
  bottom: 20px;    
  padding: 15px 23px;    
  font-size: 20px;
  background: #777;
  color: white;
  cursor: pointer;
  border-radius: 7px;
}

img.coocLogo1280,
img.coocLogo1024,
img.coocLogo768,
img.coocLogo320 {
  vertical-align: bottom;
}

div.footer {
  padding-bottom: 20px;
}
@media only screen and (max-width: 768px){
  .stuTabsMenu{ border: 1px solid #00ACC4; width: 100px; padding: 1%;}
}
@media only screen and (min-width: 768px){
  .stuTabsMenu { width: calc(20% - 10px); padding: 10px; border: 1px solid #00ACC4;}
}
.stuTabsMenu{
  float: left;
  text-align: center;
  margin: 5px;
}
.stuTabsMenu.active{ background: #00ACC4; color: #fff; text-decoration: none; position: relative;}
.stuTabsMenu.active:after{ top: 100%; left: 50%; border: solid transparent; content: ""; height: 0; width: 0; 
position: absolute;pointer-events: none; border-color: rgba(136,183,213,0); border-top-color: #00ACC4; 
border-width: 10px; margin-left: -10px;}
.activityBox{
  margin-top: 3%;
}
.activityList {
  border: 1px solid #ddd;
  margin: 10px;
  box-shadow: 3px 3px 5px #eee;
  padding: 0;
  width: calc(25% - 20px);
  float: left;
}
.activityList > p{
  text-align: right;
  padding: 5px 10px;
}
.courseBox{
  text-align: center;
  padding: 20px;
}
.courseBox i{
  background: #2EB3D0;
  color: #fff;
  padding: 10px 13px;
  border-radius: 50%;
  margin-bottom: 10px;
  box-shadow: 1px 1px #ededed,2px 2px #ededed,3px 3px #ededed,4px 4px #ededed,5px 5px #ededed,6px 6px #ededed;
}

#myProgress {
  width: 100%;
  background-color: #ddd;
}
.progress {
  width: 100%;
  height: 6px;
}
.progress-wrap {
  background: #2EB3D0;
  margin: 10px 0;
  overflow: hidden;
  position: relative;
}
.progress-wrap .progress-bar {
  border-radius: 0 0 10px;
  background: #B9C0C9;
  left: 0;
  position: absolute;
  top: 0;
}

.show {
  display:block;
}

.hide {
  display: none;
}

.card {
  display: inline-block;
  vertical-align: top;
  margin: 10px;
  width: 230px;
  background-color: #fff;
  box-shadow: 0 2px 2px #cbcbcb;
  position: relative;
  text-align: left;
  cursor: pointer;
}
.card a {
  color: #111;
  display: block;
  font-size: 13px;
  text-decoration: none;
}
.card-image {
  height: auto;
  display: block;
  position: relative;
  background: #111;
  overflow: hidden;
}
.card-image > img {
  max-width: 100%;
  width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
}
.card-detail {
  padding: 12px 15px;
  display: block;
}
.detail-name {
  font-size: 18px;
  font-weight: 700;
  height: 39px;
  display: -webkit-box!important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
.detail-instructor {
  height: 39px;
  display: -webkit-box!important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
.detail-bottom {
  height: 35px;
  margin-top: 10px;
}
.detail-progress {
  background-color: rgba(0,0,0,.25);
  display: block;
  height: 5px;
}
.detail-progress-bar {
  background-color: #17aa1c;
  display: inherit;
  height: inherit;
}
.detail-progress-text {
  display: inline-block;
  width: 50%;
  margin-top: 3px;
}
.card-options {
  position: absolute;
  top: 10px;
  right: 10px;
}

.pager {
  clear: both;
  text-align: center;
  margin: 30px 0px 0px 0px;
}

.bottom-pager {
  display: inline-block;
}

.collection_box {
  margin-bottom: 50px;
}

#activityDetailModal table tbody tr td:nth-child(odd) {
  width:25%;
}
#activityDetailModal table tbody tr td:nth-child(even) {
  width:75%;
}