*{
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  font-family: "Arial Regular", 微軟正黑體, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.navbar{
  margin-bottom: 0;
}

.divider {
  margin: 20px 0;
}

#gotop {
  display: none;
  position: fixed;
  right: 20px;
  bottom: 20px;    
  padding: 15px 23px;    
  font-size: 20px;
  background: #777;
  color: white;
  cursor: pointer;
  border-radius: 7px;
}

img.coocLogo1280,
img.coocLogo1024,
img.coocLogo768,
img.coocLogo320 {
  vertical-align: bottom;
}

div.footer {
  padding-bottom: 20px;
}
.cube{
  border: 1px solid #eee;
  height: 200px;
  padding: 30px;
}
.imgCube{
  background: #f39a00;
  color: #fff;
  font-size: 36px;
  text-align: center;
}


.sidebarToggle {
  position: relative;
  height: 50px;
  width: 100%;
  padding: 0 15px;
  background: rgba(0,0,0,.8);
  color: #fff;
}
.sidebar-navItem {
  white-space: nowrap;
  overflow: hidden;
  font-size: 16px;
}
.sidebar-navItem a{
  display: block;
  padding: 10px 0 10px 30px;
  color: #000;
}
.sidebar-navItem a:hover{
  background: #F6F6F6;
}
.sidebar-navItem a .fa:nth-child(1){
  color: #888;
}
.sidebar-navItem a .fa:nth-child(2){
  position: absolute;
}
.sidebar-navItem a .fa:nth-child(2).fa-circle-o{
  color: #ccc;
}
.sidebar-navItem a .fa:nth-child(2).fa-adjust{
  color: #63D9EA;
}
.sidebar-navItem a .fa:nth-child(2).fa-check-circle-o{
  color: #11ACCD;
  font-size: large;
}

@media (min-width: 768px) {
  .pdfFrame,.video-js{
      height: 600px !important;
  }
  #note-test{display: none;}
  .note-edit textarea{
    height: 200px;
  }

  .sidebar {
    position: relative;
    display: table-cell;
    min-width: 240px;
    max-width: 240px;
    min-height: 100%;
    -webkit-transition: max-width 0.4s ease , min-width 0.4s ease;
            transition: max-width 0.4s ease , min-width 0.4s ease;
            -webkit-user-select: none;
               -moz-user-select: none;
                -ms-user-select: none;
                    user-select: none;
    -webkit-box-shadow: -1px 0 0 #e8e8e8 inset;
            box-shadow: -1px 0 0 #e8e8e8 inset;
    background-image: -webkit-linear-gradient(right, #f5f5f5 0%, #ffffff 8px);
    background-image: -moz-linear-gradient(right, #f5f5f5 0%, #ffffff 8px);
    background-image: -o-linear-gradient(right, #f5f5f5 0%, #ffffff 8px);
    background-image: linear-gradient(right, #f5f5f5 0%, #ffffff 8px);
  }
  /* sidebar.closed  */
  .sidebar.closed {
    max-width: 0;
    min-width: 0;
    -webkit-transition: max-width 0.4s ease , min-width 0.4s ease;
            transition: max-width 0.4s ease , min-width 0.4s ease;
  }
  .sidebar.closed .playLesson {
    overflow: hidden;
    max-width: 0;
    min-width: 0;
    padding: 0;
    display: none;
    -webkit-transition: max-width 0.4s ease , min-width 0.4s ease;
            transition: max-width 0.4s ease , min-width 0.4s ease;
  }
  .sidebar.closed .lessonName{
    padding: 0;
  }
  .sidebar.closed .start:after,.sidebar.closed .half:after, .sidebar.closed .done:after{
    right: 100px;
    min-width: 0;
    -webkit-transition: right 0.4s ease ,min-width 0.4s ease;
            transition: right 0.4s ease ,min-width 0.4s ease;
  }
  .sidebar.closed .sidebarToggle:hover .sidebar-toggleHam {
    -webkit-transition: -webkit-transform 0.2s ease;
            transition: -webkit-transform 0.2s ease;
    left: 22px;
  }
  /*  */
  
  .sidebar-navItem:hover {
    cursor: pointer;
  }
  .sidebar-navItem a{white-space: initial;}
  .sidebar-navItem:hover .menuIcon{
    color: #EE6220;
  }
  .sidebar-navItem a .fa:nth-child(2){
    right: 25px
  }
  .sidebarToggle:hover {
    cursor: pointer;
  }
  .sidebar-toggleHam {
    position: absolute;
    bottom: 20px;
    cursor: pointer;
    -webkit-transform: translateX(-7px);
            transform: translateX(-7px);
    -webkit-transition: left 0.2s ease;
            transition: left 0.2s ease;
  }
  .sidebar-toggleText {
    position: absolute;
    bottom: 13px;
    left: 35px;
    white-space: nowrap;
    font-size: 18px
  }
  .sidebarToggle:hover .sidebar-toggleText {
    -webkit-animation: fadeIn 0.75s ease;
            animation: fadeIn 0.75s ease;
  }
  .menuIcon:not(.sidebar-toggleHam,.sidebar-toggleArrow) {
    margin-right: 1rem;
  }
  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .playLesson{
    padding: 20px;
    background: #FFA415;
  }
  .main {
    display: table-cell;
    vertical-align: top;
    width: 100%;
  }
  .lessonName{
    color: #fff;
    text-align: center;
    margin-top: 20px;
  }
  /* 課程收合 */
  .panel-group{display: none;}
  
}
/* old */
.editData{
  margin-bottom: 20px;
}
.addSource{
  padding: 5px;
  margin-left: 20px;
}
.addSource a{
  color: #337ab7;
}
.lessonSidebar{
  box-shadow: -1px 0 0 #e8e8e8 inset;
  -webkit-box-shadow: -1px 0 0 #e8e8e8 inset;
  background: -webkit-linear-gradient(right, #f5f5f5 0%, #ffffff 10px);
  background: -moz-linear-gradient(right, #f5f5f5 0%, #ffffff 10px);
  background: -o-linear-gradient(right, #f5f5f5 0%, #ffffff 10px);
  background: linear-gradient(right, #f5f5f5 0%, #ffffff 10px);
}
/* ------------------------------------------------------------------------ */

ul {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
.wrapper {
  display: table;
  width: 100%;
  height: 100%;
}
.bread, .bread a{
  color: #333;
}

#footer_split {
  margin-top: 0!important;
}

.rolemenu {
  margin-bottom: -150px !important;
}

@media (max-width: 767px) {
  .pdfFrame,.video-js{
    height: 480px !important;
  }
  .embed-responsive-16by9 {    
    border-bottom: 2px solid #ccc;
    box-shadow: 0px 1px 10px #ccc;
  }
  .responsive-web{padding-bottom: 100%;}
  #note-bar{display: none;}
  .note-edit textarea{
    height: 90px;
  }
  .sidebar-navItem a .fa:nth-child(2){
    right: 50px
  }

  /* 課程收合 */
  .panel-group{margin-bottom: 0;}
  .panel-heading{background: #FFA415;}
  .panel-title{ color: #fff; display: inline-block; font-weight: 600;width: 90%; text-align: center;}
  .panel-title a{display: block;}
  .panel-heading .bread{display: inline-block; width: 3%;}
  .panel-heading .bread span{display: none;}

  .sidebarToggle i{display: none;}
  .sidebar-toggleText{ font-size: 18px; top: 12px; position: absolute;}
  .sidebarNav ul{margin-bottom: 0;}

  /* iframe */
  /* .embed-responsive-16by9{padding-bottom: 100vh;} */
}

#note-bar {
  background-color: #eee;
  z-index: 999;
}
#note-bar .handle {
  left: -82px;
  top: 110px;
  position: absolute;
}

.note-area {
  padding: 30px;
}
.note-edit {
  margin-bottom: 70px;
}
.note-edit textarea {
  width: 100%;
  resize: none;
}

.note-content {
  /* max-height: 300px; */
  overflow: auto;
}

.note-item {
  margin-bottom: 10px;
}
.note-date {
  display: block;
  font-weight: 600;
}

.left-shadow-overlay {
  box-shadow: 10px 0 15px 10px #585858;
}

.note-item textarea {
  width: 100%;
  resize: none;
}
.note-lock {
  border: none;
  background-color: #eee; 
}
.note-func i {
  cursor: pointer;
}
.note-edit-func {
  display: none;
  text-align: right;
}
.note-edit-func button {
  margin: 2px;
  float: inherit;
}
.note-func i {
  margin:2px;
}
.navbar {
  border-radius:0px;
}
.navbar-inverse .navbar-brand {
  color: #fff;
}
.navbar-inverse .navbar-nav>li>a {
  color: #fff;
  font-size: 18px;
}
.title-progress {
  color: #fff;
  vertical-align: middle;
  padding-top: 5px;
}
