a:link, a:visited, a:hover, a:active {
  /* text-decoration: none; */
}
.box {
    border-radius: 3px;
    background: #ffffff;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.box-widget {
    position: relative;
    border: none;
}
.box-header.with-border {
    border-bottom: 1px solid #f4f4f4;
}
.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
}
.box-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
}
.box-tools {
    position: absolute;
    right: 10px;
    top: 5px;
}
.btn-box-tool {
    /* padding: 5px; */
    font-size: 12px;
    background: transparent;
    color: #97a0b3;
}
.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
}
.box-footer {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid #f4f4f4;
    padding: 10px;
    background-color: #fff;
}


.editActivity{
  padding: 10px;
  color: #FFA415;
}
.editData{
  border-bottom: 1px solid #FFA415;
}
.editData, .addeditData{
  margin-bottom: 20px;
  font-size: 16px;
}
.addSource{
  padding: 5px;
  margin-left: 20px;
}
.addSource a{
  color: #337ab7;
}
.dropMenu{
  padding: 10px;
  border: 1px solid #FFA415;
  margin: 5px;
  position: relative;
  border-radius: 5px;
}
.dropMenu a{
  color: #555;
}
.dropMenu span{
  margin-right: 10px;
}
.dropMenu span::after {
  position: absolute;
  right: 30px;
  content: "\f054";
  transition: all .5s;
}
li.activeDown.dropMenu span::after {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.sidebarMenu .dropMenu > ul {
  display: none;
}
.sidebarMenu .dropMenu > ul li a{
  padding: 5px 0 5px 20px;
  color: #337ab7;
  display: block;
}

#upload-input {
  display: none;
}
img#activity_img {
    max-width: 400px;
    max-height: 400px;
}
canvas {
    display: none;
}
.sidebar-btn {
    margin-bottom:5px;
}

.sidebar-btn a {
    /* background-color: #dcdcdc; */
}

.show {
    display: block;
}
.hide {
    display: none;
}
#video_selector .btn.active{
  color: #333;
  background-color:#95caf8;
}

#activityMetadataTable tbody tr td:odd {
    width: 20%;
}
#activityMetadataTable tbody tr td:even {
    width: 80%;
}

table#materialTable tbody tr td:first-child:hover {
    cursor: move;
}
