*{
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  font-family: "Arial Regular", 微軟正黑體, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.navbar{
  margin-bottom: 0;
}

.divider {
  margin: 20px 0;
}

#gotop {
  display: none;
  position: fixed;
  right: 20px;
  bottom: 20px;    
  padding: 15px 23px;    
  font-size: 20px;
  background: #777;
  color: white;
  cursor: pointer;
  border-radius: 7px;
}

img.coocLogo1280,
img.coocLogo1024,
img.coocLogo768,
img.coocLogo320 {
  vertical-align: bottom;
}

div.footer {
  padding-bottom: 20px;
}
@media only screen and (max-width: 768px){
  .teaTabsMenu{ border: 1px solid #0a0; width: 100px; padding: 1%;}
}
@media only screen and (min-width: 768px){
  .teaTabsMenu { width: calc(20% - 10px); padding: 10px; border: 1px solid #00ACC4;}
  .teaTabsMenu.active{ background: #00ACC4; color: #fff; text-decoration: none; position: relative;}
  .teaTabsMenu.active:after{ top: 100%; left: 50%; border: solid transparent; content: ""; height: 0; width: 0; 
  position: absolute;pointer-events: none; border-color: rgba(136,183,213,0); border-top-color: #00ACC4; 
  border-width: 10px; margin-left: -10px;}
}
.teaTabsMenu{
  float: left;
  text-align: center;
  margin: 5px;
}
.activityTable{
  margin-top: 3%;
}
.activityTable .table{
  background: #F6F5F9;
  border-collapse:collapse;
}
.activityTable .table tr{
  border-bottom: 10px solid #fff;
}
.activityTable .table tr th{
  padding: 15px 10px;
}
.publicRow{
  border-left: 5px solid green;
}
.privateRow{
  border-left: 5px solid #aaa;
}

table.dataTable tbody td {
  vertical-align: middle;
}