a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}
.box {
    border-radius: 3px;
    background: #ffffff;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.box-widget {
    position: relative;
    border: none;
}
.box-header.with-border {
    border-bottom: 1px solid #f4f4f4;
}
.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
}
.box-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
}
.box-tools {
    position: absolute;
    right: 10px;
    top: 5px;
}
.btn-box-tool {
    /* padding: 5px; */
    font-size: 12px;
    background: transparent;
    color: #97a0b3;
}
.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
}
.box-footer {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid #f4f4f4;
    padding: 10px;
    background-color: #fff;
}
  
  .editActivity{
    padding: 10px;
    color: #FFA415;
  }
  .editActivity h2{
    font-weight: 600;    
  }
  .editData{
    margin-bottom: 20px;
}
.addSource{
    padding: 5px;
    margin-left: 20px;
}
.addSource a{
    color: #337ab7;
}
.dropMenu{
    padding: 10px;
    border: 1px solid #00ACC4;
    margin: 5px;
    position: relative;
}
.dropMenu span::after {
    position: absolute;
    right: 30px;
    content: "\f054";
    transition: all .5s;
}
li.activeDown.dropMenu span::after {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.sidebarMenu .dropMenu > ul {
    display: none;
}
  
#upload-input {
    display: none;
}
img#activity_img {
    max-width: 400px;
    max-height: 400px;
}
canvas {
    display: none;
}
.sidebar-btn {
    margin-bottom:5px;
}
  
  .sidebar-btn a {
      /* background-color: #dcdcdc; */
  }
  
.show {
    display: block;
}
.hide {
    display: none;
}
#video_selector .btn.active{
    color: #333;
    background-color:#95caf8;
}
  
#activityMetadataTable tbody tr td:odd {
    width: 20%;
}

#activityMetadataTable tbody tr td:even {
    width: 80%;
}
.orgchart {
    background: #fff;
    border: 0;
    padding: 0;
}
.orgchart .node {
    width: 210px;
}
.orgchart .node.focused {
    width: 210px;
}
.orgchart .node .title {
    width: 200px;
    height: auto;
}
.orgchart .node .content {
    width: 200px;
    height: auto;
}
.orgchart .node .add-func {
    padding: 5px;
}
#materialTable {
    width:100%;
}
#slider {
  margin: 30px
}
.nonset {
  color: #a39999;
}
td.details-control {
  background: url('/images/details_open.png') no-repeat center center;
  cursor: pointer;
}
tr.shown td.details-control {
  background: url('/images/details_close.png') no-repeat center center;
}

#pdf-upload-input,
#video-upload-input {
    display: none;
}

.quiz-block {
    height: 300px;
    overflow-y: scroll;
}
.page-block {
    text-align: center;
    margin-top: -30px;
    margin-bottom: -45px;
}
  