.orgchart {
    background: #fff;
    border: 0;
    padding: 0;
}
.orgchart .node {
    width: 210px;
}
.orgchart .node.focused {
    width: 210px;
}
.orgchart .node .title {
    width: 200px;
    height: auto;
}
.orgchart .node .content {
    width: 200px;
    height: auto;
}
.orgchart .node .add-func {
    padding: 5px;
}
#materialTable {
    width:100%;
}
#slider {
  margin: 30px
}
.nonset {
  color: #a39999;
}
td.details-control {
  background: url('/images/details_open.png') no-repeat center center;
  cursor: pointer;
}
tr.shown td.details-control {
  background: url('/images/details_close.png') no-repeat center center;
}