.timeline {
    position: relative;
    margin: 0px 0px 30px;
    padding: 0px;
    list-style: none;
    margin-top: 10px;
  }
  .timeline>li {
    position: relative;
    margin-right: 10px;
    margin-bottom: 15px;
  }
  .timeline > li > img {
    width: 30px;
    height: 30px;
    font-size: 15px;
    line-height: 30px;
    position: absolute;
    color: rgb(102, 102, 102);
    text-align: center;
    left: 18px;
    top: 0px;
    background: rgb(210, 214, 222);
    border-radius: 50%;
  }
  .timeline>li>.timeline-item {
    box-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 1px;
    margin-top: 0px;
    color: rgb(68, 68, 68);
    margin-left: 60px;
    margin-right: 15px;
    position: relative;
    border-radius: 3px;
    background: rgb(255, 255, 255);
    padding: 0px;
  }
  .timeline>li>.timeline-item>.time {
    color: rgb(153, 153, 153);
    float: right;
    font-size: 12px;
    padding: 10px;
  }
  .timeline > li > .timeline-item > .timeline-header {
    color: rgb(85, 85, 85);
    font-size: 16px;
    line-height: 1.1;
    margin: 0px;
    border-bottom: 1px solid rgb(244, 244, 244);
    padding: 10px;
  }
  img.keyIcon {
    width: 24px;
    height: 24px;
  }
  #moreBtn {
    display: none;
  }