@charset "utf-8";
/* CSS Document */

@import url("FontAwesome/css/font-awesome.min.css");			/* Font Awesome*/
@import url("FontAwesome/css/font-awesome-ie7.min.css");

/* Reset CSS | v2.0 | 20110126 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, 
fieldset, form, label, legend,
caption,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0; 
	/*padding: 0;*/
	border: 0;
	/*font-size: 100%;*/
	/*font: inherit;*/
	vertical-align: baseline;
	outline: 0;
	background: transparent;
}

.level-hard {
    background-color: #FFD700;
}

.level-easy {
    background-color: #434399;
}

.level-normal {
    background-color: #006400;
}

.level-default {
    background-color: #8080FF;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: ''; 
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.dropdown-menu .divider {
    height: 2px;
}



.dropdown:hover{ 
	background-color: #1D4F73;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{
	height:auto;}

/*Otis - input hightlight*/
select:focus, textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus{
	-moz-box-shadow: 0 0 5px rgb(255, 194, 0);
	-webkit-box-shadow: 0 0 5px rgb(255, 194, 0);
	box-shadow: 0 0 5px rgb(255, 194, 0);
	border: 1px solid #F5C60E;

}

*{
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-ms-box-sizing:border-box;}
html, body {height:100%;}

body{
	overflow-y:scroll;
	overflow-x:hidden;}
#.container-fluid{margin:30px;}
#wrapper{background:#FFF;min-height:100%;position:relative;}
#wrapper #head{margin-bottom: 0;}
#wrapper .head-inner{background:#FFFFFF;}
#head .head-inner{background:#749EB5;}

#wrapper #footer{
	background:#FFFFFF;
	color: #6D6E72;
	clear:both;
	width:100%;
}

.haedmenu{
	background:#FFA415;
	height: 4px;
}

#footer .row{padding-top: 20px;}
#footer h1{float: left; margin-right: 30px;}

#logo{margin: 0px 0;}
#logo img {}
#head h1 a{display: block;} 
#head h1{float:left; margin-right:30px;}
/*#head #proera-nav {margin: 19px 0px 0px 20px;}*/
#head #proera-nav {
	position:relative;
	right: 0px
}

.kmEnter{
	background: url(../theme/cooc/button-Discipline1.png);

	width: 216px;
	height: 96px;
	float: left;
	/*padding-left: 100px;
	padding-top: 40px;
	font-size: 50px;
	padding-left: 34px;*/
	text-align: center;
	padding-top: 24px;
	font-size: 42px;
	font-family:"microsoft jhengHei",Arial, Helvetica, sans-serif;
	text-decoration:none;
}

.k_lang_english{
  font-size: 18px;
}

.agendaEnter{
	background: url(../theme/cooc/button-Discipline1.png);

	width: 216px;
	height: 96px;
	float: left;
	padding-left: 35px;
	padding-top: 20px;
	font-size: 40px;
	font-family:"microsoft jhengHei",Arial, Helvetica, sans-serif;
	text-decoration:none;
}

.publisherEnter{
	#background: url(../theme/cooc/button-Discipline1.png);
	width: 216px;
	float: left;
	padding: 10px;
	
	font-size: 20px;
	font-family:"microsoft jhengHei",Arial, Helvetica, sans-serif;
	text-decoration:none;
	border: 1.5px solid #FBEED5;
	border-radius: 5px;
	background-color: #FCF8E3;
}

ul.kmUL{
	margin-left: 10px;
}
li.kmLI{
	margin-right: 3px;
}


ul.agendaUL{
	margin-left: 10px;
}
li.agendaLI{
	margin-right: 3px;
}

.headMenu{
	border-top: 4px solid #FFA415;
}
.moreCourseBtn{
	float: right;
	box-shadow:inset 0px 0px 0px 0px #ffffff;
	background-color:#ffffff;
	border:1px solid #050505;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding-left:10px;
	padding-right:10px;
	margin-right: 10px;
}
.moreCourseBtn:hover {
	background-color:#ffffff;
	text-decoration:none;
}
.moreCourseBtn:active {
	position:relative;
	top:1px;
}


.k_senior_math,.k_junior_math,.k_elementary_math,.k_math,.k_9year_math{
	background: url(../theme/cooc/button-Discipline3.png);
}
.k_senior_physics,.k_junior_physics,.k_physics,.k_9year_physics,.k_junior_physicsChemistry,.k_elementary_natural{
	background: url(../theme/cooc/button-Discipline4.png);
}
.k_senior_chemistry,.k_elementary_science,.k_science,.k_9year_chemistry{
	background: url(../theme/cooc/button-Discipline1.png);
}
.k_senior_history,.k_junior_history,.k_history,.k_9year_history,.k_elementary_society{
	background: url(../theme/cooc/button-Discipline2.png);
}
.k_senior_ch,.k_junior_ch,.k_elementary_ch,.k_ch,.k_9year_ch{
	background: url(../theme/cooc/button-Discipline5.png);
}
.k_senior_eng,.k_junior_eng,.k_elementary_eng,.k_eng,.k_9year_eng{
	background: url(../theme/cooc/button-Discipline6.png);
}
.k_senior_geo,.k_junior_geo,.k_elementary_geo,.k_geo,.k_9year_geo{
	background: url(../theme/cooc/button-Discipline7.png);
}
.k_senior_bio,.k_junior_bio,.k_elementary_bio,.k_bio,.k_9year_bio{
	background: url(../theme/cooc/button-Discipline8.png);
}
.k_senior_earth,.k_junior_earth,.k_elementary_earth,.k_earth,.k_9year_earth{
	background: url(../theme/cooc/button-Discipline9.png);
}
.k_senior_civics,.k_junior_civics,.k_civics,.k_9year_civics{
	background: url(../theme/cooc/button-Discipline10.png);
}
.k_num_0{
	background: url(../theme/cooc/button-Discipline11.png);
}


a.kmEnter:link {color:#FFFFFF; text-decoration:none;}
a.kmEnter:visited {color:#FFFFFF; text-decoration:none;}
a.kmEnter:hover {color:#FFFFFF; text-decoration:none;}
a.kmEnter:active {color:#FFFFFF; text-decoration:none;} 


a.agendaEnter:link {color:#FFFFFF; text-decoration:none;}
a.agendaEnter:visited {color:#FFFFFF; text-decoration:none;}
a.agendaEnter:hover {color:#FFFFFF; text-decoration:none;}
a.agendaEnter:active {color:#FFFFFF; text-decoration:none;} 

/*
a.publisherEnter:link {color:#FFFFFF; text-decoration:none;}
a.publisherEnter:visited {color:#FFFFFF; text-decoration:none;}
a.publisherEnter:hover {color:#FFFFFF; text-decoration:none;}
a.publisherEnter:active {color:#FFFFFF; text-decoration:none;} 
*/


#head #proera-nav > li{float:left; padding:10px;/*order-right:1px solid #095B97;line-height:0.9em;*/}
/*#head #proera-nav > li:last-child{border-right:0; padding-right: 0;}*/
#head .menu{margin:10px;}
#head .menu .nav {margin: 5px;}
#head .menu .nav li {margin-right: 15px;}
#head .nav > li > a{
	padding:0;
	text-shadow:none;
	font-size:14px;
	font-weight:bold;
	color: white;}
#head .nav .dropdown-toggle .caret{border-top-color:white;}
#head .head-cooclearning{background: #932323;}
.head-cooclearning .container{background: #E99CA4;}
.head-cooclearning h2{padding:7px 0; padding-left:60px; font-size:24px; position: relative; background: url(../theme/cooc_learning.png) no-repeat;}
.head-cooclearning h2:after{content: ""; width: 213px; height: 50px; background: url(../theme/cooc_learning_b.png); position: absolute; right: 0; top: 0;}
#head:after{
	content:'';
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	height:1px;}



.top-banner .row{padding:200px 0;}


.feature-banner{background: #9a9a9a;}
.feature-banner .row{padding:10px 0;}
.feature-banner .feature-banner-item{
	vertical-align:middle;
	text-align:center;
	font-family:"microsoft jhengHei",Arial, Helvetica, sans-serif;
	font-size:16px;
	/*line-height:42px;*/
	color:#fff;}
.feature-banner-item{width:300px; float:left; margin-left:15px;}
.feature-banner-item:last-child{width:280px;}/**conceal the last banner item's right border*/
.feature-banner-item img{float:left; width:45px; height:45px;}
.feature-banner-item div{float: left; height:45px; line-height:45px; color:#dedede; font-size:12px;}
	
#course-list, #category-list{margin-bottom:40px;}
#course-list{margin-bottom:40px;}
#course-list .container{padding-top:20px;}

#category-list{margin-bottom:40px;}
#category-list ul.inline{margin-top:10px;}
#category-list .span3{width:200px;}
#category-list ul.inline > li >a{cursor: pointer;	font-size: 18px; line-height: 26px;}
#category-list ul.inline > li >a:hover{
	font-size: 18px;
	line-height: 26px;
	cursor: pointer;
	color: #4083A9;
	text-decoration: none;}

	
#map-list{margin:0;}
#map-list li{list-style:none; width:210px; float:left; margin:15px 10px 30px 15px;}
#map-list li:nth-child(3n){}


#link-list-units{margin:0;}
#link-list-units li{list-style:none; width:215px; float:left; 
	margin:15px 5px 5px 14px;
	padding:20px;
	font-weight:bold;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:2px solid #dcdcdc;
	min-height: 100px;
}	
#link-list-units li:hover{list-style:none; width:215px; float:left; 
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	background:-ms-linear-gradient( top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #dfdfdf), color-stop(100%, #ededed) );
	background-color:#dfdfdf;
}
	
#course-list-units{margin:0;}
#course-list-units li{list-style:none; width:288px; float:left; margin:15px 10px 30px 15px;}
#course-list-units li:nth-child(3n){}
#course-list-units img{width:284px; height:162px;}
#course-list-units .caption{padding:12px 12px 10px; line-height:24px;}
#course-list-units .caption h3{font-size:15px; color:#095b97; line-height:1.5em;}
.course-list-units-box{
	cursor:pointer;
	background:#f7f7f7;
	border:2px solid #5E5E5E;
}
.course-list-units-box:hover{box-shadow: 0 2px 10px hsla(0, 0%, 0%, 0.5);}
.mapUnit:hover{box-shadow: 0 2px 10px hsla(0, 0%, 0%, 0.5);}

.kmVideo-list-box{
	background:#E8E8E8;
	
}
.kmVideo-body{
	padding: 15px 15px 15px 15px;
	height: 157px;
}
.kmVideo-header{
	color: #FFF;
	font-size: 18px;
	padding: 2px 2px 2px 2px;
}
.kmVideo-header-red:before {
    content: url('cooc/Title003.png');
    transform: scale(.5);
    vertical-align: middle ;
}
.kmVideo-header-red{
	background:#E74B3C;
}
.kmVideo-header-blue:before {
    content: url('cooc/Title003.png');
    vertical-align: middle ;
}
.kmVideo-header-blue{
	background:#3497DB;
}
.kmVideo-header-green:before {
    content: url('cooc/Title003.png');
    vertical-align: middle ;
}
.kmVideo-header-green{
	background:#9FD269;
}


#organization-list img{width:80px; height:80px;}
#organization-list .organization-thumb-container{float:left; margin:10px;}

.fb_edge_widget_with_comment{vertical-align:middle;}

.blue-glasses-btn{
	-moz-box-shadow: inset 0px 1px 0px 0px #ededed;
	-webkit-box-shadow: inset 0px 1px 0px 0px #ededed;
	box-shadow: inset 0px 1px 0px 0px #ededed;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, white), color-stop(1, #d0d0d0) );
	background: -moz-linear-gradient( center top, white 5%, #d0d0d0 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d0d0d0');
	background-color: #d0d0d0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #aaaaaa;
	display: inline-block;
	color:#777777;
	font-family: arial;
	font-size: 15px;
	font-weight: bold;
	padding: 10px 425px;
	text-decoration: none;
	text-shadow: 1px 1px 0px #dddddd;}
.blue-glasses-btn:hover{
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0d0d0), color-stop(1, white));
	background: -moz-linear-gradient( center top, #d0d0d0 5%, white 100% );
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#d0d0d0', endColorstr='#ffffff');
	background-color: white;}

.teacher-info{
	position:relative;
	margin-top: 15px;
	padding: 10px;
	background: #fefefe;
	border: 1px solid #ddd;
	border-radius: 6px;}
.teacher-info .caption{padding-top:10px;}

#basic-info{background:#EFE9DD;color:#5F5B52;}
#basic-info .course-top-banner{
	position:relative;
	padding: 7px 20px;
	box-shadow:0 1px 2px rgba(0,0,0,0.3);
	-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.3);
	-moz-box-shadow:0 1px 2px rgba(0,0,0,0.3);}
#basic-info .course-top-banner .course-thumb-container{float: left;margin-right: 15px;}
#basic-info .course-top-banner .course-thumb-container img{width: 120px; height: 68px;}
#basic-info .course-top-banner .course-info-container > span{font-size:16px;line-height:1.8em;}
#basic-info .course-top-banner .course-info-container > h1{color:#5F5B52;}
#basic-info .course-top-banner > .right-col{position:absolute; top:25%; right:40px; margin-top:-15px;}
#basic-info .right-btn{margin-left:8px;}
#course-tab-bar{margin-top:20px;}
#course-tab-bar > .tabbable{padding:0 20px;width:90%;margin:0 auto;}
#course-tab-bar > .tabbable > .nav{margin-bottom:0;}
#course-tab-bar > .tabbable > .nav-tabs > li{margin-left:-1px;}
.nav-tabs > li > a{background:#dedede;margin-right:5px;}
#course-tab-bar > .tabbable > .tab-content{
	background:#FFF;
	padding:3% 5%;
	min-height:636px;
	box-shadow:0 1px 1px 1px rgba(0,0,0,0.1);
	-webkit-box-shadow:0 1px 1px 1px rgba(0,0,0,0.1);
	-moz-box-shadow:0 1px 1px 1px rgba(0,0,0,0.1);}
/**===Expandable curriculum list====*/
#curriculum #accordion{width:29%;float:left;}
#curriculum #accordion p{padding:3px;position:relative;}
#curriculum #accordion p:hover{}
#curriculum #accordion p.completed:before{
	content:"";
	width:14px;
	height:14px;
	color:#09F;
	background:url(../bootstrap/img/glyphicons-halflings.png) no-repeat -288px 0;
	position:absolute;
	left:-18px}
#curriculum #accordion a{color:#4083A9;cursor:pointer;display:block}
#curriculum .content-block{width:70%; float:left; margin-left:1%;}
#curriculum .content-block{padding:20px; border:1px solid #d0d0d0; border-radius:4px;}
/*#curriculum .content-block #content-view{background-color:#f8f8f8;}*/

/**===Expandable curriculum list====*/
#online-note #accordion{width:19%;float:left;}
#online-note #accordion p{padding:3px;position:relative;}
#online-note #accordion p:hover{}
#online-note #accordion p.completed:before{
	content:"";
	width:14px;
	height:14px;
	color:#09F;
	background:url(../bootstrap/img/glyphicons-halflings.png) no-repeat -288px 0;
	position:absolute;
	left:-18px}
#online-note #accordion a{color:#4083A9;cursor:pointer;display:block}
#online-note .content-block{width:70%; float:left; margin-left:1%;}
#online-note .content-block{padding:20px; border:1px solid #d0d0d0; border-radius:4px;}
/*#online-note .content-block #content-view{background-color:#f8f8f8;}*/
#courses-container ul li{list-style:none;}
#courses-container ul li > .course-list-box{
	background:#f7f7f7;
	border-top:1px solid #ededed; 
	border-radius:3px; 
	float:left; 
	width:100%; 
	margin-bottom:20px; 
	line-height:24px; 
	-webkit-box-shadow:0 1px #ffffff inset, 0 1px 2px rgba(0, 0, 0, 0.35);
	-moz-box-shadow:0 1px #ffffff inset, 0 1px 2px rgba(0, 0, 0, 0.35);
	-ms-box-shadow:0 1px #ffffff inset, 0 1px 2px rgba(0, 0, 0, 0.35);
	box-shadow:0 1px #ffffff inset, 0 1px 2px rgba(0, 0, 0, 0.35);
	height:162px;
	/*cursor:pointer;*/}
	
#courses-container ul li > .course-list-expired{
	background:#c5c3c6;
}
#courses-container ul li > .course-list-prepare{
	background:#dcdcdd;
}
#courses-container ul li > .course-list-box .caption{font-size:15px; color:#444;}
#courses-container ul li > .course-list-box .course-thumb{width:288px; height:162px;}
#courses-container ul li > .course-list-box .nailthumb-container,
#courses-container ul li > .course-list-box .nailthumb-loading{float:left; margin-right:15px; border-radius:3px 0 0 3px;}
#courses-container ul li > .course-list-box .nailthumb-container:after,
#courses-container ul li > .course-list-box .nailthumb-loading:after{content:""; width:1px; height:162px; background:#ddd; position:absolute; right:0px; top:0px;}
#courses-container ul li > .course-list-box .course-list-main,
#courses-container ul li > .course-list-box .course-list-meta{padding:9px;}
#courses-container ul li > .course-list-box .course-list-main{margin-right:210px; padding:9px; line-height:1.6em;}
#courses-container ul li > .course-list-box .course-list-main .course-list-title{font-size:22px; color:#095B97; text-overflow:ellipsis; text-shadow:0 2px #fff;cursor: pointer;}
#courses-container ul li > .course-list-box .course-list-main .summary{line-height:1.6em; margin-top:12px;margin-left: 294px;}
#courses-container ul li > .course-list-box .course-list-main .creator{color:#777;}
#courses-container ul li > .course-list-box .course-list-meta{position:relative; float:right; width:210px; height:162px; padding-left:15px; 
/*border-left:1px solid #ddd; box-shadow:-1px 0 #fff;*/
}
/*badge*/
#courses-container ul li > .course-list-box.finish .course-list-meta span{
	text-indent:-999em;
	position:absolute;
	top:-5px;
	left:65px;
	width:68px;
	height:84px;	
	z-index:100;}
.badge-gold{background:url(badge/badge_gold.png) no-repeat 0 0;}
.badge-silver{background:url(badge/badge_silver.png) no-repeat 0 0;}
.badge-copper{background:url(badge/badge_copper.png) no-repeat 0 0;}


#courses-container ul li > .course-list-box .course-list-meta .btn{position:absolute; top:30%; margin-top:-9px;}
#courses-container ul li > .course-list-box .course-list-meta .score-btn{position:absolute; top:30%; right: 15px;}
#courses-container ul li > .course-list-box .course-list-meta .publish-btn{position:absolute; top:30%;  right: 15px;}
#courses-container ul li > .course-list-box .course-list-meta .preview-btn{position:absolute; top:50%; margin-top:-9px;}
#courses-container ul li > .course-list-box .course-list-meta .drop-btn{position:absolute; top:50%;  right: 15px;}
#courses-container ul li > .course-list-box .course-list-meta .copy-btn{position:absolute; top:70%;  right: 15px;}


#courses-container ul li > .course-list-box .course-list-meta ul{position:absolute; bottom:10px;}
#courses-container ul li > .course-list-box .course-list-meta ul li{float:left; padding:0 10px; border-right:1px solid #095B97; line-height:0.9em;}
#courses-container ul li > .course-list-box .course-list-meta ul li:first-child{padding-left:0;}
#courses-container ul li > .course-list-box .course-list-meta ul li:last-child{padding-right:0; border-right:0;}
#courses-container ul li > .course-list-box .course-list-meta ul li a{font-size:13px; color:#095B97;}
#courses-container ul li > .course-list-box .course-list-progress{position:relative; width:390px; left:305px;}
#courses-container ul li > .course-list-box .course-list-progress > span{position:absolute;}
#courses-container ul li > .course-list-box .course-list-progress > span.progress-start{left:1px;}
#courses-container ul li > .course-list-box .course-list-progress > span.progress-end{right:1px;}
.ellipsis{display:block; overflow:hidden; text-overflow:ellipsis; white-space:nowrap}
.progress-bar{
	width:100%;
	height:12px;
	position:relative;
	top:24px;
	border-radius:8px;
	background-color:#444;
	background:linear-gradient(#666, #999);
	background:-webkit-linear-gradient(#666, #999);
	background:-moz-linear-gradient(#666, #999);
	background:-ms-linear-gradient(#666, #999);
	background:-o-linear-gradient(#666, #999);
	padding:1px;}
.progress-bar span{
	position:absolute;
	top:1px;
	left:1px;
	height:10px;
	border-radius:7px;
	background-color:#0CF;/* #0CF #09F #06C #039*/
	background:linear-gradient(left, #09F 0%, #06C 50%, #039 100%);
	background:-webkit-linear-gradient(left, #09F 0%, #06C 50%, #039 100%);
	background:-moz-linear-gradient(left, #09F 0%, #06C 50%, #039 100%);
	background:-ms-linear-gradient(left, #09F 0%, #06C 50%, #039 100%);
	background:-o-linear-gradient(left, #09F 0%, #06C 50%, #039 100%);
	box-shadow:0 1px rgba(255, 255, 255, 0.5) inset;}

.none{font-size:16px; color:#999;}
.control{padding-top:20px;}
.heading-banner{font-size:18px;line-height:28px;padding:7px 0 5px;border-bottom:1px solid #ddd;}
.login-container{padding-top:20px;border-right:1px solid #ddd;}
.login-container:last-child{border:none;}
#forgotpassword .login-container form input[type="text"]{margin-bottom:0;}
a.sign-up-link{line-height:22px;}
a.forgot-password-link{margin-left:20px;}

#course-editor-container{width: 80%;padding-left: 200px;position: relative;margin: 20px auto 0;min-height: 850px;}

.side-bar{
	background:#fff;
	position: absolute;
	width: 170px;
	left: 0;
	/*top: 20px;
	bottom: 20px;*/
	font-size: 14px;
	border-radius: 4px;
	border: 1px solid #c9c9c9;
	/*box-shadow:1px 1px rgba(0,0,0,0.15) inset,0 -1px rgba(0,0,0,0.15) inset;*/
	padding:4px 5px 4px 4px;
	overflow:hidden;}
.side-bar .nav .nav-header{font-size:14px; color:#333;}
.side-bar .nav-list > li > a{padding:3px 15px 3px 30px;}
.side-bar .nav-list > li > a:hover{border-radius:2px;}
.side-bar .nav-list .active > a, #course-editor-container .side-bar .nav-list .active > a:hover{
	border-radius:2px; text-shadow:0 1px 1px hsla(0, 0%, 0%, 0.45);}

.form-wrapper{
	background:#fff;
	overflow:visible!important;
	padding:3px;
	min-height: 600px;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius:5px;
	box-shadow:0px 1px 1px rgba(0,0,0,0.2),-2px 0px 1px rgba(55,55,55,0.2);
	position:relative;
	/*top:60px;*/
	margin-bottom: 40px;
}


/*ckeditor CSS*/
#cke_container{
	/* Font */
	font-family: sans-serif, Arial, Verdana, "Trebuchet MS";
	font-size: 12px;
	/* Text color */
	color: #333;
	/* Remove the background color to make it transparent */
	background-color: #fff;}
#cke_container .cke_editable{font-size: 13px; line-height: 1.6em;}

#cke_container .cke_contents_ltr blockquote{padding-left: 20px; padding-right: 8px; border-left-width: 5px;}
#cke_container .cke_contents_rtl blockquote{padding-left: 8px; padding-right: 20px; border-right-width: 5px;}
#cke_container a{color: #0782C1;}
#cke_container ol,#cke_container ul,#cke_container dl{
	/* IE7: reset rtl list margin. (#7334) */
	margin-right: 0px;
	/* preserved spaces for list items with text direction other than the list. (#6249,#8049)*/
	padding: 0 20px;}
#cke_container h1,#cke_container h2,#cke_container h3,#cke_container h4,#cke_container h5,#cke_container h6{font-weight: normal; line-height: 1.2em;}
#cke_container hr{border: 0px; border-top: 1px solid #ccc;}
#cke_container img.right {border: 1px solid #ccc; float: right; margin-left: 15px; padding: 5px;}
#cke_container img.left {border: 1px solid #ccc; float: left; margin-right: 15px; padding: 5px;}
#cke_container img:hover {opacity: .9; filter: alpha(opacity = 90);}
#cke_container pre{white-space: pre-wrap; /* CSS 2.1 */word-wrap: break-word; /* IE7 */}

.content-item.preview{position:relative;}
.content-item.preview:after{
content:'';
position:absolute;
width:49px;
height:14px;
background:url(course_icon/PREVIEW.png) no-repeat 0 0;
top:-3px;
left:-4px;}


/**from edit_course sidebar*/

	.form-wrapper > h2{
		line-height: 1!important;
		font-size: 24px;
		margin-top: 10px;
		text-align: center;
	}

	.form-wrapper .help-block{
		font-size: 14px;
		text-align: center;
	}
	.form-wrapper .home_quiz .help-block{
		font-size: 10px;
		text-align: left;
	}

	.form-wrapper .fields-wrapper{
		width: 100%;
		padding: 16px 100px;
		margin-top:16px;
	}

	.fields-wrapper > div{margin-bottom: 16px;position: relative;}

	.fields-wrapper > div > input[type="text"]:not([class^="date-input-field"]){width: 100%;height: 30px;}

	.fields-wrapper textarea{width: 100%;height: 90px;resize:none;}

	.fields-wrapper label{font-size: 16px; margin-bottom: 7px}

	.field-counter{
		position: absolute;
		right: 5px;
		bottom: 14px;
		width: 25px;
		height: 20px;
		line-height: 20px;
		text-align: center;
		background: #C8EAF8;
		color: #0099cc;
		border-radius: 4px;
	}
	.field-counter2 {
		position: relative;
		right: 30px;
		top: -3px;
		width: 30px;
		height: 20px;
		line-height: 20px;
		text-align: center;
		background: #C8EAF8;
		color: #0099cc;
		border-radius: 4px;
		
	}
	.fields-wrapper .date-input-field{ width: 150px;}

	label.error{
		background: hsl(326, 72%, 94%);
		border: 2px solid hsl(348, 47%, 71%);
		color: hsl(0, 0%, 20%);
		width: 100%;
		text-align: center;
		padding: 5px;
		margin: 5px 0 10px 0;
		border-radius: 5px;
	}
	
	.form-wrapper .submit-row{width: 100%;text-align: center;margin: 10px 0 5px;}
	.form-wrapper .submit-row a{margin-right: 5px;}
	#msg{
		box-sizing: content-box;
		display:none;
		position: fixed;
		height:25px;
		top:0px;
		left:50%;
		margin-left: -50px;
		color:#fff;
		background:#111;
		line-height: 25px;
		text-align: center;
		z-index: 99999;
		padding: 3px 10px;
	}
	/*Otis: for course state*/
	.state-play{
		background: #0088cc;
		color: #fff;
		text-align: center;
	}
	.state-play:hover{
		background:#005580;
		text-align: center;
	}
	.state-finished{
		background: green;
		color: #fff;
		text-align: center;
	}
	.state-finished:hover{
		background: rgb(2, 87, 2);
	}
	.state-disabled{
		background: #555;
		color: #aaa;
		text-align: center;
	}
	.favorite-course-btn{
		font-size: 20px;
	}
	.favorite-course-btn.unadded{
		color:#aaa;
	}
	.favorite-course-btn.unadded:hover{
		color:#999;
	}

	.favorite-course-btn.added{
		color:#FF8585;
	}

.nav-list > .active > a, .nav-list > .active > a:hover, .nav-list > .active > a:focus {
    color: #000;
    background-color: #EFE9DD;
}
.nav-list>li>a{
    color: #333333;
}

@media (max-width: 979px) {
  	#main { padding: 0px 0px;}
  	.top-banner{background: url(../theme/index_bg.jpg) center; background-size: cover; margin-right: -20px;
    margin-left: -20px;}
	.feature-banner{background: #9a9a9a;    margin-right: -20px;
    margin-left: -20px;}

}

.info-div{
	    width: 170px;
	    float: left;
		min-height: 1px;
		margin-left: 16px;
}



.bg-aqua,.bg-0{
    background-color: #00C0EF !important;
	color: #FFF !important;
}
.bg-purple{
    background-color: #8B008B !important;
	color: #FFF !important;
}

.bg-red,.bg-1{
    background-color: #DD4B39 !important;
	color: #FFF !important;
}

.bg-green,.bg-2{
    background-color: #00A65A !important;
	color: #FFF !important;
}
.bg-yellow {
    background-color: #F39C12 !important;
	color: #FFF !important;
}

.videoUnit{
	min-height: 20px;
	padding: 19px;
	margin-bottom: 20px;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
}
.videoUnit0{
	border: 1px solid #00C0EF;
}
.videoUnit1{
	border: 1px solid #DD4B39;
}
.videoUnit2{
	border: 1px solid #00A65A;
}
.info-box-icon {
    border-radius: 2px 0px 0px 2px;
    display: block;
    float: left;
    height: 45px;
    width: 45px;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
    background: rgba(0, 0, 0, 0.2) none repeat scroll 0% 0%;
	padding-top: 10;
	padding-left: 5;
}

.info-box {
    display: block;
    min-height: 45px;
    background: #FFF none repeat scroll 0% 0%;
    width: 100%;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    #margin: 15px 10px 30px 15px;
}

.info-box-content {
    padding: 0px 5px 0px 5px;
    margin-left: 45px;
}


.info-box-text {
    display: block;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.info-box-number {

    display: block;
    font-weight: bold;
    font-size: 18px;

}

a[accesskey] {
    position: absolute;
}

.input-label {
    display: none;
}


.student_apply_select select{
  height: 400px !important;
}

@media screen and (max-width: 1000px) {
   #course-list-units li{list-style:none; width:46%; float:left; margin:10px 10px 0px 15px;}
   #course-list-units img{width:100%; height:162px;}
   #link-list-units li{list-style:none; width:46%; float:left; margin:10px 10px 0px 15px;}
   #link-list-units li:hover{list-style:none; width:46%; float:left; 
		background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
		background:-ms-linear-gradient( top, #dfdfdf 5%, #ededed 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
		background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #dfdfdf), color-stop(100%, #ededed) );
		background-color:#dfdfdf;
	}
	.moreCourseBtn{		
		margin-right: 17px;
	}
	#map-list li{list-style:none; width:46%; float:left; margin:10px 10px 0px 15px;}
	.info-div{
			width: 46%;
			margin:15px 10px 10px 15px;
	}
}

@media screen and (max-width: 500px) {
   #course-list-units li{list-style:none; width:100%; float:left; margin:10px 10px 0px 15px;}
   #course-list-units img{width:100%; height:162px;}
   #link-list-units li{list-style:none; width:100%; float:left; margin:10px 10px 0px 15px;}
   #link-list-units li:hover{list-style:none; width:100%; float:left; }
   #map-list li{list-style:none; width:100%; float:left; margin:10px 10px 0px 15px;}
   .info-div{
			width: 100%;
			margin:15px 10px 10px 15px;
	}

}

