    body{
      font-family:\5FAE\8EDF\6B63\9ED1\9AD4, Arial,Helvetica,sans-serif;
      font-size: large;
    }
    img.qImg{
      width: 400px;
    }
    .well{
      background-color : #F4FAB4;
      border: 4px solid #F3B123;
      border-radius:10px;
      padding: 5px 10px;
      font-size:larger;
    }

    .exam{
      border-width:1px;
      border-style:solid;
      border-color:#FF0000;
    }
    .circle
    {
      border-radius:50%;
      font-size:20px;
      color:#fff;
      line-height:30px;
      text-align:center;
      background:#F89406;
      
    }

    span.circle{
      padding: 2px 10px;
    }
    img.naviBtn
    {
      cursor:pointer;
    }

    .nav > li 
    {
      font-size: 16px;
    }

    .btnComplete {
      display: none;
    }
    .ui-content{margin: 0 auto;}
    .ui-content #number{    
      width: 10%;
      display: inline-block;
      float: left;
      margin-top: 5%;
    }
    .ui-content #number ul{
      list-style: none;
      padding: 0;
    }
    .ui-content #number ul .num-link{      
      margin-bottom: 5px;
      width: 50%;
      border-radius: 3px;
      text-align: center;
    }
    .ui-content #number ul .done{
      border: 1px solid #009688;
    }
    .ui-content #number ul .active{
      background: #009688;
    }
    .ui-content #number ul .active a{
      color: #fff;
    }
    .ui-content #number ul .notyet{
      background: #ededed;
    }
    .ui-content #number ul .notyet a{
      color: #aaa;
    }
    .ui-content #exam{ 
      width: 90%;
      display: inline-block;
    }
    .ui-grid-c{
      padding: 0!important;
      width: 80%;
      margin: 5px auto!important;
    }
    .ui-grid-c a{
      width: 90%;
      margin: 0 3px;
    }
    #fillin .ui-field-contain label{width: 5%;}
    #fillin .ui-field-contain .ui-input-text input{font-size: 16px;}
    #choice .ui-radio label{font-size: 16px;}