<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/javascripts/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/javascripts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/student.css">
    <link rel="stylesheet" href="/stylesheets/intern/dashboard_teacher.css">
    <link rel="stylesheet" href="/stylesheets/logon.css">
  </head>
  <body>

    <%- cooc_header %>

    <div class="wrapper" ng-app="myApp">
      <div class="sidebar" ng-class="boolie ? 'closed' : ''">
        <div class="sidebarToggle" ng-click="boolie = !boolie">
          <i class="fa fa-ellipsis-v sidebar-toggleHam menuIcon" aria-hidden="true" ng-class="boolie ? 'rotate' : ''"></i>
          <span class="sidebar-toggleText">縮小</span>
        </div>
        <nav role="navigation" class="sidebarNav">
          <ul>
            <li class="sidebar-navItem">
              <a href="/student/activity/discover">
                <i class="menuIcon fa fa-ship"></i>
                <span>探索活動</span>
              </a>
            </li>
            <li class="sidebar-navItem">
              <a href="#">
                <i class="menuIcon fa fa-futbol-o"></i>
                <span>我的活動</span>
              </a>
            </li>
            <li class="sidebar-navItem">
              <a href="/dashboard/student">
                <i class="menuIcon fa fa-area-chart" aria-hidden="true"></i>
                <span>儀表板</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="main">
        <div class="col-md-12">
          <section id="stuTabs">
            <div class="tabsMenu">
              <ul>
                <li>
                    <a href="/student/activity?category=assign&p=1" data-category="assign" class="stuTabsMenu">我被指派的活動</a>         
                </li>
                <li>
                    <a href="/student/activity?category=public&p=1" data-category="public" class="stuTabsMenu">我參加的公開活動</a>         
                </li>
                <li>
                    <a href="#" data-category="collect" class="stuTabsMenu active">我收藏的活動</a> 
                </li>
              </ul>
            </div>
            <p style="clear:left"></p>
            <div class="col-md-12">
                <div class="activityBox collect-activity">
                <%
                    for(var k=0;k<collections.length;k++){
                      var collection = collections[k];
                      var collectionActivities = collection.activities;
                %>
                      <div id="collect_collection_box_<%=collection['id']%>" class="collection_box">
                        <h4><span class="col_name"><%=collection['name']%></span>
                          <div class="col_tool pull-right">
                            <a class="btn btn-sm btn-primary col-update" data-toggle="modal" data-target="#updateCollectionModal" data-id="<%=collection['id']%>" data-name="<%=collection['name']%>" data-description="<%=collection['description']%>"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                            <a class="btn btn-sm btn-danger col-delete" data-toggle="modal" data-target="#removeCollectionModal" data-id="<%=collection['id']%>" data-name="<%=collection['name']%>"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                          </div>
                        </h4>
                        <p class="col_description"><%=collection['description']%></p>
                        <hr>
                        <ul>
                <%
                      if(collectionActivities.length!=0){
                          for(var p=0;p<collectionActivities.length;p++){
                          var collectionActivity = collectionActivities[p];
                %>
                        <div class="card card-collect-<%=collectionActivity['activity_id']%>">
                          <a href="/student/activity/view/<%=collectionActivity['creator_id']%>/<%=collectionActivity['activity_id']%>">
                            <div class="card-image">
                              <img src="<%=collectionActivity['activity_img']%>">
                            </div>
                          </a>
                          <a href="/student/activity/view/<%=collectionActivity['creator_id']%>/<%=collectionActivity['activity_id']%>">
                            <div class="card-detail">
                              <stong class="detail-name"><%=collectionActivity['activity_name']%></stong>
                              <div class="detail-instructor"><%=collectionActivity['creator_name']%></div>
                              <div class="detail-bottom">
                                <span class="detail-progress">
                                  <span style="width:<%=collectionActivity['completion_rate']%>%" class="detail-progress-bar" data-progress-percent="<%=collectionActivity['completion_rate']%>"></span>
                                </span>
                                <%
                                  if(collectionActivity['completion_rate']==0){
                                %>
                                  <span class="detail-progress-text">開始學習</span>
                                <%
                                  }else{
                                %>
                                  <span class="detail-progress-text"><%=collectionActivity['completion_rate']%>%已完成</span>
                                <%
                                  }
                                %>                          
                              </div>
                            </div>
                          </a>
                          <div class="card-options">
                            <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            ...
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right">
                              <li><a href="#" onclick="removeActivity(this)" data-cid="<%=collection['id']%>" data-aid="<%=collectionActivity['activity_id']%>"><i class="fa fa-trash-o" aria-hidden="true"></i> 移除</a></li>
                            </ul>
                          </div>
                        </div>
                <%
                        }
                      }else{
                %>
                        <h5>此類別目前沒有收藏任何活動</h5>
                <%
                      }  
                %>
                        </ul>
                      </div>
                <%
                    }//end for
                    if(collections.length==0){
                %>
                      <div class="alert alert-warning" role="alert">目前沒有任何收藏喔!</div>
                <%
                    }
                %>
                </div>    
            </div>   
            <p style="clear:left"></p>
          </section>
        </div>
      </div>
    </div>

    <%- cooc_footer %>

    <!-- 酷課雲 Header 角色 -->
    <div class="roleInfo" style="display:none;">
      <a id="logonBlock" href="javascript:void(0)">
        <img id="logonpic" src="<%=user.photoUrl%>"/>
        <img id="logonBack" src="/images/logon_back.png">
      </a>
      <div id="logonName"><%=user.name%></div>
      <div id="logonRole"><%=user.role_name%></div>
      <ul class="navigation">
        <li>
          <ul style="display:none">
            <li><a href="http://sso.tp.edu.tw/accountservice/" target="_blank">個人資訊</a></li>
            <li class="logout"><a href="/users/logout">登出</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <!-- 建立新收藏 Modal -->
    <div id="createCollectionModal" data-backdrop="static" data-keyboard="false" class="modal bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">建立新的收藏</h4>
          </div>
          <div class="modal-body">
            <form id="collection_form" method="POST" action="/api/collection">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="col_name">收藏名稱</label>
                    <input maxlength="20" name="col_name" id="col_name" type="text" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="col_description">收藏描述</label>
                    <textarea name="col_description" id="col_description" class="form-control"></textarea>
                  </div>
                </div>
              </div>
              <input type="hidden" name="activity_id" id="create_activity_id" value="0">
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button id="createCollectionBtn" type="button" class="btn btn-primary">建立</button>
          </div>
        </div>
      </div>
    </div>

    <!-- 編輯收藏 Modal -->
    <div id="updateCollectionModal" data-backdrop="static" data-keyboard="false" class="modal bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">編輯收藏</h4>
          </div>
          <div class="modal-body">
            <form id="edit_collection_form" class="form-horizontal" action="/api/collection/activity/metadata" method="POST">
              <div class="form-group">
                <label for="edit_col_name" class="col-sm-2 control-label">名稱</label>
                <div class="col-sm-10">
                  <input maxlength="20" type="text" class="form-control" id="edit_col_name" name="edit_col_name" placeholder="收藏名稱">
                </div>
              </div>
              <div class="form-group">
                <label for="edit_col_description" class="col-sm-2 control-label">描述</label>
                <div class="col-sm-10">
                  <textarea class="form-control" id="edit_col_description" name="edit_col_description" placeholder="收藏描述"></textarea>
                </div>
              </div>
              <input type="hidden" id="edit_col_id" name="edit_col_id" value="">
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button id="updateCollectionBtn" type="button" class="btn btn-primary">更新</button>
          </div>
        </div>
      </div>
    </div>

    <!-- 刪除收藏 Modal -->
    <div id="removeCollectionModal" data-backdrop="static" data-keyboard="false" class="modal bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">移除收藏</h4>
          </div>
          <div class="modal-body">
            <h4>確定刪除 <span id="r_col_name"></span> ?</h4>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button id="removeCollectionBtn" data-id="0" type="button" class="btn btn-danger">刪除</button>
          </div>
        </div>
      </div>
    </div>

    <!-- 詳細資訊 Modal -->
    <div id="activityDetailModal" data-backdrop="static" data-keyboard="false" class="modal bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="detail_name"></h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12">
                <table class="table table-striped">
                  <tbody>
                    <tr>
                      <td>類型</td>
                      <td id="detail_type"></td>
                    </tr>
                    <tr>
                      <td>學校</td>
                      <td id="detail_school"></td>
                    </tr>
                    <tr>
                      <td>學年學期</td>
                      <td id="detail_semester"></td>
                    </tr>
                    <tr>
                      <td>科目</td>
                      <td id="detail_subject"></td>
                    </tr>
                    <tr>
                      <td>作者</td>
                      <td id="detail_instructor"></td>
                    </tr>
                    <tr>
                      <td>說明</td>
                      <td id="detail_description"></td>
                    </tr>
                    <tr>
                      <td>目標</td>
                      <td id="detail_goal"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
          </div>
        </div>
      </div>
    </div>

    <script src="/javascripts/jquery-3.2.1.min.js"></script>
    <script src="/javascripts/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script src="/javascripts/bootstrap-maxlength.js"></script>
    <script src="/javascripts/angular.min.js"></script>
    <script>
      var app = angular.module('myApp', []);
      $(document).ready(function(){
        $("input[maxlength]").maxlength();

        //酷課雲 header 處理
        $('.rolemenu').html($('.roleInfo').html());
        $("#logonBlock").on("click",function(){
        	if ($("ul.navigation li > ul").is(":visible")) {
        		$("ul.navigation li > ul").css("display","none");
        	} else {
        		$("ul.navigation li > ul").css("display","block");
        	}
        });

        //更新收藏
        $('#updateCollectionModal').on('show.bs.modal', function(event){
          var button = $(event.relatedTarget);
          var modal = $(this);
          modal.find('#edit_col_name').val(button.attr('data-name'));
          modal.find('#edit_col_description').val(button.attr('data-description'));
          modal.find('#edit_col_id').val(button.attr('data-id'));
        });
        $('#updateCollectionBtn').on('click', function(){
          var post_url = $('#edit_collection_form').attr("action"); 
          var request_method = $('#edit_collection_form').attr("method"); 
          var form_data = $('#edit_collection_form').serialize(); 
          $.ajax({
            url : post_url,
            type: request_method,
            data : form_data
          }).done(function(response){ 
            if(response.success){
              var editEle = $('div#collect_collection_box_'+response.id);
              editEle.find('.col_name').html(response.name);
              editEle.find('.col_description').html(response.description);
              editEle.find('.col-update').attr('data-name',response.name);
              editEle.find('.col-update').attr('data-description',response.description);
              $('#updateCollectionModal').modal('hide');
            }else{
              alert(response.msg);
            }
          });
        });

        //移除收藏
        $('#removeCollectionModal').on('show.bs.modal', function(event){
          var button = $(event.relatedTarget);
          var modal = $(this);
          modal.find('#removeCollectionBtn').attr('data-id', button.attr('data-id'));
          modal.find('#r_col_name').html(button.attr('data-name'));
        });
        $('#removeCollectionBtn').on('click', function(){
          var col_id = $(this).attr('data-id');
          $.ajax({
            url : '/api/collection/remove',
            type: 'POST',
            data : 'col_id='+col_id
          }).done(function(response){ 
            if(response.success){
              $('div#collect_collection_box_'+response.id).remove();
              $('#removeCollectionModal').modal('hide');
            }
          });
        });

      });
      function removeActivity(ele){
        var targetEle = $(ele);
        var collection_id = targetEle.attr('data-cid');
        var activity_id = targetEle.attr('data-aid');
        $.ajax({
            url : '/api/collection/activity',
            type: 'POST',
            data : 'collection_id='+collection_id+'&activity_id='+activity_id+'&is_collect=1'
          }).done(function(response){ 
            var removeEleParent = $('div.collect-activity div#collect_collection_box_'+collection_id+'>ul');
            if(removeEleParent.children().length==1){
              removeEleParent.find('div.card-collect-'+activity_id).remove();
              removeEleParent.append('<h5>此類別目前沒有收藏任何活動</h5>');
            }else{
              removeEleParent.find('div.card-collect-'+activity_id).remove();
            }
          });
      }
    </script>
  </body>
</html>
