<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/javascripts/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/javascripts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/javascripts/DataTables/datatables.min.css">
    <link rel="stylesheet" href="/stylesheets/teacher.css">
    <link rel="stylesheet" href="/stylesheets/logon.css">
    <link rel="stylesheet" href="/stylesheets/teacher_edit.css">
    <style>
      td.details-control {
        background: url('/images/details_open.png') no-repeat center center;
        cursor: pointer;
      }
      tr.shown td.details-control {
        background: url('/images/details_close.png') no-repeat center center;
      }
      table#materialTable tbody tr td:first-child:hover {
          cursor: default;
      }
    </style>
  </head>
  <body>

    <%- cooc_header %>

    <div class="container-fluid">
      <ol class="breadcrumb">
        <li><a href="/student/activity/discover">探索活動</a></li>
        <li class="active">活動細節</li>
      </ol>
      <div class="row">
        <div class="col-sm-3">
          <div class="editActivity"><h3><%=activity.name%></h3></div><br />   
          <div class="sidebar-btn <%=(activity.is_public==2)?'show':'hide'%>">
              <div class="form-group">
                <label for="access_code">有通關密語嗎?</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="access_code" id="access_code">
                    <span class="input-group-btn">
                        <button id="unlockBtn" class="btn btn-default" type="button">解鎖活動</button>
                    </span>
                </div>
              </div>
          </div>      
          <div class="sidebar-btn <%=(activity.is_public==1)?'show':'hide'%>">
            <a class="btn btn-default" href="/api/activity/student/discover/learn/<%=activity.id%>">
                <span class="download-text">
                  <i class="fa fa-leanpub" aria-hidden="true"></i>&nbsp;&nbsp;</i>加入學習
                </span>
              </a> 
          </div>  
        </div>
        <div class="col-md-9" style="background:#f5f5f5;">
          <div class="box box-widget">
            <div class="box-header with-border">
              <h3 class="box-title">活動基本資料</h3>
            </div>
            <div class="box-body">
              <div class="row">
                <div class="col-md-12">
                  <table id="activityMetadataTable" class="table table-responsive">
                    <tbody>
                      <tr>
                        <td>活動名稱</td>
                        <td><%=activity.name%></td>
                      </tr>
                      <tr>
                        <td>活動教師</td>
                        <td><%=activity.creator_name%></td>
                      </tr>
                      <tr>
                        <td>活動描述</td>
                        <td><%=activity.description%></td>
                      </tr>
                      <tr>
                        <td>活動類型</td>
                        <%
                          var activity_type = activity.type;
                          var activity_type_str = '一般活動';
                          if(activity_type=='1'){
                            activity_type_str = '適性活動';
                          }else if(activity_type=='2'){
                            activity_type_str = '前後測';
                          }
                        %>
                        <td><%=activity_type_str%></td>
                      </tr>
                      <tr>
                        <td>學制科目</td>
                        <td><%=activity.subject_name%></td>
                      </tr>
                    </tbody>
                  </table>           
                </div>
              </div>
            </div>
          </div>
          <div class="box box-widget">
            <div class="box-header with-border">
              <h3 class="box-title">教材列表</h3>
              <div class="box-tools pull-right">
              </div>
            </div>
            <div class="box-body">
              <table id="materialTable" class="table table-striped">
                <thead>
                  <tr>                   
                    <th>類型</th>
                    <th>名稱</th>
                    <th>細節</th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

     <%- cooc_footer %>

    <!-- 酷課雲 Header 角色 -->
    <div class="roleInfo" style="display:none;">
      <a id="logonBlock" href="javascript:void(0)">
        <img id="logonpic" src="<%=user.photoUrl%>"/>
        <img id="logonBack" src="/images/logon_back.png">
      </a>
      <div id="logonName"><%=user.name%></div>
      <div id="logonRole"><%=user.role_name%></div>
      <ul class="navigation">
        <li>
          <ul style="display:none">
            <li><a href="http://sso.tp.edu.tw/accountservice/" target="_blank">個人資訊</a></li>
            <li class="logout"><a href="/users/logout">登出</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <div id="unlockCodeModal" data-backdrop="static" data-keyboard="false" class="modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <h4>成功加入!</h4>
                </div>
                <div class="modal-footer">
                    <a href="/student/activity/public/<%=activity.id%>" type="button" class="btn btn-primary">開始學習!</a>
                </div>
            </div>
        </div>
    </div>

    <script src="/javascripts/jquery-3.2.1.min.js"></script>
    <script src="/javascripts/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script src="/javascripts/DataTables/datatables.min.js"></script>
    <script src="/javascripts/moment.js"></script>
    <script>
      $(document).ready(function(){

        var materialData = <%- JSON.stringify(activity.materials); %>;

        //酷課雲 header 處理
        if($('.roleInfo').length>0){
          $('.rolemenu').html($('.roleInfo').html());
          /*選單顯示控制*/
          $("#logonBlock").on("click",function(){
            if ($("ul.navigation li > ul").is(":visible")) {
              $("ul.navigation li > ul").css("display","none");
            } else {
              $("ul.navigation li > ul").css("display","block");
            }
          });
          $('.container-fluid').css('margin-top','-80px');
        }

        var materialTable = $('#materialTable').DataTable({
          columns:[
            { data:'type', orderable:false, searchable:false, render:function(data, type, row){
              var typeIcon = '<i class="fa fa-asterisk" aria-hidden="true"></i>';
              switch(data){
                case 1: //link
                  typeIcon = '<i class="fa fa-link" aria-hidden="true"></i>';
                  break; 
                case 2: //video
                  typeIcon = '<i class="fa fa-video-camera" aria-hidden="true"></i>';
                  break;
                case 3: //pdf
                  typeIcon = '<i class="fa fa-file-pdf-o" aria-hidden="true"></i>';
                  break;
                case 4: //assessment
                  typeIcon = '<i class="fa fa-pencil-square-o" aria-hidden="true"></i>';
                  break;
                case 5: //article
                  typeIcon = '<i class="fa fa-file-text-o" aria-hidden="true"></i>';
                  break;
              }
              return typeIcon;
            } },
            { data:'name', orderable:false, searchable:false },
            {
                "className":      'details-control',
                "orderable":      false,
                "data":           null,
                "defaultContent": ''
            }
          ],
          data:materialData,
          lengthChange: false,
          searching: false,
          paging: false,
          info: false
        });

        $('#materialTable tbody').on('click', 'td.details-control', function () {
          var tr = $(this).closest('tr');
          var row = materialTable.row( tr );
          if ( row.child.isShown() ) {
            // This row is already open - close it
            row.child.hide();
            tr.removeClass('shown');
          }
          else {
            // Open this row
            row.child( format(row.data()) ).show();
            tr.addClass('shown');
          }
        } );

        //sidebar
        $(".sidebarMenu > li.dropMenu > a").on("click", function(i){
          i.preventDefault();
          if( ! $(this).parent().hasClass("activeDown") ){
            $(".sidebarMenu li ul").slideUp();
            $(this).next().slideToggle();
            $(".sidebarMenu li").removeClass("activeDown");
            $(this).parent().addClass("activeDown");
          }
          else{
            $(this).next().slideToggle();
            $(".sidebarMenu li").removeClass("activeDown");
          }
        });

        $('#unlockBtn').on('click', function(){
            $.ajax({
                url: '/api/activity/student/unlock/<%=activity.id%>',
                data:'access_code='+$('#access_code').val(),
                type:"POST",
                success: function(result){
                    if(result.success){
                        $('#unlockCodeModal').modal('show');
                    }else{
                        alert('通關密語不對喔!');
                    }
                },
                error:function(xhr, ajaxOptions, thrownError){
                    console.log(xhr.status);
                    console.log(thrownError);
                }
            });
        });

      });
      function format ( d ) {
        var bloom = (d.bloom)?d.bloom:'';
        if(bloom=='none'){
          bloom = '';
        }
        var requiredTimeSpent = '';
        if(d.required_time_spent_val){
          requiredTimeSpent = moment.utc(moment.duration(d.required_time_spent_val,'seconds').as('milliseconds')).format('HH:mm:ss');
        }
        return '<ul>'+
                  '<li>說明:&nbsp;'+d.description+'</li>'+
                  '<li>目標:&nbsp;'+d.goal+'</li>'+
                  '<li>Bloom:&nbsp;'+bloom+'</li>'+
                  '<li>預計完成時間:&nbsp;'+requiredTimeSpent+'</li>'+
               '</ul>' ;
      }
    </script>
  </body>
</html>
