<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/javascripts/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/javascripts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/javascripts/DataTables/datatables.min.css">
    <link rel="stylesheet" href="/stylesheets/teacher.css">
    <link rel="stylesheet" href="/stylesheets/logon.css">
    <link rel="stylesheet" href="/stylesheets/teacher_edit.css">
    <style>
      td.details-control {
        background: url('/images/details_open.png') no-repeat center center;
        cursor: pointer;
      }
      tr.shown td.details-control {
        background: url('/images/details_close.png') no-repeat center center;
      } 
      canvas {
        display: block;
      }
      #progress-chart {
        margin-top: -130px !important; 
        margin-left: 45px !important;
      }
      .material-progress {
        margin-bottom: 0px !important;
      }
      #materialTable thead tr th.details-control {
        text-align: center;
      }
    </style>
  </head>
  <body>

    <%- cooc_header %>

    <div class="container-fluid">
      <ol class="breadcrumb">
        <li><a href="/student/activity?p=1">我的活動</a></li>
        <li class="active">活動細節</li>
      </ol>
      <div class="row">
        <div class="col-sm-3">
          <div class="editActivity"><h2><%=activity.name%></h2></div>
          <ul class="editData">
            <%
              var materials = activity.materials;
              for(var m=0;m<materials.length;m++){
                var material = materials[m];
                var typeStr = '';
                var typeIcon = '<i class="fa fa-asterisk" aria-hidden="true"></i>';
                switch(material.type){
                  case 1:
                    typeIcon = '<i class="fa fa-link" aria-hidden="true"></i>';
                    typeStr = 'web';
                    break; 
                  case 2:
                    typeIcon = '<i class="fa fa-film" aria-hidden="true"></i>';
                    typeStr = 'video';
                    break;
                  case 3:
                    typeIcon = '<i class="fa fa-file-pdf-o" aria-hidden="true"></i>';
                    typeStr = 'pdf';
                    break;
                  case 4:
                    typeIcon = '<i class="fa fa-pencil-square-o" aria-hidden="true"></i>';
                    typeStr = 'assessment';
                    break;
                  case 5:
                    typeIcon = '<i class="fa fa-file-text-o" aria-hidden="true"></i>';
                    typeStr = 'article';
                    break;
                }
            %>
                <li class="addSource"><%-typeIcon%>&nbsp;&nbsp;
                  <a href="/student/activity/<%=activity.id%>/play/<%=material.id%>"><span class="sidebar-activity-title"><%=material.name%></span></a>
                </li>
            <%
              }
            %>
          </ul>    
          <div class="sidebar-btn">
            <%
              if(activity.materials.length!=0){
            %>
            <a class="btn btn-success" href="/student/activity/<%=activity.id%>/play/<%=activity.materials[0].id%>">
              <span class="download-text">
                <i class="fa fa-leanpub" aria-hidden="true"></i>&nbsp;&nbsp;</i>開始學習
              </span>
            </a>  
            <%
              }else{
            %>
            <a class="btn btn-success disabled" href="#">
              <span class="download-text">
                <i class="fa fa-leanpub" aria-hidden="true"></i>&nbsp;&nbsp;</i>開始學習
              </span>
            </a>    
            <%
              }
            %>
          </div>      
          <div class="sidebar-btn">
            <a class="btn btn-info" href="/dashboard/student">
              <span class="download-text">
                <i class="fa fa-bar-chart" aria-hidden="true"></i>&nbsp;&nbsp;</i>儀表板
              </span>
            </a>
          </div>
          <div class="sidebar-btn">
            <a class="btn btn-warning" href="/forum/teacher/activity/<%=activity.id%>/questions">
              <span class="download-text">
                <i class="fa fa-comments-o" aria-hidden="true"></i>&nbsp;&nbsp;</i>討論區
              </span>
            </a>
          </div>
          <!--
          <div class="sidebar-btn">
            <button type="button" class="btn">
              <span class="download-text">
                <i class="fa fa-cloud-download" aria-hidden="true"></i>&nbsp;&nbsp;</i>下載
              </span>
            </button>
          </div> 
          -->          
        </div>
        <div class="col-md-9" style="background:#f5f5f5;">
          <div class="box box-widget">
            <div class="box-header with-border">
              <h3 class="box-title">活動基本資料</h3>
            </div>
            <div class="box-body">
              <div class="row">
                <div class="col-md-3">
                    <div class="progress-chart-container">
                      <input id="progress-chart" type="text" value="0">
                    </div>
                </div>
                <div class="col-md-9">
                  <table id="activityMetadataTable" class="table table-responsive">
                    <tbody>
                      <tr>
                        <td>活動名稱</td>
                        <td><%=activity.name%></td>
                      </tr>
                      <tr>
                        <td>活動教師</td>
                        <td><%=activity.creator_name%></td>
                      </tr>
                      <tr>
                        <td>活動描述</td>
                        <td><%=activity.description%></td>
                      </tr>
                      <tr>
                        <td>活動類型</td>
                        <%
                          var activity_type = activity.type;
                          var activity_type_str = '一般活動';
                          if(activity_type=='1'){
                            activity_type_str = '適性活動';
                          }else if(activity_type=='2'){
                            activity_type_str = '前後測';
                          }
                        %>
                        <td><%=activity_type_str%></td>
                      </tr>
                      <tr>
                        <td>學制科目</td>
                        <td><%=activity.subject_name%></td>
                      </tr>
                    </tbody>
                  </table>           
                </div>
              </div>
            </div>
          </div>
          <div class="box box-widget">
            <div class="box-header with-border">
              <h3 class="box-title">教材列表</h3>
              <div class="box-tools pull-right">
              </div>
            </div>
            <div class="box-body">
              <table id="materialTable" class="table table-striped">
                <thead>
                  <tr>                   
                    <th>類型</th>
                    <th>名稱</th>
                    <th>花費時間</th>
                    <th>完成率</th>
                    <th>細節</th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

     <%- cooc_footer %>

    <!-- 酷課雲 Header 角色 -->
    <div class="roleInfo" style="display:none;">
      <a id="logonBlock" href="javascript:void(0)">
        <img id="logonpic" src="<%=user.photoUrl%>"/>
        <img id="logonBack" src="/images/logon_back.png">
      </a>
      <div id="logonName"><%=user.name%></div>
      <div id="logonRole"><%=user.role_name%></div>
      <ul class="navigation">
        <li>
          <ul style="display:none">
            <li><a href="http://sso.tp.edu.tw/accountservice/" target="_blank">個人資訊</a></li>
            <li class="logout"><a href="/users/logout">登出</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <script src="/javascripts/jquery-3.2.1.min.js"></script>
    <script src="/javascripts/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script src="/javascripts/DataTables/datatables.min.js"></script>
    <script src="/javascripts/moment.js"></script>
    <script src="/javascripts/jquery.knob.min.js"></script>
    <script>
      $(document).ready(function(){

        var materialData = <%- JSON.stringify(activity.materials); %>;

        var $progress = $('#progress-chart');
        $progress.val(Number('<%=activity.completion_rate%>')+'%');
        $progress.knob({
          'min':0,
          'max':100,
          'readOnly':true
        });

        //酷課雲 header 處理
        if($('.roleInfo').length>0){
          $('.rolemenu').html($('.roleInfo').html());
          /*選單顯示控制*/
          $("#logonBlock").on("click",function(){
            if ($("ul.navigation li > ul").is(":visible")) {
              $("ul.navigation li > ul").css("display","none");
            } else {
              $("ul.navigation li > ul").css("display","block");
            }
          });
          $('.container-fluid').css('margin-top','-80px');
        }

        var materialTable = $('#materialTable').DataTable({
          language:{
            url:'/locales/<%=t('lang-code')%>/materialTable.json'
          },
          columns:[
            { data:'type', orderable:false, searchable:false, render:function(data, type, row){
              var typeIcon = '<i class="fa fa-asterisk" aria-hidden="true"></i>';
              switch(data){
                case 1: //link
                  typeIcon = '<i class="fa fa-link" aria-hidden="true"></i>';
                  break; 
                case 2: //video
                  typeIcon = '<i class="fa fa-video-camera" aria-hidden="true"></i>';
                  break;
                case 3: //pdf
                  typeIcon = '<i class="fa fa-file-pdf-o" aria-hidden="true"></i>';
                  break;
                case 4: //assessment
                  typeIcon = '<i class="fa fa-pencil-square-o" aria-hidden="true"></i>';
                  break;
                case 5: //article
                  typeIcon = '<i class="fa fa-file-text-o" aria-hidden="true"></i>';
                  break;
              }
              return typeIcon;
            } },
            { data:'name', orderable:false, searchable:false, render:function(data, type, row){
              return '<a href="/student/activity/<%=activity.id%>/play/'+row.id+'">'+data+'</a>';
            } },
            { data:'time_spent', orderable:false, searchable:false, render: function(data, type, row){
              return moment.utc(data*1000).format('HH:mm:ss');
            } },
            { data:'completion_rate', orderable:false, searchable:false, render: function(data, type, row){
              var progrssColor = 'progress-bar-success';
              if(data<=49){
                progrssColor = 'progress-bar-warning';
              }else if(data<100){
                progrssColor = 'progress-bar-default';
              }
              return '<div class="progress material-progress">'+
                        '<div class="progress-bar '+progrssColor+'" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: '+data+'%;">'+
                          '<span class="sr-only"></span>'+
                        '</div>'+
                     '</div>';
            } },
            {
                "className":      'details-control',
                "orderable":      false,
                "data":           null,
                "defaultContent": ''
            }
          ],
          data:materialData,
          lengthChange: false,
          searching: false,
          paging: false,
          info: false
        });

        $('#materialTable tbody').on('click', 'td.details-control', function () {
          var tr = $(this).closest('tr');
          var row = materialTable.row( tr );
          if ( row.child.isShown() ) {
            // This row is already open - close it
            row.child.hide();
            tr.removeClass('shown');
          }
          else {
            // Open this row
            row.child( format(row.data()) ).show();
            tr.addClass('shown');
          }
        } );

        //sidebar
        $(".sidebarMenu > li.dropMenu > a").on("click", function(i){
          i.preventDefault();
          if( ! $(this).parent().hasClass("activeDown") ){
            $(".sidebarMenu li ul").slideUp();
            $(this).next().slideToggle();
            $(".sidebarMenu li").removeClass("activeDown");
            $(this).parent().addClass("activeDown");
          }
          else{
            $(this).next().slideToggle();
            $(".sidebarMenu li").removeClass("activeDown");
          }
        });

      });
      function format ( d ) {
        var bloom = (d.bloom)?d.bloom:'';
        if(bloom=='none'){
          bloom = '';
        }
        var requiredTimeSpent = '';
        if(d.required_time_spent_val){
          requiredTimeSpent = moment.utc(moment.duration(d.required_time_spent_val,'seconds').as('milliseconds')).format('HH:mm:ss');
        }
        return '<ul>'+
                  '<li>說明:&nbsp;'+d.description+'</li>'+
                  '<li>目標:&nbsp;'+d.goal+'</li>'+
                  '<li>Bloom:&nbsp;'+bloom+'</li>'+
                  '<li>預計完成時間:&nbsp;'+requiredTimeSpent+'</li>'+
               '</ul>' ;
      }
    </script>
  </body>
</html>
