<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title><%= title %></title>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/javascripts/bootstrap-3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/javascripts/font-awesome-4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/stylesheets/teacher.css">
        <link rel="stylesheet" href="/stylesheets/logon.css">
        <link rel="stylesheet" href="/stylesheets/teacher_edit.css">
        <style>
            .material-box {
                box-shadow: 0px 0px 0px 3px #888888;
            }
        </style>
    </head>
    <body>
        <%- cooc_header %>
        <div class="container-fluid">
            <ol class="breadcrumb">
                <li><a href="/student/activity?p=1">我的活動</a></li>
                <li class="active">活動細節</li>
            </ol>
            <div class="row">
                <div class="col-md-3">
                    <div class="editActivity"><h3><%=activity.name%></h3></div>
                    <br />
                    <div class="sidebar-btn">
                        <div class="sidebar-btn">
                            <a class="btn btn-default" href="/dashboard/student">
                                <span class="download-text">
                                    <i class="fa fa-bar-chart" aria-hidden="true"></i>&nbsp;&nbsp;</i>儀表板
                                </span>
                            </a>
                        </div>
                        <div class="sidebar-btn">
                            <a class="btn btn-default" href="/forum/teacher/activity/<%=activity.id%>/questions">
                                <span class="download-text">
                                    <i class="fa fa-comments-o" aria-hidden="true"></i>&nbsp;&nbsp;</i>討論區
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="box box-widget">
                        <div class="box-header with-border">
                            <h3 class="box-title">活動基本資料</h3>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <!--
                                <div class="col-md-3">
                                    <div class="progress-chart-container">
                                        <input id="progress-chart" type="text" value="0">
                                    </div>
                                </div>
                                -->
                                <div class="col-md-12">
                                    <table id="activityMetadataTable" class="table table-responsive">
                                        <tbody>
                                            <tr>
                                                <td>活動名稱</td>
                                                <td><%=activity.name%></td>
                                            </tr>
                                            <tr>
                                                <td>活動教師</td>
                                                <td><%=activity.creator_name%></td>
                                            </tr>
                                            <tr>
                                                <td>活動描述</td>
                                                <td><%=activity.description%></td>
                                            </tr>
                                            <tr>
                                                <td>活動類型</td>
                                                <td>適性活動</td>
                                            </tr>
                                            <tr>
                                                <td>學制科目</td>
                                                <td><%=activity.subject_name%></td>
                                            </tr>
                                        </tbody>
                                    </table>           
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box box-widget">
                        <div class="box-header with-border">
                            <h3 class="box-title">教材列表</h3>
                            <div class="box-tools pull-right"></div>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="student_hierarchy"></div>
                                </div>                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- cooc_footer %>
        <!-- 酷課雲 Header 角色 -->
        <div class="roleInfo" style="display:none;">
            <a id="logonBlock" href="javascript:void(0)">
                <img id="logonpic" src="<%=user.photoUrl%>"/>
                <img id="logonBack" src="/images/logon_back.png">
            </a>
            <div id="logonName"><%=user.name%></div>
            <div id="logonRole"><%=user.role_name%></div>
            <ul class="navigation">
                <li>
                    <ul style="display:none">
                        <li><a href="http://sso.tp.edu.tw/accountservice/" target="_blank">個人資訊</a></li>
                        <li class="logout"><a href="/users/logout">登出</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    <script src="/javascripts/jquery-3.2.1.min.js"></script>
    <script src="/javascripts/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script src="/javascripts/moment.js"></script>
    <script>
        var adaptiveHierarchy = <%- activity.hierarchy %>;
        var adaptiveProgress = <%-JSON.stringify(progress) %>;
        $(document).ready(function(){
            renderStudentHierarchy(adaptiveHierarchy, true);

            //酷課雲 header 處理
            if($('.roleInfo').length>0){
                $('.rolemenu').html($('.roleInfo').html());
                /*選單顯示控制*/
                $("#logonBlock").on("click",function(){
                    if ($("ul.navigation li > ul").is(":visible")) {
                        $("ul.navigation li > ul").css("display","none");
                    } else {
                        $("ul.navigation li > ul").css("display","block");
                    }
                });
                $('.container-fluid').css('margin-top','-80px');
            }

        });
        function materialTypeIcon(m_type){
            var typeIcon = '<i class="fa fa-asterisk" aria-hidden="true"></i>';
            switch(m_type){
                case 1: //link
                  typeIcon = '<i class="fa fa-link" aria-hidden="true"></i>';
                  break; 
                case 2: //video
                  typeIcon = '<i class="fa fa-video-camera" aria-hidden="true"></i>';
                  break;
                case 3: //pdf
                  typeIcon = '<i class="fa fa-file-pdf-o" aria-hidden="true"></i>';
                  break;
                case 4: //assessment
                  typeIcon = '<i class="fa fa-pencil-square-o" aria-hidden="true"></i>';
                  break;
                case 5: //article
                  typeIcon = '<i class="fa fa-file-text-o" aria-hidden="true"></i>';
                  break;
            }
            return typeIcon;
        }
        function renderHierarchyLock(){
            $('#student_hierarchy').append(
                '<div class="box box-widget material-box">'+
                    '<div class="box-header with-border">'+
                        '<h3 class="box-title"><i class="fa fa-lock" aria-hidden="true"></i> 趕快完成現在的教材來解鎖我:)</h3>'+
                    '</div>'+
                '</div>'
            );
        }
        function renderHierarchyActivity(h_activity_uuid,h_activity_id,h_activity_name,h_materials){
            var appendActivityHierarchy = 
                '<div class="box box-widget material-box">'+
                    '<div class="box-header with-border">'+
                        '<h3 class="box-title">進行中的教材</h3>'+
                    '</div>'+
                    '<div class="box-body">'+
                        '<table class="table">'+
                            '<thead>'+
                                '<tr>'+
                                    '<th>類型</th>'+
                                    '<th>名稱</th>'+
                                    '<th>花費時間</th>'+
                                    '<th>完成率</th>'+
                                '</tr>'+
                            '</thead>'+
                            '<tbody>';
                for(var a=0;a<h_materials.length;a++){
                    var aah_time_spent = 0;
                    var aah_completion_rate = 0;
                    var hm = h_materials[a];
                    for(var aah=0;aah<adaptiveProgress.length;aah++){
                        if(adaptiveProgress[aah].material_id==hm.id && adaptiveProgress[aah].material_uuid==h_activity_uuid){
                            if(adaptiveProgress[aah]['time_spent']){
                                aah_time_spent = adaptiveProgress[aah]['time_spent'];
                            }
                            if(adaptiveProgress[aah]['completion_rate']){
                                aah_completion_rate = adaptiveProgress[aah]['completion_rate'];
                            }
                        }
                    }
                    aah_time_spent = moment.utc(aah_time_spent*1000).format('HH:mm:ss');
                    var progrssColor = 'progress-bar-success';
                    if(aah_completion_rate<=49){
                        progrssColor = 'progress-bar-warning';
                    }else if(aah_completion_rate<100){
                        progrssColor = 'progress-bar-default';
                    }
                    var progressStr = 
                    '<div class="progress material-progress">'+
                        '<div class="progress-bar '+progrssColor+'" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: '+aah_completion_rate+'%;">'+
                          '<span class="sr-only"></span>'+
                        '</div>'+
                     '</div>';
                    appendActivityHierarchy += (
                                '<tr>'+
                                    '<td>'+materialTypeIcon(hm.type)+'</td>'+
                                    '<td><a href="/student/activity/adaptive/<%=activity.id%>/play/'+hm.id+'?id='+h_activity_uuid+'">'+hm.name+'</a></td>'+
                                    '<td>'+aah_time_spent+'</td>'+
                                    '<td>'+progressStr+'</td>'+
                                '</tr>'
                    );
                }
                appendActivityHierarchy += (               
                            '</tbody>'+
                        '</table>'+
                    '</div>'+
                '</div>');          
            $('#student_hierarchy').append(appendActivityHierarchy);
        }
        function renderHierarchyMaterial(h_content_uuid,h_material_id,h_material_name,h_material_type){
            var aah_time_spent = 0;
            var aah_completion_rate = 0;
            for(var aah=0;aah<adaptiveProgress.length;aah++){
                if(adaptiveProgress[aah].material_id==h_material_id && adaptiveProgress[aah].material_uuid==h_content_uuid){
                    if(adaptiveProgress[aah]['time_spent']){
                        aah_time_spent = adaptiveProgress[aah]['time_spent'];
                    }
                    if(adaptiveProgress[aah]['completion_rate']){
                        aah_completion_rate = adaptiveProgress[aah]['completion_rate'];
                    }
                }
            }
            aah_time_spent = moment.utc(aah_time_spent*1000).format('HH:mm:ss');
            var progrssColor = 'progress-bar-success';
            if(aah_completion_rate<=49){
                progrssColor = 'progress-bar-warning';
            }else if(aah_completion_rate<100){
                progrssColor = 'progress-bar-default';
            }
            var progressStr = 
                    '<div class="progress material-progress">'+
                        '<div class="progress-bar '+progrssColor+'" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: '+aah_completion_rate+'%;">'+
                          '<span class="sr-only"></span>'+
                        '</div>'+
                     '</div>';
            var appendMaterialHierarchy = 
                '<div class="box box-widget material-box">'+
                    '<div class="box-header with-border">'+
                        '<h3 class="box-title">進行中的教材</h3>'+
                    '</div>'+
                    '<div class="box-body">'+
                        '<table class="table">'+
                            '<thead>'+
                                '<tr>'+
                                    '<th>類型</th>'+
                                    '<th>名稱</th>'+
                                    '<th>花費時間</th>'+
                                    '<th>完成率</th>'+
                                '</tr>'+
                            '</thead>'+
                            '<tbody>'+
                                '<tr>'+
                                    '<td>'+materialTypeIcon(h_material_type)+'</td>'+
                                    '<td><a href="/student/activity/adaptive/<%=activity.id%>/play/'+h_material_id+'?id='+h_content_uuid+'">'+h_material_name+'</a></td>'+
                                    '<td>'+aah_time_spent+'</td>'+
                                    '<td>'+progressStr+'</td>'+
                                '</tr>'+
                            '</tbody>'+
                        '</table>'+
                    '</div>'+
                '</div>';
            $('#student_hierarchy').append(appendMaterialHierarchy);
        }
        function renderStudentHierarchy(hierarchyObj, is_head){
            if(hierarchyObj.content_category){
                var content_uuid = hierarchyObj.id;
                var content_id = hierarchyObj.content_id;
                var content_name = hierarchyObj.content_name;
                var content_type = hierarchyObj.content_type;
                var content_uuid = hierarchyObj.id;
                var content_category = hierarchyObj.content_category;
                if(content_category=='activity'){
                    renderHierarchyActivity(content_uuid,content_id,content_name,hierarchyObj.content_material);
                }else{
                    renderHierarchyMaterial(content_uuid,content_id,content_name,content_type);
                }   
                if(hierarchyObj.content_child){ //有下一步
                    var content_criteria = hierarchyObj.content_criteria; //'1':成績;'2':花費時間
                    var content_unit = hierarchyObj.content_unit; //'0':分;'1':秒;'2':時
                    var content_children = hierarchyObj.children;
                    var content_group = hierarchyObj.content_group;
                    var content_val = Number(hierarchyObj.content_val);
                    
                    if(content_category=='activity'){
                        //暫時先以完成度來看
                        var content_materials = hierarchyObj.content_material;
                        var completion_counts;
                        var hasAssessment = false;
                        var assessment_scores = [];
                        var kcc_time_spent = 0;
                        var is_all_complete = true;
                        for(var k=0;k<content_materials.length;k++){
                            var kcc = content_materials[k];                           
                            var kcc_id= kcc.id;
                            var kcc_type = kcc.type;
                            if(kcc_type==4){
                                hasAssessment = true;
                            }
                            var single_material_complete = false;
                            for(var g=0;g<adaptiveProgress.length;g++){
                                if(adaptiveProgress[g].material_id==kcc_id && adaptiveProgress[g].is_complete){
                                    single_material_complete = true;
                                    if(kcc_type==4 && kcc.score){
                                        assessment_scores.push(kcc.score);
                                    }
                                    if(adaptiveProgress[g].time_spent){
                                        kcc_time_spent += adaptiveProgress[g].time_spent;
                                    }
                                }
                            }
                            if(!single_material_complete){
                                is_all_complete = false;
                                break;
                            }
                        }
                        if(is_all_complete){
                            if(content_group=='1'){
                                var pass_val = content_val; 
                                if(content_criteria=='1'){ //成績
                                    if(hasAssessment && assessment_scores.length>=1){
                                        var total_score = 0;
                                        for(var t=0;t<assessment_scores.length;t++){
                                            total_score += assessment_scores[t];
                                        }
                                        var avg_score = Math.round(total_score/assessment_scores.length);
                                        if(avg_score>=pass_val){
                                            renderStudentHierarchy(content_children[0]);
                                        }else{
                                            renderHierarchyLock();
                                        }
                                    }else{
                                        renderHierarchyLock();
                                    }
                                }else{ //花費時間
                                    if(kcc_time_spent>=pass_val){
                                        renderStudentHierarchy(content_children[0]);
                                    }else{
                                        renderHierarchyLock();
                                    }
                                }
                            }else{ //多分群
                                var pass_range = hierarchyObj.content_range.split(',');
                                if(content_criteria=='2'){ //花費時間
                                    if(content_unit=='0'){
                                        for(var op=0;op<pass_range.length;op++){
                                            pass_range[op] = pass_range[op]*60;
                                        }
                                    }else if(content_unit=='2'){
                                        for(var op=0;op<pass_range.length;op++){
                                            pass_range[op] = pass_range[op]*3600;
                                        }
                                    }
                                }
                                //確認到哪一區
                                if(content_criteria=='1'){ //成績
                                    if(hasAssessment && assessment_scores.length>=1){
                                        var total_score = 0;
                                        for(var t=0;t<assessment_scores.length;t++){
                                            total_score += assessment_scores[t];
                                        }
                                        var avg_score = Math.round(total_score/assessment_scores.length);
                                        var targetIndex = 0;
                                        for(var checkIndex=0;checkIndex<pass_range.length;checkIndex++){
                                            if(avg_score>=parseInt(pass_range[checkIndex])){
                                                targetIndex = checkIndex;
                                                continue;
                                            }
                                            break;
                                        }
                                        renderStudentHierarchy(content_children[targetIndex]);
                                    }else{
                                        renderStudentHierarchy(content_children[0]);
                                    }
                                }else{ //花費時間
                                    // 計算 pass_val
                                    var pass_val = content_val; 
                                    switch(content_unit){
                                        case '0': //分
                                            pass_val = content_val*60;
                                            break;
                                        case '2': //時
                                            pass_val = content_val*3600;
                                            break;
                                    }
                                    var targetIndex = 0;
                                    for(var checkIndex=0;checkIndex<pass_range.length;checkIndex++){
                                        if(kcc_time_spent>=parseInt(pass_range[checkIndex])){
                                            targetIndex = checkIndex;
                                            continue;
                                        }
                                        break;
                                    }
                                    renderStudentHierarchy(content_children[targetIndex]);
                                }   
                            }
                        }else{
                            renderHierarchyLock();
                        }
                    }else{ //單一教材
                        var target_ap = null;
                        for(var p=0;p<adaptiveProgress.length;p++){
                            var ap = adaptiveProgress[p];
                            if(content_id==ap.material_id){
                                target_ap = ap;
                                break;
                            }
                        }
                        if(target_ap){ //有紀錄
                            var target_ap_val = null;
                            if(content_criteria=='1'){
                                if(target_ap.score){
                                    target_ap_val = target_ap.score;
                                }else{
                                    target_ap_val = 0;
                                }
                            }else{
                                if(target_ap.time_spent){
                                    target_ap_val = target_ap.time_spent;
                                }else{
                                    target_ap_val = 0;
                                }                               
                            }
                            if(content_group=='1'){
                                // 計算 pass_val
                                var pass_val = content_val;                           
                                if(content_criteria=='1'){ //成績
                                    if(target_ap_val && target_ap_val>=pass_val){
                                        renderStudentHierarchy(content_children[0]);
                                    }else{
                                        renderHierarchyLock();
                                    }
                                }else{ //花費時間
                                    switch(content_unit){
                                        case '0': //分
                                            pass_val = content_val*60;
                                            break;
                                        case '2': //時
                                            pass_val = content_val*3600;
                                            break;
                                    }
                                    if(target_ap_val && target_ap_val>=pass_val){
                                        renderStudentHierarchy(content_children[0]);
                                    }else{
                                        renderHierarchyLock();
                                    }
                                }
                            }else{ //多分群
                                var pass_range = hierarchyObj.content_range.split(',');
                                if(content_criteria=='2'){ //花費時間
                                    if(content_unit=='0'){
                                        for(var op=0;op<pass_range.length;op++){
                                            pass_range[op] = pass_range[op]*60;
                                        }
                                    }else if(content_unit=='2'){
                                        for(var op=0;op<pass_range.length;op++){
                                            pass_range[op] = pass_range[op]*3600;
                                        }
                                    }
                                }
                                //確認到哪一區
                                if(target_ap_val!==undefined){
                                    var targetIndex = 0;
                                    if(target_ap_val>=pass_range[pass_range.length-1]){
                                        targetIndex = pass_range.length-1;
                                    }else{
                                        for(var checkIndex=0;checkIndex<pass_range.length;checkIndex++){
                                            if(target_ap_val>=parseInt(pass_range[checkIndex])){
                                                targetIndex = checkIndex;
                                                continue;
                                            }
                                            break;
                                        }
                                    }                                   
                                    renderStudentHierarchy(content_children[targetIndex]);
                                }else{
                                    renderHierarchyLock();
                                }                                
                            }
                        }else{
                            renderHierarchyLock();
                        }
                    }  

                }
            }else{
                $('#student_hierarchy').html('<h5>老師忘記安排教材了:(</h5>');
            }
        }
    </script>
    </body>
</html>