<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/javascripts/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/javascripts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/student.css">
    <link rel="stylesheet" href="/stylesheets/intern/dashboard_teacher.css">
    <link rel="stylesheet" href="/stylesheets/logon.css">
  </head>
  <body>

    <%- cooc_header %>

    <div class="wrapper" ng-app="myApp">
      <div class="sidebar" ng-class="boolie ? 'closed' : ''">
        <div class="sidebarToggle" ng-click="boolie = !boolie">
          <i class="fa fa-ellipsis-v sidebar-toggleHam menuIcon" aria-hidden="true" ng-class="boolie ? 'rotate' : ''"></i>
          <span class="sidebar-toggleText">縮小</span>
        </div>
        <nav role="navigation" class="sidebarNav">
          <ul>
            <li class="sidebar-navItem active">
              <a href="#">
                <i class="menuIcon fa fa-ship"></i>
                <span>探索活動</span>
              </a>
            </li>
            <li class="sidebar-navItem">
              <a href="/student/activity?p=1">
                <i class="menuIcon fa fa-futbol-o"></i>
                <span>我的活動</span>
              </a>
            </li>
            <li class="sidebar-navItem">
              <a href="/dashboard/student">
                <i class="menuIcon fa fa-area-chart" aria-hidden="true"></i>
                <span>儀表板</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="main">
        <div class="col-md-12">
            <h4>探索活動</h4>
            <hr>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                      <label for="typeSelector">活動類型</label>
                      <select id="typeSelector" class="form-control">
                        <option value="-1">所有活動</option>
                        <option value="1">一般活動</option>
                        <option value="2">適性活動</option>
                        <option value="3">前後測活動</option>
                      </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                      <label for="subjectSelector">科目</label>
                      <select id="subjectSelector" class="form-control">
                        <option value="-1">所有科目</option>
                        <optgroup label="國小">
                          <option value="51">國小國語</option>
                          <option value="53">國小英語</option>
                          <option value="52">國小數學</option>
                          <option value="54">國小社會</option>
                          <option value="55">國小自然</option>
                        </optgroup>                       
                        <optgroup label="國中">
                          <option value="42">國中國文</option>
                          <option value="43">國中英文</option>
                          <option value="44">國中數學</option>
                          <option value="45">國中理化</option>
                          <option value="46">國中地理</option>
                          <option value="47">國中歷史</option>
                          <option value="48">國中公民</option>
                          <option value="49">國中生物</option>
                          <option value="50">國中地科</option>
                        </optgroup>                    
                        <optgroup label="高中">
                          <option value="4">高中國文</option>
                          <option value="5">高中英文</option>
                          <option value="6">高中數學</option>
                          <option value="10">高中物理</option>
                          <option value="11">高中化學</option>
                          <option value="13">高中地科</option>
                          <option value="12">高中生物</option>
                          <option value="7">高中歷史</option>
                          <option value="8">高中地理</option>
                          <option value="9">高中公民</option>
                        </optgroup>
                      </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                      <label for="allActivityNameSearch">活動名稱搜尋</label>
                      <div class="input-group">
                        <input id="activityNameSearch" value="" type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                          <button id="activityNameSearchBtn" class="btn btn-default" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </span>
                      </div>
                    </div>
                </div>
            </div>
            <div id="loading" style="display:none;"><img src="/images/loading.gif"></div>
            <div class="activityBox all-activity">
                <%
                    if(activities.recordsTotal!=0){
                        var activitiesData = activities.data;
                        for(var ad=0;ad<activitiesData.length;ad++){
                            var activity = activitiesData[ad];
                %>
                <div class="card card-all-<%=activity.id%>" data-id="<%=activity.id%>">
                    <a href="/student/activity/view/<%=activity.creator_id%>/<%=activity.id%>">
                        <div class="card-image">
                          <%
                            var activityImg = '/images/default-activity-image.png';
                            if(activity.img_data){
                              activityImg = activity.img_data;
                            }
                          %>
                          <img src="<%=activityImg%>">
                        </div>
                    </a>
                    <a href="/student/activity/view/<%=activity.creator_id%>/<%=activity.id%>">
                        <div class="card-detail">
                            <stong class="detail-name"><%=activity.name%></stong>
                            <div class="detail-instructor"><%=activity.creator_name%></div>
                            <%
                              var activityTypeLabel = '';
                              switch(activity.type){
                                case 2:
                                  activityTypeLabel = '<span class="label label-success">適性</span>';
                                  break;
                                case 3:
                                  activityTypeLabel = '<span class="label label-primary">前後測</span>';
                                  break;
                                default:
                                  activityTypeLabel = '<span class="label label-default">一般</span>';
                              }
                            %>
                            <div class="detail-activity-type"><%-activityTypeLabel%></div>
                        </div>
                    </a>
                </div>
                <%
                        }
                    }else{
                %>
                <div class="alert alert-warning" role="alert">目前沒有任何公開活動喔!</div>
                <%
                    }
                    var current_int = parseInt(current);
                    var total_page = Math.floor(activities.recordsTotal/10);
                    if(activities.recordsTotal%10!=0){
                      total_page++;
                    }
                %>
            </div>
            <div class="pager <%=(activities.recordsTotal==0)?'hide':'show'%>">
                <a id="prevBtn" data-page="<%=(current_int-1)%>" class="btn btn-lg btn-default bottom-pager pager-btn" <%=(current_int==1)?'disabled':''%>><</a>
                <p id="pager" class="bottom-pager">&nbsp;<%=activities.recordsTotal%> 個活動之&nbsp<%=current_int%>-<%=total_page%>&nbsp;</p>
                <a id="nextBtn" data-page="<%=(current_int+1)%>" class="btn btn-lg btn-default bottom-pager pager-btn" <%=(current_int==total_page)?'disabled':''%>>></a>
            </div>
        </div>
      </div>
    </div>

    <!-- 活動密碼 Modal -->
    <div id="activityCodeModal" data-backdrop="static" data-keyboard="false" class="modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="form-group">
                      <label>請輸入通關密語</label>
                      <input type="text">
                    </div>  
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
                  <button id="unlockBtn" type="button" class="btn btn-primary">解鎖</button>
                </div>
            </div>
        </div>
    </div>

    <%- cooc_footer %>

    <!-- 酷課雲 Header 角色 -->
    <div class="roleInfo" style="display:none;">
      <a id="logonBlock" href="javascript:void(0)">
        <img id="logonpic" src="<%=user.photoUrl%>"/>
        <img id="logonBack" src="/images/logon_back.png">
      </a>
      <div id="logonName"><%=user.name%></div>
      <div id="logonRole"><%=user.role_name%></div>
      <ul class="navigation">
        <li>
          <ul style="display:none">
            <li><a href="http://sso.tp.edu.tw/accountservice/" target="_blank">個人資訊</a></li>
            <li class="logout"><a href="/users/logout">登出</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <script src="/javascripts/jquery-3.2.1.min.js"></script>
    <script src="/javascripts/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script src="/javascripts/angular.min.js"></script>
    <script>
      var app = angular.module('myApp', []);
      $(document).ready(function(){

        //酷課雲 header 處理
        $('.rolemenu').html($('.roleInfo').html());
        $("#logonBlock").on("click",function(){
        	if ($("ul.navigation li > ul").is(":visible")) {
        		$("ul.navigation li > ul").css("display","none");
        	} else {
        		$("ul.navigation li > ul").css("display","block");
        	}
        });

        $('#typeSelector').on('change', function(){
          discoverActivities(
            $('#activityNameSearch').val(),
            1,
            $('#subjectSelector').val(),
            $('#typeSelector').val()
          );
        });

        $('#subjectSelector').on('change', function(){
          discoverActivities(
            $('#activityNameSearch').val(),
            1,
            $('#subjectSelector').val(),
            $('#typeSelector').val()
          );
        });

        $('#activityNameSearchBtn').on('click', function(){
            discoverActivities(
              $('#activityNameSearch').val(),
              1,
              $('#subjectSelector').val(),
              $('#typeSelector').val()
            );
        });

      });
      function discoverActivities(search,page,subject_id,type){
        $('#loading').show();
        $('.activityBox').empty();
        $.ajax({
          url: '/api/activity/student/discover',
          data:'q='+search+'&p='+page+'&subject_id='+subject_id+'&type='+type,
          type:"POST",
          success: function(results){
            var result = results.data;
            if(result.recordsTotal!=0){
              var activities = result.data;
              for(var i=0;i<activities.length;i++){
                var activity = activities[i];
                var appendActivity = (
                '<div class="card card-all-'+activity.id+'" data-id="'+activity.id+'">'+
                  '<a href="/student/activity/view/'+activity.creator_id+'/'+activity.id+'">'+
                    '<div class="card-image">');
                var activityImg = '/images/default-activity-image.png';
                if(activity.img_data){
                    activityImg = activity.img_data;
                }
                var activityTypeLabel = '';
                switch(activity.type){
                  case 2:
                    activityTypeLabel = '<span class="label label-success">適性</span>';
                    break;
                  case 3:
                    activityTypeLabel = '<span class="label label-primary">前後測</span>';
                    break;
                  default:
                    activityTypeLabel = '<span class="label label-default">一般</span>';
                }
                appendActivity += ('<img src="'+activityImg+'">'+
                    '</div>'+
                  '</a>'+
                  '<a href="/student/activity/view/'+activity.id+'">'+
                    '<div class="card-detail">'+
                      '<stong class="detail-name">'+activity.name+'</stong>'+
                      '<div class="detail-instructor">'+activity.creator_name+'</div>'+
                      '<div class="detail-activity-type">'+activityTypeLabel+'</div>'+
                    '</div>'+
                  '</a>'+
                '</div>');
                $('.activityBox').append(appendActivity);
              }
            }else{
                $('.activityBox').append('<div class="alert alert-warning" role="alert">目前沒有任何公開活動喔!</div>');
            }
            var current_int = results.current;
              var total_page = Math.floor(result.recordsTotal/10);
              if(result.recordsTotal%10!=0){
                total_page++;
              }
              $('#prevBtn').attr('data-page', current_int-1);
              $('#prevBtn').removeClass('disabled');
              if(current_int==1){
                $('#prevBtn').addClass('disabled');
              }
              $('#nextBtn').attr('data-page', current_int+1);
              $('#nextBtn').removeClass('disabled');
                if(current_int==total_page){
                $('#nextBtn').addClass('disabled');
              }
              $('#pager').html('&nbsp;'+result.recordsTotal+' 個活動之&nbsp'+current_int+'-'+total_page+'&nbsp;');
              $('.pager').addClass('show');
            $('#loading').hide();
          },
          error:function(xhr, ajaxOptions, thrownError){
            console.log(xhr.status);
            console.log(thrownError);
            $('#loading').hide();
          }
        });
      }
    </script>
  </body>
</html>
