<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/javascripts/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/javascripts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/student.css">
    <link rel="stylesheet" href="/stylesheets/intern/dashboard_teacher.css">
    <link rel="stylesheet" href="/stylesheets/logon.css">
  </head>
  <body>

    <%- cooc_header %>

    <div class="wrapper" ng-app="myApp">
      <div class="sidebar" ng-class="boolie ? 'closed' : ''">
        <div class="sidebarToggle" ng-click="boolie = !boolie">
          <i class="fa fa-ellipsis-v sidebar-toggleHam menuIcon" aria-hidden="true" ng-class="boolie ? 'rotate' : ''"></i>
          <span class="sidebar-toggleText">縮小</span>
        </div>
        <nav role="navigation" class="sidebarNav">
          <ul>
            <li class="sidebar-navItem">
              <a href="/student/activity/discover">
                <i class="menuIcon fa fa-ship"></i>
                <span>探索活動</span>
              </a>
            </li>
            <li class="sidebar-navItem active">
              <a href="#">
                <i class="menuIcon fa fa-futbol-o"></i>
                <span>我的活動</span>
              </a>
            </li>
            <li class="sidebar-navItem">
              <a href="/dashboard/student">
                <i class="menuIcon fa fa-area-chart" aria-hidden="true"></i>
                <span>儀表板</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="main">
        <div class="col-md-12">
          <section id="stuTabs">
            <div class="tabsMenu">
              <ul>
                <li>
                    <a href="#" data-category="assign" class="stuTabsMenu activityTab <%=(category=='assign')?'active':''%>">我被指派的活動</a>         
                </li>
                <li>
                    <a href="#" data-category="public" class="stuTabsMenu activityTab <%=(category=='public')?'active':''%>">我參加的公開活動</a>         
                </li>
                <li>
                    <a href="/student/activity/collect" data-category="collect" class="stuTabsMenu">我收藏的活動</a> 
                </li>
              </ul>
            </div>
            <p style="clear:left"></p>
            <div class="col-md-12">   
              <br />
              <div id="allTab" class="tabContent">
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="typeSelector">活動類型</label>
                            <select id="typeSelector" class="form-control activitySelector">
                                <option value="-1">所有活動</option>
                                <option value="1">一般活動</option>
                                <option value="2">適性活動</option>
                                <option value="3">前後測活動</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="subjectSelector">科目</label>
                            <select id="subjectSelector" class="form-control activitySelector">
                                <option value="-1">所有科目</option>
                                <optgroup label="國小">
                                    <option value="51">國小國語</option>
                                    <option value="53">國小英語</option>
                                    <option value="52">國小數學</option>
                                    <option value="54">國小社會</option>
                                    <option value="55">國小自然</option>
                                </optgroup>                       
                                <optgroup label="國中">
                                    <option value="42">國中國文</option>
                                    <option value="43">國中英文</option>
                                    <option value="44">國中數學</option>
                                    <option value="45">國中理化</option>
                                    <option value="46">國中地理</option>
                                    <option value="47">國中歷史</option>
                                    <option value="48">國中公民</option>
                                    <option value="49">國中生物</option>
                                    <option value="50">國中地科</option>
                                </optgroup>                    
                                <optgroup label="高中">
                                    <option value="4">高中國文</option>
                                    <option value="5">高中英文</option>
                                    <option value="6">高中數學</option>
                                    <option value="10">高中物理</option>
                                    <option value="11">高中化學</option>
                                    <option value="13">高中地科</option>
                                    <option value="12">高中生物</option>
                                    <option value="7">高中歷史</option>
                                    <option value="8">高中地理</option>
                                    <option value="9">高中公民</option>
                                </optgroup>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                      <label for="progressSelector">進度</label>
                      <select id="progressSelector" class="form-control activitySelector">
                        <option value="-1" selected>所有進度</option>
                        <option value="0">未完成</option>
                        <option value="1">已完成</option>
                      </select>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="teacherSelector">教師</label>
                            <select id="teacherSelector" class="form-control activitySelector">
                                <option value="">所有教師</option>
                                <%
                                  if(activities.recordsTotal!=0){
                                    var teachers = [];
                                    var activitiesData = activities.data;
                                    for(var i=0;i<activitiesData.length;i++){
                                        var activity = activitiesData[i];
                                        var teacher_cooc_id = activity.creator_cooc_id;
                                        if(teachers.indexOf(teacher_cooc_id)==-1){
                                          teachers.push(teacher_cooc_id);
                                %>
                                <option value="<%=teacher_cooc_id%>"><%=activity.creator_name%></option>
                                <%
                                        }
                                    }
                                  }
                                %>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="allActivityNameSearch">活動名稱搜尋</label>
                            <div class="input-group">
                                <input id="activityNameSearch" value="" type="text" class="form-control" placeholder="Search for...">
                                <span class="input-group-btn">
                                    <button id="activityNameSearchBtn" class="btn btn-default" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="loading" style="display:none;"><img src="/images/loading.gif"></div>
                <div class="activityBox">
                    <%
                        if(activities.recordsTotal!=0){
                            var activitiesData = activities.data;
                            for(var i=0;i<activitiesData.length;i++){
                                var activity = activitiesData[i];
                                var activity_type = activity.type;
                                var assign_path = '/student/activity/assign/'+activity.id;
                                if(activity_type==2){
                                  assign_path = '/student/activity/assign/adaptive/'+activity.id;
                                }else if(activity_type==3){
                                  assign_path = '/student/activity/assign/assessment/'+activity.id;
                                }
                    %>
                    <div class="card card-all-<%=activity.id%>" data-id="<%=activity.id%>">
                        <a href="<%=assign_path%>">
                          <div class="card-image">
                            <%
                              var activityImg = '/images/default-activity-image.png';
                              if(activity.img_data){
                                activityImg = activity.img_data;
                              }
                            %>
                            <img src="<%=activityImg%>">
                          </div>
                        </a>
                        <a href="<%=assign_path%>">
                            <div class="card-detail">
                                <stong class="detail-name"><%=activity.name%></stong>
                                <div class="detail-instructor"><%=activity.creator_name%></div>
                                <%
                                  var activityTypeLabel = '';
                                  switch(activity.type){
                                    case 2:
                                      activityTypeLabel = '<span class="label label-success">適性</span>';
                                      break;
                                    case 3:
                                      activityTypeLabel = '<span class="label label-primary">前後測</span>';
                                      break;
                                    default:
                                      activityTypeLabel = '<span class="label label-default">一般</span>';
                                  }
                                %>
                                <div class="detail-activity-type"><%-activityTypeLabel%></div>
                                <div class="detail-bottom">
                                    <%
                                        if(activity.type==1 && activity.completion_rate!=null){
                                    %>
                                    <span class="detail-progress">
                                        <span style="width:<%=activity.completion_rate%>%" class="detail-progress-bar" data-progress-percent="<%=activity.completion_rate%>"></span>
                                    </span>
                                    <span class="detail-progress-text"><%=activity.completion_rate%>%&nbsp;已完成</span>
                                    <%
                                        }else if(activity.type==1){
                                    %>
                                    <span class="detail-progress-text">開始學習</span>
                                    <%
                                        }
                                    %>
                                </div>
                            </div>
                        </a>
                        <div class="card-options">
                            <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                ...
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right">
                              <li>
                                <a href="#" 
                                  data-toggle="modal" 
                                  data-target="#activityDetailModal" 
                                  data-name="<%=activity.name%>" 
                                  data-description="<%=activity.description%>" 
                                  data-goal="<%=activity.goal%>"
                                  data-type="<%=activity.type%>" 
                                  data-school="<%=activity.school%>" 
                                  data-semester="<%=activity.semester%>" 
                                  data-subject="<%=activity.subject_name%>" 
                                  data-grade="<%=activity.grade%>" 
                                  data-instructor="<%=activity.creator_name%>"><i class="fa fa-book" aria-hidden="true"></i> 詳細資訊</a>
                              </li>
                              <li><a href="/dashboard/student"><i class="fa fa-bar-chart" aria-hidden="true"></i> 儀表板</a></li>
                              <li><a href="#" data-toggle="modal" data-target="#createCollectionModal" data-activityid="<%=activity.id%>"><i class="fa fa-plus" aria-hidden="true"></i> 建立新收藏</a></li>
                              <li role="separator" class="divider"></li>
                              <% 
                              if(collections.length!=0){
                                var activityCollectionStr = activity.collection;
                                var activityCollectionArr = [];
                                if(activityCollectionStr){
                                  activityCollectionArr = activityCollectionStr.split(',');
                                }
                                for(var j=0;j<collections.length;j++){ 
                                  var collection = collections[j];
                                  if(activityCollectionArr.indexOf((collection['id']).toString())!=-1){
                              %>
                                    <li><a href="#" onclick="changeCollection(this)" data-creatorid="<%=activity.creator_id%>" data-activityid="<%=activity.id%>" data-check="1" data-collectionid="<%=collection['id']%>" data-collectionname="<%=collection['name']%>"><%=collection['name']%> <i class="fa fa-check pull-right" aria-hidden="true"></i></a></li>
                              <%
                                  }else{
                              %>
                                    <li><a href="#" onclick="changeCollection(this)" data-creatorid="<%=activity.creator_id%>" data-activityid="<%=activity.id%>" data-check="0" data-collectionid="<%=collection['id']%>" data-collectionname="<%=collection['name']%>"><%=collection['name']%></a></li>
                              <%
                                  }
                                }
                              } 
                              %>
                            </ul>
                        </div>
                    </div>
                    <%
                            }                                                      
                        }else{
                    %>
                    <div class="alert alert-warning" role="alert">目前沒有任何活動喔!</div>
                    <%
                        }
                        var current_int = parseInt(current);
                        var total_page = Math.floor(activities.recordsTotal/10);
                        if(activities.recordsTotal%10!=0){
                          total_page++;
                        }
                    %>                    
                </div>
                <div class="pager <%=(activities.recordsTotal==0)?'hide':'show'%>">
                    <a id="prevBtn" data-page="<%=(current_int-1)%>" class="btn btn-lg btn-default bottom-pager pager-btn" <%=(current_int==1)?'disabled':''%>><</a>
                    <p id="pager" class="bottom-pager">&nbsp;<%=activities.recordsTotal%> 個活動之&nbsp<%=current_int%>-<%=total_page%>&nbsp;</p>
                    <a id="nextBtn" data-page="<%=(current_int+1)%>" class="btn btn-lg btn-default bottom-pager pager-btn" <%=(current_int==total_page)?'disabled':''%>>></a>
                </div>
              </div>
            <p style="clear:left"></p>
          </section>
        </div>
      </div>
    </div>

    <%- cooc_footer %>

    <!-- 酷課雲 Header 角色 -->
    <div class="roleInfo" style="display:none;">
      <a id="logonBlock" href="javascript:void(0)">
        <img id="logonpic" src="<%=user.photoUrl%>"/>
        <img id="logonBack" src="/images/logon_back.png">
      </a>
      <div id="logonName"><%=user.name%></div>
      <div id="logonRole"><%=user.role_name%></div>
      <ul class="navigation">
        <li>
          <ul style="display:none">
            <li><a href="http://sso.tp.edu.tw/accountservice/" target="_blank">個人資訊</a></li>
            <li class="logout"><a href="/users/logout">登出</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <!-- 建立新收藏 Modal -->
    <div id="createCollectionModal" data-backdrop="static" data-keyboard="false" class="modal bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">建立新的收藏</h4>
          </div>
          <div class="modal-body">
            <form id="collection_form" method="POST" action="/api/collection">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="col_name">收藏名稱</label>
                    <input maxlength="20" name="col_name" id="col_name" type="text" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="col_description">收藏描述</label>
                    <textarea name="col_description" id="col_description" class="form-control"></textarea>
                  </div>
                </div>
              </div>
              <input type="hidden" name="activity_id" id="create_activity_id" value="0">
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button id="createCollectionBtn" type="button" class="btn btn-primary">建立</button>
          </div>
        </div>
      </div>
    </div>

    <!-- 編輯收藏 Modal -->
    <div id="updateCollectionModal" data-backdrop="static" data-keyboard="false" class="modal bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">編輯收藏</h4>
          </div>
          <div class="modal-body">
            <form id="edit_collection_form" class="form-horizontal" action="/api/collection/activity/metadata" method="POST">
              <div class="form-group">
                <label for="edit_col_name" class="col-sm-2 control-label">名稱</label>
                <div class="col-sm-10">
                  <input maxlength="20" type="text" class="form-control" id="edit_col_name" name="edit_col_name" placeholder="收藏名稱">
                </div>
              </div>
              <div class="form-group">
                <label for="edit_col_description" class="col-sm-2 control-label">描述</label>
                <div class="col-sm-10">
                  <textarea class="form-control" id="edit_col_description" name="edit_col_description" placeholder="收藏描述"></textarea>
                </div>
              </div>
              <input type="hidden" id="edit_col_id" name="edit_col_id" value="">
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button id="updateCollectionBtn" type="button" class="btn btn-primary">更新</button>
          </div>
        </div>
      </div>
    </div>

    <!-- 刪除收藏 Modal -->
    <div id="removeCollectionModal" data-backdrop="static" data-keyboard="false" class="modal bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">移除收藏</h4>
          </div>
          <div class="modal-body">
            <h4>確定刪除 <span id="r_col_name"></span> ?</h4>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button id="removeCollectionBtn" data-id="0" type="button" class="btn btn-danger">刪除</button>
          </div>
        </div>
      </div>
    </div>

    <!-- 詳細資訊 Modal -->
    <div id="activityDetailModal" data-backdrop="static" data-keyboard="false" class="modal bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="detail_name"></h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12">
                <table class="table table-striped">
                  <tbody>
                    <tr>
                      <td>類型</td>
                      <td id="detail_type"></td>
                    </tr>
                    <tr>
                      <td>學校</td>
                      <td id="detail_school"></td>
                    </tr>
                    <tr>
                      <td>學年學期</td>
                      <td id="detail_semester"></td>
                    </tr>
                    <tr>
                      <td>科目</td>
                      <td id="detail_subject"></td>
                    </tr>
                    <tr>
                      <td>作者</td>
                      <td id="detail_instructor"></td>
                    </tr>
                    <tr>
                      <td>說明</td>
                      <td id="detail_description"></td>
                    </tr>
                    <tr>
                      <td>目標</td>
                      <td id="detail_goal"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
          </div>
        </div>
      </div>
    </div>

    <script src="/javascripts/jquery-3.2.1.min.js"></script>
    <script src="/javascripts/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script src="/javascripts/bootstrap-maxlength.js"></script>
    <script src="/javascripts/angular.min.js"></script>
    <script>
      var app = angular.module('myApp', []);
      $(document).ready(function(){
        $("input[maxlength]").maxlength();

        //酷課雲 header 處理
        $('.rolemenu').html($('.roleInfo').html());
        $("#logonBlock").on("click",function(){
        	if ($("ul.navigation li > ul").is(":visible")) {
        		$("ul.navigation li > ul").css("display","none");
        	} else {
        		$("ul.navigation li > ul").css("display","block");
        	}
        });

        $('.pager-btn').on('click', function(){
          $('#loading').show();
          var page = $(this).attr('data-page');
          var activityNameSearch = $('#activityNameSearch').val();
          var aEle = $('.stuTabsMenu.active');
          var activityCategory = aEle.attr('data-category');
          getActivities(
            page,
            activityCategory,
            activityNameSearch,
            $('#teacherSelector').val(),
            $('#subjectSelector').val(),
            $('#typeSelector').val(),
            $('#progressSelector').val()
          );
        });

        $('a.activityTab').on('click', function(){
          $('#loading').show();
          $('.stuTabsMenu').removeClass('active');
          $('.activityBox').empty();
          var aEle = $(this);
          aEle.addClass('active');
          var activityCategory = aEle.attr('data-category');
          var activityNameSearch = $('#activityNameSearch').val();
          getActivities(
            1,
            activityCategory,
            activityNameSearch,
            $('#teacherSelector').val(),
            $('#subjectSelector').val(),
            $('#typeSelector').val(),
            $('#progressSelector').val()
          );
        });

        $('#activityNameSearchBtn').on('click', function(){
          $('#loading').show();
          var activityNameSearch = $('#activityNameSearch').val();
          var aEle = $('.activityTab.active');
          var activityCategory = aEle.attr('data-category');
          getActivities(
            1,
            activityCategory,
            activityNameSearch,
            $('#teacherSelector').val(),
            $('#subjectSelector').val(),
            $('#typeSelector').val(),
            $('#progressSelector').val()
          );
        });

        $('.activitySelector').on('change', function(){
          $('#loading').show();
          var aEle = $('.activityTab.active');
          var activityCategory = aEle.attr('data-category');
          getActivities(
            1,
            activityCategory,
            $('#activityNameSearch').val(),
            $('#teacherSelector').val(),
            $('#subjectSelector').val(),
            $('#typeSelector').val(),
            $('#progressSelector').val()
          );
        });

        //活動詳細資訊
        $('#activityDetailModal').on('show.bs.modal', function(event){
          var button = $(event.relatedTarget);
          var modal = $(this);
          var activityType = '一般活動';
          switch(button.attr('data-type')){
            case '2':
              activityType = '適性活動';
              break;
            case '3':
              activityType = '前後測活動';
              break;
            default:
          }
          modal.find('#detail_name').html(button.attr('data-name'));
          modal.find('#detail_type').html(activityType);
          modal.find('#detail_school').html(button.attr('data-school'));
          modal.find('#detail_semester').html(button.attr('data-semester'));
          modal.find('#detail_subject').html(button.attr('data-subject'));
          modal.find('#detail_instructor').html(button.attr('data-instructor'));
          modal.find('#detail_description').html(button.attr('data-description'));
          modal.find('#detail_goal').html(button.attr('data-goal'));
        });

        //新增收藏
        $('#createCollectionModal').on('show.bs.modal', function(event){
          var button = $(event.relatedTarget);
          var modal = $(this);
          modal.find('#create_activity_id').val(button.attr('data-activityid'));
        });
        $('#createCollectionBtn').on('click', function(){
          var post_url = $('#collection_form').attr("action"); 
          var request_method = $('#collection_form').attr("method"); 
          var form_data = $('#collection_form').serialize(); 
          $.ajax({
            url : post_url,
            type: request_method,
            data : form_data
          }).done(function(response){ 
            if(response.success){
              var appendCol = response.data;
              $('div.all-activity>div.card').each(function(){
                var ele = $(this);
                var activity_id = ele.attr('data-id');
                if(activity_id==appendCol.activity_id){
                  ele.find('.card-options>ul.dropdown-menu').append('<li><a href="#" onclick="changeCollection(this) data-creatorid="'+appendCol.creator_id+'" data-collectionid="'+appendCol.id+'" data-activityid="'+appendCol.activity_id+'" data-check="1" data-collectionname="'+appendCol.name+'">'+appendCol.name+' <i class="fa fa-check pull-right" aria-hidden="true"></i></a></li>');
                }else{
                  ele.find('.card-options>ul.dropdown-menu').append('<li><a href="#" onclick="changeCollection(this) data-creatorid="'+appendCol.creator_id+'" data-collectionid="'+appendCol.id+'" data-activityid="'+appendCol.activity_id+'" data-check="0" data-collectionname="'+appendCol.name+'">'+appendCol.name+'</a></li>');
                }
              });
              $('#createCollectionModal').modal('hide');
            }
          });
        });

        //更新收藏
        $('#updateCollectionModal').on('show.bs.modal', function(event){
          var button = $(event.relatedTarget);
          var modal = $(this);
          modal.find('#edit_col_name').val(button.attr('data-name'));
          modal.find('#edit_col_description').val(button.attr('data-description'));
          modal.find('#edit_col_id').val(button.attr('data-id'));
        });
        $('#updateCollectionBtn').on('click', function(){
          var post_url = $('#edit_collection_form').attr("action"); 
          var request_method = $('#edit_collection_form').attr("method"); 
          var form_data = $('#edit_collection_form').serialize(); 
          $.ajax({
            url : post_url,
            type: request_method,
            data : form_data
          }).done(function(response){ 
            if(response.success){
              var editEle = $('div#collect_collection_box_'+response.id);
              editEle.find('.col_name').html(response.name);
              editEle.find('.col_description').html(response.description);
              editEle.find('.col-update').attr('data-name',response.name);
              editEle.find('.col-update').attr('data-description',response.description);
              $('#updateCollectionModal').modal('hide');
            }else{
              alert(response.msg);
            }
          });
        });

        //移除收藏
        $('#removeCollectionModal').on('show.bs.modal', function(event){
          var button = $(event.relatedTarget);
          var modal = $(this);
          modal.find('#removeCollectionBtn').attr('data-id', button.attr('data-id'));
          modal.find('#r_col_name').html(button.attr('data-name'));
        });
        $('#removeCollectionBtn').on('click', function(){
          var col_id = $(this).attr('data-id');
          $.ajax({
            url : '/api/collection/remove',
            type: 'POST',
            data : 'col_id='+col_id
          }).done(function(response){ 
            if(response.success){
              $('div#collect_collection_box_'+response.id).remove();
              $('#removeCollectionModal').modal('hide');
            }
          });
        });

      });
      function getActivities(
        page,category,name,teacher_id,subject_id,type,progress
      ){
        $('.activityBox').empty();
        $('.pager').removeClass('hide');
        $('.pager').removeClass('show');
        $.ajax({
          url: '/api/activity/student',
          data:'p='+page+'&category='+category+'&q='+name+'&subject_id='+subject_id+'&type='+type+'&teacher_id='+teacher_id+'&progress='+progress,
          type:"GET",
          success: function(results){
            var result = results.data;
            if(result.recordsTotal!=0){
              var getActivities = result.data;
              for(var i=0;i<getActivities.length;i++){
                var getActivity = getActivities[i];
                var appendActivity = 
                  '<div class="card card-all-'+getActivity.id+'" data-id="'+getActivity.id+'">'+
                    '<a href="/student/activity/assign/'+getActivity.id+'">'+
                      '<div class="card-image">';
                  var activityImg = '/images/default-activity-image.png';
                  if(getActivity.img_data){
                    activityImg = getActivity.img_data;
                  }
                  var activityTypeLabel = '';
                  switch(getActivity.type){
                    case 2:
                      activityTypeLabel = '<span class="label label-success">適性</span>';
                      break;
                    case 3:
                      activityTypeLabel = '<span class="label label-primary">前後測</span>';
                      break;
                    default:
                      activityTypeLabel = '<span class="label label-default">一般</span>';
                  }
                  appendActivity +=
                        '<img src="'+activityImg+'">'+
                      '</div>'+
                    '</a>'+
                    '<a href="/student/activity/assign/'+getActivity.id+'">'+
                      '<div class="card-detail">'+
                        '<stong class="detail-name">'+getActivity.name+'</stong>'+
                        '<div class="detail-instructor">'+getActivity.creator_name+'</div>'+
                        '<div class="detail-activity-type">'+activityTypeLabel+'</div>'+
                        '<div class="detail-bottom">';
                    if(getActivity.type==1 && getActivity.completion_rate!=null){
                        appendActivity += (
                          '<span class="detail-progress">'+
                            '<span style="width:'+getActivity.completion_rate+'%" class="detail-progress-bar" data-progress-percent="'+getActivity.completion_rate+'"></span>'+
                          '</span>'+
                          '<span class="detail-progress-text">'+getActivity.completion_rate+'%已完成</span>'
                        );
                    }else if(getActivity.type==1){
                        appendActivity += (
                          '<span class="detail-progress-text">開始學習</span>'
                        );
                    }
                appendActivity += (
                        '</div>'+
                      '</div>'+
                    '</a>'+
                    '<div class="card-options">'+
                      '<button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">'+
                      '...'+
                      '</button>'+
                      '<ul class="dropdown-menu dropdown-menu-right">'+
                        '<li>'+
                          '<a href="#"'+ 
                              'data-toggle="modal"'+ 
                              'data-target="#activityDetailModal"'+  
                              'data-name="'+getActivity.name+'"'+  
                              'data-description="'+getActivity.description+'"'+  
                              'data-goal="'+getActivity.goal+'"'+ 
                              'data-type="'+getActivity.type+'"'+  
                              'data-school="'+getActivity.school+'"'+  
                              'data-semester="'+getActivity.semester+'"'+  
                              'data-subject="'+getActivity.subject_name+'"'+  
                              'data-grade="'+getActivity.grade+'"'+  
                              'data-instructor="'+getActivity.creator_name+'">'+
                              '<i class="fa fa-book" aria-hidden="true"></i> 詳細資訊'+
                            '</a>'+ 
                        '</li>'+ 
                        '<li><a href="/dashboard/student"><i class="fa fa-bar-chart" aria-hidden="true"></i> 儀表板</a></li>'+
                        '<li><a href="#" data-toggle="modal" data-target="#createCollectionModal" data-activityid="'+getActivity.id+'"><i class="fa fa-plus" aria-hidden="true"></i> 建立新收藏</a></li>'+
                        '<li role="separator" class="divider"></li>'
                );
                if(results.collections.length!=0){
                  var activityCollectionStr = getActivity.collection;
                  var activityCollectionArr = [];
                  if(activityCollectionStr){
                    activityCollectionArr = activityCollectionStr.split(',');
                  }
                  for(var k=0;k<results.collections.length;k++){
                    var collection = results.collections[k];
                    if(activityCollectionArr.indexOf(collection.id.toString())!=-1){
                      appendActivity += ('<li><a href="#" onclick="changeCollection(this)" data-creatorid="'+getActivity.creator_id+'" data-activityid="'+getActivity.id+'" data-check="1" data-collectionid="'+collection.id+'" data-collectionname="'+collection.name+'">'+collection.name+' <i class="fa fa-check pull-right" aria-hidden="true"></i></a></li>');
                    }else{
                      appendActivity += ('<li><a href="#" onclick="changeCollection(this)" data-creatorid="'+getActivity.creator_id+'" data-activityid="'+getActivity.id+'" data-check="0" data-collectionid="'+collection.id+'" data-collectionname="'+collection.name+'">'+collection.name+'</a></li>');
                    }
                  }
                }
                appendActivity += (
                      '</ul>'+
                    '</div>'
                );
                $('.activityBox').append(appendActivity);
              }
              var current_int = results.current;
              var total_page = Math.floor(result.recordsTotal/10);
              if(result.recordsTotal%10!=0){
                total_page++;
              }
              $('#prevBtn').attr('data-page', current_int-1);
              $('#prevBtn').removeClass('disabled');
              if(current_int==1){
                $('#prevBtn').addClass('disabled');
              }
              $('#nextBtn').attr('data-page', current_int+1);
              $('#nextBtn').removeClass('disabled');
                if(current_int==total_page){
                $('#nextBtn').addClass('disabled');
              }
              $('#pager').html('&nbsp;'+result.recordsTotal+' 個活動之&nbsp'+current_int+'-'+total_page+'&nbsp;');
              $('.pager').addClass('show');
            }else{
              $('.activityBox').append('<div class="alert alert-warning" role="alert">目前沒有任何活動喔! <a href="/student/activity/discover">探索課程</a></div>');
              $('.pager').addClass('hide');
            }
            $('#loading').hide();
        },
        error:function(xhr, ajaxOptions, thrownError){
          console.log(xhr.status);
          console.log(thrownError);
          $('#loading').hide();
        }
      });
    }
    function changeCollection(ele){
        var targetEle = $(ele);
        targetEle.empty();
        var activityId = targetEle.attr('data-activityid');
        var creatorId = targetEle.attr('data-creatorid');
        var collectionName = targetEle.attr('data-collectionname');
        var collectionId = targetEle.attr('data-collectionid');
        var is_collect = targetEle.attr('data-check');
        $.ajax({
          url: '/api/collection/activity',
          data:'collection_id='+collectionId+'&activity_id='+activityId+'&is_collect='+is_collect+'&creator_id='+creatorId,
          type:"POST",
          success: function(result){
            if(is_collect==='0'){ //remove
              targetEle.attr('data-check','1');
              targetEle.html(collectionName+' <i class="fa fa-check pull-right" aria-hidden="true"></i>');
            }else{
              targetEle.attr('data-check','0');
              targetEle.html(collectionName);
            }
          },
          error:function(xhr, ajaxOptions, thrownError){
            console.log(xhr.status);
            console.log(thrownError);
          }
        });
      }
      function removeActivity(ele){
        var targetEle = $(ele);
        var collection_id = targetEle.attr('data-cid');
        var activity_id = targetEle.attr('data-aid');
        $.ajax({
            url : '/api/collection/activity',
            type: 'POST',
            data : 'collection_id='+collection_id+'&activity_id='+activity_id+'&is_collect=1'
          }).done(function(response){ 
            var removeEleParent = $('div.collect-activity div#collect_collection_box_'+collection_id+'>ul');
            if(removeEleParent.children().length==1){
              removeEleParent.find('div.card-collect-'+activity_id).remove();
              removeEleParent.append('<h5>此類別目前沒有收藏任何活動</h5>');
            }else{
              removeEleParent.find('div.card-collect-'+activity_id).remove();
            }
          });
      }
    </script>
  </body>
</html>
