<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/javascripts/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/javascripts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/student.css">
    <link rel="stylesheet" href="/stylesheets/intern/dashboard_teacher.css">
    <link rel="stylesheet" href="/stylesheets/logon.css">
  </head>
  <body>

    <%- cooc_header %>

    <div class="wrapper" ng-app="myApp">
      <div class="sidebar" ng-class="boolie ? 'closed' : ''">
        <div class="sidebarToggle" ng-click="boolie = !boolie">
          <i class="fa fa-ellipsis-v sidebar-toggleHam menuIcon" aria-hidden="true" ng-class="boolie ? 'rotate' : ''"></i>
          <span class="sidebar-toggleText">縮小</span>
        </div>
        <nav role="navigation" class="sidebarNav">
          <ul>
            <li class="sidebar-navItem">
              <a href="/student/activity/discover">
                <i class="menuIcon fa fa-ship"></i>
                <span>探索活動</span>
              </a>
            </li>
            <li class="sidebar-navItem">
              <a href="#">
                <i class="menuIcon fa fa-futbol-o"></i>
                <span>我的活動</span>
              </a>
            </li>
            <li class="sidebar-navItem">
              <a href="/dashboard/student">
                <i class="menuIcon fa fa-area-chart" aria-hidden="true"></i>
                <span>儀表板</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="main">
        <div class="col-md-12">
          <section id="stuTabs">
            <div class="col-md-12 tabsMenu">
              <ul>
                <li>
                    <% if(activity.type && activity.type==='all'){ %>
                      <a href="/student/activity?p=1" data-type="all" class="stuTabsMenu active">我的活動</a>
                    <% }else{ %>
                      <a href="/student/activity?p=1" data-type="all" class="stuTabsMenu">我的活動</a>
                    <% } %>         
                </li>
                <li>
                    <% if(activity.type && activity.type==='public'){ %>
                      <a href="/student/activity/public?p=1" data-type="public" class="stuTabsMenu active">公開活動</a> 
                    <% }else{ %>
                      <a href="/student/activity/public?p=1" data-type="public" class="stuTabsMenu">公開活動</a>
                    <% } %>
                </li>
                <li>
                    <% if(activity.type && activity.type==='incomplete'){ %>
                      <a href="/student/activity/incomplete?p=1" data-type="incomplete" class="stuTabsMenu active">待完成</a> 
                    <% }else{ %>
                      <a href="/student/activity/incomplete?p=1" data-type="incomplete" class="stuTabsMenu">待完成</a>
                    <% } %>
                </li>         
                <li>
                    <% if(activity.type && activity.type==='complete'){ %>
                      <a href="/student/activity/complete?p=1" data-type="complete" class="stuTabsMenu active">已完成</a> 
                    <% }else{ %>
                      <a href="/student/activity/complete?p=1" data-type="complete" class="stuTabsMenu">已完成</a>
                    <% } %>
                </li>
                <li>
                    <% if(activity.type && activity.type==='collect'){ %>
                      <a href="/student/activity/collect" data-type="collect" class="stuTabsMenu active">收藏</a> 
                    <% }else{ %>
                      <a href="/student/activity/collect" data-type="collect" class="stuTabsMenu">收藏</a>
                    <% } %>
                </li>
              </ul>
            </div>
            <p style="clear:left"></p>
            <div class="col-md-12">   
              <br />
              <div id="allTab" class="tabContent col-md-12">
                <%
                  if(activity.type && activity.type==='all'){
                %>
                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="allTypeSelector">活動類型</label>
                      <select id="allTypeSelector" class="form-control">
                        <option value="0" <%=(activity_type==0)?'selected':''%>>所有活動</option>
                        <option value="1" <%=(activity_type==1)?'selected':''%>>一般活動</option>
                        <option value="2" <%=(activity_type==2)?'selected':''%>>適性活動</option>
                        <option value="3" <%=(activity_type==3)?'selected':''%>>前後測活動</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="allSubjectSelector">科目</label>
                      <select id="allSubjectSelector" class="form-control">
                        <option value="0" <%=(subject==0)?'selected':''%>>所有科目</option>
                        <optgroup label="國小">
                          <option value="51" <%=(subject==51)?'selected':''%>>國小國語</option>
                          <option value="53" <%=(subject==53)?'selected':''%>>國小英語</option>
                          <option value="52" <%=(subject==52)?'selected':''%>>國小數學</option>
                          <option value="54" <%=(subject==54)?'selected':''%>>國小社會</option>
                          <option value="55" <%=(subject==55)?'selected':''%>>國小自然</option>
                        </optgroup>                       
                        <optgroup label="國中">
                          <option value="42" <%=(subject==42)?'selected':''%>>國中國文</option>
                          <option value="43" <%=(subject==43)?'selected':''%>>國中英文</option>
                          <option value="44" <%=(subject==44)?'selected':''%>>國中數學</option>
                          <option value="45" <%=(subject==45)?'selected':''%>>國中理化</option>
                          <option value="46" <%=(subject==46)?'selected':''%>>國中地理</option>
                          <option value="47" <%=(subject==47)?'selected':''%>>國中歷史</option>
                          <option value="48" <%=(subject==48)?'selected':''%>>國中公民</option>
                          <option value="49" <%=(subject==49)?'selected':''%>>國中生物</option>
                          <option value="50" <%=(subject==50)?'selected':''%>>國中地科</option>
                        </optgroup>                    
                        <optgroup label="高中">
                          <option value="4" <%=(subject==4)?'selected':''%>>高中國文</option>
                          <option value="5" <%=(subject==4)?'selected':''%>>高中英文</option>
                          <option value="6" <%=(subject==6)?'selected':''%>>高中數學</option>
                          <option value="10" <%=(subject==10)?'selected':''%>>高中物理</option>
                          <option value="11" <%=(subject==11)?'selected':''%>>高中化學</option>
                          <option value="13" <%=(subject==13)?'selected':''%>>高中地科</option>
                          <option value="12" <%=(subject==12)?'selected':''%>>高中生物</option>
                          <option value="7" <%=(subject==7)?'selected':''%>>高中歷史</option>
                          <option value="8" <%=(subject==8)?'selected':''%>>高中地理</option>
                          <option value="9" <%=(subject==9)?'selected':''%>>高中公民</option>
                        </optgroup>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="allTeacherSelector">教師</label>
                      <%
                        if(activity.total!=0){
                      %>
                      <select id="allTeacherSelector" class="form-control">
                        <option value="0" <%=(instructor==0)?'selected':''%>>所有教師</option>
                      <%
                          var activities = activity.rows;
                          var teachers = [];
                          for(var t=0;t<activities.length;t++){
                            var teacher_cooc_id = activities[t]['creator_cooc_id'];
                            if(teachers.indexOf(teacher_cooc_id)==-1){
                              teachers.push(teacher_cooc_id);
                      %>
                              <option value="<%=teacher_cooc_id%>" <%=(instructor==teacher_cooc_id)?'selected':''%>><%=activities[t]['creator_name']%></option>
                      <%
                            }
                          }
                        }else{
                      %>
                      <select id="allTeacherSelector" class="form-control">
                        <option value="0" <%=(instructor==0)?'selected':''%>>所有教師</option>
                      <%
                        }
                      %>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="allActivityNameSearch">活動名稱搜尋</label>
                      <div class="input-group">
                        <input id="allActivityNameSearch" value="<%=q%>" type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                          <button id="allActivityNameSearchBtn" class="btn btn-default" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="activityBox all-activity show">
                <%
                  }else{
                %>
                <div class="activityBox all-activity hide">
                <%
                  }
    
                  if(activity.type && activity.type==='all'){
                    var activities = activity.rows;
                    for(var i=0;i<activities.length;i++){
                %>
                      <div class="card card-all-<%=activities[i]['activity_id']%>" data-id="<%=activities[i]['activity_id']%>">
                        <a href="/student/activity/assign/<%=activities[i]['activity_id']%>">
                          <div class="card-image">
                            <img src="<%=activities[i]['img_data']%>">
                          </div>
                        </a>
                        <a href="/student/activity/assign/<%=activities[i]['activity_id']%>">
                          <div class="card-detail">
                            <stong class="detail-name"><%=activities[i]['activity_name']%></stong>
                            <div class="detail-instructor"><%=activities[i]['creator_name']%></div>
                            <div class="detail-bottom">
                              <span class="detail-progress">
                                <span style="width:<%=activities[i]['completion_rate']%>%" class="detail-progress-bar" data-progress-percent="<%=activities[i]['completion_rate']%>"></span>
                              </span>
                              <%
                                if(activities[i]['completion_rate']==0){
                              %>
                                  <span class="detail-progress-text">開始學習</span>
                              <%
                                }else{
                              %>
                                  <span class="detail-progress-text"><%=activities[i]['completion_rate']%>%已完成</span>
                              <%
                                }
                              %>                          
                            </div>
                          </div>
                        </a>
                        <div class="card-options">
                          <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            ...
                          </button>
                          <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                              <a href="#" 
                                 data-toggle="modal" 
                                 data-target="#activityDetailModal" 
                                 data-name="<%=activities[i]['activity_name']%>" 
                                 data-description="<%=activities[i]['activity_description']%>" 
                                 data-goal="<%=activities[i]['activity_goal']%>"
                                 data-type="<%=activities[i]['activity_type']%>" 
                                 data-school="<%=activities[i]['activity_school']%>" 
                                 data-semester="<%=activities[i]['activity_semester']%>" 
                                 data-subject="<%=activities[i]['activity_subject_name']%>" 
                                 data-grade="<%=activities[i]['activity_grade']%>" 
                                 data-instructor="<%=activities[i]['creator_name']%>"><i class="fa fa-book" aria-hidden="true"></i> 詳細資訊</a>
                            </li>
                            <li><a href="/dashboard/student"><i class="fa fa-bar-chart" aria-hidden="true"></i> 儀表板</a></li>
                            <li><a href="#" data-toggle="modal" data-target="#createCollectionModal" data-activityid="<%=activities[i]['activity_id']%>"><i class="fa fa-plus" aria-hidden="true"></i> 建立新收藏</a></li>
                            <li role="separator" class="divider"></li>
                            <% 
                              if(collections.length!=0){
                                var activityCollectionStr = activities[i]['collection'];
                                var activityCollectionArr = [];
                                if(activityCollectionStr){
                                  activityCollectionArr = activityCollectionStr.split(',');
                                }
                                for(var j=0;j<collections.length;j++){ 
                                  var collection = collections[j];
                                  if(activityCollectionArr.indexOf((collection['id']).toString())!=-1){
                            %>
                                    <li><a href="#" onclick="changeCollection(this)" data-creatorid="<%=activities[i]['creator_id']%>" data-activityid="<%=activities[i]['activity_id']%>" data-check="1" data-collectionid="<%=collection['id']%>" data-collectionname="<%=collection['name']%>"><%=collection['name']%> <i class="fa fa-check pull-right" aria-hidden="true"></i></a></li>
                            <%
                                  }else{
                            %>
                                    <li><a href="#" onclick="changeCollection(this)" data-creatorid="<%=activities[i]['creator_id']%>" data-activityid="<%=activities[i]['activity_id']%>" data-check="0" data-collectionid="<%=collection['id']%>" data-collectionname="<%=collection['name']%>"><%=collection['name']%></a></li>
                            <%
                                  }
                                }
                              } 
                            %>
                          </ul>
                        </div>
                      </div><!-- card -->
                <%
                    }
                    if(activity.total==0){
                %>
                      <div class="alert alert-warning" role="alert">目前沒有任何活動喔!</div>
                <%
                    }
                    if(activity.total!=0){
                      var current_int = parseInt(current);
                      var total_page = Math.floor(activity.total/10);
                      if(activity.total%10!=0){
                        total_page++;
                      }
                %>
                      <div class="pager">
                        <a class="btn btn-lg btn-default bottom-pager" href="/student/activity?p=<%=current_int%>" <%=(current_int==1)?'disabled':''%>><</a>
                        <p class="bottom-pager"><%=activity.total%> 活動 之 <%=start%> - <%=end%></p>
                        <a class="btn btn-lg btn-default bottom-pager" /student/activity?p=<%=(current_int+1)%> <%=(current_int==total_page)?'disabled':''%>>></a>
                      </div>
                <%
                    }
                  }
                %>
                </div><!-- .activityBox all-activity -->
              </div><!-- #allTab -->
              <!-- 公開活動 -->
              <div id="publicTab" class="tabContent col-md-12">
                <%
                  if(activity.type && activity.type==='public'){
                %>
                <div class="activityBox public-activity show">
                <%
                  }else{
                %>
                <div class="activityBox public-activity hide">
                <%
                  }
                %>
                  <ul>
                  <%
                    if(activity.type && activity.type==='public'){
                      var activities = activity.rows;
                      for(var i=0;i<activities.length;i++){
                  %>
                      <div class="card">
                        <a>
                          <div class="card-image">
                            <img src="<%=activities[i]['img_data']%>">
                          </div>
                        </a>
                        <a>
                          <div class="card-detail">
                            <stong class="detail-name"><%=activities[i]['activity_name']%></stong>
                            <div class="detail-instructor"><%=activities[i]['creator_name']%></div>
                            <div class="detail-bottom">
                              <span class="detail-progress">
                                <span style="width:<%=activities[i]['completion_rate']%>%" class="detail-progress-bar" data-progress-percent="<%=activities[i]['completion_rate']%>"></span>
                              </span>
                              <%
                                if(activities[i]['completion_rate']==0){
                              %>
                                  <span class="detail-progress-text">開始學習</span>
                              <%
                                }else{
                              %>
                                  <span class="detail-progress-text"><%=activities[i]['completion_rate']%>%已完成</span>
                              <%
                                }
                              %>                          
                            </div>
                          </div>
                        </a>
                      </div>
                  <%
                      }//end for
                      if(activity.total==0){
                  %>
                        <div class="alert alert-warning" role="alert">目前沒有任何活動喔!</div>
                  <%
                      }
                      if(activity.total!=0){
                        var current_int = parseInt(current);
                        var total_page = Math.floor(activity.total/10);
                        if(activity.total%10!=0){
                          total_page++;
                        }
                  %>
                      <div class="pager">
                        <a class="btn btn-lg btn-default bottom-pager" href="/student/activity?p=<%=current_int%>" <%=(current_int==1)?'disabled':''%>><</a>
                        <p class="bottom-pager"><%=activity.total%> 活動 之 <%=start%> - <%=end%></p>
                        <a class="btn btn-lg btn-default bottom-pager" /student/activity?p=<%=(current_int+1)%> <%=(current_int==total_page)?'disabled':''%>>></a>
                      </div>
                  <%
                      }
                    }
                  %>
                  </ul>
                </div>        
              </div>
              <div id="incompleteTab" class="tabContent col-md-12">
                <%
                  if(activity.type && activity.type==='incomplete'){
                %>
                <div class="activityBox incomplete-activity show">
                <%
                  }else{
                %>
                <div class="activityBox incomplete-activity hide">
                <%
                  }
                %>
                  <ul>
                  <%
                    if(activity.type && activity.type==='incomplete'){
                      var activities = activity.rows;
                      for(var i=0;i<activities.length;i++){
                  %>
                      <div class="card">
                        <a>
                          <div class="card-image">
                            <img src="<%=activities[i]['img_data']%>">
                          </div>
                        </a>
                        <a>
                          <div class="card-detail">
                            <stong class="detail-name"><%=activities[i]['activity_name']%></stong>
                            <div class="detail-instructor"><%=activities[i]['creator_name']%></div>
                            <div class="detail-bottom">
                              <span class="detail-progress">
                                <span style="width:<%=activities[i]['completion_rate']%>%" class="detail-progress-bar" data-progress-percent="<%=activities[i]['completion_rate']%>"></span>
                              </span>
                              <%
                                if(activities[i]['completion_rate']==0){
                              %>
                                  <span class="detail-progress-text">開始學習</span>
                              <%
                                }else{
                              %>
                                  <span class="detail-progress-text"><%=activities[i]['completion_rate']%>%已完成</span>
                              <%
                                }
                              %>                          
                            </div>
                          </div>
                        </a>
                        <div class="card-options">
                          <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            ...
                          </button>
                          <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="#" data-toggle="modal" data-target="#activityDetailModal" data-name="<%=activities[i]['activity_name']%>" data-description="<%=activities[i]['activity_description']%>" data-type="<%=activities[i]['activity_type']%>" data-school="<%=activities[i]['activity_school']%>" data-semester="<%=activities[i]['activity_semester']%>" data-subject="<%=activities[i]['activity_subject_name']%>" data-grade="<%=activities[i]['activity_grade']%>" data-instructor="<%=activities[i]['creator_name']%>"><i class="fa fa-book" aria-hidden="true"></i> 詳細資訊</a></li>
                            <li><a href="/dashboard/student"><i class="fa fa-bar-chart" aria-hidden="true"></i> 儀表板</a></li>
                          </ul>
                        </div>
                      </div>
                  <%
                      }//end for
                      if(activity.total==0){
                  %>
                        <div class="alert alert-warning" role="alert">目前沒有任何活動喔!</div>
                  <%
                      }
                      if(activity.total!=0){
                        var current_int = parseInt(current);
                        var total_page = Math.floor(activity.total/10);
                        if(activity.total%10!=0){
                          total_page++;
                        }
                  %>
                      <div class="pager">
                        <a class="btn btn-lg btn-default bottom-pager" href="/student/activity?p=<%=current_int%>" <%=(current_int==1)?'disabled':''%>><</a>
                        <p class="bottom-pager"><%=activity.total%> 活動 之 <%=start%> - <%=end%></p>
                        <a class="btn btn-lg btn-default bottom-pager" /student/activity?p=<%=(current_int+1)%> <%=(current_int==total_page)?'disabled':''%>>></a>
                      </div>
                  <%
                      }
                    }
                  %>
                  </ul>
                </div>        
              </div>
              <div id="completeTab" class="tabContent col-md-12">
                <%
                  if(activity.type && activity.type==='complete'){
                %>
                <div class="activityBox complete-activity show">
                <%
                  }else{
                %>
                <div class="activityBox complete-activity hide">
                <%
                  }
                %>
                  <ul>
                  <%
                    if(activity.type && activity.type==='complete'){
                      var activities = activity.rows;
                      for(var i=0;i<activities.length;i++){
                  %>
                      <div class="card">
                        <a>
                          <div class="card-image">
                            <img src="<%=activities[i]['img_data']%>">
                          </div>
                        </a>
                        <a>
                          <div class="card-detail">
                            <stong class="detail-name"><%=activities[i]['activity_name']%></stong>
                            <div class="detail-instructor"><%=activities[i]['creator_name']%></div>
                            <div class="detail-bottom">
                              <span class="detail-progress">
                                <span style="width:<%=activities[i]['completion_rate']%>%" class="detail-progress-bar" data-progress-percent="<%=activities[i]['completion_rate']%>"></span>
                              </span>
                              <%
                                if(activities[i]['completion_rate']==0){
                              %>
                                  <span class="detail-progress-text">開始學習</span>
                              <%
                                }else{
                              %>
                                  <span class="detail-progress-text"><%=activities[i]['completion_rate']%>%已完成</span>
                              <%
                                }
                              %>                          
                            </div>
                          </div>
                        </a>
                        <div class="card-options">
                          <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            ...
                          </button>
                          <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="#" data-toggle="modal" data-target="#activityDetailModal" data-name="<%=activities[i]['activity_name']%>" data-description="<%=activities[i]['activity_description']%>" data-type="<%=activities[i]['activity_type']%>" data-school="<%=activities[i]['activity_school']%>" data-semester="<%=activities[i]['activity_semester']%>" data-subject="<%=activities[i]['activity_subject_name']%>" data-grade="<%=activities[i]['activity_grade']%>" data-instructor="<%=activities[i]['creator_name']%>"><i class="fa fa-book" aria-hidden="true"></i> 詳細資訊</a></li>
                          </ul>
                        </div>
                      </div>
                  <%
                      }//end for
                      if(activity.total==0){
                  %>
                        <div class="alert alert-warning" role="alert">目前還沒有完成任何活動喔!</div>
                  <%
                      }
                      if(activity.total!=0){
                        var current_int = parseInt(current);
                        var total_page = Math.floor(activity.total/10);
                        if(activity.total%10!=0){
                          total_page++;
                        }
                  %>
                      <div class="pager">
                        <a class="btn btn-lg btn-default bottom-pager" href="/student/activity?p=<%=current_int%>" <%=(current_int==1)?'disabled':''%>><</a>
                        <p class="bottom-pager"><%=activity.total%> 活動 之 <%=start%> - <%=end%></p>
                        <a class="btn btn-lg btn-default bottom-pager" /student/activity?p=<%=(current_int+1)%> <%=(current_int==total_page)?'disabled':''%>>></a>
                      </div>
                  <%
                      }
                    }
                  %>
                  </ul>
                </div>   
              </div>
              <div id="collectTab" class="tabContent col-md-12">
                <%
                  if(activity.type && activity.type==='collect'){
                %>
                <div class="activityBox collect-activity show">
                <%
                  }else{
                %>
                <div class="activityBox collect-activity hide">
                <%
                  }
                    
                  if(activity.type && activity.type==='collect'){
                    var collections = activity.rows;
                    for(var k=0;k<collections.length;k++){
                      var collection = collections[k];
                      var collectionActivities = collection.activities;
                %>
                      <div id="collect_collection_box_<%=collection['id']%>" class="collection_box">
                        <h4><span class="col_name"><%=collection['name']%></span>
                          <div class="col_tool pull-right">
                            <a class="btn btn-sm btn-primary col-update" data-toggle="modal" data-target="#updateCollectionModal" data-id="<%=collection['id']%>" data-name="<%=collection['name']%>" data-description="<%=collection['description']%>"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                            <a class="btn btn-sm btn-danger col-delete" data-toggle="modal" data-target="#removeCollectionModal" data-id="<%=collection['id']%>" data-name="<%=collection['name']%>"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                          </div>
                        </h4>
                        <p class="col_description"><%=collection['description']%></p>
                        <hr>
                        <ul>
                <%
                      if(collectionActivities.length!=0){
                          for(var p=0;p<collectionActivities.length;p++){
                          var collectionActivity = collectionActivities[p];
                %>
                        <div class="card card-collect-<%=collectionActivity['activity_id']%>">
                          <a>
                            <div class="card-image">
                              <img src="<%=collectionActivity['activity_img']%>">
                            </div>
                          </a>
                          <a>
                            <div class="card-detail">
                              <stong class="detail-name"><%=collectionActivity['activity_name']%></stong>
                              <div class="detail-instructor"><%=collectionActivity['creator_name']%></div>
                              <div class="detail-bottom">
                                <span class="detail-progress">
                                  <span style="width:<%=collectionActivity['completion_rate']%>%" class="detail-progress-bar" data-progress-percent="<%=collectionActivity['completion_rate']%>"></span>
                                </span>
                                <%
                                  if(collectionActivity['completion_rate']==0){
                                %>
                                  <span class="detail-progress-text">開始學習</span>
                                <%
                                  }else{
                                %>
                                  <span class="detail-progress-text"><%=collectionActivity['completion_rate']%>%已完成</span>
                                <%
                                  }
                                %>                          
                              </div>
                            </div>
                          </a>
                          <div class="card-options">
                            <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            ...
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right">
                              <li><a href="#" onclick="removeActivity(this)" data-cid="<%=collection['id']%>" data-aid="<%=collectionActivity['activity_id']%>"><i class="fa fa-trash-o" aria-hidden="true"></i> 移除</a></li>
                            </ul>
                          </div>
                        </div>
                <%
                        }
                      }else{
                %>
                        <h5>此類別目前沒有收藏任何活動</h5>
                <%
                      }  
                %>
                        </ul>
                      </div>
                <%
                    }//end for
                    if(collections.length==0){
                %>
                      <div class="alert alert-warning" role="alert">目前沒有任何收藏喔!</div>
                <%
                    }
                  }
                %>
                </div>   
              </div>
            </div>
            <p style="clear:left"></p>
          </section>
        </div>
      </div>
    </div>

    <%- cooc_footer %>

    <!-- 酷課雲 Header 角色 -->
    <div class="roleInfo" style="display:none;">
      <a id="logonBlock" href="javascript:void(0)">
        <img id="logonpic" src="<%=user.photoUrl%>"/>
        <img id="logonBack" src="/images/logon_back.png">
      </a>
      <div id="logonName"><%=user.name%></div>
      <div id="logonRole"><%=user.role_name%></div>
      <ul class="navigation">
        <li>
          <ul style="display:none">
            <li><a href="http://sso.tp.edu.tw/accountservice/" target="_blank">個人資訊</a></li>
            <li class="logout"><a href="/users/logout">登出</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <!-- 建立新收藏 Modal -->
    <div id="createCollectionModal" data-backdrop="static" data-keyboard="false" class="modal bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">建立新的收藏</h4>
          </div>
          <div class="modal-body">
            <form id="collection_form" method="POST" action="/api/collection">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="col_name">收藏名稱</label>
                    <input maxlength="20" name="col_name" id="col_name" type="text" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="col_description">收藏描述</label>
                    <textarea name="col_description" id="col_description" class="form-control"></textarea>
                  </div>
                </div>
              </div>
              <input type="hidden" name="activity_id" id="create_activity_id" value="0">
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button id="createCollectionBtn" type="button" class="btn btn-primary">建立</button>
          </div>
        </div>
      </div>
    </div>

    <!-- 編輯收藏 Modal -->
    <div id="updateCollectionModal" data-backdrop="static" data-keyboard="false" class="modal bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">編輯收藏</h4>
          </div>
          <div class="modal-body">
            <form id="edit_collection_form" class="form-horizontal" action="/api/collection/activity/metadata" method="POST">
              <div class="form-group">
                <label for="edit_col_name" class="col-sm-2 control-label">名稱</label>
                <div class="col-sm-10">
                  <input maxlength="20" type="text" class="form-control" id="edit_col_name" name="edit_col_name" placeholder="收藏名稱">
                </div>
              </div>
              <div class="form-group">
                <label for="edit_col_description" class="col-sm-2 control-label">描述</label>
                <div class="col-sm-10">
                  <textarea class="form-control" id="edit_col_description" name="edit_col_description" placeholder="收藏描述"></textarea>
                </div>
              </div>
              <input type="hidden" id="edit_col_id" name="edit_col_id" value="">
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button id="updateCollectionBtn" type="button" class="btn btn-primary">更新</button>
          </div>
        </div>
      </div>
    </div>

    <!-- 刪除收藏 Modal -->
    <div id="removeCollectionModal" data-backdrop="static" data-keyboard="false" class="modal bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">移除收藏</h4>
          </div>
          <div class="modal-body">
            <h4>確定刪除 <span id="r_col_name"></span> ?</h4>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button id="removeCollectionBtn" data-id="0" type="button" class="btn btn-danger">刪除</button>
          </div>
        </div>
      </div>
    </div>

    <!-- 詳細資訊 Modal -->
    <div id="activityDetailModal" data-backdrop="static" data-keyboard="false" class="modal bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="detail_name"></h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12">
                <table class="table table-striped">
                  <tbody>
                    <tr>
                      <td>類型</td>
                      <td id="detail_type"></td>
                    </tr>
                    <tr>
                      <td>學校</td>
                      <td id="detail_school"></td>
                    </tr>
                    <tr>
                      <td>學年學期</td>
                      <td id="detail_semester"></td>
                    </tr>
                    <tr>
                      <td>科目</td>
                      <td id="detail_subject"></td>
                    </tr>
                    <tr>
                      <td>作者</td>
                      <td id="detail_instructor"></td>
                    </tr>
                    <tr>
                      <td>說明</td>
                      <td id="detail_description"></td>
                    </tr>
                    <tr>
                      <td>目標</td>
                      <td id="detail_goal"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
          </div>
        </div>
      </div>
    </div>

    <script src="/javascripts/jquery-3.2.1.min.js"></script>
    <script src="/javascripts/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script src="/javascripts/bootstrap-maxlength.js"></script>
    <script src="/javascripts/angular.min.js"></script>
    <script>
      var app = angular.module('myApp', []);
      $(document).ready(function(){
        $("input[maxlength]").maxlength();

        //酷課雲 header 處理
        $('.rolemenu').html($('.roleInfo').html());
        $("#logonBlock").on("click",function(){
        	if ($("ul.navigation li > ul").is(":visible")) {
        		$("ul.navigation li > ul").css("display","none");
        	} else {
        		$("ul.navigation li > ul").css("display","block");
        	}
        });

        //選擇活動類型處理
        $('#allTypeSelector').on('change', function(){
          window.location = '/student/activity?p=1&type='+$(this).val()+'&instructor='+$('#allTeacherSelector').val()+'&s='+$('#allSubjectSelector').val();
        });
        //選擇教師處理
        $('#allTeacherSelector').on('change', function(){
          window.location = '/student/activity?p=1&type='+$('#allTypeSelector').val()+'&instructor='+$(this).val()+'&s='+$('#allSubjectSelector').val();
        });
        //選擇科目處理
        $('#allSubjectSelector').on('change', function(){
          window.location = '/student/activity?p=1&type='+$('#allTypeSelector').val()+'&instructor='+$('#allTeacherSelector').val()+'&s='+$(this).val();
        });
        //搜尋活動名稱處理
        $('#allActivityNameSearchBtn').on('click', function(){
          window.location = '/student/activity?p=1&q='+$('#allActivityNameSearch').val();
        });

        //活動詳細資訊
        $('#activityDetailModal').on('show.bs.modal', function(event){
          var button = $(event.relatedTarget);
          var modal = $(this);
          var activityType = '一般活動';
          switch(button.attr('data-type')){
            case '2':
              activityType = '適性活動';
              break;
            case '3':
              activityType = '前後測活動';
              break;
            default:
          }
          modal.find('#detail_name').html(button.attr('data-name'));
          modal.find('#detail_type').html(activityType);
          modal.find('#detail_school').html(button.attr('data-school'));
          modal.find('#detail_semester').html(button.attr('data-semester'));
          modal.find('#detail_subject').html(button.attr('data-subject'));
          modal.find('#detail_instructor').html(button.attr('data-instructor'));
          modal.find('#detail_description').html(button.attr('data-description'));
          modal.find('#detail_goal').html(button.attr('data-goal'));
        });
        
        //新增收藏
        $('#createCollectionModal').on('show.bs.modal', function(event){
          var button = $(event.relatedTarget);
          var modal = $(this);
          modal.find('#create_activity_id').val(button.attr('data-activityid'));
        });
        $('#createCollectionBtn').on('click', function(){
          var post_url = $('#collection_form').attr("action"); 
          var request_method = $('#collection_form').attr("method"); 
          var form_data = $('#collection_form').serialize(); 
          $.ajax({
            url : post_url,
            type: request_method,
            data : form_data
          }).done(function(response){ 
            if(response.success){
              var appendCol = response.data;
              $('div.all-activity>div.card').each(function(){
                var ele = $(this);
                var activity_id = ele.attr('data-id');
                if(activity_id==appendCol.activity_id){
                  ele.find('.card-options>ul.dropdown-menu').append('<li><a href="#" onclick="changeCollection(this) data-creatorid="'+appendCol.creator_id+'" data-collectionid="'+appendCol.id+'" data-activityid="'+appendCol.activity_id+'" data-check="1" data-collectionname="'+appendCol.name+'">'+appendCol.name+' <i class="fa fa-check pull-right" aria-hidden="true"></i></a></li>');
                }else{
                  ele.find('.card-options>ul.dropdown-menu').append('<li><a href="#" onclick="changeCollection(this) data-creatorid="'+appendCol.creator_id+'" data-collectionid="'+appendCol.id+'" data-activityid="'+appendCol.activity_id+'" data-check="0" data-collectionname="'+appendCol.name+'">'+appendCol.name+'</a></li>');
                }
              });
              $('#createCollectionModal').modal('hide');
            }
          });
        });

        //更新收藏
        $('#updateCollectionModal').on('show.bs.modal', function(event){
          var button = $(event.relatedTarget);
          var modal = $(this);
          modal.find('#edit_col_name').val(button.attr('data-name'));
          modal.find('#edit_col_description').val(button.attr('data-description'));
          modal.find('#edit_col_id').val(button.attr('data-id'));
        });
        $('#updateCollectionBtn').on('click', function(){
          var post_url = $('#edit_collection_form').attr("action"); 
          var request_method = $('#edit_collection_form').attr("method"); 
          var form_data = $('#edit_collection_form').serialize(); 
          $.ajax({
            url : post_url,
            type: request_method,
            data : form_data
          }).done(function(response){ 
            if(response.success){
              var editEle = $('div#collect_collection_box_'+response.id);
              editEle.find('.col_name').html(response.name);
              editEle.find('.col_description').html(response.description);
              editEle.find('.col-update').attr('data-name',response.name);
              editEle.find('.col-update').attr('data-description',response.description);
              $('#updateCollectionModal').modal('hide');
            }else{
              alert(response.msg);
            }
          });
        });

        //移除收藏
        $('#removeCollectionModal').on('show.bs.modal', function(event){
          var button = $(event.relatedTarget);
          var modal = $(this);
          modal.find('#removeCollectionBtn').attr('data-id', button.attr('data-id'));
          modal.find('#r_col_name').html(button.attr('data-name'));
        });
        $('#removeCollectionBtn').on('click', function(){
          var col_id = $(this).attr('data-id');
          $.ajax({
            url : '/api/collection/remove',
            type: 'POST',
            data : 'col_id='+col_id
          }).done(function(response){ 
            if(response.success){
              $('div#collect_collection_box_'+response.id).remove();
              $('#removeCollectionModal').modal('hide');
            }
          });
        });

      });
      function changeCollection(ele){
        var targetEle = $(ele);
        targetEle.empty();
        var activityId = targetEle.attr('data-activityid');
        var creatorId = targetEle.attr('data-creatorid');
        var collectionName = targetEle.attr('data-collectionname');
        var collectionId = targetEle.attr('data-collectionid');
        var is_collect = targetEle.attr('data-check');
        $.ajax({
          url: '/api/collection/activity',
          data:'collection_id='+collectionId+'&activity_id='+activityId+'&is_collect='+is_collect+'&creator_id='+creatorId,
          type:"POST",
          success: function(result){
            if(is_collect==='0'){ //remove
              targetEle.attr('data-check','1');
              targetEle.html(collectionName+' <i class="fa fa-check pull-right" aria-hidden="true"></i>');
            }else{
              targetEle.attr('data-check','0');
              targetEle.html(collectionName);
            }
          },
          error:function(xhr, ajaxOptions, thrownError){
            console.log(xhr.status);
            console.log(thrownError);
          }
        });
      }
      function removeActivity(ele){
        var targetEle = $(ele);
        var collection_id = targetEle.attr('data-cid');
        var activity_id = targetEle.attr('data-aid');
        $.ajax({
            url : '/api/collection/activity',
            type: 'POST',
            data : 'collection_id='+collection_id+'&activity_id='+activity_id+'&is_collect=1'
          }).done(function(response){ 
            var removeEleParent = $('div.collect-activity div#collect_collection_box_'+collection_id+'>ul');
            if(removeEleParent.children().length==1){
              removeEleParent.find('div.card-collect-'+activity_id).remove();
              removeEleParent.append('<h5>此類別目前沒有收藏任何活動</h5>');
            }else{
              removeEleParent.find('div.card-collect-'+activity_id).remove();
            }
          });
      }
    </script>
  </body>
</html>
