<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/javascripts/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/javascripts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/logon.css">
    <link rel="stylesheet" href="/stylesheets/student_play.css">
    <link rel="stylesheet" href="/javascripts/videojs/video-js.css">
    <script src="/javascripts/videojs/videojs-ie8.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%
          if(teacher){
          %>
          <a class="navbar-brand" href="/teacher/activity/edit/<%=activity.id%>"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> 返回</a>
          <%
          }else{
          %>
          <a class="navbar-brand" href="/student/activity/assign/adaptive/<%=activity.id%>"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> 返回</a>
          <%
          }
          %>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><div class="title-progress">學習次數:<%=targetMaterial.access_counts%><br />累計時間:<span id="time_spent_format"><%=targetMaterial.time_spent_format%></span></div></li>
            <li><a href="#" data-toggle="modal" data-target="#detailModal">說明</a></li>
            <li><a href="#" id="openNoteBtn">展開筆記</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="wrapper" ng-app="myApp">
      <div class="sidebar" ng-class="boolie ? 'closed' : ''">
        <nav role="navigation" class="sidebarNav">
          <div class="playLesson">
            <h3 class="lessonName"><%=activity.name%></h3>
          </div>
          <ul>
            <%
              var completion_counts = 0;
                var typeStr = '';
                var typeIcon = '<i class="fa fa-asterisk" aria-hidden="true"></i>';
                switch(targetMaterial.type){
                  case 1:
                    typeIcon = '<i class="fa fa-link" aria-hidden="true"></i>';
                    typeStr = 'web';
                    break; 
                  case 2:
                    typeIcon = '<i class="fa fa-video-camera" aria-hidden="true"></i>';
                    typeStr = 'video';
                    break;
                  case 3:
                    typeIcon = '<i class="fa fa-file-pdf-o" aria-hidden="true"></i>';
                    typeStr = 'pdf';
                    break;
                  case 4:
                    typeIcon = '<i class="fa fa-pencil-square-o" aria-hidden="true"></i>';
                    typeStr = 'assessment';
                    break;
                  case 5:
                    typeIcon = '<i class="fa fa-file-text-o" aria-hidden="true"></i>';
                    typeStr = 'article';
                    break;
                }
                var progressStr = '<i class="fa fa-circle-thin" aria-hidden="true"></i>';
                if(targetMaterial.last_access_date_format){
                  if(targetMaterial.is_complete){
                    progressStr = '<i class="fa fa-circle" aria-hidden="true"></i>';
                  }else{
                    progressStr = '<i class="fa fa-adjust" aria-hidden="true"></i>';
                  }
                }
            %>
                <li class="sidebar-navItem start">
            <%
                  if(teacher){
            %>
                    <a href="#"><%-typeIcon%>&nbsp;&nbsp;<%=targetMaterial.name%></a>
            <%
                  }else{
            %>
                    <a href="#"><span id="target-material-progress"><%-progressStr%></span> <%-typeIcon%>&nbsp;&nbsp;<%=targetMaterial.name%></a>
            <%        
                  }
            %>
                </li>
          </ul>
        </nav>
      </div>
      <div class="main">
        <div class="col-md-12">
            <div class="sidebarToggle" ng-click="boolie = !boolie">
                <i class="fa fa-bars sidebar-toggleHam menuIcon" aria-hidden="true" ng-class="boolie ? 'rotate' : ''"></i>
                <span class="sidebar-toggleText"><%=targetMaterial.name%></span>
            </div>
            <%
              if(targetMaterial.url.indexOf('youtu')!=-1){
            %>             
              <video
                id="youtube-video"
                class="video-js vjs-default-skin vjs-fluid vjs-big-play-centered vjs-paused"
                controls
                data-setup='{ "techOrder": ["youtube"], "sources": [{ "type": "video/youtube", "src": "<%=targetMaterial.url%>"}] }'
              ></video>
            <%
              }else{
            %>
                <div id="streaming-preview" class="embed-responsive form-control embed-responsive-16by9">
                  <video
                    id="streaming-video"
                    class="video-js vjs-default-skin vjs-fluid vjs-big-play-centered vjs-paused"
                    controls
                    data-setup='{}'>
                    <source src="<%=targetMaterial.url%>" type="video/mp4">
                  </video>
                </div>
            <%
              }
            %>
        </div>
      </div>
    </div>
    <div id="detailModal" data-backdrop="static" data-keyboard="false" class="modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">教材說明</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12">
                <table class="table table-striped">
                  <tbody>
                    <tr>
                      <td>目標</td>
                      <td><%=targetMaterial.goal%></td>
                    </tr>
                    <tr>
                      <td>說明</td>
                      <td><%=targetMaterial.description%></td>
                    </tr>
                    <tr>
                      <td>通過條件</td>
                      <%
                        if(targetMaterial.pass_method=='0'){
                      %>
                          <td>觀看超過 80% 影片時間(含)以上</td>
                      <%
                        }else{
                      %>
                          <td>觀看超過 <%=targetMaterial.pass_val%>% 影片時間以上(含)</td>
                      <%
                        }
                      %>                     
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Note Area -->
    <div id="note-bar">
    <!--  <a class="btn btn-primary pull-right handle">展開筆記</a> -->
      <div class="note-area">
        <div class="row">
          <div id="note-edit" class="note-edit">
            <div class="form-group">
              <label>筆記內容</label>
              <textarea name="note" id="note" value="" class="form-control"></textarea>
            </div>
            <div class="form-group">
              <a id="addNoteBtn" class="btn btn-default pull-right">儲存</a>
            </div>   
          </div>
          <div id="note-content" class="note-content">
            <%
              for(var n=0;n<notes.length;n++){
                var note = notes[n];
            %>
            <div class="note-item" id="note-item-<%=note.id%>">
              <p class="note-message">
                <a class="note-date"><%=note.note_date%>
                  <small class="note-point pull-right"><i class="fa fa-bookmark" aria-hidden="true"></i> <%=note.point_format%></small>
                </a>
                <div class="note-edit-item">
                  <div class="note-func">
                    <i class="fa fa-pencil fa-lg" aria-hidden="true" onclick="editNote(this)"></i>
                    <i class="fa fa-trash fa-lg" aria-hidden="true" data-on-confirm="removeNote" data-materialid="<%=targetMaterial.id%>" data-noteid="<%=note.id%>" data-popout="true" data-toggle="confirmation" data-title="確定刪除嗎?" data-btn-ok-label="確定" data-btn-cancel-label="取消"></i>
                  </div>
                  <textarea class="note-lock"><%=note.note%></textarea>
                  <div class="note-edit-func">
                    <button class="btn btn-sm pull-right" data-note="<%=note.note%>" onclick="cancelEditNote(this)">取消</button>
                    <button class="btn btn-sm pull-right" data-materialid="<%=targetMaterial.id%>" data-noteid="<%=note.id%>"  onclick="updateNote(this)">儲存</button>
                  </div>
                </div>
              </p>
            </div>
            <hr>
            <%
              }
            %>            
          </div>  
        </div>  
      </div>
    </div>

    <script src="/javascripts/jquery-3.2.1.min.js"></script>
    <script src="/javascripts/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script src="/javascripts/videojs/video.js"></script>
    <script src="/javascripts/videojs/Youtube.min.js"></script>
    <script src="/javascripts/moment.js"></script>
    <script src="/javascripts/jquery.slidereveal.min.js"></script>
    <script src="/javascripts/bootstrap-confirmation.min.js"></script>
    <script src="/javascripts/easytimer.min.js"></script>
    <script src="/javascripts/angular.min.js"></script>
    <script>
      var app = angular.module('myApp', []);
      var past_time_spent = Number('<%=targetMaterial.time_spent%>');
      var pass_method = '<%=targetMaterial.pass_method%>';
      var pass_val = '<%=targetMaterial.pass_val%>';
      var pass_val_int = parseInt(pass_val);
      if(pass_method=='0'){
        pass_val_int = 30;
      }else{
        pass_val_int = pass_val_int*60;
      }
      $('#time_spent_format').html(moment.utc(past_time_spent*1000).format('HH:mm:ss'));
      var timer = new Timer();
      timer.addEventListener('secondsUpdated', function (e) {
        $('#time_spent_format').html(timer.getTimeValues().toString());
        past_time_spent++;
        if(pass_val_int==past_time_spent){
            completeVideo();
        }
      });
      $(document).ready(function(){

        if("<%=targetMaterial.access_counts%>"=="1"){
          $('#detailModal').modal('show');
        }

        var slider = $("#note-bar").slideReveal({
          width:300,
          push: false,
          position: "right",
          trigger: $("#openNoteBtn"),
          autoEscape: false,
          shown: function(obj){
            $("#openNoteBtn").html('隱藏筆記');
          },
          hidden: function(obj){
            $("#openNoteBtn").html('展開筆記');
          }
        });

        $('#note-bar [data-toggle=confirmation]').confirmation({
            rootSelector: '[data-toggle=confirmation]',
            singleton: true
        });
        $('#addNoteBtn').on('click', function(){
          var note = $('#note').val();
          if(note && note.length!=0){
            var point = Math.floor(video.currentTime());
            $.ajax({
              url: '/api/log/material/video/note',
              type:"POST",
              data:'activity_id=<%=activity.id%>&material_id=<%=targetMaterial.id%>&creator_id=<%=activity.creator_id%>&creator_cooc_id=<%=activity.creator_cooc_id%>&type=<%=targetMaterial.type%>&note='+note+'&point='+point,
              success: function(result){
                $('#note').val('');
                $('.note-content').prepend(
                  '<div class="note-item" id="note-item-'+result.data.id+'">'+
                    '<p class="note-message">'+
                      '<a class="note-date">'+moment(result.data.note_date).format('YYYY/MM/DD HH:mm:ss')+
                        '<small class="note-point pull-right"><i class="fa fa-bookmark" aria-hidden="true"></i> '+moment.utc(moment.duration(point*1000).as('milliseconds')).format('HH:mm:ss')+'</small>'+
                      '</a>'+
                      '<div class="note-edit-item">'+
                        '<div class="note-func">'+
                          '<i class="fa fa-pencil fa-lg" aria-hidden="true" onclick="editNote(this)"></i>'+
                          '<i class="fa fa-trash fa-lg" aria-hidden="true" data-on-confirm="removeNote" data-materialid="<%=targetMaterial.id%>" data-noteid="'+result.data.id+'" data-popout="true" data-toggle="confirmation" data-title="確定刪除嗎?" data-btn-ok-label="確定" data-btn-cancel-label="取消"></i>'+
                        '</div>'+
                        '<textarea class="note-lock" value="'+note+'">'+note+'</textarea>'+
                        '<div class="note-edit-func">'+
                          '<button class="btn btn-sm pull-right" data-note="'+note+'" onclick="cancelEditNote(this)">取消</button>'+
                          '<button class="btn btn-sm pull-right" data-materialid="<%=targetMaterial.id%>" data-noteid="'+result.data.id+'"  onclick="updateNote(this)">儲存</button>'+
                        '</div>'+
                      '</div>'+
                    '</p>'+
                  '</div>'+
                  '<hr>'
                ).find('#note-item-'+result.data.id+' .note-func i.fa-trash').confirmation({
                  rootSelector: '[data-toggle=confirmation]',
                  singleton: true
                });
              },
              error:function(xhr, ajaxOptions, thrownError){
                console.log(xhr.status);
                console.log(thrownError);
              }
         	  });
          }
        });

        var video = videojs(document.querySelector('.video-js'));
        $('#note').on('keyup mousedown', function(){
          video.pause();
        });
        var start_date;
        var start_point;
        video.on('play', function(e){
          start_date = new Date();
          start_point = Math.floor(video.currentTime());
          timer.start({
            precision: 'seconds',
            startValues: {seconds: past_time_spent}
          });
          console.log('play event');
        });
        video.on('pause', function(e){
          console.log('pause');
          timer.pause();
        });
        video.on('seek', function(e){
          console.log('seek event');
        });
        video.on('seeked', function(e){
          console.log('seeked event');
        });
        video.on('seeking', function(e){
          console.log('seeking event');
        });
        video.on('ended', function(e){
          console.log('ended event');
        });

        window.onbeforeunload = beforeunload;
        function beforeunload(){
          if(start_date){
            var end_date = new Date();
            var duration = moment.duration(Math.floor(end_date-start_date)).asSeconds();
            var end_point = Math.floor(video.currentTime());
            $.ajax({
              url: '/api/log/video/adaptive/watch',
              type:"POST",
              async:false,
              data:'activity_id=<%=activity.id%>&material_id=<%=targetMaterial.id%>&creator_id=<%=activity.creator_id%>&creator_cooc_id=<%=activity.creator_cooc_id%>&user_cooc_id=<%=user.userId%>&start_date='+start_date+'&end_date='+end_date+'&duration='+duration+'&start_point='+start_point+'&end_point='+end_point+'&total_duration='+past_time_spent+'&criteria='+pass_val_int+'&material_uuid=<%=material_uuid%>',
              success: function(data){

              },
              error:function(xhr, ajaxOptions, thrownError){
                console.log(xhr.status);
                console.log(thrownError);
              }
         	  });
          }
        }

      });
      function completeVideo(){
        $.ajax({
          url: '/api/log/video/adaptive/complete/<%=activity.id%>/<%=targetMaterial.id%>',
          type:"POST",
          data:'time_spent='+past_time_spent+'&material_uuid=<%=material_uuid%>',
          async:false,
          success: function(data){
            if(data.success){
              $('#target-material-progress').html('<i class="fa fa-circle" aria-hidden="true"></i>');
            }
          },
          error:function(xhr, ajaxOptions, thrownError){
            console.log(xhr.status);
            console.log(thrownError);
          }
        });
      }
      function editNote(e){
        var ta = $(e);
        ta.closest('.note-edit-item').find('textarea').removeClass('note-lock');
        ta.closest('.note-edit-item').find('.note-edit-func').show();
      }
      function removeNote(){
        var targetEle = $(this);
        var materialId = targetEle.attr('data-materialid');
        var noteId = targetEle.attr('data-noteid');
        $.ajax({
          url: '/api/log/material/note/remove/'+materialId+'/'+noteId,
          type:"POST",
          success: function(result){
            if(result.success){
              targetEle.closest('.note-item').remove();
            }
          },
          error:function(xhr, ajaxOptions, thrownError){
            console.log(xhr.status);
            console.log(thrownError);
          }
        });
      }
      function updateNote(e){
        var targetEle = $(e);
        var materialId = targetEle.attr('data-materialid');
        var noteId = targetEle.attr('data-noteid');
        var note = targetEle.closest('.note-item').find('textarea').val();
        $.ajax({
          url: '/api/log/material/note/update/'+materialId+'/'+noteId,
          data:'note='+note,
          type:"POST",
          success: function(result){
            if(result.success){
              var targetParent = targetEle.closest('.note-edit-item');
              targetParent.find('textarea').addClass('note-lock');
              targetParent.find('.note-edit-func').hide();
            }
          },
          error:function(xhr, ajaxOptions, thrownError){
            console.log(xhr.status);
            console.log(thrownError);
          }
        });
      }
      function cancelEditNote(e){
        var targetEle = $(e);
        var targetParent = targetEle.closest('.note-edit-item');
        targetParent.find('textarea').addClass('note-lock');
        targetParent.find('textarea').val(targetEle.attr('data-note'));
        targetEle.parent().hide();
      }
    </script>
  </body>
</html>
