<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/javascripts/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/javascripts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/logon.css">
    <link rel="stylesheet" href="/stylesheets/student_play.css">
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%
          if(teacher){
          %>
          <a class="navbar-brand" href="/teacher/activity/edit/<%=activity.id%>"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> 返回</a>
          <%
          }else{
          %>
          <a class="navbar-brand" href="/student/activity/assign/adaptive/<%=activity.id%>"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> 返回</a>
          <%
          }
          %>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><div class="title-progress">學習次數:<%=targetMaterial.access_counts%><br />累計時間:<span id="time_spent_format"><%=targetMaterial.time_spent_format%></span></div></li>
            <li><a href="#" data-toggle="modal" data-target="#detailModal">說明</a></li>
            <li><a href="#">展開筆記</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="wrapper" ng-app="myApp">
      <div class="sidebar" ng-class="boolie ? 'closed' : ''">
        <nav role="navigation" class="sidebarNav">
          <div class="playLesson">
            <h3 class="lessonName"><%=activity.name%></h3>
          </div>
          <ul>
            <%
              var completion_counts = 0;
                var typeStr = '';
                var typeIcon = '<i class="fa fa-asterisk" aria-hidden="true"></i>';
                switch(targetMaterial.type){
                  case 1:
                    typeIcon = '<i class="fa fa-link" aria-hidden="true"></i>';
                    typeStr = 'web';
                    break; 
                  case 2:
                    typeIcon = '<i class="fa fa-video-camera" aria-hidden="true"></i>';
                    typeStr = 'video';
                    break;
                  case 3:
                    typeIcon = '<i class="fa fa-file-pdf-o" aria-hidden="true"></i>';
                    typeStr = 'pdf';
                    break;
                  case 4:
                    typeIcon = '<i class="fa fa-pencil-square-o" aria-hidden="true"></i>';
                    typeStr = 'assessment';
                    break;
                  case 5:
                    typeIcon = '<i class="fa fa-file-text-o" aria-hidden="true"></i>';
                    typeStr = 'article';
                    break;
                }
                var progressStr = '<i class="fa fa-circle-thin" aria-hidden="true"></i>';
                if(targetMaterial.last_access_date_format){
                  if(targetMaterial.is_complete){
                    progressStr = '<i class="fa fa-circle" aria-hidden="true"></i>';
                  }else{
                    progressStr = '<i class="fa fa-adjust" aria-hidden="true"></i>';
                  }
                }
            %>
                <li class="sidebar-navItem start">
            <%
                  if(teacher){
            %>
                    <a href="/teacher/activity/preview/<%=activity.id%>/<%=targetMaterial.id%>"><%-typeIcon%>&nbsp;&nbsp;<%=targetMaterial.name%></a>
            <%
                  }else{
            %>
                    <a href="#"><span id="target-material-progress"><%-progressStr%></span> <%-typeIcon%>&nbsp;&nbsp;<%=targetMaterial.name%></a>
            <%
                  }
            %>
                </li>
          </ul>
        </nav>
      </div>
      <div class="main">
        <div class="col-md-12">
            <div class="sidebarToggle" ng-click="boolie = !boolie">
                <i class="fa fa-bars sidebar-toggleHam menuIcon" aria-hidden="true" ng-class="boolie ? 'rotate' : ''"></i>
                <span class="sidebar-toggleText"><%=targetMaterial.name%></span>
            </div>
            <form id="article_form" method="post" action="/student/activity/<%=activity.id%>/adaptive/article/<%=targetMaterial.id%>">
              <textarea name="article" id="article" rows="10" cols="80"></textarea>
            </form>
            <br />
            <a id="saveArticleBtn" class="btn btn-primary form-control">儲存</a>
        </div>
      </div>
    </div>
    <div id="detailModal" data-backdrop="static" data-keyboard="false" class="modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">教材說明</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12">
                <table class="table table-striped">
                  <tbody>
                    <tr>
                      <td>目標</td>
                      <td><%=targetMaterial.goal%></td>
                    </tr>
                    <tr>
                      <td>說明</td>
                      <td><%=targetMaterial.description%></td>
                    </tr>
                    <tr>
                      <td>通過條件</td>
                      <%
                        if(targetMaterial.pass_method=='0'){
                      %>
                          <td>不可空白</td>
                      <%
                        }else{
                      %>
                          <td>撰寫字數至少 <%=targetMaterial.pass_val%>% 字以上(含)</td>
                      <%
                        }
                      %>                     
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
          </div>
        </div>
      </div>
    </div>

    <script src="/javascripts/jquery-3.2.1.min.js"></script>
    <script src="/javascripts/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script src="/javascripts/moment.js"></script>
    <script src="/javascripts/ckeditor/ckeditor.js"></script>
    <script src="/javascripts/angular.min.js"></script>
    <script>
      var app = angular.module('myApp', []);
      var timer;
      var past_time_spent = '<%=targetMaterial.time_spent%>';
      var init_time_spent = '<%=targetMaterial.time_spent%>';
      var pass_method = '<%=targetMaterial.pass_method%>';
      var pass_val = '<%=targetMaterial.pass_val%>';
      var pass_val_int = Number(pass_val);
      if(pass_method=='0'){        
        pass_val_int = 1;
      }
      var is_completion = false;
      if(Boolean(Number('<%=targetMaterial.is_complete%>'))){
        is_completion = true;
      }
      $(document).ready(function(){

        if("<%=targetMaterial.access_counts%>"=="1"){
          $('#detailModal').modal('show');
        }

        //init CKEditor
        CKEDITOR.replace('article');
        //取得文章
        getArticle();

        // set timer
        if(!past_time_spent){
          past_time_spent = 0;
        }else{
          past_time_spent = parseInt(past_time_spent);
        }
        if(!init_time_spent){
          init_time_spent = 0;
        }
        setInterval(function(){
          var temp_time_spent = past_time_spent;
          past_time_spent++;
          $('#time_spent_format').html(moment.utc(temp_time_spent*1000).format('HH:mm:ss'));
        }, 1000);

        //更新活動 Metadata
        $('#saveArticleBtn').on('click', function(){
          var save_time_spent = past_time_spent;
          var time_spent = save_time_spent-init_time_spent;
          var post_url = $('#article_form').attr("action"); 
          var request_method = $('#article_form').attr("method"); 
          var form_data = $('#article_form').serialize();
          var completion_counts = Number('<%=completion_counts%>')+1;
          var total_material_counts = 1;
          var activity_completion = Math.round(completion_counts/total_material_counts*100);
          $.ajax({
            url : post_url,
            type: request_method,
            data : "article="+CKEDITOR.instances.article.getData()+'&time_spent='+time_spent+'&total_time_spent='+save_time_spent+'&is_completion='+is_completion+'&activity_completion='+activity_completion+'&material_uuid=<%=material_uuid%>'
          }).done(function(response){ 
            alert('已儲存');
            init_time_spent = save_time_spent;
            is_completion = true;
            $('#target-material-progress').html('<i class="fa fa-circle" aria-hidden="true"></i>');
          });
        });

      });
      function getArticle(){
        $.ajax({
            url : '/student/activity/<%=activity.id%>/article/<%=targetMaterial.id%>',
            type: 'GET'
          }).done(function(response){
            if(response['content'][0]['article']){
              CKEDITOR.instances.article.setData( response['content'][0]['article'], {
			        	  callback: function() {
			        	      this.checkDirty(); // true
			        	  }
			        } );
            } 
          });
      }
    </script>
  </body>
</html>
