<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/javascripts/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/javascripts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/logon.css">
    <link rel="stylesheet" href="/stylesheets/student_play.css">
  </head>
  <body>
    <%
      var targetQuizs = [];
      if(targetMaterial.quizs){
        targetQuizs = JSON.parse(targetMaterial.quizs);
      }
    %>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%
          if(teacher){
          %>
          <a class="navbar-brand" href="/teacher/activity/edit/<%=activity.id%>"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> 返回</a>
          <%
          }else{
          %>
          <a class="navbar-brand" href="/student/activity/assign/adaptive/<%=activity.id%>"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> 返回</a>
          <%
          }
          %>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#" data-toggle="modal" data-target="#detailModal">說明</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="wrapper" ng-app="myApp">
      <div class="sidebar" ng-class="boolie ? 'closed' : ''">
        <nav role="navigation" class="sidebarNav">
          <div class="playLesson">
            <h3 class="lessonName"><%=activity.name%></h3>
          </div>
          <ul>
            <%
                var typeStr = '';
                var typeIcon = '<i class="fa fa-asterisk" aria-hidden="true"></i>';
                switch(targetMaterial.type){
                  case 1:
                    typeIcon = '<i class="fa fa-link" aria-hidden="true"></i>';
                    typeStr = 'web';
                    break; 
                  case 2:
                    typeIcon = '<i class="fa fa-video-camera" aria-hidden="true"></i>';
                    typeStr = 'video';
                    break;
                  case 3:
                    typeIcon = '<i class="fa fa-file-pdf-o" aria-hidden="true"></i>';
                    typeStr = 'pdf';
                    break;
                  case 4:
                    typeIcon = '<i class="fa fa-pencil-square-o" aria-hidden="true"></i>';
                    typeStr = 'assessment';
                    break;
                  case 5:
                    typeIcon = '<i class="fa fa-file-text-o" aria-hidden="true"></i>';
                    typeStr = 'article';
                    break;
                }
                var progressStr = '<i class="fa fa-circle-thin" aria-hidden="true"></i>';
                if(targetMaterial.last_access_date_format){
                  if(targetMaterial.is_complete){
                    progressStr = '<i class="fa fa-circle" aria-hidden="true"></i>';
                  }else{
                    progressStr = '<i class="fa fa-adjust" aria-hidden="true"></i>';
                  }
                }
            %>
                <li class="sidebar-navItem start">
            <%
                  if(teacher){
            %>
                    <a href="#"><%-typeIcon%>&nbsp;&nbsp;<%=targetMaterial.name%></a>
            <%
                  }else{
            %>
                    <a href="#"><%-progressStr%> <%-typeIcon%>&nbsp;&nbsp;<%=targetMaterial.name%></a>
            <%
                  }
            %>
                </li>
          </ul>
        </nav>
      </div>
      <div class="main">
        <div class="col-md-12">
            <div class="sidebarToggle" ng-click="boolie = !boolie">
                <i class="fa fa-bars sidebar-toggleHam menuIcon" aria-hidden="true" ng-class="boolie ? 'rotate' : ''"></i>
                <span class="sidebar-toggleText"><%=activity.name%></span>
            </div>
            <h4><%=targetMaterial.name%></h4><br />
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#explan" role="tab" data-toggle="tab">測驗說明</a></li>
                <li role="presentation"><a href="#records" role="tab" data-toggle="tab">作答紀錄</a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="explan">
                  <div class="table-responsive">
                    <table class="table">
                      <tbody>
                        <tr>
                          <td>目標</td>
                          <td><%=targetMaterial.goal%></td>
                        </tr>
                        <tr>
                          <td>說明</td>
                          <td><%=targetMaterial.description%></td>
                        </tr>
                        <tr>
                          <td>題數</td>
                          <td><%=targetQuizs.length%></td>
                        </tr>
                        <tr>
                          <td>限時</td>
                          <%
                            if(targetMaterial.time_limt && targetMaterial.time_limt!=0){
                          %>
                          <td></td>
                          <%
                            }else{
                          %>
                          <td>沒有限制</td>
                          <%    
                            }
                          %>
                          <td></td>
                        </tr>
                        <tr>
                          <td>通過條件</td>
                          <%
                            if(targetMaterial.pass_method=='0'){
                          %>
                              <td>完成作答</td>
                          <%
                            }else{
                          %>
                              <td>完成作答且成績 <%=targetMaterial.pass_val%>% 分以上(含)</td>
                          <%
                            }
                          %>                     
                        </tr>
                        <tr>
                          <td colspan="2">
                            <a id="startAssessmentBtn" class="btn btn-primary disabled" href="/javascripts/sqc/quizModule/quizPlayer.htm">開始測驗</a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="records">
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>繳交日期</th>
                          <th>花費時間</th>
                          <th>成績</th>
                        </tr>
                      </thead>
                      <tbody>
                        <%
                          if(assessment_results.length!=0){
                            for(var i=0;i<assessment_results.length;i++){
                              var ar = assessment_results[i];
                        %>
                        <tr>
                          <td><%=ar.submit_date_format%></td>
                          <td><%=ar.time_spent_format%></td>
                          <td><%=ar.score%></td>
                        </tr>
                        <%
                            }
                        %>
                        <%
                          }else{
                        %>
                        <tr><td colspan="3">您尚未測驗過喔!</td></tr>
                        <%
                          }
                        %>
                      </tbody>
                    </table>
                  </div>
                </div>
            </div>
        </div>
      </div>
    </div>
    <script src="/javascripts/jquery-3.2.1.min.js"></script>
    <script src="/javascripts/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script src="/javascripts/sqc/js/jquery.storageapi.min.js"></script>
    <script src="/javascripts/angular.min.js"></script>
    <script>
      var app = angular.module('myApp', []);
      var pass_method = '<%=targetMaterial.pass_method%>';
      var pass_val = '<%=targetMaterial.pass_val%>';
      var pass_val_int = Number(pass_val);
      var lrs_config = {
		    "endpoint":"<%=lrs.endpoint%>",
		    "user":"<%=lrs.key%>",
		    "password":"<%=lrs.password%>"
      };
      var store = $.sessionStorage;
      store.set('lrs', lrs_config);
      store.set('is_teacher', <%=teacher%>);
      store.set('is_adaptive', true);
      store.set('material', {
        activity_id:'<%=activity.id%>',
        id:'<%=targetMaterial.id%>',
        name:'<%=targetMaterial.name%>',
        pass_method: pass_method,
        pass_val: pass_val_int,
        material_uuid:'<%=material_uuid%>'
      });
      $(document).ready(function(){

        var quizs = <%-JSON.stringify(targetQuizs)%>;
        var quizScores = {};
        if(quizs.length!=0){
          for(var i=0;i<quizs.length;i++){
            quizScores[quizs[i].id] = quizs[i].score;
          }
          store.set('quizScores', quizScores);
          getAssessmentJSON(quizs);
        }

      });
      function getAssessmentJSON(quizObj){
        var quizIds = [];
        for(var i=0;i<quizObj.length;i++){
          quizIds.push(quizObj[i].id);
        }
        var url = "http://learning.cooc.tp.edu.tw/coocLearning/quiz/subject/getQuizData?ids="+quizIds.join();
        $.getJSON(url, function(data) {
          store.set('assessment', data);
          $('#startAssessmentBtn').removeClass('disabled');
	      });
      }
    </script>
  </body>
</html>
