<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/javascripts/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/javascripts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/logon.css">
    <link rel="stylesheet" href="/stylesheets/student_play.css">
  </head>
  <body>
    <%
        var materials = activity.materials;
        var targetMaterial = null;
        for(var i=0;i<materials.length;i++){
            var material = materials[i];
            if(material.id==material_id){
                targetMaterial = material;
                break;
            }
        }
    %>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%
          if(teacher){
          %>
          <a class="navbar-brand" href="/teacher/activity/edit/<%=activity.id%>"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> 返回</a>
          <%
          }else{
          %>
          <a class="navbar-brand" href="/student/activity/assign/<%=activity.id%>"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> 返回</a>
          <%
          }
          %>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><div class="title-progress">學習次數:<%=targetMaterial.access_counts%><br />累計時間:<span id="time_spent_format"><%=targetMaterial.time_spent_format%></span></div></li>
            <li><a href="#" data-toggle="modal" data-target="#detailModal">說明</a></li>
            <li><a href="#" id="openNoteBtn">展開筆記</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="wrapper" ng-app="myApp">
      <div id="accordion" class="panel-group sidebar" ng-class="boolie ? 'closed' : ''">
        <nav role="navigation" class="sidebarNav">
          <div class="playLesson panel-heading">
            <div class="bread">              
              <%
                if(teacher){
              %>
              <a href="/teacher/activity/edit/<%=activity.id%>">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
                <span>返回教材列表</span>
              </a>
              <%
                }else{
              %>
              <a href="/student/activity/assign/<%=activity.id%>">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
                <span>返回教材列表</span>
              </a>
              <%
                }
              %>
            </div>
            <h3 class="lessonName panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"> <%=activity.name%>
              </a>
            </h3>
          </div>
          <ul>
            <div id="collapseOne" class="panel-collapse collapse in">
              <div class="panel-body">
            <%
              var completion_counts = 0;
              var materials = activity.materials;
              for(var i=0;i<materials.length;i++){
                var material = materials[i];
                if(material.is_complete){
                  completion_counts++;
                }
                var typeStr = '';
                var typeIcon = '<i class="fa fa-asterisk" aria-hidden="true"></i>';
                switch(material.type){
                  case 1:
                    typeIcon = '<i class="fa fa-link" aria-hidden="true"></i>';
                    typeStr = 'web';
                    break; 
                  case 2:
                    typeIcon = '<i class="fa fa-film" aria-hidden="true"></i>';
                    typeStr = 'video';
                    break;
                  case 3:
                    typeIcon = '<i class="fa fa-file-pdf-o" aria-hidden="true"></i>';
                    typeStr = 'pdf';
                    break;
                  case 4:
                    typeIcon = '<i class="fa fa-pencil-square-o" aria-hidden="true"></i>';
                    typeStr = 'assessment';
                    break;
                  case 5:
                    typeIcon = '<i class="fa fa-file-text-o" aria-hidden="true"></i>';
                    typeStr = 'article';
                    break;
                }
                var progressStr = '<i class="fa fa-circle-o" aria-hidden="true"></i>';
                if(material.last_access_date_format){
                  if(material.is_complete){
                    progressStr = '<i class="fa fa-check-circle-o" aria-hidden="true"></i>';
                  }else{
                    progressStr = '<i class="fa fa-adjust" aria-hidden="true"></i>';
                  }
                }
            %>
                <li class="sidebar-navItem start">
            <%
                  if(teacher){
            %>
                    <a href="/teacher/activity/preview/<%=activity.id%>/<%=material.id%>"><%-typeIcon%>&nbsp;&nbsp;<%=material.name%></a>
            <%
                  }else{
            %>
                    <a href="/student/activity/<%=activity.id%>/play/<%=material.id%>"> <%-typeIcon%>&nbsp;&nbsp;<%=material.name%><%-progressStr%></a>
            <%
                  }
            %>
                </li>
            <%
              }
            %>
              </div>
            </div>
          </ul>
        </nav>
      </div>
      <div class="main">
        <div class="col-md-12">
          <div class="row">
            <div class="sidebarToggle" ng-click="boolie = !boolie">
                <i class="fa fa-bars sidebar-toggleHam menuIcon" aria-hidden="true" ng-class="boolie ? 'rotate' : ''"></i>
                <span class="sidebar-toggleText"><%=targetMaterial.name%></span>
            </div>
            <div class="embed-responsive embed-responsive-16by9 pdfFrame">
              <iframe class="pdfFrame embed-responsive-item" src="/javascripts/pdfjs/web/viewer.html?file=<%=targetMaterial.url%>"></iframe>
            </div>
            <div id="note-test" class="col-sm-offset-1 col-sm-10">
              <div class="note-area">
                <div class="row">
                  <div id="note-edit" class="note-edit col-sm-6">
                    <div class="form-group">
                      <label>筆記內容</label>
                      <textarea name="note" id="note" value="" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                      <a id="addNoteBtn" class="btn btn-default pull-right">儲存</a>
                    </div>   
                  </div>
                  <div id="note-content" class="note-content col-sm-6">
                    <%
                      for(var n=0;n<notes.length;n++){
                        var note = notes[n];
                    %>
                    <div class="note-item" id="note-item-<%=note.id%>">
                      <p class="note-message">
                        <a class="note-date"><%=note.note_date%>
                          <small class="note-point pull-right"><i class="fa fa-bookmark" aria-hidden="true"></i> <%=note.point_format%></small>
                        </a>
                        <div class="note-edit-item">
                          <textarea class="note-lock"><%=note.note%></textarea>
                          <div class="note-func">
                            <i class="fa fa-pencil fa-lg" aria-hidden="true" onclick="editNote(this)"></i>
                            <i class="fa fa-trash fa-lg" aria-hidden="true" data-on-confirm="removeNote" data-materialid="<%=targetMaterial.id%>" data-noteid="<%=note.id%>" data-popout="true" data-toggle="confirmation" data-title="確定刪除嗎?" data-btn-ok-label="確定" data-btn-cancel-label="取消"></i>
                          </div>
                          <div class="note-edit-func">
                            <button class="btn btn-sm" data-note="<%=note.note%>" onclick="cancelEditNote(this)">取消</button>
                            <button class="btn btn-sm btn-success" data-materialid="<%=targetMaterial.id%>" data-noteid="<%=note.id%>"  onclick="updateNote(this)">儲存</button>
                          </div>
                        </div>
                      </p>
                    </div>
                    <hr>
                    <%
                      }
                    %>            
                  </div>  
                </div>  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="detailModal" data-backdrop="static" data-keyboard="false" class="modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">教材說明</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12">
                <table class="table table-striped">
                  <tbody>
                    <tr>
                      <td>目標</td>
                      <td><%=targetMaterial.goal%></td>
                    </tr>
                    <tr>
                      <td>說明</td>
                      <td><%=targetMaterial.description%></td>
                    </tr>
                    <tr>
                      <td>通過條件</td>
                      <%
                        if(targetMaterial.pass_method=='0'){
                      %>
                          <td>每一頁停留 3秒 (含)以上</td>
                      <%
                        }else{
                      %>
                          <td>每一頁停留 <%=targetMaterial.pass_val%>秒 (含)以上</td>
                      <%
                        }
                      %>                     
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">我瞭解了</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Note Area -->
    <div id="note-bar">
    <!--  <a class="btn btn-primary pull-right handle">展開筆記</a> -->
      <div class="note-area">
        <div class="row">
          <div id="note-edit" class="note-edit">
            <div class="form-group">
              <label>筆記內容</label>
              <textarea name="note" id="note" value="" class="form-control"></textarea>
            </div>
            <div class="form-group">
              <a id="addNoteBtn" class="btn btn-default pull-right">儲存</a>
            </div>   
          </div>
          <div id="note-content" class="note-content">
            <%
              for(var n=0;n<notes.length;n++){
                var note = notes[n];
            %>
            <div class="note-item" id="note-item-<%=note.id%>">
              <p class="note-message">
                <a class="note-date"><%=note.note_date%>
                  <small class="note-point pull-right"><i class="fa fa-bookmark" aria-hidden="true"></i> <%=note.point_format%></small>
                </a>
                <div class="note-edit-item">
                  <div class="note-func">
                    <i class="fa fa-pencil fa-lg" aria-hidden="true" onclick="editNote(this)"></i>
                    <i class="fa fa-trash fa-lg" aria-hidden="true" data-on-confirm="removeNote" data-materialid="<%=targetMaterial.id%>" data-noteid="<%=note.id%>" data-popout="true" data-toggle="confirmation" data-title="確定刪除嗎?" data-btn-ok-label="確定" data-btn-cancel-label="取消"></i>
                  </div>
                  <textarea class="note-lock"><%=note.note%></textarea>
                  <div class="note-edit-func">
                    <button class="btn btn-sm pull-right" data-note="<%=note.note%>" onclick="cancelEditNote(this)">取消</button>
                    <button class="btn btn-sm pull-right" data-materialid="<%=targetMaterial.id%>" data-noteid="<%=note.id%>"  onclick="updateNote(this)">儲存</button>
                  </div>
                </div>
              </p>
            </div>
            <hr>
            <%
              }
            %>            
          </div>  
        </div>  
      </div>
    </div>

    <script src="/javascripts/jquery-3.2.1.min.js"></script>
    <script src="/javascripts/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script src="/javascripts/moment.js"></script>
    <script src="/javascripts/jquery.slidereveal.min.js"></script>
    <script src="/javascripts/bootstrap-confirmation.min.js"></script>
    <script src="/javascripts/angular.min.js"></script>
    <script>
      var app = angular.module('myApp', []);
      var pdfReadStatement = {
        "actor":{
          "name":"<%=user.name%>",
          "account":{
            "name":"<%=user.userId%>",
            "homePage":"<%=host%>"
          }
        },
        "verb":{
          "id":"https://w3id.org/xapi/adb/verbs/read",
          "display":{
            "zh-TW":"閱讀"
          }
        },
        "object":{
          "objectType":"Activity",
          "id":"<%=host%>/activity/<%=activity.id%>/material/<%=targetMaterial.id%>",
          "definition":{
            "name":{
              "zh-TW":"<%=targetMaterial.name%>"
            },
            "description":{
              "zh-TW":"<%=targetMaterial.description%>"
            },
            "type":"https://w3id.org/xapi/acrossx/activities/e-book",
            "extensions":{
              "https://w3id.org/xapi/acrossx/extensions/total-pages":0,
              "https://w3id.org/xapi/acrossx/extensions/page":0
            }
          }
        },
        "result":{
          "duration":"",
          "extensions":{
            "http://id.tincanapi.com/extension/starting-point":"",
            "http://id.tincanapi.com/extension/ending-point":""
          }
        },
        "context":{
          "instructor":{
            "name":"<%=activity.creator_name%>",
            "account":{
              "name":"<%=activity.creator_cooc_id%>",
              "homePage":"<%=host%>"
            }
          },
          "platform":"<%=host%>",
          "language":"zh-TW",
          "contextActivities":{
            "parent":[{
              "objectType":"Activity",
              "id":"",
              "definition":{
                "name":{
                  "zh-TW":"<%=activity.name%>"
                },
                "description":{
                  "zh-TW":"<%=activity.description%>"
                }
              }
            }],
            "category":[{
              "objectType":"Activity",
              "id":"https://w3id.org/xapi/acrossx/profile/ebook"
            }]
          }
        },
        "timestamp":""
      };
      var pdf_start_page = 1;
      var pdf_start_date = new Date();
      var timer;
      var past_time_spent = '<%=targetMaterial.time_spent%>';
      var pass_method = '<%=targetMaterial.pass_method%>';
      var pass_val = '<%=targetMaterial.pass_val%>';
      var pass_val_int = parseInt(pass_val);
      if(pass_method=='0'){        
        pass_val_int = 3;
      }
      var completion_counts = Number('<%=completion_counts%>')+1;
      var total_material_counts = Number('<%=materials.length%>');
      var activity_completion = Math.round(completion_counts/total_material_counts*100);
      $(document).ready(function(){

        if("<%=targetMaterial.access_counts%>"=="1"){
          $('#detailModal').modal('show');
        }

        // 收到 PDFViewer 換頁訊息
        window.addEventListener("message", function(event){
          var readData = event.data;
          pdf_start_page = readData.current_page;
          pdf_start_date = readData.start_date;
          if(readData.is_init){
            /*
            setInterval(function(){
              var temp_time_spent = past_time_spent;
              past_time_spent++;
              $('#time_spent_format').html(moment.utc(temp_time_spent*1000).format('HH:mm:ss'));
              if(pass_val_int==past_time_spent){
                
              }
            }, 1000);
            */
          }else{
            var start_read_date = readData.start_date;
            var end_read_date = readData.end_date;
            var read_page = readData.previous_page;
            var time_spent = Math.round(Math.abs((end_read_date.getTime()-start_read_date.getTime())/1000));
            var start_read_date_format = moment(start_read_date).format("YYYY-MM-DD HH:mm:ss");
            var end_read_date_format = moment(end_read_date).format("YYYY-MM-DD HH:mm:ss");
            $.ajax({
              url : '/api/log/pdf/read',
              type: 'post',
              data : 'activity_id=<%=activity.id%>&material_id=<%=targetMaterial.id%>&creator_id=<%=activity.creator_id%>&creator_cooc_id=<%=activity.creator_cooc_id%>&user_cooc_id=<%=user.userId%>&start_date='+start_read_date_format+'&end_date='+end_read_date_format+'&time_spent='+time_spent+'&page='+read_page+'&pass_val='+pass_val_int+'&total_pages=<%=targetMaterial.pages%>&activity_completion='+activity_completion
            }).done(function(response){
              console.log('post read pdf page log successfully!');
            });
          }
        }, false);

        var slider = $("#note-bar").slideReveal({
          width:300,
          push: false,
          position: "right",
          trigger: $("#openNoteBtn"),
          autoEscape: false,
          shown: function(obj){
            $("#openNoteBtn").html('隱藏筆記');
            /*
            obj.find(".handle").html('隱藏筆記');
            obj.addClass("left-shadow-overlay");
            */
          },
          hidden: function(obj){
            $("#openNoteBtn").html('展開筆記');
            /*
            obj.find(".handle").html('展開筆記');
            obj.removeClass("left-shadow-overlay");
            */
          }
        });

        $('#note-test [data-toggle=confirmation]').confirmation({
            rootSelector: '[data-toggle=confirmation]',
            singleton: true
        });
        $('#note-bar [data-toggle=confirmation]').confirmation({
            rootSelector: '[data-toggle=confirmation]',
            singleton: true
        });
        $('#addNoteBtn').on('click', function(){
          var note = $('#note').val();
          if(note && note.length!=0){
            $.ajax({
              url: '/api/log/material/pdf/note',
              type:"POST",
              data:'activity_id=<%=activity.id%>&material_id=<%=targetMaterial.id%>&creator_id=<%=activity.creator_id%>&creator_cooc_id=<%=activity.creator_cooc_id%>&type=<%=targetMaterial.type%>&note='+note,
              success: function(result){
                $('#note').val('');
                $('.note-content').prepend(
                  '<div class="note-item" id="note-item-'+result.data.id+'">'+
                    '<p class="note-message">'+
                      '<a class="note-date">'+moment(result.data.note_date).format('YYYY/MM/DD HH:mm:ss')+
                        '<small class="note-point pull-right"></small>'+
                      '</a>'+
                      '<div class="note-edit-item">'+
                        '<div class="note-func">'+
                          '<i class="fa fa-pencil fa-lg" aria-hidden="true" onclick="editNote(this)"></i>'+
                          '<i class="fa fa-trash fa-lg" aria-hidden="true" data-on-confirm="removeNote" data-materialid="<%=targetMaterial.id%>" data-noteid="'+result.data.id+'" data-popout="true" data-toggle="confirmation" data-title="確定刪除嗎?" data-btn-ok-label="確定" data-btn-cancel-label="取消"></i>'+
                        '</div>'+
                        '<textarea class="note-lock" value="'+note+'">'+note+'</textarea>'+
                        '<div class="note-edit-func">'+
                          '<button class="btn btn-sm pull-right" data-note="'+note+'" onclick="cancelEditNote(this)">取消</button>'+
                          '<button class="btn btn-sm pull-right" data-materialid="<%=targetMaterial.id%>" data-noteid="'+result.data.id+'"  onclick="updateNote(this)">儲存</button>'+
                        '</div>'+
                      '</div>'+
                    '</p>'+
                  '</div>'+
                  '<hr>'
                ).find('#note-item-'+result.data.id+' .note-func i.fa-trash').confirmation({
                  rootSelector: '[data-toggle=confirmation]',
                  singleton: true
                });
              },
              error:function(xhr, ajaxOptions, thrownError){
                console.log(xhr.status);
                console.log(thrownError);
              }
         	  });
          }
        });

        window.onbeforeunload = beforeunload;
        function beforeunload(){
          var start_read_date = pdf_start_date;
          var end_read_date = new Date();
          var time_spent = Math.round(Math.abs((end_read_date.getTime()-start_read_date.getTime())/1000));
          var start_read_date_format = moment(start_read_date).format("YYYY-MM-DD HH:mm:ss");
          var end_read_date_format = moment(end_read_date).format("YYYY-MM-DD HH:mm:ss");
          $.ajax({
            url : '/api/log/pdf/read',
            type: 'post',
            data : 'activity_id=<%=activity.id%>&material_id=<%=targetMaterial.id%>&creator_id=<%=activity.creator_id%>&creator_cooc_id=<%=activity.creator_cooc_id%>&user_cooc_id=<%=user.userId%>&start_date='+start_read_date_format+'&end_date='+end_read_date_format+'&time_spent='+time_spent+'&page='+pdf_start_page+'&pass_val='+pass_val_int+'&total_pages=<%=targetMaterial.pages%>&activity_completion='+activity_completion
          }).done(function(response){
            console.log('post read pdf page log successfully!');
          });
        }
        
      });
      function editNote(e){
        var ta = $(e);
        ta.closest('.note-edit-item').find('textarea').removeClass('note-lock');
        ta.closest('.note-edit-item').find('.note-edit-func').show();
      }
      function removeNote(){
        var targetEle = $(this);
        var materialId = targetEle.attr('data-materialid');
        var noteId = targetEle.attr('data-noteid');
        $.ajax({
          url: '/api/log/material/note/remove/'+materialId+'/'+noteId,
          type:"POST",
          success: function(result){
            if(result.success){
              targetEle.closest('.note-item').remove();
            }
          },
          error:function(xhr, ajaxOptions, thrownError){
            console.log(xhr.status);
            console.log(thrownError);
          }
        });
      }
      function updateNote(e){
        var targetEle = $(e);
        var materialId = targetEle.attr('data-materialid');
        var noteId = targetEle.attr('data-noteid');
        var note = targetEle.closest('.note-item').find('textarea').val();
        $.ajax({
          url: '/api/log/material/note/update/'+materialId+'/'+noteId,
          data:'note='+note,
          type:"POST",
          success: function(result){
            if(result.success){
              var targetParent = targetEle.closest('.note-edit-item');
              targetParent.find('textarea').addClass('note-lock');
              targetParent.find('.note-edit-func').hide();
            }
          },
          error:function(xhr, ajaxOptions, thrownError){
            console.log(xhr.status);
            console.log(thrownError);
          }
        });
      }
      function cancelEditNote(e){
        var targetEle = $(e);
        var targetParent = targetEle.closest('.note-edit-item');
        targetParent.find('textarea').addClass('note-lock');
        targetParent.find('textarea').val(targetEle.attr('data-note'));
        targetEle.parent().hide();
      }

      var width = window.innerWidth;
      if( width < 767){
        $("#accordion").removeClass('sidebar');
      }else{
        $("#accordion").removeClass('panel-group');
      }
    </script>
  </body>
</html>
