<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>
		<%= title %>
	</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
	<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/javascripts/bootstrap-3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="/javascripts/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/stylesheets/student.css">
	<link rel="stylesheet" href="/stylesheets/intern/dashboard_teacher.css">
	<link rel="stylesheet" href="/stylesheets/intern/dashboard_student.css">
	<link rel="stylesheet" href="/stylesheets/logon.css"> </head>

<body>
	<%- cooc_header %>
		<div class="wrapper" ng-app="myApp">
			<div class="sidebar" ng-class="boolie ? 'closed' : ''">
				<div class="sidebarToggle" ng-click="boolie = !boolie">
					<i class="fa fa-ellipsis-v sidebar-toggleHam menuIcon" aria-hidden="true" ng-class="boolie ? 'rotate' : ''"></i>
					<span class="sidebar-toggleText">縮到最小</span>
				</div>
				<nav role="navigation" class="sidebarNav">
					<ul>
						<li class="sidebar-navItem">
							<i class="menuIcon fa fa fa-signal"></i>
							<a href="/intern/dashboard/student/records">資料檢閱庫</a>
						</li>
						<li class="sidebar-navItem">
							<i class="menuIcon fa fa-clipboard"></i>
							<a href="/dashboard/student/wat">WAT</a>
						</li>
						<li class="sidebar-navItem">
							<i class="menuIcon fa fa-clipboard"></i>
							<a href="/dashboard/student/coocLearning">酷課學習</a>
						</li>
						<li class="sidebar-navItem">
							<i class="menuIcon fa fa-clipboard"></i>
							<a href="/intern/dashboard/student/college">大學科系探索</a>
						</li>
						<li class="sidebar-navItem">
							<i class="menuIcon fa fa-clipboard"></i>
							<a href="/intern/dashboard/teacher/groupanalysis">群體學習行為分析</a>
						</li>
						<li class="sidebar-navItem">
							<i class="menuIcon fa fa-clipboard"></i>
							<a href="/intern/dashboard/student/badge">我的徽章</a>
						</li>
						<hr>
						<li class="sidebar-navItem">
							<i class="menuIcon fa fa-cog" aria-hidden="true"></i>
							<a href="/dashboard/student/custom">自定首頁</a>
						</li>
					</ul>
				</nav>
				<footer class="sidebar-footer">
					<a href="/student/activity?p=1">
						<i class="sidebar-toggleArrow sidebar-menuIcon fa fa-arrow-left" ng-class="boolie ? 'rotate' : ''"></i>
						<span class="sidebar-footerText">前往編輯工具</span>
					</a>
				</footer>
			</div>
			<div class="main">
				<div id="container" class="row">

					<!-- Trigger the modal with a button -->
					<div class="row">
						<div class="col-md-2 text-center">
							<button type="button" id="addCategory" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">新增類別</button>
						</div>
					</div>
					<div id="categorys" class="row">

					</div>

				</div>

			</div>
		</div>
		<%- cooc_footer %>
			<!-- 酷課雲 Header 角色 -->
			<div class="roleInfo" style="display:none;">
				<a id="logonBlock" href="javascript:void(0)">
					<img id="logonpic" src="<%=user.photoUrl%>" />
					<img id="logonBack" src="/images/logon_back.png">
				</a>
				<div id="logonName">
					<%=user.name%>
				</div>
				<div id="logonRole">
					<%=user.role_name%>
				</div>
				<ul class="navigation">
					<li>
						<ul style="display:none">
							<li>
								<a href="http://sso.tp.edu.tw/accountservice/" target="_blank">個人資訊</a>
							</li>
							<li class="logout">
								<a href="/users/logout">登出</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			<!-- Modal -->
			<div id="myModal" class="modal fade" role="dialog">
				<div class="modal-dialog">
					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title">新增類別</h4>
						</div>
						<div class="modal-body">
							<form action="">
								<input type="text" name="name" placeholder="請輸入類別名稱">
								<input type="button" value="送出">
							</form>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
			<!-- Modal2 -->
			<div id="myModal_2" class="modal fade" role="dialog">
				<div class="modal-dialog">
					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title">新增類別</h4>
						</div>
						<div class="modal-body">
							<form action="">
								<input type="text" name="name" placeholder="請輸入條件名稱">
								<input type="text" name="description" placeholder="請輸入條件描述">
								<input type="text" name="picture" placeholder="請輸入條件圖片">
								<input type="button" value="送出">
							</form>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
			<div id="modal_condition" class="modal fade" role="dialog">
				<div class="modal-dialog">
					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title">編輯條件</h4>
						</div>
						<div class="modal-body">
							<div class='name'>
								<div>名稱 :</div>
								<div class="content"></div>
							</div>
							<div class='description'>
								<div>描述 :</div>
								<div class="content"></div>
							</div>
							<div class='time'>
								<div>時間 :</div>
								<div class="content"></div>
							</div>
							<div class="picture">
								<div>圖片預覽</div>
								<img src="" alt="" width="120" height="120">
							</div>
						</div>
						<div class="modal-footer">
							<button id="updateCondition" type="button" class="btn btn-default" data-dismiss="modal">修改</button>
							<button id="deleteCondition" type="button" class="btn btn-default" data-dismiss="modal">移除</button>
						</div>
					</div>
				</div>
			</div>
			<script src="/javascripts/jquery-3.2.1.min.js"></script>
			<script src="/javascripts/bootstrap-3.3.7/js/bootstrap.min.js"></script>
			<script src="/javascripts/angular.min.js"></script>
			<script>
				var app = angular.module('myApp', []);
				$(document).ready(function () {

					//酷課雲 header 處理
					$('.rolemenu').html($('.roleInfo').html());
					$("#logonBlock").on("click", function () {
						if ($("ul.navigation li > ul").is(":visible")) {
							$("ul.navigation li > ul").css("display", "none");
						} else {
							$("ul.navigation li > ul").css("display", "block");
						}
					});

					//目前點選的類別
					var currentCategory = -1;
					var level = 0;;
					var categoryName = '';
					$("#myModal_2").on('shown.bs.modal', function (event) {
						var id = $('.addCondition').index($(event.relatedTarget));
						currentCategory = id;
					});

					$("#myModal_2").on('hidden.bs.modal', function (event) {
						currentCategory = -1;
					});
					$('#modal_condition').on('shown.bs.modal', function (event) {
						currentCategory = $('.category').index($(event.relatedTarget).closest('.row').prev('.row').children('.category'));
						level = $(event.relatedTarget).parent('.condition').data('level');
						categoryName = $(event.relatedTarget).closest('.row').prev('.row').children('.category').text();
						//get this condition data
						sendRequest('getCondition', {
							level: level,
							categoryName: categoryName
						});
					});
					$('#modal_condition').on('hidden.bs.modal', function (event) {
						$('#modal_condition').find('.modal-body').children('.name').children('.content').attr('contenteditable', false).css('background-color', 'transparent').parent().siblings('.description').children('.content').attr('contenteditable', false).css('background-color', 'transparent').parent().siblings('.time').children('.content').attr('contenteditable', false).css('background-color', 'transparent');
						$('#modal_condition').find('.modal-body').children('.picture').children('img').attr('src', '').parent().siblings('.name').children('.content').text('').parent().siblings('.description').children('.content').text('').parent().siblings('.time').children('.content').text('');
					});

					$('#myModal input[type="button"]').on('click', function () {
						//send to back end
						$('#categorys').empty();
						var categoryName = $(this).prev('input[name="name"]').val();
						sendRequest('addCategory', categoryName);
					});
					$('#myModal_2 input[type="button"]').on('click', function () {
						//send to back end
						var conditionName = $('#myModal_2').find('input[name="name"]').val();
						var conditionDescription = $('#myModal_2').find('input[name="description"]').val();
						var conditionPicture = $('#myModal_2').find('input[name="picture"]').val();
						sendRequest('addCondition', {
							categoryName: $('#categorys > div:nth-child(' + (currentCategory + 1) + ') > div:nth-child(1) > div').text(),
							conditionName: conditionName
							, conditionDescription: conditionDescription,
							conditionPicture: conditionPicture
						});
						$('#categorys').empty();
					});
					var isUpdatingCondtion = false;
					$('#updateCondition').on('click', function (e) {
						if (!isUpdatingCondtion) {
							$('#modal_condition').find('.modal-body').children('.picture').before('<div id="changePic"><div>修改圖片</div><input type="text"><button>送出</button></div>');
							$('#modal_condition').find('.modal-body').children('.name').children('.content').attr('contenteditable', true).css('background-color', 'red').parent().siblings('.description').children('.content').attr('contenteditable', true).css('background-color', 'red').parent().siblings('.time').children('.content').attr('contenteditable', true).css('background-color', 'red');
							$(this).text('送出修改');
							$('#modal_condition').find('div[contenteditable=true]').on('focus', function (e) {
								$(this).css('background-color', 'transparent');
							});
							$('#changePic').children('button').on('click', function (e) {
								var text = $(this).siblings('input').val();
								$(this).parent().siblings('.picture').children('img').attr('src', text);
							});
							isUpdatingCondtion = true;
						} else {

							var conditionName = $('#modal_condition').find('.modal-body').children('.name').children('.content').text();
							var conditionDescription = $('#modal_condition').find('.modal-body').children('.description').children('.content').text();
							var conditionPicture = $('#modal_condition').find('.modal-body').children('.picture').children('img').attr('src');
							$(this).text('修改');
							sendRequest('updateCondition', {
								categoryName: categoryName, level: level,
								conditionName: conditionName
								, conditionDescription: conditionDescription,
								conditionPicture: conditionPicture
							});
							isUpdatingCondtion = false;
							$('#changePic').remove();
							$('#categorys').empty();
							$("#modal_condition").modal("hide");
						}

						return false;
					});
					$('#deleteCondition').on('click', function () {
						$('#categorys').children('.row').eq(currentCategory).find('.conditions').children('.condition').eq(level).remove();

						sendRequest('deleteCondition', {
							categoryName: $('#categorys').children('.row').eq(currentCategory).find('.category').text(), level: level
						});
						$('#categorys').empty();
					});

					//顯示所有結果
					var showResult = function (event, value) {
						if (event === 'addCategory' || event === 'addCondition' || event === 'updateCondition' || event === 'getInfo' || event === 'deleteCondition') {
							for (var i = 0; i < value.length; i++) {
								//新增項目容器
								$('#categorys').append('<div class="row"></div>');
								//新增類別和目標的容器
								$('#categorys').children('.row').eq(i).append('<div class="row"><div class="col-md-1 category"></div></div><div class="row"></div>');
								//設置類別
								$('#categorys').children('.row').eq(i).children('.row').eq(0).children('.category').text(value[i]['name']);
								//放置新增目標按鈕
								$('#categorys').children('.row').eq(i).children('.row').eq(1).append('<div class="col-md-2"><button type="button" class="addCondition" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal_2">新增徽章</button></div>');
								$('#categorys').children('.row').eq(i).children('.row').eq(1).prepend('<div class="conditions"></div>');
								//放置新增目標
								for (var id in value[i]['conditions']) {
									$('#categorys').children('.row').eq(i).children('.row').eq(1).children('.conditions').append('<div class="col-md-2 condition" data-level=' + id + '><img src=' + value[i]['conditions'][id]['img'] + ' width="120" height="120" data-toggle="modal" data-target="#modal_condition"></img></div>');
								}
								$("#myModal").modal("hide");
								$("#myModal_2").modal("hide");
							}
						} else if (event === 'getCondition') {
							$('#modal_condition').find('.modal-body').children('.picture').children('img').attr('src', value.img).parent().siblings('.name').children('.content').text(value.name).parent().siblings('.description').children('.content').text(value.description).parent().siblings('.time').children('.content').text(value.timestamp);
						}
					};
					//Ajax資料庫-取得此班級的學生資料
					var sendRequest = function (event, data) {
						console.log("送出資料: ", data, event);
						//傳送篩選資料
						var URLs = 'http://localhost:3000/intern/dashboard/student/badge/' + event;
						$.ajax({
							url: URLs,
							data: {
								data: data
							},
							contentType: 'application/json',
							type: "GET",
							dataType: 'json',
							success: function (result, status, xhr) {
								console.log("回傳資料: ", result);
								//擷取事件名稱
								var event = this.url.substring(this.url.lastIndexOf('/') + 1, this.url.indexOf('?'));
								showResult(event, result['data']);
							},
							error: function (xhr, ajaxOptions, thrownError) {
								alert(xhr.status);
								alert(thrownError);
							}
						});
					};
					var initPage = function () {
						sendRequest('getInfo', null);
					}();
				});


			</script>
</body>

</html>