<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>
		<%= title %>
	</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
	<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/javascripts/bootstrap-3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="/javascripts/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/stylesheets/intern/lrs.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
	<link rel="stylesheet" href="/stylesheets/intern/dashboard_student.css">
	<link rel="stylesheet" href="/stylesheets/intern/custom.css">
	<link rel="stylesheet" href="/stylesheets/logon.css">
	<script src="/javascripts/jquery-3.2.1.min.js"></script>
	<script>
		//drag and drop
		var drag = function (ev) {
			console.log(2, $(ev.target));
			ev.dataTransfer.setData("custom", $(ev.target).data('custom'));
		};

		function allowDrop(ev) {
			ev.preventDefault();
		};

		function drop(ev) {
			ev.preventDefault();

			var custom = ev.dataTransfer.getData("custom");

			if (localStorage.getItem('custom')) {
				var oldData = JSON.parse(localStorage.getItem('custom'));

				var oldDataLength = Object.keys(oldData).length;

				oldData[oldDataLength] = JSON.parse(custom);

				localStorage.setItem('custom', JSON.stringify(oldData));
			} else {
				var a = {};
				a[0] = JSON.parse(custom);
				localStorage.setItem('custom', JSON.stringify(a));
			}
			alert('已幫您加入自訂首頁');
		}
	</script>
</head>

<body>
	<%- cooc_header %>
		<div class="wrapper" ng-app="myApp">
			<div class="sidebar" ng-class="boolie ? 'closed' : ''">
				<div class="sidebarToggle" ng-click="boolie = !boolie">
					<i class="fa fa-ellipsis-v sidebar-toggleHam menuIcon" aria-hidden="true" ng-class="boolie ? 'rotate' : ''"></i>
					<span class="sidebar-toggleText">縮到最小</span>
				</div>
				<nav role="navigation" class="sidebarNav">
					<ul>
						<li class="sidebar-navItem">
							<i class="menuIcon fa fa fa-signal"></i>
							<a href="/intern/dashboard/student/records">資料檢閱庫</a>
						</li>
						<li class="sidebar-navItem">
							<i class="menuIcon fa fa-clipboard"></i>
							<a href="/dashboard/student/wat">WAT</a>
						</li>
						<li class="sidebar-navItem">
							<i class="menuIcon fa fa-clipboard"></i>
							<a href="/dashboard/student/coocLearning">酷課學習</a>
						</li>
						<li class="sidebar-navItem">
							<i class="menuIcon fa fa-clipboard"></i>
							<a href="/intern/dashboard/student/college">大學科系探索</a>
						</li>
						<li class="sidebar-navItem">
							<i class="menuIcon fa fa-clipboard"></i>
							<a href="/intern/dashboard/teacher/groupanalysis">群體學習行為分析</a>
						</li>
						<li class="sidebar-navItem">
							<i class="menuIcon fa fa-clipboard"></i>
							<a href="/intern/dashboard/student/badge">我的徽章</a>
						</li>
						<hr>
						<li class="sidebar-navItem" ondrop="drop(event)" ondragover="allowDrop(event)">
							<i class="menuIcon fa fa-cog" aria-hidden="true"></i>
							<a href="/intern/dashboard/student/custom">自定首頁</a>
						</li>
					</ul>
				</nav>
				<footer class="sidebar-footer">
					<i class="sidebar-toggleArrow sidebar-menuIcon fa fa-arrow-left" ng-class="boolie ? 'rotate' : ''"></i>
					<span class="sidebar-footerText">
						<a href="/student/activity?p=1">前往編輯工具</a>
					</span>
				</footer>
			</div>
			<div class="main">
				<div class="col-md-12">
					<h4>大學科系探索</h4>
					<hr>
					<!-- 我的部分 -->
					<section class="content">
						<div class="row">
							<div class="col-md-12">
								<div class="box">
									<div class="box-header with-border">
										<h3 class="box-title">根據學群、學校、科系關鍵字查詢</h3>
									</div>
									<div class="box-body">
										<div id="schoolSearchPanel">
											<div class="row">
												<div class="col-md-3">
													<div class="form-group">
														<label>學群</label>
													</div>
												</div>
												<div class="col-md-3">
													<div class="form-group">
														<label>學校</label>
													</div>
												</div>
												<div class="col-md-4">
													<div class="form-group">
														<label>科系關鍵字</label>
														<input id="department" type="text" class="form-control"> </div>
												</div>
												<div class="col-md-2">
													<div class="form-group">
														<label>搜尋</label>
														<a id="schoolSearchBtn" class="btn btn-primary form-control">
															<i class="fa fa-search" aria-hidden="true"></i>
														</a>
													</div>
												</div>
											</div>
										</div>
										<div class="fixed-table-loading hide" style="top: 1px;">正在努力地載入資料，請稍候……</div>
										<div id="behaviorAnalysisArea" class="analysisArea hide">
											<div class="row">
												<div class="col-md-2">
													<a class="btn btn-primary backBtn" data-target="school">返回</a>
												</div>
											</div>
											<br>
											<h4>您查詢的是:
												<span id="schoolSearchTitle"></span>
											</h4>
											<div class="row">
												<div class="col-md-12">
													<div class="bootstrap-table">
														<div class="fixed-table-toolbar">
															<div class="columns columns-right btn-group pull-right">
																<div class="keep-open btn-group" title="列">
																	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
																		<i class="glyphicon glyphicon-th icon-th"></i>
																		<span class="caret"></span>
																	</button>
																	<ul class="dropdown-menu" role="menu">
																		<li>
																			<label>
																				<input type="checkbox" data-field="group_name" value="0" checked="checked"> 學系</label>
																		</li>
																		<li>
																			<label>
																				<input type="checkbox" data-field="school_name" value="1" checked="checked"> 校名</label>
																		</li>
																		<li>
																			<label>
																				<input type="checkbox" data-field="department_name" value="2" checked="checked"> 科系</label>
																		</li>
																		<li>
																			<label>
																				<input type="checkbox" data-field="chinese" value="3" checked="checked"> 國文</label>
																		</li>
																		<li>
																			<label>
																				<input type="checkbox" data-field="english" value="4" checked="checked"> 英文</label>
																		</li>
																		<li>
																			<label>
																				<input type="checkbox" data-field="math_a" value="5" checked="checked"> 數學甲</label>
																		</li>
																		<li>
																			<label>
																				<input type="checkbox" data-field="math_b" value="6" checked="checked"> 數學乙</label>
																		</li>
																		<li>
																			<label>
																				<input type="checkbox" data-field="biology" value="7" checked="checked"> 生物</label>
																		</li>
																		<li>
																			<label>
																				<input type="checkbox" data-field="history" value="8" checked="checked"> 歷史</label>
																		</li>
																		<li>
																			<label>
																				<input type="checkbox" data-field="geography" value="9" checked="checked"> 地理</label>
																		</li>
																		<li>
																			<label>
																				<input type="checkbox" data-field="citizen" value="10" checked="checked"> 公民</label>
																		</li>
																		<li>
																			<label>
																				<input type="checkbox" data-field="physics" value="11" checked="checked"> 物理</label>
																		</li>
																		<li>
																			<label>
																				<input type="checkbox" data-field="chemistry" value="12" checked="checked"> 化學</label>
																		</li>
																	</ul>
																</div>
															</div>
														</div>
														<div class="fixed-table-container" style="padding-bottom: 0px;">
															<div class="fixed-table-header" style="display: none;">
																<table></table>
															</div>
															<div class="fixed-table-body">
																<table id="schoolTable" class="table table-striped table-hover">
																	<thead style="">
																		<tr>
																			<th style="text-align: center; vertical-align: middle; " data-field="group_name" tabindex="0">
																				<div class="th-inner sortable both">學系</div>
																				<div class="fht-cell"></div>
																			</th>
																			<th style="text-align: center; vertical-align: middle; " data-field="school_name" tabindex="0">
																				<div class="th-inner sortable both">校名</div>
																				<div class="fht-cell"></div>
																			</th>
																			<th style="text-align: center; vertical-align: middle; " data-field="department_name" tabindex="0">
																				<div class="th-inner sortable both">科系</div>
																				<div class="fht-cell"></div>
																			</th>
																			<th style="text-align: center; vertical-align: middle; " data-field="chinese" tabindex="0">
																				<div class="th-inner sortable both">國文</div>
																				<div class="fht-cell"></div>
																			</th>
																			<th style="text-align: center; vertical-align: middle; " data-field="english" tabindex="0">
																				<div class="th-inner sortable both">英文</div>
																				<div class="fht-cell"></div>
																			</th>
																			<th style="text-align: center; vertical-align: middle; " data-field="math_a" tabindex="0">
																				<div class="th-inner sortable both">數學甲</div>
																				<div class="fht-cell"></div>
																			</th>
																			<th style="text-align: center; vertical-align: middle; " data-field="math_b" tabindex="0">
																				<div class="th-inner sortable both">數學乙</div>
																				<div class="fht-cell"></div>
																			</th>
																			<th style="text-align: center; vertical-align: middle; " data-field="biology" tabindex="0">
																				<div class="th-inner sortable both">生物</div>
																				<div class="fht-cell"></div>
																			</th>
																			<th style="text-align: center; vertical-align: middle; " data-field="history" tabindex="0">
																				<div class="th-inner sortable both">歷史</div>
																				<div class="fht-cell"></div>
																			</th>
																			<th style="text-align: center; vertical-align: middle; " data-field="geography" tabindex="0">
																				<div class="th-inner sortable both">地理</div>
																				<div class="fht-cell"></div>
																			</th>
																			<th style="text-align: center; vertical-align: middle; " data-field="citizen" tabindex="0">
																				<div class="th-inner sortable both">公民</div>
																				<div class="fht-cell"></div>
																			</th>
																			<th style="text-align: center; vertical-align: middle; " data-field="physics" tabindex="0">
																				<div class="th-inner sortable both">物理</div>
																				<div class="fht-cell"></div>
																			</th>
																			<th style="text-align: center; vertical-align: middle; " data-field="chemistry" tabindex="0">
																				<div class="th-inner sortable both">化學</div>
																				<div class="fht-cell"></div>
																			</th>
																		</tr>
																	</thead>
																	<tbody>
																		<tr class="no-records-found">
																			<td colspan="13">沒有找符合的結果</td>
																		</tr>
																	</tbody>
																</table>
															</div>
															<div class="fixed-table-footer" style="display: none;">
																<table>
																	<tbody>
																		<tr></tr>
																	</tbody>
																</table>
															</div>
															<div class="fixed-table-pagination" style="display: none;">
																<div class="pull-left pagination-detail">
																	<span class="pagination-info">顯示第 1 到第 0 項記錄，總共 0 項記錄</span>
																	<span class="page-list" style="display: none;">每頁顯示
																		<span class="btn-group dropup">
																			<button type="button" class="btn btn-default  dropdown-toggle" data-toggle="dropdown">
																				<span class="page-size">10</span>
																				<span class="caret"></span>
																			</button>
																			<ul class="dropdown-menu" role="menu">
																				<li>
																					<a href="javascript:void(0)">5</a>
																				</li>
																			</ul>
																		</span> 項記錄</span>
																</div>
																<div class="pull-right pagination" style="display: none;">
																	<ul class="pagination">
																		<li class="page-first disabled">
																			<a href="javascript:void(0)">«</a>
																		</li>
																		<li class="page-pre disabled">
																			<a href="javascript:void(0)">‹</a>
																		</li>
																		<li class="page-next disabled">
																			<a href="javascript:void(0)">›</a>
																		</li>
																		<li class="page-last disabled">
																			<a href="javascript:void(0)">»</a>
																		</li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
													<div class="clearfix"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="box">
									<div class="box-header with-border">
										<h3 class="box-title">挑選學科進行查詢</h3>
									</div>
									<div class="box-body">
										<div id="subjectSearchPanel">
											<div class="row">
												<div class="col-md-10">
													<div class="row">
														<div class="col-md-2 form-group">
															<div class="checkbox">
																<input type="checkbox" value="chinese">國文 </div>
														</div>
														<div class="col-md-2 form-group">
															<div class="checkbox">
																<input type="checkbox" value="english">英文 </div>
														</div>
														<div class="col-md-2 form-group">
															<div class="checkbox">
																<input type="checkbox" value="math_a">數學甲 </div>
														</div>
														<div class="col-md-2 form-group">
															<div class="checkbox">
																<input type="checkbox" value="math_b">數學乙 </div>
														</div>
														<div class="col-md-2 form-group">
															<div class="checkbox">
																<input type="checkbox" value="history">歷史 </div>
														</div>
													</div>
													<div class="row">
														<div class="col-md-2 form-group">
															<div class="checkbox">
																<input type="checkbox" value="geography">地理 </div>
														</div>
														<div class="col-md-2 form-group">
															<div class="checkbox">
																<input type="checkbox" value="citizen">公民 </div>
														</div>
														<div class="col-md-2 form-group">
															<div class="checkbox">
																<input type="checkbox" value="physics">物理 </div>
														</div>
														<div class="col-md-2 form-group">
															<div class="checkbox">
																<input type="checkbox" value="chemistry">化學 </div>
														</div>
														<div class="col-md-2 form-group">
															<div class="checkbox">
																<input type="checkbox" value="biology">生物 </div>
														</div>
													</div>
												</div>
												<div class="col-md-2">
													<div class="form-group">
														<label>搜尋</label>
														<a id="subjectSearchBtn" class="btn btn-primary form-control">
															<i class="fa fa-search" aria-hidden="true"></i>
														</a>
													</div>
												</div>
											</div>
										</div>
										<div class="fixed-table-loading hide" style="top: 1px;">正在努力地載入資料，請稍候……</div>
										<div id="subjectAnalysisArea" class="analysisArea hide">
											<div class="row">
												<div class="col-md-2">
													<a class="btn btn-primary backBtn" data-target="subject">返回</a>
												</div>
											</div>
											<br>
											<h4>您查詢的學科是:
												<span id="subjectTitle">


												</span>
											</h4>
											<div class="row">
												<div class="col-md-3">
													<div class="form-group">
														<label>學群</label>
														<select id="subject_academyGroupSelect" class="form-control">
															<option value="">全部學群</option>
														</select>
													</div>
												</div>
												<div class="col-md-4">
													<div class="form-group">
														<label>學校</label>
														<select id="subject_collegeSelect" class="form-control">
															<option value="">全部學校</option>
														</select>
													</div>
												</div>
												<div class="col-md-3">
													<div class="form-group">
														<label>科系關鍵字</label>
														<input id="subject_department" type="text" class="form-control"> </div>
												</div>
												<div class="col-md-2">
													<div class="form-group">
														<label>篩選</label>
														<a id="subjectFilterBtn" class="btn btn-primary form-control filterBtn">
															<i class="fa fa-filter" aria-hidden="true"></i>
														</a>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-12">
													<div class="bootstrap-table">
														<div class="fixed-table-toolbar">
															<div class="columns columns-right btn-group pull-right">
																<div class="keep-open btn-group" title="列">
																	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
																		<i class="glyphicon glyphicon-th icon-th"></i>
																		<span class="caret"></span>
																	</button>
																	<ul class="dropdown-menu" role="menu">
																		<li>
																			<label>
																				<input type="checkbox" data-field="academy_category" value="0" checked="checked"> 學群</label>
																		</li>
																		<li>
																			<label>
																				<input type="checkbox" data-field="school_name" value="1" checked="checked"> 校名</label>
																		</li>
																		<li>
																			<label>
																				<input type="checkbox" data-field="department_name" value="2" checked="checked"> 科系組名</label>
																		</li>
																		<li>
																			<label>
																				<input type="checkbox" data-field="chinese" value="3" checked="checked"> 國文</label>
																		</li>
																		<li>
																			<label>
																				<input type="checkbox" data-field="english" value="4" checked="checked"> 英文</label>
																		</li>
																		<li>
																			<label>
																				<input type="checkbox" data-field="math_a" value="5" checked="checked"> 數學甲</label>
																		</li>
																		<li>
																			<label>
																				<input type="checkbox" data-field="math_b" value="6" checked="checked"> 數學乙</label>
																		</li>
																		<li>
																			<label>
																				<input type="checkbox" data-field="biology" value="7" checked="checked"> 生物</label>
																		</li>
																		<li>
																			<label>
																				<input type="checkbox" data-field="history" value="8" checked="checked"> 歷史</label>
																		</li>
																		<li>
																			<label>
																				<input type="checkbox" data-field="geography" value="9" checked="checked"> 地理</label>
																		</li>
																		<li>
																			<label>
																				<input type="checkbox" data-field="citizen" value="10" checked="checked"> 公民</label>
																		</li>
																		<li>
																			<label>
																				<input type="checkbox" data-field="physics" value="11" checked="checked"> 物理</label>
																		</li>
																		<li>
																			<label>
																				<input type="checkbox" data-field="chemistry" value="12" checked="checked"> 化學</label>
																		</li>
																		<li>
																			<label>
																				<input type="checkbox" data-field="cal" value="13" checked="checked"> 查詢學科占比</label>
																		</li>
																	</ul>
																</div>
															</div>
														</div>
														<div class="fixed-table-container" style="padding-bottom: 0px;">
															<div class="fixed-table-header" style="display: none;">
																<table></table>
															</div>
															<div class="fixed-table-body">
																<table id="subjectSchoolTable" class="table table-striped table-hover">
																	<thead style="">
																		<tr>
																			<th style="text-align: center; vertical-align: middle; " data-field="academy_category" tabindex="0">
																				<div class="th-inner sortable both">學群</div>
																				<div class="fht-cell"></div>
																			</th>
																			<th style="text-align: center; vertical-align: middle; " data-field="school_name" tabindex="0">
																				<div class="th-inner sortable both">校名</div>
																				<div class="fht-cell"></div>
																			</th>
																			<th style="text-align: center; vertical-align: middle; " data-field="department_name" tabindex="0">
																				<div class="th-inner sortable both">科系組名</div>
																				<div class="fht-cell"></div>
																			</th>
																			<th style="text-align: center; vertical-align: middle; " data-field="chinese" tabindex="0">
																				<div class="th-inner sortable both">國文</div>
																				<div class="fht-cell"></div>
																			</th>
																			<th style="text-align: center; vertical-align: middle; " data-field="english" tabindex="0">
																				<div class="th-inner sortable both">英文</div>
																				<div class="fht-cell"></div>
																			</th>
																			<th style="text-align: center; vertical-align: middle; " data-field="math_a" tabindex="0">
																				<div class="th-inner sortable both">數學甲</div>
																				<div class="fht-cell"></div>
																			</th>
																			<th style="text-align: center; vertical-align: middle; " data-field="math_b" tabindex="0">
																				<div class="th-inner sortable both">數學乙</div>
																				<div class="fht-cell"></div>
																			</th>
																			<th style="text-align: center; vertical-align: middle; " data-field="biology" tabindex="0">
																				<div class="th-inner sortable both">生物</div>
																				<div class="fht-cell"></div>
																			</th>
																			<th style="text-align: center; vertical-align: middle; " data-field="history" tabindex="0">
																				<div class="th-inner sortable both">歷史</div>
																				<div class="fht-cell"></div>
																			</th>
																			<th style="text-align: center; vertical-align: middle; " data-field="geography" tabindex="0">
																				<div class="th-inner sortable both">地理</div>
																				<div class="fht-cell"></div>
																			</th>
																			<th style="text-align: center; vertical-align: middle; " data-field="citizen" tabindex="0">
																				<div class="th-inner sortable both">公民</div>
																				<div class="fht-cell"></div>
																			</th>
																			<th style="text-align: center; vertical-align: middle; " data-field="physics" tabindex="0">
																				<div class="th-inner sortable both">物理</div>
																				<div class="fht-cell"></div>
																			</th>
																			<th style="text-align: center; vertical-align: middle; " data-field="chemistry" tabindex="0">
																				<div class="th-inner sortable both">化學</div>
																				<div class="fht-cell"></div>
																			</th>
																			<th style="text-align: center; vertical-align: middle; " data-field="cal" tabindex="0">
																				<div class="th-inner sortable both">查詢學科占比</div>
																				<div class="fht-cell"></div>
																			</th>
																		</tr>
																	</thead>
																	<tbody>
																		<tr class="no-records-found">
																			<td colspan="14">沒有找符合的結果</td>
																		</tr>
																	</tbody>
																</table>
															</div>
															<div class="fixed-table-footer" style="display: none;">
																<table>
																	<tbody>
																		<tr></tr>
																	</tbody>
																</table>
															</div>
															<div class="fixed-table-pagination" style="display: none;">
																<div class="pull-left pagination-detail">
																	<span class="pagination-info">顯示第 1 到第 0 項記錄，總共 0 項記錄</span>
																	<span class="page-list" style="display: none;">每頁顯示
																		<span class="btn-group dropup">
																			<button type="button" class="btn btn-default  dropdown-toggle" data-toggle="dropdown">
																				<span class="page-size">10</span>
																				<span class="caret"></span>
																			</button>
																			<ul class="dropdown-menu" role="menu">
																				<li>
																					<a href="javascript:void(0)">5</a>
																				</li>
																			</ul>
																		</span> 項記錄</span>
																</div>
																<div class="pull-right pagination" style="display: none;">
																	<ul class="pagination">
																		<li class="page-first disabled">
																			<a href="javascript:void(0)">«</a>
																		</li>
																		<li class="page-pre disabled">
																			<a href="javascript:void(0)">‹</a>
																		</li>
																		<li class="page-next disabled">
																			<a href="javascript:void(0)">›</a>
																		</li>
																		<li class="page-last disabled">
																			<a href="javascript:void(0)">»</a>
																		</li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
													<div class="clearfix"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="box">
									<div class="box-header with-border">
										<h3 class="box-title">根據學科量值查詢</h3>
									</div>
									<div class="box-body">
										<div id="prSearchPanel">
											<div class="row">
												<div class="col-md-10">
													<div class="form-group">
														<label>方法</label>
														<div class="radio">
															<label>
																<input type="radio" name="prSelect" value="" checked="">輸入學科PR值：
																<br>
																<div class="row">
																	<div class="col-md-3">
																		<div class="input-group subject-score">
																			<span class="input-group-addon">國文</span>
																			<input id="chinese_pr" type="number" min="0" max="99" class="form-control" value="0"> </div>
																	</div>
																	<div class="col-md-3">
																		<div class="input-group subject-score">
																			<span class="input-group-addon">英文</span>
																			<input id="english_pr" type="number" min="0" max="99" class="form-control" value="0"> </div>
																	</div>
																	<div class="col-md-3">
																		<div class="input-group subject-score">
																			<span class="input-group-addon">數學甲</span>
																			<input id="math_a_pr" type="number" min="0" max="99" class="form-control" value="0"> </div>
																	</div>
																	<div class="col-md-3">
																		<div class="input-group subject-score">
																			<span class="input-group-addon">數學乙</span>
																			<input id="math_b_pr" type="number" min="0" max="99" class="form-control" value="0"> </div>
																	</div>
																	<div class="col-md-3">
																		<div class="input-group subject-score">
																			<span class="input-group-addon">生物</span>
																			<input id="biology_pr" type="number" min="0" max="99" class="form-control" value="0"> </div>
																	</div>
																	<div class="col-md-3">
																		<div class="input-group subject-score">
																			<span class="input-group-addon">歷史</span>
																			<input id="history_pr" type="number" min="0" max="99" class="form-control" value="0"> </div>
																	</div>
																	<div class="col-md-3">
																		<div class="input-group subject-score">
																			<span class="input-group-addon">地理</span>
																			<input id="geography_pr" type="number" min="0" max="99" class="form-control" value="0"> </div>
																	</div>
																	<div class="col-md-3">
																		<div class="input-group subject-score">
																			<span class="input-group-addon">公民</span>
																			<input id="citizen_pr" type="number" min="0" max="99" class="form-control" value="0"> </div>
																	</div>
																	<div class="col-md-3">
																		<div class="input-group subject-score">
																			<span class="input-group-addon">物理</span>
																			<input id="physics_pr" type="number" min="0" max="99" class="form-control" value="0"> </div>
																	</div>
																	<div class="col-md-3">
																		<div class="input-group subject-score">
																			<span class="input-group-addon">化學</span>
																			<input id="chemistry_pr" type="number" min="0" max="99" class="form-control" value="0"> </div>
																	</div>
																</div>
															</label>
														</div>
													</div>
												</div>
												<div class="col-md-2">
													<div class="form-group">
														<label>搜尋</label>
														<a id="prSearchBtn" class="btn btn-primary form-control">
															<i class="fa fa-search" aria-hidden="true"></i>
														</a>
													</div>
												</div>
											</div>
										</div>
										<div class="fixed-table-loading hide" style="top: 1px;">正在努力地載入資料，請稍候……</div>
										<div id="prAnalysisArea" class="analysisArea hide">
											<div class="row">
												<div class="col-md-2">
													<a class="btn btn-primary backBtn" data-target="pr">返回</a>
												</div>
											</div>
											<br>
											<h4>您查詢的學科PR值是:
												<span id="prTitle"></span>
											</h4>
											<div class="row">
												<div class="col-md-3">
													<div class="form-group">
														<label>學群</label>
														<select id="pr_academyGroupSelect" class="form-control">
															<option value="">全部學群</option>
														</select>
													</div>
												</div>
												<div class="col-md-4">
													<div class="form-group">
														<label>學校</label>
														<select id="pr_collegeSelect" class="form-control">
															<option value="">全部學校</option>
														</select>
													</div>
												</div>
												<div class="col-md-3">
													<div class="form-group">
														<label>科系關鍵字</label>
														<input id="pr_department" type="text" class="form-control"> </div>
												</div>
												<div class="col-md-2">
													<div class="form-group">
														<label>篩選</label>
														<a id="prFilterBtn" class="btn btn-primary form-control filterBtn">
															<i class="fa fa-filter" aria-hidden="true"></i>
														</a>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-12">
													<div class="bootstrap-table">
														<div class="fixed-table-toolbar">
															<div class="columns columns-right btn-group pull-right">
																<div class="keep-open btn-group" title="列">
																	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
																		<i class="glyphicon glyphicon-th icon-th"></i>
																		<span class="caret"></span>
																	</button>
																	<ul class="dropdown-menu" role="menu">
																		<li>
																			<label>
																				<input type="checkbox" data-field="group_name" value="0" checked="checked"> 學群</label>
																		</li>
																		<li>
																			<label>
																				<input type="checkbox" data-field="school_name" value="1" checked="checked"> 校名</label>
																		</li>
																		<li>
																			<label>
																				<input type="checkbox" data-field="department_name" value="2" checked="checked"> 科系組名</label>
																		</li>
																		<li>
																			<label>
																				<input type="checkbox" data-field="chinese" value="3" checked="checked"> 國文</label>
																		</li>
																		<li>
																			<label>
																				<input type="checkbox" data-field="english" value="4" checked="checked"> 英文</label>
																		</li>
																		<li>
																			<label>
																				<input type="checkbox" data-field="math_a" value="5" checked="checked"> 數學甲</label>
																		</li>
																		<li>
																			<label>
																				<input type="checkbox" data-field="math_b" value="6" checked="checked"> 數學乙</label>
																		</li>
																		<li>
																			<label>
																				<input type="checkbox" data-field="biology" value="7" checked="checked"> 生物</label>
																		</li>
																		<li>
																			<label>
																				<input type="checkbox" data-field="history" value="8" checked="checked"> 歷史</label>
																		</li>
																		<li>
																			<label>
																				<input type="checkbox" data-field="geography" value="9" checked="checked"> 地理</label>
																		</li>
																		<li>
																			<label>
																				<input type="checkbox" data-field="citizen" value="10" checked="checked"> 公民</label>
																		</li>
																		<li>
																			<label>
																				<input type="checkbox" data-field="physics" value="11" checked="checked"> 物理</label>
																		</li>
																		<li>
																			<label>
																				<input type="checkbox" data-field="chemistry" value="12" checked="checked"> 化學</label>
																		</li>
																		<li>
																			<label>
																				<input type="checkbox" data-field="cal" value="13" checked="checked"> 相似度</label>
																		</li>
																	</ul>
																</div>
															</div>
														</div>
														<div class="fixed-table-container" style="padding-bottom: 0px;">
															<div class="fixed-table-header" style="display: none;">
																<table></table>
															</div>
															<div class="fixed-table-body">
																<table id="prSchoolTable" class="table table-striped table-hover">
																	<thead style="">
																		<tr>
																			<th style="text-align: center; vertical-align: middle; " data-field="group_name" tabindex="0">
																				<div class="th-inner sortable both">學群</div>
																				<div class="fht-cell"></div>
																			</th>
																			<th style="text-align: center; vertical-align: middle; " data-field="school_name" tabindex="0">
																				<div class="th-inner sortable both">校名</div>
																				<div class="fht-cell"></div>
																			</th>
																			<th style="text-align: center; vertical-align: middle; " data-field="department_name" tabindex="0">
																				<div class="th-inner sortable both">科系組名</div>
																				<div class="fht-cell"></div>
																			</th>
																			<th style="text-align: center; vertical-align: middle; " data-field="chinese" tabindex="0">
																				<div class="th-inner sortable both">國文</div>
																				<div class="fht-cell"></div>
																			</th>
																			<th style="text-align: center; vertical-align: middle; " data-field="english" tabindex="0">
																				<div class="th-inner sortable both">英文</div>
																				<div class="fht-cell"></div>
																			</th>
																			<th style="text-align: center; vertical-align: middle; " data-field="math_a" tabindex="0">
																				<div class="th-inner sortable both">數學甲</div>
																				<div class="fht-cell"></div>
																			</th>
																			<th style="text-align: center; vertical-align: middle; " data-field="math_b" tabindex="0">
																				<div class="th-inner sortable both">數學乙</div>
																				<div class="fht-cell"></div>
																			</th>
																			<th style="text-align: center; vertical-align: middle; " data-field="biology" tabindex="0">
																				<div class="th-inner sortable both">生物</div>
																				<div class="fht-cell"></div>
																			</th>
																			<th style="text-align: center; vertical-align: middle; " data-field="history" tabindex="0">
																				<div class="th-inner sortable both">歷史</div>
																				<div class="fht-cell"></div>
																			</th>
																			<th style="text-align: center; vertical-align: middle; " data-field="geography" tabindex="0">
																				<div class="th-inner sortable both">地理</div>
																				<div class="fht-cell"></div>
																			</th>
																			<th style="text-align: center; vertical-align: middle; " data-field="citizen" tabindex="0">
																				<div class="th-inner sortable both">公民</div>
																				<div class="fht-cell"></div>
																			</th>
																			<th style="text-align: center; vertical-align: middle; " data-field="physics" tabindex="0">
																				<div class="th-inner sortable both">物理</div>
																				<div class="fht-cell"></div>
																			</th>
																			<th style="text-align: center; vertical-align: middle; " data-field="chemistry" tabindex="0">
																				<div class="th-inner sortable both">化學</div>
																				<div class="fht-cell"></div>
																			</th>
																			<th style="text-align: center; vertical-align: middle; " data-field="cal" tabindex="0">
																				<div class="th-inner sortable both">相似度</div>
																				<div class="fht-cell"></div>
																			</th>
																		</tr>
																	</thead>
																	<tbody>
																		<tr class="no-records-found">
																			<td colspan="14">沒有找符合的結果</td>
																		</tr>
																	</tbody>
																</table>
															</div>
															<div class="fixed-table-footer" style="display: none;">
																<table>
																	<tbody>
																		<tr></tr>
																	</tbody>
																</table>
															</div>
															<div class="fixed-table-pagination" style="display: none;">
																<div class="pull-left pagination-detail">
																	<span class="pagination-info">顯示第 1 到第 0 項記錄，總共 0 項記錄</span>
																	<span class="page-list" style="display: none;">每頁顯示
																		<span class="btn-group dropup">
																			<button type="button" class="btn btn-default  dropdown-toggle" data-toggle="dropdown">
																				<span class="page-size">10</span>
																				<span class="caret"></span>
																			</button>
																			<ul class="dropdown-menu" role="menu">
																				<li>
																					<a href="javascript:void(0)">5</a>
																				</li>
																			</ul>
																		</span> 項記錄</span>
																</div>
																<div class="pull-right pagination" style="display: none;">
																	<ul class="pagination">
																		<li class="page-first disabled">
																			<a href="javascript:void(0)">«</a>
																		</li>
																		<li class="page-pre disabled">
																			<a href="javascript:void(0)">‹</a>
																		</li>
																		<li class="page-next disabled">
																			<a href="javascript:void(0)">›</a>
																		</li>
																		<li class="page-last disabled">
																			<a href="javascript:void(0)">»</a>
																		</li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
													<div class="clearfix"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="box">
									<div class="box-header with-border">
										<h3 class="box-title">根據大考中心興趣量表代碼查詢</h3>
									</div>
									<div class="box-body">
										<div id="interestSearchPanel">
											<div class="row">
												<div class="col-md-10">
													<div class="form-group">
														<label>方法</label>
														<div class="radio">
															<label>
																<input type="radio" name="interestSelect" value="" checked="">自行輸入興趣代碼：
																<input id="interestCode" type="text" value="" placeholder="多個代碼以逗號分隔"> 性別:
																<div class="btn-group" data-toggle="buttons">
																	<label class="btn btn-default active">
																		<input type="radio" name="sex" autocomplete="off" value="male" checked="">男 </label>
																	<label class="btn btn-default">
																		<input type="radio" name="sex" autocomplete="off" value="female">女 </label>
																</div>
															</label>
														</div>
													</div>
												</div>
												<div class="col-md-2">
													<div class="form-group">
														<label>搜尋</label>
														<a id="interestSearchBtn" class="btn btn-primary form-control">
															<i class="fa fa-search" aria-hidden="true"></i>
														</a>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-10">
													<div class="form-group">
														<div class="well"> 註:
															<br> 1. 興趣代碼共有R (實用型)、I (研究型)、A (藝術型)、S (社會型)、E (企業型)、C (事務型)共六種類型
															<br> 2. 興趣代碼可為一碼 (ex. I)、二碼 (ex. IA)、或三碼 (ex. AES)；亦可能有多種三碼的組合 (ex. IR IRA IRS) </div>
													</div>
												</div>
											</div>
										</div>
										<div class="fixed-table-loading hide" style="top: 1px;">正在努力地載入資料，請稍候……</div>
										<div id="interestAnalysisArea" class="analysisArea hide">
											<div class="row">
												<div class="col-md-2">
													<a class="btn btn-primary backBtn" data-target="interest">返回</a>
												</div>
											</div>
											<br>
											<h4>您查詢的興趣量表代碼是 :
												<span id="interestTitle"></span>
											</h4>
											<div class="row">
												<div class="col-md-4">
													<div class="form-group">
														<label>學群</label>
														<select id="interest_academyGroupSelect" class="form-control">
															<option value="">全部學群</option>
														</select>
													</div>
												</div>
												<div class="col-md-4">
													<div class="form-group">
														<label>學校</label>
														<select id="interest_collegeSelect" class="form-control">
															<option value="">全部學校</option>
														</select>
													</div>
												</div>
												<div class="col-md-4">
													<div class="form-group">
														<label>科系關鍵字</label>
														<input id="interest_department" type="text" class="form-control"> </div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-2 pull-right">
													<div class="form-group">
														<label>篩選</label>
														<a id="interestFilterBtn" class="btn btn-primary form-control filterBtn">
															<i class="fa fa-filter" aria-hidden="true"></i>
														</a>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-12">
													<div class="bootstrap-table">
														<div class="fixed-table-toolbar">
															<div class="columns columns-right btn-group pull-right">
																<div class="keep-open btn-group" title="列">
																	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
																		<i class="glyphicon glyphicon-th icon-th"></i>
																		<span class="caret"></span>
																	</button>
																	<ul class="dropdown-menu" role="menu">
																		<li>
																			<label>
																				<input type="checkbox" data-field="group_name" value="0" checked="checked"> 學群</label>
																		</li>
																		<li>
																			<label>
																				<input type="checkbox" data-field="school_name" value="1" checked="checked"> 校名</label>
																		</li>
																		<li>
																			<label>
																				<input type="checkbox" data-field="department_name" value="2" checked="checked"> 科系組名</label>
																		</li>
																		<li>
																			<label>
																				<input type="checkbox" data-field="chinese" value="3" checked="checked"> 國文</label>
																		</li>
																		<li>
																			<label>
																				<input type="checkbox" data-field="english" value="4" checked="checked"> 英文</label>
																		</li>
																		<li>
																			<label>
																				<input type="checkbox" data-field="math_a" value="5" checked="checked"> 數學甲</label>
																		</li>
																		<li>
																			<label>
																				<input type="checkbox" data-field="math_b" value="6" checked="checked"> 數學乙</label>
																		</li>
																		<li>
																			<label>
																				<input type="checkbox" data-field="biology" value="7" checked="checked"> 生物</label>
																		</li>
																		<li>
																			<label>
																				<input type="checkbox" data-field="history" value="8" checked="checked"> 歷史</label>
																		</li>
																		<li>
																			<label>
																				<input type="checkbox" data-field="geography" value="9" checked="checked"> 地理</label>
																		</li>
																		<li>
																			<label>
																				<input type="checkbox" data-field="citizen" value="10" checked="checked"> 公民</label>
																		</li>
																		<li>
																			<label>
																				<input type="checkbox" data-field="physics" value="11" checked="checked"> 物理</label>
																		</li>
																		<li>
																			<label>
																				<input type="checkbox" data-field="chemistry" value="12" checked="checked"> 化學</label>
																		</li>
																	</ul>
																</div>
															</div>
														</div>
														<div class="fixed-table-container" style="padding-bottom: 0px;">
															<div class="fixed-table-header" style="display: none;">
																<table></table>
															</div>
															<div class="fixed-table-body">
																<table id="interestSchoolTable" class="table table-striped table-hover">
																	<thead style="">
																		<tr>
																			<th style="text-align: center; vertical-align: middle; " data-field="group_name" tabindex="0">
																				<div class="th-inner sortable both">學群</div>
																				<div class="fht-cell"></div>
																			</th>
																			<th style="text-align: center; vertical-align: middle; " data-field="school_name" tabindex="0">
																				<div class="th-inner sortable both">校名</div>
																				<div class="fht-cell"></div>
																			</th>
																			<th style="text-align: center; vertical-align: middle; " data-field="department_name" tabindex="0">
																				<div class="th-inner sortable both">科系組名</div>
																				<div class="fht-cell"></div>
																			</th>
																			<th style="text-align: center; vertical-align: middle; " data-field="chinese" tabindex="0">
																				<div class="th-inner sortable both">國文</div>
																				<div class="fht-cell"></div>
																			</th>
																			<th style="text-align: center; vertical-align: middle; " data-field="english" tabindex="0">
																				<div class="th-inner sortable both">英文</div>
																				<div class="fht-cell"></div>
																			</th>
																			<th style="text-align: center; vertical-align: middle; " data-field="math_a" tabindex="0">
																				<div class="th-inner sortable both">數學甲</div>
																				<div class="fht-cell"></div>
																			</th>
																			<th style="text-align: center; vertical-align: middle; " data-field="math_b" tabindex="0">
																				<div class="th-inner sortable both">數學乙</div>
																				<div class="fht-cell"></div>
																			</th>
																			<th style="text-align: center; vertical-align: middle; " data-field="biology" tabindex="0">
																				<div class="th-inner sortable both">生物</div>
																				<div class="fht-cell"></div>
																			</th>
																			<th style="text-align: center; vertical-align: middle; " data-field="history" tabindex="0">
																				<div class="th-inner sortable both">歷史</div>
																				<div class="fht-cell"></div>
																			</th>
																			<th style="text-align: center; vertical-align: middle; " data-field="geography" tabindex="0">
																				<div class="th-inner sortable both">地理</div>
																				<div class="fht-cell"></div>
																			</th>
																			<th style="text-align: center; vertical-align: middle; " data-field="citizen" tabindex="0">
																				<div class="th-inner sortable both">公民</div>
																				<div class="fht-cell"></div>
																			</th>
																			<th style="text-align: center; vertical-align: middle; " data-field="physics" tabindex="0">
																				<div class="th-inner sortable both">物理</div>
																				<div class="fht-cell"></div>
																			</th>
																			<th style="text-align: center; vertical-align: middle; " data-field="chemistry" tabindex="0">
																				<div class="th-inner sortable both">化學</div>
																				<div class="fht-cell"></div>
																			</th>
																		</tr>
																	</thead>
																	<tbody>
																		<tr class="no-records-found">
																			<td colspan="13">沒有找符合的結果</td>
																		</tr>
																	</tbody>
																</table>
															</div>
															<div class="fixed-table-footer" style="display: none;">
																<table>
																	<tbody>
																		<tr></tr>
																	</tbody>
																</table>
															</div>
															<div class="fixed-table-pagination" style="display: none;">
																<div class="pull-left pagination-detail">
																	<span class="pagination-info">顯示第 1 到第 0 項記錄，總共 0 項記錄</span>
																	<span class="page-list" style="display: none;">每頁顯示
																		<span class="btn-group dropup">
																			<button type="button" class="btn btn-default  dropdown-toggle" data-toggle="dropdown">
																				<span class="page-size">10</span>
																				<span class="caret"></span>
																			</button>
																			<ul class="dropdown-menu" role="menu">
																				<li>
																					<a href="javascript:void(0)">5</a>
																				</li>
																			</ul>
																		</span> 項記錄</span>
																</div>
																<div class="pull-right pagination" style="display: none;">
																	<ul class="pagination">
																		<li class="page-first disabled">
																			<a href="javascript:void(0)">«</a>
																		</li>
																		<li class="page-pre disabled">
																			<a href="javascript:void(0)">‹</a>
																		</li>
																		<li class="page-next disabled">
																			<a href="javascript:void(0)">›</a>
																		</li>
																		<li class="page-last disabled">
																			<a href="javascript:void(0)">»</a>
																		</li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
													<div class="clearfix"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
		<%- cooc_footer %>
			<!-- 酷課雲 Header 角色 -->
			<div class="roleInfo" style="display:none;">
				<a id="logonBlock" href="javascript:void(0)">
					<img id="logonpic" src="<%=user.photoUrl%>" />
					<img id="logonBack" src="/images/logon_back.png">
				</a>
				<div id="logonName">
					<%=user.name%>
				</div>
				<div id="logonRole">
					<%=user.role_name%>
				</div>
				<ul class="navigation">
					<li>
						<ul style="display:none">
							<li>
								<a href="http://sso.tp.edu.tw/accountservice/" target="_blank">個人資訊</a>
							</li>
							<li class="logout">
								<a href="/users/logout">登出</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			<script src="/javascripts/jquery-3.2.1.min.js"></script>
			<script src="/javascripts/bootstrap-3.3.7/js/bootstrap.min.js"></script>
			<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
			<script src="/javascripts/moment.js"></script>
			<script>
				$(document).ready(function () {
					var msg = <%- JSON.stringify(msg) %>;
					var temp = {};
					var elements = {
						behaviorAnalysisArea: $('#behaviorAnalysisArea'),
						subjectAnalysisArea: $('#subjectAnalysisArea'),
						prAnalysisArea: $('#prAnalysisArea'),
						interestAnalysisArea: $('#interestAnalysisArea'),
						'fixed-table-loading': $('.fixed-table-loading'),
						behaviorShowColumn: $('#behaviorAnalysisArea').find('.dropdown-menu input[type=checkbox]'),
						subjectShowColumn: $('subjectAnalysisArea').find('.dropdown-menu input[type=checkbox]'),
						prShowColumn: $('#prAnalysisArea').find('.dropdown-menu input[type=checkbox]'),
						interestShowColumn: $('#interestAnalysisArea').find('.dropdown-menu input[type=checkbox]'),
						schoolSearchTitle: $('#schoolSearchTitle'),
						subjectTitle: $('#subjectTitle'),
						prTitle: $('#prTitle'),
						interestTitle: $('#interestTitle'),
					};
					$("#logonBlock").on("click", function () {
						if ($("ul.navigation li > ul").is(":visible")) {
							$("ul.navigation li > ul").css("display", "none");
						} else {
							$("ul.navigation li > ul").css("display", "block");
						}
					});
					//顯示結果區域
					var showResultArea = function ($element, is) {
						if (is) {
							$element.css('display', 'block');
						} else {
							$element.css('display', 'none');
						}
					};
					String.prototype.splice = function (idx, rem, str) {
						return this.slice(0, idx) + str + this.slice(idx + Math.abs(rem));
					};
					var init = function () {
						console.log('樣板資料: ', msg);
						//酷課雲 header 處理
						$('.rolemenu').html($('.roleInfo').html());
						//把資料記錄配置到每個項目的<select>上
						var groups = msg['group'];
						var groupsOptionStr = '';
						var schools = msg['school'];
						var schoolsOptionStr = '';
						groupsOptionStr =
							'<select id="academyGroupSelect" class="form-control"><option value="" selected="">全部學群</option></select>';
						schoolsOptionStr =
							'<select id="collegeSelect" class="form-control"><option value="" selected="">全部學校</option></select>';
						for (var i = 0; i < groups.length; i++) {
							var group = groups[i];
							groupsOptionStr = groupsOptionStr.splice(groupsOptionStr.lastIndexOf('</option>') + 9, 0, '<option value=' +
								group + '>' + group + '</option>');
						}
						for (var i = 0; i < schools.length; i++) {
							var school = schools[i];
							schoolsOptionStr = schoolsOptionStr.splice(schoolsOptionStr.lastIndexOf('</option>') + 9, 0,
								'<option value=' + school + '>' + school + '</option>');
						}
						$('#schoolSearchPanel .form-group:eq(0)').append(groupsOptionStr);
						$('#schoolSearchPanel .form-group:eq(1)').append(schoolsOptionStr);
					}();
					var table = {};
					//向後端送出請求
					var sendRequest = function (type, value) {
						console.log("送出資料: ", type, value);
						if (type === 0) {
							//傳送篩選資料
							var URLs = 'http://localhost:3000/intern/dashboard/student/college/filter';
							$.ajax({
								url: URLs,
								data: {
									filter: {
										type: 0,
										value: value
									}
								},
								contentType: 'application/json',
								type: "GET",
								dataType: 'json',
								success: function (result) {
									console.log("回傳資料: ", result);
									elements['behaviorShowColumn'].prop('checked', true);
									if (table[0]) {
										table[0].destroy();
									}
									//初始化datatable
									table[0] = $('#schoolTable').DataTable({
										data: result.filterResult,
										initComplete: function () {
											temp['html'] = $('#behaviorAnalysisArea .bootstrap-table').closest('.col-md-12').html();

											$('.fixed-table-container').eq(0).attr({
												draggable: true,
												ondragstart: "drag(event)"
											}).data('custom', JSON.stringify(temp));

											elements['fixed-table-loading'].eq(0).addClass('hide');
											elements['behaviorAnalysisArea'].removeClass('hide');
										},
										"columns": [{
												"data": "group_name"
											}

											, {
												"data": "school_name"
											}, {
												"data": "department_name"
											}

											, {
												"data": "chinese"
											}, {
												"data": "english"
											}, {
												"data": "math_a"
											}, {
												"data": "math_b"
											}, {
												"data": "biology"
											}, {
												"data": "geography"
											}, {
												"data": "history"
											}, {
												"data": "citizen"
											}, {
												"data": "physics"
											}, {
												"data": "chemistry"
											}
										]
									});

								},
								error: function (xhr, ajaxOptions, thrownError) {
									alert(xhr.status);
									alert(thrownError);
								}
							});
						} else if (type === 1) {
							//傳送篩選資料
							var URLs = 'http://localhost:3000/intern/dashboard/student/college/filter';
							$.ajax({
								url: URLs,
								data: {
									filter: {
										type: 1,
										value: value
									}
								},
								contentType: 'application/json',
								type: "GET",
								dataType: 'json',
								success: function (result) {
									console.log("回傳資料: ", result);
									elements['subjectShowColumn'].prop('checked', true);
									if (table[1]) {
										table[1].destroy();
									}
									//初始化datatable
									table[1] = $('#subjectSchoolTable').DataTable({
										"order": [
											[13, "desc"]
										],
										data: result.filterResult,
										"columns": [{
												"data": "group_name"
											}

											, {
												"data": "school_name"
											}, {
												"data": "department_name"
											}

											, {
												"data": "chinese"
											}, {
												"data": "english"
											}, {
												"data": "math_a"
											}, {
												"data": "math_b"
											}, {
												"data": "biology"
											}, {
												"data": "geography"
											}, {
												"data": "history"
											}, {
												"data": "citizen"
											}, {
												"data": "physics"
											}, {
												"data": "chemistry"
											}, {
												"data": "scale"
											}
										]
									});
									//配置篩選項目
									var filter = {
										group: [],
										school: [],
										department: []
									};
									for (var i = 0; i < result.filterResult.length; i++) {
										var filterResult = result.filterResult[i];
										if (filter['group'].indexOf(filterResult['group_name']) === -1) {
											filter['group'].push(filterResult['group_name']);
											$('#subject_academyGroupSelect').append('<option value=' + filterResult['group_name'] + '>' +
												filterResult['group_name'] + '</option>');
										}
										if (filter['school'].indexOf(filterResult['school_name']) === -1) {
											filter['school'].push(filterResult['school_name']);
											$('#subject_collegeSelect').append('<option value=' + filterResult['school_name'] + '>' +
												filterResult['school_name'] + '</option>');
										}
										if (filter['department'].indexOf(filterResult['department_name']) === -1) {
											filter['department'].push(filterResult['department_name']);
											filter['school'].push(filterResult['school_name']);
											$('#subject_department').append('<option value=' + filterResult['department_name'] + '>' +
												filterResult['department_name'] + '</option>');
										}
									}
									elements['fixed-table-loading'].eq(1).addClass('hide');
									elements['subjectAnalysisArea'].removeClass('hide');
								},
								error: function (xhr, ajaxOptions, thrownError) {
									alert(xhr.status);
									alert(thrownError);
								}
							});
						} else if (type === 2) {
							//傳送篩選資料
							var URLs = 'http://localhost:3000/intern/dashboard/student/college/filter';
							$.ajax({
								url: URLs,
								data: {
									filter: {
										type: 2,
										value: value
									}
								},
								contentType: 'application/json',
								type: "GET",
								dataType: 'json',
								success: function (result) {
									console.log("回傳資料: ", result);
									elements['prShowColumn'].prop('checked', true);
									if (table[2]) {
										table[2].destroy();
									}
									//初始化datatable
									table[2] = $('#prSchoolTable').DataTable({
										"order": [
											[13, "desc"]
										],
										data: result.filterResult,
										"columns": [{
												"data": "group_name"
											}

											, {
												"data": "school_name"
											}, {
												"data": "department_name"
											}

											, {
												"data": "chinese"
											}, {
												"data": "english"
											}, {
												"data": "math_a"
											}, {
												"data": "math_b"
											}, {
												"data": "biology"
											}, {
												"data": "geography"
											}, {
												"data": "history"
											}, {
												"data": "citizen"
											}, {
												"data": "physics"
											}, {
												"data": "chemistry"
											}, {
												"data": "similarity"
											}
										]
									});
									//配置篩選項目
									var filter = {
										group: [],
										school: [],
										department: []
									};
									for (var i = 0; i < result.filterResult.length; i++) {
										var filterResult = result.filterResult[i];
										if (filter['group'].indexOf(filterResult['group_name']) === -1) {
											filter['group'].push(filterResult['group_name']);
											$('#pr_academyGroupSelect').append('<option value=' + filterResult['group_name'] + '>' + filterResult[
												'group_name'] + '</option>');
										}
										if (filter['school'].indexOf(filterResult['school_name']) === -1) {
											filter['school'].push(filterResult['school_name']);
											$('#pr_collegeSelect').append('<option value=' + filterResult['school_name'] + '>' + filterResult[
												'school_name'] + '</option>');
										}
										if (filter['department'].indexOf(filterResult['department_name']) === -1) {
											filter['department'].push(filterResult['department_name']);
											filter['school'].push(filterResult['school_name']);
											$('#pr_department').append('<option value=' + filterResult['department_name'] + '>' + filterResult[
												'department_name'] + '</option>');
										}
									}
									elements['fixed-table-loading'].eq(2).addClass('hide');
									elements['prAnalysisArea'].removeClass('hide');
								},
								error: function (xhr, ajaxOptions, thrownError) {
									alert(xhr.status);
									alert(thrownError);
								}
							});
						} else if (type === 3) {
							//傳送篩選資料
							var URLs = 'http://localhost:3000/intern/dashboard/student/college/filter';
							$.ajax({
								url: URLs,
								data: {
									filter: {
										type: 3,
										value: value
									}
								},
								contentType: 'application/json',
								type: "GET",
								dataType: 'json',
								success: function (result) {
									console.log("回傳資料: ", result);
									elements['interestShowColumn'].prop('checked', true);
									if (table[3]) {
										table[3].destroy();
									}
									//初始化datatable
									table[3] = $('#interestSchoolTable').DataTable({
										data: result.filterResult,
										"columns": [{
												"data": "group_name"
											}

											, {
												"data": "school_name"
											}, {
												"data": "department_name"
											}

											, {
												"data": "chinese"
											}, {
												"data": "english"
											}, {
												"data": "math_a"
											}, {
												"data": "math_b"
											}, {
												"data": "history"
											}, {
												"data": "geography"
											}, {
												"data": "citizen"
											}, {
												"data": "physics"
											}, {
												"data": "chemistry"
											}, {
												"data": "biology"
											}
										]
									});
									//配置篩選項目
									var filter = {
										group: [],
										school: [],
										department: []
									};
									for (var i = 0; i < result.filterResult.length; i++) {
										var filterResult = result.filterResult[i];
										if (filter['group'].indexOf(filterResult['group_name']) === -1) {
											filter['group'].push(filterResult['group_name']);
											$('#interest_academyGroupSelect').append('<option value=' + filterResult['group_name'] + '>' +
												filterResult['group_name'] + '</option>');
										}
										if (filter['school'].indexOf(filterResult['school_name']) === -1) {
											filter['school'].push(filterResult['school_name']);
											$('#interest_collegeSelect').append('<option value=' + filterResult['school_name'] + '>' +
												filterResult['school_name'] + '</option>');
										}
										if (filter['department'].indexOf(filterResult['department_name']) === -1) {
											filter['department'].push(filterResult['department_name']);
											filter['school'].push(filterResult['school_name']);
											$('#interest_department').append('<option value=' + filterResult['department_name'] + '>' +
												filterResult['department_name'] + '</option>');
										}
									}
									elements['fixed-table-loading'].eq(3).addClass('hide');
									elements['interestAnalysisArea'].removeClass('hide');
								},
								error: function (xhr, ajaxOptions, thrownError) {
									alert(xhr.status);
									alert(thrownError);
								}
							});
						}

					};
					//取得要篩選的項目值
					var getSchoolFilterValue = function () {
						var filter = {
							group: '',
							college: '',
							department: ''
						};
						filter['group'] = $('#academyGroupSelect').val();
						filter['college'] = $('#collegeSelect').val();
						filter['department'] = $('#department').val();
						return filter;
					};
					var getSubjectFilterValue = function () {
						var filter = [];
						var $items = $('#subjectSearchPanel input[type=checkbox]');
						$items.each(function (index) {
							var item = $(this);
							var itemContainer = item.parent();
							var itemChecked = item.prop('checked');
							if (itemChecked) {
								filter.push({
									text: itemContainer.text().trim(),
									value: item.attr('value')
								});
							}
						});
						return filter;
					};
					var getPrFilterValue = function () {
						var filter = [];
						var $items = $('#prSearchPanel input[type=number]');
						$items.each(function () {
							var item = $(this);
							var itemValue = parseInt(item.val());
							var itemName = item.attr('id').substring(0, item.attr('id').indexOf('_'));
							var itemText = item.prev('span').text();
							if (itemValue !== 0) {
								filter.push({
									name: itemName,
									text: itemText,
									value: itemValue
								});
							}
						});
						return filter;
					};
					var getInterestFilterValue = function () {
						var filter = {};
						var codesValue = $('#interestCode').val().trim().split(',');
						var sexValue = $('#interestSearchPanel input[name=sex]').val();
						filter['sexValue'] = sexValue;
						filter['codesValue'] = [];
						for (var i = 0; i < codesValue.length; i++) {
							filter['codesValue'].push(codesValue[i]);
						}
						return filter;
					};
					//送出schoolSearch篩選的項目值
					$('#schoolSearchBtn').on('click', function () {
						elements['behaviorAnalysisArea'].addClass('hide');
						elements['fixed-table-loading'].eq(0).removeClass('hide');
						elements['schoolSearchTitle'].empty();
						//取得要篩選的項目值
						var filterValue = getSchoolFilterValue();
						if (filterValue['group']) {
							elements['schoolSearchTitle'].append('<label class="label label-info label-subject">' + filterValue['group'] +
								'</label>');
						}
						if (filterValue['college']) {
							elements['schoolSearchTitle'].append('<label class="label label-info label-subject">' + filterValue[
								'college'] + '</label>');
						}
						if (filterValue['department']) {
							elements['schoolSearchTitle'].append('<label class="label label-info label-subject">' + filterValue[
								'department'] + '</label>');
						}
						temp = {
							page: 'college',
							showType: 'dataTable',
							data: {
								group: filterValue['group'],
								school: filterValue[
									'college'],
								department: filterValue[
									'department']
							}
						};
						//送出要篩選的項目值
						sendRequest(0, filterValue);
					});
					//送出subjectSearch篩選按鈕的項目值
					$('#subjectSearchBtn').on('click', function () {
						elements['subjectAnalysisArea'].addClass('hide');
						elements['fixed-table-loading'].eq(1).removeClass('hide');
						elements['subjectTitle'].empty();
						//取得要篩選的項目值
						var filter = getSubjectFilterValue();
						var valueArr = [];
						//配置使用者選擇的項目
						for (var i = 0; i < filter.length; i++) {
							var selectedItem = filter[i];
							elements['subjectTitle'].append('<label class="label label-info label-subject">' + selectedItem.text +
								'</label>');
							valueArr.push(selectedItem.value);
						}
						//送出要篩選的項目值
						sendRequest(1, valueArr);
					});
					//送出PrAnalysis篩選按鈕的項目值
					$('#prSearchBtn').on('click', function () {
						elements['prAnalysisArea'].addClass('hide');
						elements['fixed-table-loading'].eq(2).removeClass('hide');
						elements['prTitle'].empty();
						//取得要篩選的項目值
						var filter = getPrFilterValue();
						var valueArr = [];
						//配置使用者選擇的項目
						for (var i = 0; i < filter.length; i++) {
							var selectedItem = filter[i];
							elements['prTitle'].append('<label class="label label-info label-subject">' + selectedItem.text + ' : ' +
								selectedItem.value + '</label>');
							valueArr.push({
								name: selectedItem.name,
								value: selectedItem.value
							})
						}
						//送出要篩選的項目值
						sendRequest(2, valueArr);
					});
					//送出interestAnalysis篩選按鈕的項目值
					$('#interestSearchBtn').on('click', function () {
						elements['interestAnalysisArea'].addClass('hide');
						elements['fixed-table-loading'].eq(3).removeClass('hide');
						elements['interestTitle'].empty();
						//取得要篩選的項目值
						var filter = getInterestFilterValue();
						//配置使用者選擇的項目
						for (var i = 0; i < filter.codesValue.length; i++) {
							elements['interestTitle'].append('<label class="label label-info label-subject">' + filter.codesValue[i] +
								'</label>');
						}
						//送出要篩選的項目值
						sendRequest(3, filter);
					});
					//返回按鈕
					$('.backBtn').on('click', function () {
						var target = $(this).data('target');
						if (target === 'school') {
							elements['behaviorAnalysisArea'].addClass('hide');
						} else if (target === 'subject') {
							elements['subjectAnalysisArea'].addClass('hide');
						} else if (target === 'pr') {
							elements['prAnalysisArea'].addClass('hide');
						}
					});
					//show/hide datatable field
					elements['behaviorShowColumn'].on('change', function (e) {
						e.preventDefault();
						// Get the column API object
						var column = table[0].column($(this).attr('value'));
						// Toggle the visibility
						column.visible(!column.visible());
					});
					elements['subjectShowColumn'].on('change', function (e) {
						e.preventDefault();
						// Get the column API object
						var column = table[1].column($(this).attr('value'));
						// Toggle the visibility
						column.visible(!column.visible());
					});
					elements['prShowColumn'].on('change', function (e) {
						e.preventDefault();
						// Get the column API object
						var column = table[2].column($(this).attr('value'));
						// Toggle the visibility
						column.visible(!column.visible());
					});
					//進階篩選按鈕(學科,學校,科系)
					$('a.filterBtn').on('click', function (e) {
						var tableId = $(this).closest('.box-body').find('.fixed-table-body table').attr('id');
						var group = $('#' + tableId.substring(0, tableId.indexOf('School')) + '_academyGroupSelect').val();
						var school = $('#' + tableId.substring(0, tableId.indexOf('School')) + '_collegeSelect').val();
						var department = $('#' + tableId.substring(0, tableId.indexOf('School')) + '_department').val().trim();
						var $table;

						if (tableId === 'subjectSchoolTable') {
							$table = table[1];
						} else if (tableId === 'prSchoolTable') {
							$table = table[2];
						} else if (tableId === 'interestSchoolTable') {
							$table = table[3];
						}
						$.fn.dataTable.ext.search.pop(function (settings, aData, iDataIndex) {
							if (settings.nTable.id === tableId) {
								return true;
							}
						});
						$.fn.dataTable.ext.search.push(function (settings, aData, iDataIndex) {
							if (settings.nTable.id === 'prSchoolTable') {
								var pass = {
									group: false,
									school: false,
									department: false
								};
								if (group === "" || $($table.row(iDataIndex).node()).children("td").eq(0).text() === group) {
									pass['group'] = true;
								}
								if (school === "" || $($table.row(iDataIndex).node()).children("td").eq(1).text() === school) {
									pass['school'] = true;
								}
								if (department === "" || $($table.row(iDataIndex).node()).children("td").eq(2).text().indexOf(department) !==
									-1) {
									pass['department'] = true;
								}
								if (pass['group'] && pass['school'] && pass['department']) {
									return true;
								}
							} else if (settings.nTable.id === 'subjectSchoolTable') {
								var pass = {
									group: false,
									school: false,
									department: false
								};
								if (group === "" || $($table.row(iDataIndex).node()).children("td").eq(0).text() === group) {
									pass['group'] = true;
								}
								if (school === "" || $($table.row(iDataIndex).node()).children("td").eq(1).text() === school) {
									pass['school'] = true;
								}
								if (department === "" || $($table.row(iDataIndex).node()).children("td").eq(2).text().indexOf(department) !==
									-1) {
									pass['department'] = true;
								}
								if (pass['group'] && pass['school'] && pass['department']) {
									return true;
								}
							} else if (settings.nTable.id === 'interestSchoolTable') {
								var pass = {
									group: false,
									school: false,
									department: false
								};
								if (group === "" || $($table.row(iDataIndex).node()).children("td").eq(0).text() === group) {
									pass['group'] = true;
								}
								if (school === "" || $($table.row(iDataIndex).node()).children("td").eq(1).text() === school) {
									pass['school'] = true;
								}
								if (department === "" || $($table.row(iDataIndex).node()).children("td").eq(2).text().indexOf(department) !==
									-1) {
									pass['department'] = true;
								}
								if (pass['group'] && pass['school'] && pass['department']) {
									return true;
								}
							}
						});
						$table.draw();
					});
				});
			</script>
</body>

</html>