<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>
    <%= title %>
  </title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/javascripts/bootstrap-3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/javascripts/font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/intern/lrs.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="/stylesheets/intern/custom.css">
  <link rel="stylesheet" href="/stylesheets/intern/dashboard_student.css">
  <link rel="stylesheet" href="/stylesheets/intern/record_search.css">
  <link rel="stylesheet" href="/stylesheets/logon.css">
  <link rel="stylesheet" href="/javascripts/timeline/vertical-timeline.min.css">
  <link rel="stylesheet" href="/stylesheets/bootstrap-datetimepicker.min.css">
  <link rel="stylesheet" href="/stylesheets/intern/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
    crossorigin="anonymous"></script>
</head>
<style>
  .wrapper {
    margin-top: -60px;
  }
</style>
</head>
<style>
  .row {
    padding: 30px;
  }
</style>

<body>
  <%- cooc_header %>
    <div class="wrapper" ng-app="myApp">
      <div class="sidebar" ng-class="boolie ? 'closed' : ''">
        <div class="sidebarToggle" ng-click="boolie = !boolie">
          <i class="fa fa-ellipsis-v sidebar-toggleHam menuIcon" aria-hidden="true" ng-class="boolie ? 'rotate' : ''"></i>
          <span class="sidebar-toggleText">縮到最小</span>
        </div>
        <nav role="navigation" class="sidebarNav">
          <ul>
            <li class="sidebar-navItem">
              <i class="menuIcon fa fa fa-signal"></i>
              <a href="/intern/dashboard/student/records">資料檢閱庫</a>
            </li>
            <li class="sidebar-navItem">
              <i class="menuIcon fa fa-clipboard"></i>
              <a href="/dashboard/student/wat">WAT</a>
            </li>
            <li class="sidebar-navItem">
              <i class="menuIcon fa fa-clipboard"></i>
              <a href="/dashboard/student/coocLearning">酷課學習</a>
            </li>
            <li class="sidebar-navItem">
              <i class="menuIcon fa fa-clipboard"></i>
              <a href="/intern/dashboard/student/college">大學科系探索</a>
            </li>
            <li class="sidebar-navItem">
              <i class="menuIcon fa fa-clipboard"></i>
              <a href="/intern/dashboard/teacher/groupanalysis">群體學習行為分析</a>
            </li>
            <li class="sidebar-navItem">
              <i class="menuIcon fa fa-clipboard"></i>
              <a href="/intern/dashboard/student/badge">我的徽章</a>
            </li>
            <hr>
            <li class="sidebar-navItem">
              <i class="menuIcon fa fa-cog" aria-hidden="true"></i>
              <a href="/dashboard/student/custom">自定首頁</a>
            </li>
          </ul>
        </nav>
        <footer class="sidebar-footer">
          <a href="/student/activity?p=1">
            <i class="sidebar-toggleArrow sidebar-menuIcon fa fa-arrow-left" ng-class="boolie ? 'rotate' : ''"></i>
            <span class="sidebar-footerText">前往編輯工具</span>
          </a>
        </footer>
      </div>
      <div class="main">
        <div class="col-md-12">
          <h4>自定首頁</h4>
          <hr>
          <div class="row">
            <div class="col-md-8 charts"></div>
            <div class="col-md-4 filter">
              <form class="text-center">
                <div class="form-group">
                  <label for="school">學校</label>
                  <select name="" id="school">
                    <option value="">你</option>
                    <option value="">好</option>
                    <option value="">牙</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="group">班級</label>
                  <select name="" id="group">
                    <option value="">你</option>
                    <option value="">好</option>
                    <option value="">牙</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="department">學系</label>
                  <select name="" id="department">
                    <option value="">你</option>
                    <option value="">好</option>
                    <option value="">牙</option>
                  </select>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8 charts"></div>
            <div class="col-md-4 filter">
              <form class="text-center">
                <div class="form-group">
                  <label for="actor">人</label>
                  <select name="" id="actor">
                    <option value="">小名/option>
                      <option value="">小王</option>
                      <option value="">小豬</option>
                  </select>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- cooc_footer %>

      <!-- 酷課雲 Header 角色 -->
      <div class="roleInfo" style="display:none;">
        <a id="logonBlock" href="javascript:void(0)">
          <img id="logonpic" src="<%=user.photoUrl%>" />
          <img id="logonBack" src="/images/logon_back.png">
        </a>
        <div id="logonName">
          <%=user.name%>
        </div>
        <div id="logonRole">
          <%=user.role_name%>
        </div>
        <ul class="navigation">
          <li>
            <ul style="display:none">
              <li>
                <a href="http://sso.tp.edu.tw/accountservice/" target="_blank">個人資訊</a>
              </li>
              <li class="logout">
                <a href="/users/logout">登出</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>

      <script src="/javascripts/bootstrap-3.3.7/js/bootstrap.min.js"></script>
      <script src="/javascripts/angular.min.js"></script>
      <script src="/javascripts/timeline/vertical-timeline.min.js"></script>
      <script src="/javascripts/moment.js"></script>
      <script src="/javascripts/bootstrap-datetimepicker.min.js"></script>
      <script>
        var app = angular.module('myApp', []);
        $(document).ready(function () {
          //酷課雲 header 處理
          $('.rolemenu').html($('.roleInfo').html());
          $("#logonBlock").on("click", function () {
            if ($("ul.navigation li > ul").is(":visible")) {
              $("ul.navigation li > ul").css("display", "none");
            } else {
              $("ul.navigation li > ul").css("display", "block");
            }
          });
          //讀取有儲存的圖表資料
          var custom = JSON.parse(localStorage.getItem('custom'));
          console.log(custom);
          for (var id in custom) {
            if (id === '0') {

              $('.charts').eq(0).append(custom[id]['html']);

            } else if (id === '1') {
              $('.charts').eq(1).append(custom[id]['html']);

            }
          }

        });
      </script>
</body>

</html>