<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>
		<%= title %>
	</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
	<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/javascripts/bootstrap-3.3.7/css/bootstrap.min.css">
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>
	<link rel="stylesheet" href="/javascripts/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/stylesheets/intern/lrs.css">
	<link rel="stylesheet" href="/stylesheets/intern/dashboard_teacher.css">
	<link rel="stylesheet" href="/stylesheets/intern/custom.css">
	<link rel="stylesheet" href="/stylesheets/logon.css"> </head>

<body>
	<%- cooc_header %>
		<div class="wrapper" ng-app="myApp">
			<div class="sidebar" ng-class="boolie ? 'closed' : ''">
				<div class="sidebarToggle" ng-click="boolie = !boolie"> <i class="fa fa-ellipsis-v sidebar-toggleHam menuIcon" aria-hidden="true" ng-class="boolie ? 'rotate' : ''"></i> <span class="sidebar-toggleText">縮到最小</span> </div>
				<nav role="navigation" class="sidebarNav">
					<ul>
						<li class="sidebar-navItem">
							<a href="/dashboard/student"> <i class="menuIcon fa fa-home"></i> <span>儀表板首頁</span> </a>
						</li>
<<<<<<< HEAD
						<li class="sidebar-navItem"> <i class="menuIcon fa fa-signal"></i> <a href="/intern/dashboard/student/records">資料檢閱庫</a> </li>
						<li class="sidebar-navItem"> <i class="menuIcon fa fa-clipboard"></i> <a href="/dashboard/teacher/wat">教學層次儀表板</a> </li>
						<li class="sidebar-navItem"> <i class="menuIcon fa fa-pencil-square-o"></i> <a href="/dashboard/teacher/assessment">測驗分析</a> </li>
						<li class="sidebar-navItem"> <i class="menuIcon fa fa-users" aria-hidden="true"></i> <a href="/intern/dashboard/teacher/groupanalysis">群體學習行為分析</a> </li>
						<li class="sidebar-navItem"> <i class="menuIcon fa fa-clipboard"></i> <a href="/intern/dashboard/student/badge">我的徽章</a> </li>
=======
						<li class="sidebar-navItem"> <i class="menuIcon fa fa-signal"></i> <a href="/intern/dashboard/teacher/records">資料檢閱庫</a> </li>
						<li class="sidebar-navItem"> <i class="menuIcon fa fa-clipboard"></i> <a href="/dashboard/teacher/wat">教學層次儀表板</a> </li>
						<li class="sidebar-navItem"> <i class="menuIcon fa fa-pencil-square-o"></i> <a href="/dashboard/teacher/assessment">測驗分析</a> </li>
						<li class="sidebar-navItem"> <i class="menuIcon fa fa-users" aria-hidden="true"></i> <a href="/intern/dashboard/teacher/groupanalysis">群體學習行為分析</a> </li>
>>>>>>> 70adaa73653c293ea7c89547ee79f0297ecbfd34
						<hr>
						<li class="sidebar-navItem"> <i class="menuIcon fa fa-cog" aria-hidden="true"></i> <a href="#">自定首頁</a> </li>
					</ul>
				</nav>
				<footer class="sidebar-footer"> <i class="sidebar-toggleArrow sidebar-menuIcon fa fa-arrow-left" ng-class="boolie ? 'rotate' : ''"></i> <span class="sidebar-footerText">
              <a href="/teacher">前往編輯工具</a>
            </span> </footer>
			</div>
			<div class="main">
				<div class="col-md-12">
					<h4>群體學習行為分析儀表板</h4>
					<hr>
					<!-- 我的部分 -->
					<section class="content">
						<div class="row">
							<div class="col-md-12">
								<div class="box">
									<div class="box-header with-border">
										<h3 class="box-title">不同學習行為歷程分群</h3> </div>
									<div class="box-body">
										<div id="behaviorSearchPanel">
											<div class="row">
												<div class="col-md-2">
													<div class="form-group">
														<label>授權學校</label>
														<select class="select_school form-control">
															<option value='好棒棒學校' selected="">好棒棒學校 </option>
														</select>
													</div>
												</div>
												<div class="col-md-2">
													<div class="form-group">
														<label>學期學年</label>
														<select class="select_semester form-control">
															<option value='' selected="">好爽爽學期 </option>
														</select>
													</div>
												</div>
												<div class="col-md-2">
													<div class="form-group">
														<label>班級</label>
														<select class="select_class form-control">
															<option value='好爽爽班級' selected="">好爽爽班級 </option>
														</select>
													</div>
												</div>
												<div class="col-md-2">
													<div class="form-group">
														<label>科目</label>
														<select class="select_subject form-control">
															<option value='好爽爽科目' selected="">好爽爽科目 </option>
														</select>
													</div>
												</div>
												<div class="col-md-2">
													<div class="form-group">
														<label>知識節點</label>
														<select class="select_knowledgeNode form-control">
															<option value='國文' selected="">國文 </option>
														</select>
													</div>
												</div>
												<div class="col-md-2">
													<div class="form-group">
														<label>搜尋</label> <a id="behaviorSearchBtn" class="btn btn-primary form-control searchBtn"><i class="fa fa-filter" aria-hidden="true"></i></a> </div>
												</div>
											</div>
											<div class="row hide">
												<div class="col-md-12">
													<div class="behavior"></div>
													<table id="behaviorVideoTable" class="table" style="display: table;">
														<thead>
															<tr>
																<th>影片名稱</th>
																<th>選擇</th>
															</tr>
														</thead>
														<tbody id="behaviorVideos"> </tbody>
													</table>
												</div>
											</div>
										</div>
										<div class="fixed-table-loading hide" style="top: 1px;">正在努力地載入資料，請稍候……</div>
										<div id="behaviorAnalysisArea" class="hide">
											<div class="row">
												<div class="col-md-2"> <a class="btn btn-primary backBtn" data-target="behavior">返回</a> </div>
											</div>
											<br>
											<h4 id="behaviorTitle"></h4>
											<div class="row">
												<div class="col-md-12">
													<div id="videoAnalysis" style="height:300px"></div>
												</div>
											</div>
											<br>
											<div class="row">
												<div class="col-md-12">
													<table class="table table-striped">
														<thead>
															<tr>
																<th>姓名</th>
																<th>分群</th>
																<th>觀看總次數</th>
																<th>觀看總時數</th>
																<th>平均觀看時數</th>
																<th>個人紀錄</th>
															</tr>
														</thead>
														<tbody id="students"> </tbody>
													</table>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="box">
									<div class="box-header with-border">
										<h3 class="box-title">成就表現與線上參與程度分群</h3> </div>
									<div class="box-body">
										<div id="performanceSearchPanel">
											<div class="row">
												<div class="col-md-2">
													<div class="form-group">
														<label>授權學校</label>
														<select class="select_school form-control">
															<option value='好棒棒學校' selected="">好棒棒學校 </option>
														</select>
													</div>
												</div>
												<div class="col-md-2">
													<div class="form-group">
														<label>學期學年</label>
														<select class="select_semester form-control">
															<option value='' selected="">好爽爽學期 </option>
														</select>
													</div>
												</div>
												<div class="col-md-2">
													<div class="form-group">
														<label>班級</label>
														<select class="select_class form-control">
															<option value='好爽爽班級' selected="">好爽爽班級 </option>
														</select>
													</div>
												</div>
												<div class="col-md-2">
													<div class="form-group">
														<label>科目</label>
														<select class="select_subject form-control">
															<option value='好爽爽科目' selected="">好爽爽科目 </option>
														</select>
													</div>
												</div>
												<div class="col-md-2">
													<div class="form-group">
														<label>知識節點</label>
														<select class="select_knowledgeNode form-control">
															<option value='國文' selected="">國文 </option>
														</select>
													</div>
												</div>
												<div class="col-md-2">
													<div class="form-group">
														<label>搜尋</label> <a id="performanceSearchBtn" class="btn btn-primary form-control searchBtn"><i class="fa fa-filter" aria-hidden="true"></i></a> </div>
												</div>
											</div>
										</div>
										<div class="fixed-table-loading hide" style="top: 1px;">正在努力地載入資料，請稍候……</div>
										<div id="performanceAnalysisArea" class="analysisArea hide">
											<div class="row">
												<div class="col-md-2"> <a class="btn btn-primary backBtn" data-target="performance">返回</a> </div>
											</div>
											<br>
											<div class="row ">
												<div class="col-md-12 charts">
													<!--show the charts-->
													<div class="col-md-6 chartContainer"></div>
													<div class="col-md-6 chartContainer"> </div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="box">
									<div class="box-header with-border">
										<h3 class="box-title">不同成就表現分群</h3> </div>
									<div class="box-body">
										<div id="quizSearchPanel">
											<div class="row">
												<div class="col-md-2">
													<div class="form-group">
														<label>授權學校</label>
														<select class="select_school form-control">
															<option value='好棒棒學校' selected="">好棒棒學校 </option>
														</select>
													</div>
												</div>
												<div class="col-md-2">
													<div class="form-group">
														<label>學期學年</label>
														<select class="select_semester form-control">
															<option value='' selected="">好爽爽學期 </option>
														</select>
													</div>
												</div>
												<div class="col-md-2">
													<div class="form-group">
														<label>班級</label>
														<select class="select_class form-control">
															<option value='好爽爽班級' selected="">好爽爽班級 </option>
														</select>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-12"> <span class="label label-default">第一個比較對象</span> </div>
											</div>
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label>科目</label>
														<select class="select_subject form-control">
															<option value='好爽爽科目' selected="">好爽爽科目 </option>
														</select>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label>知識節點</label>
														<select class="select_knowledgeNode form-control">
															<option value='國文' selected="">國文 </option>
														</select>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-12"> <span class="label label-default">第二個比較對象</span> </div>
											</div>
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label>科目</label>
														<select class="select_subject form-control">
															<option value='好爽爽科目' selected="">好爽爽科目 </option>
														</select>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label>知識節點</label>
														<select class="select_knowledgeNode form-control">
															<option value='英文' selected="">英文 </option>
														</select>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-2 pull-right"> <a id="quizSearchBtn" data-category="quiz" class="btn btn-primary form-control searchBtn"><i class="fa fa-search" aria-hidden="true"></i></a> </div>
											</div>
										</div>
										<div class="fixed-table-loading hide" style="top: 1px;">正在努力地載入資料，請稍候……</div>
										<div id="quizSearchAnalysisArea" class="analysisArea hide">
											<div class="row">
												<div class="col-md-2"> <a class="btn btn-primary backBtn" data-target="quiz">返回</a> </div>
											</div>
											<br>
											<div class="row ">
												<div class="col-md-12 charts">
													<!--show the charts-->
													<div class="col-md-6 chartContainer"></div>
													<div class="col-md-6 chartContainer"> </div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
		<%- cooc_footer %>
			<!-- 酷課雲 Header 角色 -->
			<div class="roleInfo" style="display:none;">
				<a id="logonBlock" href="javascript:void(0)"> <img id="logonpic" src="https://i.ytimg.com/vi/MzqF0DEtpEE/maxresdefault.jpg" /> <img id="logonBack" src="/images/logon_back.png"> </a>
				<div id="logonName"> 茶葉男孩 </div>
				<div id="logonRole"> 管理者 </div>
				<ul class="navigation">
					<li>
						<ul style="display:none">
							<li><a href="http://sso.tp.edu.tw/accountservice/" target="_blank">個人資訊</a></li>
							<li class="logout"><a href="/users/logout">登出</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<!-- Modal -->
			<div class="modal fade" id="videoPersonModal" role="dialog">
				<div class="modal-dialog">
					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title" id="myModalLabel"><span id="person"></span>觀看紀錄</h4>
							<div class="modal-body">
								<div id="histogram" data-highcharts-chart="3"> </div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="language" id="lang-noData">目前沒有推薦資料</div>
			<div class="language" id="lang-errorMsg">發生錯誤，請洽系統管理員</div>
			<div class="language" id="lang-btnSelect">選擇</div>
			<div class="language" id="lang-videoDuration">影片時間(秒)</div>
			<div class="language" id="lang-noAnswer">未作答</div>
			<div class="language" id="lang-answerEasy">答對簡單題</div>
			<div class="language" id="lang-answerNormal">答對普通題</div>
			<div class="language" id="lang-answerHard">答對困難題</div>
			<div class="language" id="lang-easy">簡單</div>
			<div class="language" id="lang-normal">普通</div>
			<div class="language" id="lang-hard">困難</div>
			<div class="language" id="lang-show">顯示</div>
			<div class="language" id="lang-avgWatchCounts">平均觀看次數</div>
			<div class="language" id="lang-passive">被動</div>
			<div class="language" id="lang-change">求變</div>
			<div class="language" id="lang-smart">聰明</div>
			<div class="language" id="lang-positive">積極</div>
			<div class="language" id="lang-engagement">參與度</div>
			<div class="language" id="lang-achievement">成就表現</div>
			<div class="language" id="lang-avgEngagement">參與度平均</div>
			<div class="language" id="lang-avgAchievement">成就表現平均</div>
			<div class="language" id="lang-comparison">比較值</div>
			<div class="language" id="lang-better">較優</div>
			<div class="language" id="lang-nWatch">第N次觀看紀錄</div>
			<div class="language" id="lang-average">平均</div>
			<div class="language" id="lang-noUser">這個班級沒有任何學生喔!</div>
			<div class="language" id="lang-noClass">請選擇班級</div>
			<script src="/javascripts/jquery-3.2.1.min.js"></script>
			<script src="/javascripts/bootstrap-3.3.7/js/bootstrap.min.js"></script>
			<script src="/javascripts/angular.min.js"></script>
			<script src="/javascripts/moment.js"></script>
			<script>
				var app = angular.module('myApp', []);
				$(document).ready(function () {
					//酷課雲 header 處理
					$('.rolemenu').html($('.roleInfo').html());
					$("#logonBlock").on("click", function () {
						if ($("ul.navigation li > ul").is(":visible")) {
							$("ul.navigation li > ul").css("display", "none");
						}
						else {
							$("ul.navigation li > ul").css("display", "block");
						}
					});
					//配置圖表
					var setCharts = function (type, originalData, data) {
						//建立圖表區域
						if (type === '1_1') {
							var movies = data['movies'];
							for (var i = 0; i < movies.length; i++) {
								$('#behaviorVideos').append('<tr><td>' + movies[i]['name'] + '</td><td><a class="btn btn-primary chooseBtn" data-id=' + movies[i]['id'] + '>選擇</a></td></tr>');
							}
							$('table .chooseBtn').on('click', function () {
								$('#behaviorSearchPanel').addClass('hide');
								$('.fixed-table-loading').eq(0).removeClass('hide');
								var btnId = $(this).data('id');
								sendRequest('1_2', btnId);
							});
							$('.fixed-table-loading').eq(0).addClass('hide');
							$('#behaviorSearchPanel .row').eq(1).removeClass('hide');
							$('#behaviorSearchPanel').removeClass('hide');
						}
						else if (type === '1_2') {
							var students = data['students'];
							var totalTime = 0;
							var lookTime = {};
							var lookTimeArr = [];
							var otherLookTimeArr = [];
							var singleLookTime = {};
							var singleLookTimeArr = [];
							for (var i = 0; i < 501; i++) {
								lookTime[i] = 0;
								otherLookTimeArr[i] = 0;
								singleLookTime[i] = 0;
							}
							for (var prop in students) {
								for (var i = 0; i < students[prop].length; i++) {
									for (var j = students[prop][i]['start']; j < students[prop][i]['end'] + 1; j++) {
										lookTime[j.toString()]++;
									}
								}
							}
							for (var i = 0; i < 501; i++) {
								lookTimeArr.push(parseFloat((lookTime[i] / students[prop].length).toFixed(2)));
							}
							//計算
							/*-----------------------------------------------*/
							var chart = Highcharts.chart('videoAnalysis', {
								title: {
									text: ''
								}
								, subtitle: {
									text: ''
								}
								, yAxis: {
									title: {
										text: 'Number of Employees'
									}
								}
								, legend: {
									layout: 'vertical'
									, align: 'right'
									, verticalAlign: 'middle'
								}
								, plotOptions: {
									series: {
										label: {
											connectorAllowed: false
										}
										, pointStart: 0
									}
									, line: {
										marker: {
											enabled: false
										}
									}
								}
								, series: [{
									name: '未作答'
									, data: lookTimeArr
    }, {
									name: '答對簡單題'
									, data: otherLookTimeArr
    }, {
									name: '答對普通題'
									, data: otherLookTimeArr
    }, {
									name: '答對困難題'
									, data: otherLookTimeArr
    }]
							});
							var go = [];
							for (var prop in students) {
								for (var i = 0; i < students[prop].length; i++) {
									totalTime += students[prop][i]['duration'];
									totalTime = totalTime * 1000;
								};
								for (var j = 0; j < students[prop].length; j++) {
									for (var i = 0; i < 501; i++) {
										if (students[prop][j]['start'] <= i && i <= students[prop][j]['end']) {
											singleLookTimeArr.push((j + 1));
										}
										else {
											singleLookTimeArr.push(null);
										}
									}
									go.push({
										data: singleLookTimeArr.slice()
										, color: "#78A8D9"
										, lineWidth: 5
										, name: "watch"
										, type: "line"
									});
									singleLookTimeArr.length = 0;
								}
								$('#students').append('<tr><td>' + prop + '</td><td><span class="label label-default">未作答</span></td><td>' + students[prop].length + '</td><td>' + moment.utc(totalTime).format('mm:ss') + '</td><td>' + moment.utc(totalTime / students[prop].length).format('mm:ss') + '</td><td><a class="btn btn-primary showBtn" data-name=' + prop + ' data-vd=' + 500 + ' data-histogram=' + JSON.stringify({
									student: go
								}) + '>顯示</a></td></tr>');
								/*-----------------------------------------------*/
								$("#students").on("click", ".showBtn", function () {
									var name = $(this).attr("data-name");
									var histogramArr = $(this).data('histogram')['student'];
									$("#person").html(name);
									var videoDuration = parseInt($(this).attr("data-vd"));
									$("#histogram").empty();
									var histogramChart = new Highcharts.Chart({
										chart: {
											renderTo: "histogram"
										}
										, title: {
											text: ""
										}
										, xAxis: {
											allowDecimals: false
											, min: 0
											, max: (videoDuration + 1)
											, title: {
												text: $("#lang-videoDuration").html()
											}
										}
										, yAxis: {
											title: {
												text: $("#lang-nWatch").html()
											}
											, allowDecimals: false
											, min: 0
											, max: go.length
										}
										, legend: {
											enabled: false
										}
										, credits: {
											enabled: false
										}
										, plotOptions: {
											series: {
												turboThreshold: (videoDuration + 2)
											}
										}
										, series: go
									});
									$("#videoPersonModal").modal('show');
								});
								totalTime = 0;
							}
							$('.showBtn').on('click', function () {
								var btnName = $(this).data('name');
								$('#person').text(btnName);
							});
							$('.fixed-table-loading').eq(0).addClass('hide');
							$('#behaviorAnalysisArea').removeClass('hide');
						}
						else if (type === '2') {
							//第一張圖表
							$('#performanceAnalysisArea .charts').children('.chartContainer').eq(0).append('<div id="' + 'performanceScatterChart' + '" class="chart"></div>');
							//配置
							new Highcharts.Chart('performanceScatterChart', {
								chart: {
									type: 'scatter'
									, events: {
										load: function () {
											$('.fixed-table-loading').eq(1).addClass('hide');
											$('#performanceAnalysisArea').removeClass('hide');
										}
									}
								}
								, title: {
									text: ''
								}
								, credits: {
									enabled: false
								}
								, xAxis: {
									title: {
										enabled: true
										, text: $("#lang-achievement").html()
									}
									, startOnTick: true
									, endOnTick: true
									, showLastLabel: true
									, min: 0
									, max: 100
									, plotLines: [{
										value: data['average']['axisX']
										, color: '#999'
										, width: 2
										, label: {
											text: $("#lang-avgAchievement").html()
										}
      }]
								}
								, yAxis: {
									title: {
										text: $("#lang-engagement").html()
									}
									, min: 0
									, max: 100
									, plotLines: [{
										value: data['average']['axisY']
										, color: '#999'
										, width: 2
										, label: {
											text: $("#lang-avgEngagement").html()
										}
      }]
								}
								, tooltip: {
									pointFormatter: function () {
										return this.name + '<br />' + $("#lang-achievement").html() + ':' + this.x + "<br />" + $("#lang-engagement").html() + ":" + this.y;
									}
								}
								, series: [
									{
										name: $("#lang-passive").html()
										, color: '#c9302c'
										, data: data['axis']['passive']
            }, {
										name: $("#lang-change").html()
										, color: '#ec971f'
										, data: data['axis']['change']
            }, {
										name: $("#lang-smart").html()
										, color: '#449d44'
										, data: data['axis']['smart']
            }, {
										name: $("#lang-positive").html()
										, color: '#31b0d5'
										, data: data['axis']['positive']
       }
       ]
								, exporting: {
									menuItemDefinitions: {
										// Custom definition
										remove: {
											onclick: function () {
												$('.chartContainer').remove();
											}
											, text: 'remove chart'
										}
									}
									, buttons: {
										contextButton: {
											menuItems: ['remove'
											, 'separator', 'downloadPDF', 'downloadPNG', 'downloadSVG']
										}
									}
								}
							});
							//第二張圖表
							$('#performanceAnalysisArea .charts').children('.chartContainer').eq(1).append('<div id="performanceTableChart" class="chart"></div>').children('.chart').append('<table class="table  achievementTable table-striped"><thead><tr><th><th><th><tbody><tr><td>被動<td><tr><td>求變<td><tr><td>聰明<td><tr><td>積極<td><tr><td>未測驗<td></table><table class="table averageTable table-bordered"><thead><tr><th>分群<th>參與度平均<th>成就表現平均<tbody><tr><td>被動<td>0<td>0<tr><td>求變<td>0<td>0<tr><td>聰明<td>0<td>0<tr><td>積極<td>0<td>0</table>');
							//參與度
							var engagementNum = 0;
							//成就表現
							var achievementNum = 0;
							for (var prop in data['axis']) {
								if (prop === 'passive') {
									$('#performanceTableChart>table:nth-of-type(1) tbody>tr:nth-of-type(1)>td:nth-of-type(1)').css('background-color', '#c9302c');
									$('#performanceTableChart>table:nth-of-type(2) tbody>tr:nth-of-type(1)>td:nth-of-type(1)').css('background-color', '#c9302c');
									for (var i = 0; i < data['axis'][prop].length; i++) {
										if (data['axis'][prop][i]['doTest']) {
											$('#performanceTableChart>table:nth-of-type(1) tbody>tr:nth-of-type(1)>td:nth-of-type(2)').append('<span class="nameBox">' + data['axis'][prop][i]['name'] + '</span>');
											engagementNum += data['axis'][prop][i]['x'];
											achievementNum += data['axis'][prop][i]['y'];
											personCount++;
										}
										else {
											$('#performanceTableChart>table:nth-of-type(1) tbody>tr:nth-of-type(5)>td:nth-of-type(2)').append('<span class="nameBox">' + data['axis'][prop][i]['name'] + '</span>');
										}
									}
									$('#performanceTableChart>table:nth-of-type(2) tbody>tr:nth-of-type(1)>td:nth-of-type(2)').text(parseFloat(engagementNum / personCount).toFixed(2));
									$('#performanceTableChart>table:nth-of-type(2) tbody>tr:nth-of-type(1)>td:nth-of-type(3)').text(parseFloat(achievementNum / personCount).toFixed(2));
									engagementNum = 0;
									achievementNum = 0;
									personCount = 0;
								}
								else if (prop === 'change') {
									$('#performanceTableChart>table:nth-of-type(1) tbody>tr:nth-of-type(2)>td:nth-of-type(1)').css('background-color', '#ec971f');
									$('#performanceTableChart>table:nth-of-type(2) tbody>tr:nth-of-type(2)>td:nth-of-type(1)').css('background-color', '#ec971f');
									for (var i = 0; i < data['axis'][prop].length; i++) {
										if (data['axis'][prop][i]['doTest']) {
											$('#performanceTableChart>table:nth-of-type(1) tbody>tr:nth-of-type(2)>td:nth-of-type(2)').append('<span class="nameBox">' + data['axis'][prop][i]['name'] + '</span>');
											engagementNum += data['axis'][prop][i]['x'];
											achievementNum += data['axis'][prop][i]['y'];
											personCount++;;
										}
										else {
											$('#performanceTableChart>table:nth-of-type(1) tbody>tr:nth-of-type(5)>td:nth-of-type(2)').append('<span class="nameBox">' + data['axis'][prop][i]['name'] + '</span>');
										}
									}
									$('#performanceTableChart>table:nth-of-type(2) tbody>tr:nth-of-type(2)>td:nth-of-type(2)').text(parseFloat(engagementNum / personCount).toFixed(2));
									$('#performanceTableChart>table:nth-of-type(2) tbody>tr:nth-of-type(2)>td:nth-of-type(3)').text(parseFloat(achievementNum / personCount).toFixed(2));
									engagementNum = 0;
									achievementNum = 0;
									personCount = 0;
								}
								else if (prop === 'smart') {
									$('#performanceTableChart>table:nth-of-type(1) tbody>tr:nth-of-type(3)>td:nth-of-type(1)').css('background-color', '#449d44');
									$('#performanceTableChart>table:nth-of-type(2) tbody>tr:nth-of-type(3)>td:nth-of-type(1)').css('background-color', '#449d44');
									for (var i = 0; i < data['axis'][prop].length; i++) {
										if (data['axis'][prop][i]['doTest']) {
											$('#performanceTableChart>table:nth-of-type(1) tbody>tr:nth-of-type(3)>td:nth-of-type(2)').append('<span class="nameBox">' + data['axis'][prop][i]['name'] + '</span>');
											engagementNum += data['axis'][prop][i]['x'];
											achievementNum += data['axis'][prop][i]['y'];
											personCount++;
										}
										else {
											$('#performanceTableChart>table:nth-of-type(1) tbody>tr:nth-of-type(5)>td:nth-of-type(2)').append('<span class="nameBox">' + data['axis'][prop][i]['name'] + '</span>');
										}
									}
									$('#performanceTableChart>table:nth-of-type(2) tbody>tr:nth-of-type(3)>td:nth-of-type(2)').text(parseFloat(engagementNum / personCount).toFixed(2));
									$('#performanceTableChart>table:nth-of-type(2) tbody>tr:nth-of-type(3)>td:nth-of-type(3)').text(parseFloat(achievementNum / personCount).toFixed(2));
									engagementNum = 0;
									achievementNum = 0;
									personCount = 0;
								}
								else if (prop === 'positive') {
									$('#performanceTableChart>table:nth-of-type(1) tbody>tr:nth-of-type(4)>td:nth-of-type(1)').css('background-color', '#31b0d5');
									$('#performanceTableChart>table:nth-of-type(2) tbody>tr:nth-of-type(4)>td:nth-of-type(1)').css('background-color', '#31b0d5');
									for (var i = 0; i < data['axis'][prop].length; i++) {
										if (data['axis'][prop][i]['doTest']) {
											$('#performanceTableChart>table:nth-of-type(1) tbody>tr:nth-of-type(4)>td:nth-of-type(2)').append('<span class="nameBox">' + data['axis'][prop][i]['name'] + '</span>');
											engagementNum += data['axis'][prop][i]['x'];
											achievementNum += data['axis'][prop][i]['y'];
											personCount++;
										}
										else {
											$('#performanceTableChart>table:nth-of-type(1) tbody>tr:nth-of-type(5)>td:nth-of-type(2)').append('<span class="nameBox">' + data['axis'][prop][i]['name'] + '</span>');
										}
									}
									$('#performanceTableChart>table:nth-of-type(2) tbody>tr:nth-of-type(4)>td:nth-of-type(2)').text(parseFloat(engagementNum / personCount).toFixed(2));
									$('#performanceTableChart>table:nth-of-type(2) tbody>tr:nth-of-type(4)>td:nth-of-type(3)').text(parseFloat(achievementNum / personCount).toFixed(2));
									engagementNum = 0;
									achievementNum = 0;
									personCount = 0;
								}
							}
						}
						else if (type === '3') {
							//第一張圖表
							$('#quizSearchAnalysisArea .charts').children('.chartContainer').eq(0).append('<div id="' + 'quizScatterChart' + '" class="chart"></div>');
							//配置
							new Highcharts.Chart('quizScatterChart', {
								chart: {
									type: 'scatter'
									, events: {
										load: function () {
											$('.fixed-table-loading').eq(2).addClass('hide');
											$('#quizSearchAnalysisArea').removeClass('hide');
										}
									}
								}
								, title: {
									text: ''
								}
								, credits: {
									enabled: false
								}
								, xAxis: {
									title: {
										enabled: true
										, text: originalData['knowledgeNode_origin'] + ' 較優'
									}
									, startOnTick: true
									, endOnTick: true
									, showLastLabel: true
									, min: -100
									, max: 100
								}
								, yAxis: {
									title: {
										text: '比較值'
									}
									, min: -100
									, max: 100
								}
								, tooltip: {
									pointFormatter: function () {
										return this.name + '<br />' + '高中國文' + ':' + this.x + "<br />" + '比較值' + ":" + this.y;
									}
								}
								, series: [
									{
										name: originalData['knowledgeNode_origin'] + ' 較優'
										, color: '#c9302c'
										, data: data['axis']['firstGood']
            }, {
										name: originalData['knowledgeNode_compare'] + ' 較優'
										, color: '#ec971f'
										, data: data['axis']['secondGood']
            }
       ]
								, exporting: {
									menuItemDefinitions: {
										// Custom definition
										remove: {
											onclick: function () {
												$('.chartContainer').remove();
											}
											, text: 'remove chart'
										}
									}
									, buttons: {
										contextButton: {
											menuItems: ['remove'
											, 'separator', 'downloadPDF', 'downloadPNG', 'downloadSVG']
										}
									}
								}
							});
							//第二張圖表
							$('#quizSearchAnalysisArea .charts').children('.chartContainer').eq(1).append('<div id="quizTableChart" class="chart"></div>').children('.chart').append('<table class="table achievementTable table-striped"><thead><tr><th><th><th><tbody><tr><td>' + originalData['knowledgeNode_origin'] + ' 較優' + '<td><tr><td>' + originalData['knowledgeNode_compare'] + ' 較優' + '<td><tr><td>未測驗<td></table><table class="table averageTable table-bordered"><thead><tr><th>分群<th>高中國文平均<th>高中英文平均<tbody><tr><td>高中國文 較優<td>0<td>0<tr><td>高中英文 較優<td>0<td>0</table>');
							//計算各個項目的總人數
							var personCount = 0;
							//參與度
							var engagementNum = 0;
							//成就表現
							var achievementNum = 0;
							for (var prop in data['axis']) {
								if (prop === 'firstGood') {
									$('#quizSearchAnalysisArea .charts').children('.chartContainer').eq(1).find('#quizTableChart>table:nth-of-type(1) tbody>tr:nth-of-type(1)>td:nth-of-type(1)').css('background-color', '#c9302c');
									$('#quizTableChart>table:nth-of-type(2) tbody>tr:nth-of-type(1)>td:nth-of-type(1)').css('background-color', '#c9302c');
									for (var i = 0; i < data['axis'][prop].length; i++) {
										if (data['axis'][prop][i]['doTest']) {
											$('#quizTableChart>table:nth-of-type(1) tbody>tr:nth-of-type(1)>td:nth-of-type(2)').append('<span class="nameBox">' + data['axis'][prop][i]['name'] + '</span>');
											engagementNum += data['axis'][prop][i]['x'];
											achievementNum += data['axis'][prop][i]['compare'];
											personCount++;
										}
										else {
											$('#quizTableChart>table:nth-of-type(1) tbody>tr:nth-of-type(3)>td:nth-of-type(2)').append('<span class="nameBox">' + data['axis'][prop][i]['name'] + '</span>');
										}
									}
									$('#quizTableChart>table:nth-of-type(2) tbody>tr:nth-of-type(1)>td:nth-of-type(2)').text(parseFloat(engagementNum / personCount).toFixed(2));
									$('#quizTableChart>table:nth-of-type(2) tbody>tr:nth-of-type(1)>td:nth-of-type(3)').text(parseFloat(achievementNum / personCount).toFixed(2));
									engagementNum = 0;
									achievementNum = 0;
									personCount = 0;
								}
								else if (prop === 'secondGood') {
									$('#quizTableChart>table:nth-of-type(1) tbody>tr:nth-of-type(2)>td:nth-of-type(1)').css('background-color', '#ec971f');
									$('#quizTableChart>table:nth-of-type(2) tbody>tr:nth-of-type(2)>td:nth-of-type(1)').css('background-color', '#ec971f');
									for (var i = 0; i < data['axis'][prop].length; i++) {
										if (data['axis'][prop][i]['doTest']) {
											$('#quizTableChart>table:nth-of-type(1) tbody>tr:nth-of-type(2)>td:nth-of-type(2)').append('<span class="nameBox">' + data['axis'][prop][i]['name'] + '</span>');
											engagementNum += data['axis'][prop][i]['x'];
											achievementNum += data['axis'][prop][i]['compare'];
											personCount++;
										}
										else {
											$('quizTableChart>table:nth-of-type(1) tbody>tr:nth-of-type(3)>td:nth-of-type(2)').append('<span class="nameBox">' + data['axis'][prop][i]['name'] + '</span>');
										}
									}
									$('#quizTableChart>table:nth-of-type(2) tbody>tr:nth-of-type(2)>td:nth-of-type(2)').text(parseFloat(engagementNum / personCount).toFixed(2));
									$('#quizTableChart>table:nth-of-type(2) tbody>tr:nth-of-type(2)>td:nth-of-type(3)').text(parseFloat(achievementNum / personCount).toFixed(2));
									engagementNum = 0;
									achievementNum = 0;
									personCount = 0;
								}
							}
						}
					};
					//Ajax資料庫-取得此班級的學生資料
					var sendRequest = function (type, data) {
						console.log("送出資料: ", data);
						//傳送篩選資料
						var URLs = 'http://localhost:3000/intern/dashboard/teacher/groupanalysis/search';
						$.ajax({
							url: URLs
							, data: {
								search: {
									type: type
									, data: data
								}
							}
							, contentType: 'application/json'
							, type: "GET"
							, dataType: 'json'
							, success: function (result) {
								console.log("回傳資料: ", result);
								setCharts(type, data, result['searchResult']);
							}
							, error: function (xhr, ajaxOptions, thrownError) {
								alert(xhr.status);
								alert(thrownError);
							}
						});
					};
					//搜尋按鈕-取得此班級的學生資料
					var getBehaviorSearchValue = function () {
						var searchValue = {};
						searchValue['class'] = $('#behaviorSearchPanel .select_class').val();
						searchValue['knowledgeNode'] = $('#behaviorSearchPanel .select_knowledgeNode').val();
						return searchValue;
					};
					//搜尋按鈕-取得此班級的學生資料
					var getPerformanceSearchValue = function () {
						var searchValue = {};
						searchValue['class'] = $('#performanceSearchPanel .select_class').val();
						searchValue['knowledgeNode'] = $('#performanceSearchPanel .select_knowledgeNode').val();
						return searchValue;
					};
					//搜尋按鈕-取得此班級的學生資料
					var getQuizSearchSearchValue = function () {
						var searchValue = {};
						searchValue['class'] = $('#quizSearchPanel .select_class').val();
						searchValue['subject_origin'] = $('#quizSearchPanel .select_subject').eq(0).val();
						searchValue['knowledgeNode_origin'] = $('#quizSearchPanel .select_knowledgeNode').eq(0).val();
						searchValue['subject_compare'] = $('#quizSearchPanel .select_subject').eq(1).val();
						searchValue['knowledgeNode_compare'] = $('#quizSearchPanel .select_knowledgeNode').eq(1).val();
						return searchValue;
					};
					//初始化頁面
					var init = function () {}();
					//送出behavior的搜尋項目值
					$('#behaviorSearchBtn').on('click', function () {
						$('#behaviorSearchPanel').addClass('hide');
						$('#behaviorSearchPanel .row').eq(1).addClass('hide');
						$('#behaviorAnalysisArea').addClass('hide');
						$('.fixed-table-loading').eq(0).removeClass('hide');
						//清除查詢結果
						$('#behaviorSearchTitle').empty();
						//清除所有圖表
						$('#behaviorAnalysisArea .charts').children('.chartContainer').empty();
						var searchValue = getBehaviorSearchValue();
						sendRequest('1_1', searchValue);
					});
					//送出performence的搜尋項目值
					$('#performanceSearchBtn').on('click', function () {
						$('#performanceSearchPanel').addClass('hide');
						$('#performanceAnalysisArea').addClass('hide');
						$('.fixed-table-loading').eq(1).removeClass('hide');
						//清除查詢結果
						$('#performanceSearchTitle').empty();
						//清除所有圖表
						$('#performanceAnalysisArea .charts').children('.chartContainer').empty();
						var searchValue = getPerformanceSearchValue();
						sendRequest('2', searchValue);
					});
					//送出quize的搜尋項目值
					$('#quizSearchBtn').on('click', function () {
						$('#quizSearchPanel').addClass('hide');
						$('#quizSearchAnalysisArea').addClass('hide');
						$('.fixed-table-loading').eq(2).removeClass('hide');
						//清除查詢結果
						$('#quizSearchTitle').empty();
						//清除所有圖表
						$('#quizSearchAnalysisArea .charts').children('.chartContainer').empty();
						var searchValue = getQuizSearchSearchValue();
						sendRequest('3', searchValue);
					});
					//返回按鈕
					$('.backBtn').on('click', function () {
						var target = $(this).data('target');
						if (target === 'performance') {
							$('#performanceSearchPanel').removeClass('hide');
							$('#performanceAnalysisArea').addClass('hide');
						}
						else if (target === 'quiz') {
							$('#quizSearchPanel').removeClass('hide');
							$('#quizSearchAnalysisArea').addClass('hide');
						}
						else if (target === 'behavior') {
							$('#behaviorSearchPanel').removeClass('hide');
							$('#behaviorAnalysisArea').addClass('hide');
						}
					});
				});
			</script>
</body>

</html>