<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>
		<%= title %>
	</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
	<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/javascripts/bootstrap-3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="/javascripts/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/stylesheets/intern/dashboard_student.css">
	<link rel="stylesheet" href="/stylesheets/intern/record_search.css">
	<link rel="stylesheet" href="/stylesheets/logon.css">
	<link rel="stylesheet" href="/javascripts/timeline/vertical-timeline.min.css">
	<link rel="stylesheet" href="/stylesheets/bootstrap-datetimepicker.min.css"> </head>
<script src="/javascripts/jquery-3.2.1.min.js"></script>
<script>
	//drag and drop
	var drag = function (ev) {
		ev.dataTransfer.setData("custom", $(ev.target).data('custom'));
	};

	function allowDrop(ev) {
		ev.preventDefault();
	};

	function drop(ev) {
		ev.preventDefault();

		var custom = ev.dataTransfer.getData("custom");

		if (localStorage.getItem('custom')) {
			var oldData = JSON.parse(localStorage.getItem('custom'));

			var oldDataLength = Object.keys(oldData).length;

			oldData[oldDataLength] = JSON.parse(custom);

			localStorage.setItem('custom', JSON.stringify(oldData));
		} else {
			var a = {};
			a[0] = JSON.parse(custom);
			localStorage.setItem('custom', JSON.stringify(a));
		}
		alert('已幫您加入自訂首頁');

	}
</script>

<body>
	<%- cooc_header %>
		<div class="wrapper" ng-app="myApp">
			<div class="sidebar" ng-class="boolie ? 'closed' : ''">
				<div class="sidebarToggle" ng-click="boolie = !boolie">
					<i class="fa fa-ellipsis-v sidebar-toggleHam menuIcon" aria-hidden="true" ng-class="boolie ? 'rotate' : ''"></i>
					<span class="sidebar-toggleText">縮到最小</span>
				</div>
				<nav role="navigation" class="sidebarNav">
					<ul>
						<li class="sidebar-navItem">
							<i class="menuIcon fa fa fa-signal"></i>
							<a href="/intern/dashboard/student/records">資料檢閱庫</a>
						</li>
						<li class="sidebar-navItem">
							<i class="menuIcon fa fa-clipboard"></i>
							<a href="/dashboard/student/wat">WAT</a>
						</li>
						<li class="sidebar-navItem">
							<i class="menuIcon fa fa-clipboard"></i>
							<a href="/dashboard/student/coocLearning">酷課學習</a>
						</li>
						<li class="sidebar-navItem">
							<i class="menuIcon fa fa-clipboard"></i>
							<a href="/intern/dashboard/student/college">大學科系探索</a>
						</li>
						<li class="sidebar-navItem">
							<i class="menuIcon fa fa-clipboard"></i>
							<a href="/intern/dashboard/teacher/groupanalysis">群體學習行為分析</a>
						</li>
						<li class="sidebar-navItem">
							<i class="menuIcon fa fa-clipboard"></i>
							<a href="/intern/dashboard/student/badge">我的徽章</a>
						</li>
						<hr>
						<li class="sidebar-navItem" ondrop="drop(event)" ondragover="allowDrop(event)">
							<i class="menuIcon fa fa-cog" aria-hidden="true"></i>
							<a href="/intern/dashboard/student/custom">自定首頁</a>
						</li>
					</ul>
				</nav>
				<footer class="sidebar-footer">
					<i class="sidebar-toggleArrow sidebar-menuIcon fa fa-arrow-left" ng-class="boolie ? 'rotate' : ''"></i>
					<span class="sidebar-footerText">
						<a href="/student/activity?p=1">前往編輯工具</a>
					</span>
				</footer>
			</div>
			<div class="main">
				<div class="col-md-12">
					<h4>學生資料檢閱庫</h4>
					<hr>
					<!-- 我的部分 -->
					<div class="main-container">
						<div id="boxs-container">
							<div id='filter-time' class="boxs-justify boxs-filter">
								<div id="filter-today" class="box box-single" style="background-color:red;" data-filter="today">
									<span>本日</span>
								</div>
								<div class="box" style="background-color:yellow;">
									<div id="filter-month" class="box-part box-part-up" data-filter="month">
										<span>本月</span>
									</div>
									<hr>
									<div id="filter-specify-month" class="box-part box-part-down">
										<form action="" data-filter="specifyMonth">
											<span>本年的月份</span>
											<select></select>
											<input type="submit" value="查詢"> </form>
									</div>
								</div>
								<div class="box" style="background-color:green;">
									<div id="filter-year" class="box-part box-part-up" data-filter="year">
										<span>本年</span>
									</div>
									<hr>
									<div id="filter-specify-year" class="box-part box-part-down">
										<form action="" data-filter="specifyYear">
											<span>年份</span>
											<select></select>
											<input type="submit" value="查詢"> </form>
									</div>
								</div>
								<div id="filter-specify-date" class="box box-single" style="background-color:pink;">
									<span>選擇年月份</span>
									<input id='datetimepicker1' type="text" class="form-control">
									<span>選擇日期</span>
									<select> </select>
									<input type="button" value="查詢"> </div>
							</div>
							<div id='filter-doSomething' class="boxs-justify boxs-filter">
								<div id="filter-actor" class="box box-single" style="background-color:red;">
									<form action="" data-filter="actor">
										<span>人</span>
										<select></select>
										<input type="submit" value="查詢"> </form>
								</div>
								<div id="filter-verb" class="box box-single" style="background-color:yellow;">
									<form action="" data-filter="verb">
										<span>動作</span>
										<select></select>
										<input type="submit" value="查詢"> </form>
								</div>
								<div id="filter-object" class="box box-single" style="background-color:green;">
									<form action="" data-filter="object">
										<span>事物</span>
										<select></select>
										<input type="submit" value="查詢"> </form>
								</div>
							</div>
						</div>
						<div id="showResult" style="overflow: auto;">
							<div id="timeline" draggable="true" ondragstart="drag(event)"> </div>

						</div>
						<div id="readmore">
							<input type="button" value="閱讀更多"> </div>
					</div>
				</div>
			</div>
		</div>
		<%- cooc_footer %>
			<!-- 酷課雲 Header 角色 -->
			<div class="roleInfo" style="display:none;">
				<a id="logonBlock" href="javascript:void(0)">
					<img id="logonpic" src="<%=user.photoUrl%>" />
					<img id="logonBack" src="/images/logon_back.png">
				</a>
				<div id="logonName">
					<%=user.name%>
				</div>
				<div id="logonRole">
					<%=user.role_name%>
				</div>
				<ul class="navigation">
					<li>
						<ul style="display:none">
							<li>
								<a href="http://sso.tp.edu.tw/accountservice/" target="_blank">個人資訊</a>
							</li>
							<li class="logout">
								<a href="/users/logout">登出</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			<script src="/javascripts/bootstrap-3.3.7/js/bootstrap.min.js"></script>
			<script src="/javascripts/angular.min.js"></script>
			<script src="/javascripts/timeline/vertical-timeline.min.js"></script>
			<script src="/javascripts/moment.js"></script>
			<script src="/javascripts/bootstrap-datetimepicker.min.js"></script>
			<script>
				$(document).ready(function () {
					var app = angular.module('myApp', []);
					var msg = <%- JSON.stringify(msg) %>;
					var temp = {};
					var filterResult = '';
					var response = {
						time: {
							complete: false,
							filter: '',
							value: ''
						},
						do: {
							complete: false,
							filter: '',
							value: ''
						}
					};
					//element paramter
					var elements = {
						main: $('.main'),
						"boxs-container": $("#boxs-container"),
						showResult: $('#showResult'),
						readmore: $('#readmore')
					};
					//篩選的結果
					var filterResult = {
						property: '',
						value: ''
					};
					//目前顯示的紀錄
					var showedRecords = 5;
					var message = {
						noOption: "無",
						noResult: "沒有任何紀錄",
						noRecord: "已顯示全部的篩選紀錄"
					};

					//初始化
					var init = function () {
						console.log(msg);
						var now = new Date();
						var nowYear = now.getFullYear();
						var nowMonth = now.getMonth() + 1;
						//配置人,事物,物件的選擇項目
						var selectStr = {
							actor: '',
							verb: '',
							verbId: '',
							object: '',
							month: '',
							year: ''
						};
						//每個項目生成字串後配置 
						for (var i = 0; i < msg['actor'].length; i++) {
							selectStr['actor'] += '<option value=' + msg['actor'][i] + '>' + msg['actor'][i] + '</option>';
						}
						for (var i = 0; i < msg['verb'].length; i++) {
							selectStr['verb'] += '<option value=' + msg['verb'][i] + '>' + msg['verb'][i] + '</option>';
						}
						for (var i = 0; i < msg['object'].length; i++) {
							selectStr['object'] += '<option value=' + msg['object'][i] + '>' + msg['object'][i] + '</option>';
						}
						for (var i = 0; i < msg['time'].length; i++) {
							selectStr['year'] += '<option value=' + msg['time'][i]['year'] + '>' + msg['time'][i]['year'] + '</option>';
							for (var j = 0; j < msg['time'][i]['month'].length; j++) {
								if (msg['time'][i]['year'] === nowYear) {
									selectStr['month'] += '<option value=' + msg['time'][i]['month'][j]['month'] + '>' + msg['time'][i]['month']
										[j]['month'] + '</option>';
								}
							}
						}
						//加入到html
						$('#filter-actor').find('select').append(selectStr['actor']);
						$('#filter-verb').find('select').append(selectStr['verb']);
						$('#filter-object').find('select').append(selectStr['object']);
						if (selectStr['month'] === '') {
							$('#filter-specify-month').find('select').append('<option>' + message['noOption'] + '</option>');
						} else {
							$('#filter-specify-month').find('select').append(selectStr['month']);
						}
						if (selectStr['month'] === '') {
							$('#filter-specify-year').find('select').append('<option>' + message['noOption'] + '</option>');
						} else {
							$('#filter-specify-year').find('select').append(selectStr['year']);
						}
						//show datetimepicker 
						$('#datetimepicker1').datetimepicker({
							useCurrent: false,
							showClose: true,
							format: 'YYYY-MM'
						});
					}();
					//酷課雲 header 處理
					$('.rolemenu').html($('.roleInfo').html());
					$("#logonBlock").on("click", function () {
						if ($("ul.navigation li > ul").is(":visible")) {
							$("ul.navigation li > ul").css("display", "none");
						} else {
							$("ul.navigation li > ul").css("display", "block");
						}
					});

					//顯示篩選結果
					var initTimeLine = function (resultStr) {

						//新增主元素和子元素
						$('#timeline').append(resultStr);

						//初始化timeline
						$('#timeline').verticalTimeline({
							startLeft: true,
							alternate: false,
							animate: false,
							arrows: false
						});
						//限制顯示紀錄的數量
						$('#timeline').find('.vtimeline-point:nth-of-type(n+' + (showedRecords + 1) + ')').css({
							"display": "none"
						});
						//目前有幾個顯示的紀錄
						var recordVisibleCount = $('#timeline').find('.vtimeline-point:visible').length;
						if (recordVisibleCount <= 5) {
							$('#timeline').find('.vtimeline-point:visible').css({
								left: -1100
							});
						} else {
							$('#timeline').find('.vtimeline-point').slice(showedRecords - 5, showedRecords + 1).css({
								left: -1100
							});
						}
						//設定線條長度==>新增樣式
						$('head').append('<style>#timeline::before{ height:' + recordVisibleCount * 100 + 'px' + '}</style>');
					};
					//顯示結果畫面
					var showResult = function (resultStr) {
						//記錄此次的篩選結果
						filterResult = resultStr;
						//顯示結果元素
						elements['showResult'].css('display', 'block');
						if (resultStr !== "") {
							initTimeLine(resultStr);
							var timer = 0;
							var $icon = $('.vtimeline-icon').slice(0, 6);
							var $point = $('.vtimeline-point').slice(0, 6);
							$icon.each(function (index) {
								setTimeout(function () {
									$point.eq(index).animate({
										'left': 0
									}, 300, function () {
										setTimeout(function () {
											$icon.eq(index).css({
												'background-color': 'red'
											});
											temp['html'] = $('#showResult').html();
											$('#timeline').data('custom', JSON.stringify(temp));
										}, 300);
									});
								}, timer);
								timer += 300;
							});
						} else {
							elements['showResult'].append('<div id=noResult>' + message['noResult'] + '</div>');
						}


					};
					//轉場動畫的過程
					var TransitionAnimation = function () {
						//清空篩選結果顯示區域
						$('#timeline').empty();
					};
					//show datetimepicker 
					$('#datetimepicker1').on("dp.change", function (e) {
						//移除目前的選項
						$('#filter-specify-date').find('select').empty();
						//add select month option 
						var value = $(this).val();
						//傳送篩選資料
						var URLs = 'http://localhost:3000/intern/dashboard/student/records/filter'
						$.ajax({
							url: URLs,
							data: {
								filter: {
									property: 'selectedDate',
									value: value
								}
							},
							contentType: 'application/json',
							type: "GET",
							dataType: 'json',
							success: function (result) {
								var filterResult = result['filterResult'];
								//顯示全部日期
								for (var i = 0; i < filterResult.length; i++) {
									$('#filter-specify-date').find('select').append('<option value=' + filterResult[i] + '>' + filterResult[
										i] + '</option>')
								}
							},
							error: function (xhr, ajaxOptions, thrownError) {
								alert(xhr.status);
								alert(thrownError);
							}
						});
					});
					elements['readmore'].on('click', function (event) {
						event.preventDefault();
						//增加顯示紀錄
						showedRecords += 5;
						//目前有幾個未顯示的紀錄
						var recordHiddenCount = $('#timeline').find('.vtimeline-point:hidden').length;
						console.log(recordHiddenCount);
						//如果還有要顯示的資料了
						if (recordHiddenCount > 0) {
							//轉場動畫的過程
							TransitionAnimation();
							//清空篩選結果顯示區域
							$('#timeline').empty();
							//初始化timeline
							initTimeLine(filterResult);
							//目前有幾個已顯示紀錄
							var recordVisibleCount = $('#timeline').find('.vtimeline-point:visible').length;
							console.log(recordVisibleCount);
							//如果顯示的紀錄剩不到5個
							if (recordHiddenCount < 5) {
								//將Bar拉到新的位置
								$('#timeline').scrollTop($('#timeline')[0].scrollHeight);
								//節點閃爍效果呈現
								var $icon = $('.vtimeline-icon').slice(0, recordVisibleCount + 1);
								var $point = $('.vtimeline-point').slice(0, recordVisibleCount + 1);
								var timer1 = 0;
								$icon.each(function (index) {
									if (index < (recordVisibleCount - recordHiddenCount)) {
										$(this).css('background-color', 'red');
									} else {
										setTimeout(function () {
											$point.eq(index).animate({
												'left': 0
											}, 300, function () {
												setTimeout(function () {
													$icon.eq(index).css({
														'background-color': 'red'
													});
												}, 300);
											});
										}, timer1);
										timer1 += 300;
									}
								});
							} else {
								//將Bar拉到新的位置
								$('#timeline').scrollTop(((30 + 60 + 35 / 2) * 2 + (60 + 35) * 3 - 12 * 2) * (parseInt((recordVisibleCount /
									5)) - 1));
								//節點閃爍效果呈現
								var $icon = $('.vtimeline-icon').slice(0, recordVisibleCount + 5 + 1);
								var $point = $('.vtimeline-point').slice(0, recordVisibleCount + 5 + 1);
								var timer2 = 0;
								$icon.each(function (index) {
									if (index < (recordVisibleCount - 5)) {
										$(this).css('background-color', 'red');
									} else {
										setTimeout(function () {
											$point.eq(index).animate({
												'left': 0
											}, 300, function () {
												setTimeout(function () {
													$icon.eq(index).css({
														'background-color': 'red'
													});
												}, 300);
											});
										}, timer2);
										timer2 += 300;
									}
								});
							}
						} else {
							//如果沒有要顯示的資料了
							alert(message['noRecord']);
						}
					});
					//選擇不同的時間類型
					$('#filter-today,#filter-month,#filter-year').on('click', function (event) {
						event.preventDefault();
						var filter = $(this).data('filter');
						//轉場動畫的過程
						TransitionAnimation();
						//傳送篩選資料
						var URLs = 'http://localhost:3000/intern/dashboard/student/records/filter';
						$.ajax({
							url: URLs,
							data: {
								filter: {
									property: filter
								}
							},
							contentType: 'application/json',
							type: "GET",
							dataType: 'json',
							success: function (result) {
								//初始化timeline套件
								showResult(result['filterResult']);
								//顯示閱讀更多按鈕
								elements['readmore'].css('display', 'block');
							},
							error: function (xhr, ajaxOptions, thrownError) {
								alert(xhr.status);
								alert(thrownError);
							}
						});
					});
					//選擇特定的月份和年份
					$("#filter-specify-month>form>input[type=submit],#filter-specify-year>form>input[type=submit]").on('click',
						function (event) {
							event.preventDefault();
							var filter = $(this).parent("form").data('filter');
							var value = $(this).prev('select').val();
							//轉場動畫的過程
							TransitionAnimation();
							//傳送篩選資料
							var URLs = 'http://localhost:3000/intern/dashboard/student/records/filter';
							$.ajax({
								url: URLs,
								data: {
									filter: {
										property: filter,
										value: value
									}
								},
								contentType: 'application/json',
								type: "GET",
								dataType: 'json',
								success: function (result) {
									//初始化timeline套件
									showResult(result['filterResult']);
									//顯示閱讀更多按鈕
									elements['readmore'].css('display', 'block');
								},
								error: function (xhr, ajaxOptions, thrownError) {
									alert(xhr.status);
									alert(thrownError);
								}
							});
						});
					//選擇特定的時間
					$('#filter-specify-date').find('input[type=button]').on('click', function (event) {
						//轉場動畫的過程
						TransitionAnimation();
						var yearMonth = $('#datetimepicker1').val();
						var date = $(this).prev('select').val();
						var value = yearMonth + '-' + date;
						//傳送篩選資料
						var URLs = 'http://localhost:3000/intern/dashboard/student/records/filter'
						$.ajax({
							url: URLs,
							data: {
								filter: {
									property: 'specifyDate',
									value: value
								}
							},
							contentType: 'application/json',
							type: "GET",
							dataType: 'json',
							success: function (result) {
								//初始化timeline套件
								showResult(result['filterResult']);
								//顯示閱讀更多按鈕
								elements['readmore'].css('display', 'block');
							},
							error: function (xhr, ajaxOptions, thrownError) {
								alert(xhr.status);
								alert(thrownError);
							}
						});
					});
					//選擇人,動作,事物
					$(
						'#filter-actor>form>input[type=submit],#filter-verb>form>input[type=submit],#filter-object>form>input[type=submit]'
					).on('click', function (event) {
						event.preventDefault();
						//轉場動畫的過程
						TransitionAnimation();
						var filter = $(this).parent("form").data('filter');
						var value = $(this).prev('select').val();
						//傳送篩選資料
						var URLs = 'http://localhost:3000/intern/dashboard/student/records/filter'
						temp = {
							page: 'record',
							showType: 'custom',
							data: {
								filter: filter,
								value: value
							}
						};
						$.ajax({
							url: URLs,
							data: {
								filter: {
									property: filter,
									value: value
								}
							},
							contentType: 'application/json',
							type: "GET",
							dataType: 'json',
							success: function (result) {
								console.log(result);
								//初始化timeline套件
								showResult(result['filterResult']);
								//顯示閱讀更多按鈕
								elements['readmore'].css('display', 'block');
							},
							error: function (xhr, ajaxOptions, thrownError) {
								alert(xhr.status);
								alert(thrownError);
							}
						});
					});
				});
			</script>
</body>

</html>